.btn-intro {
    display: inline-block;
    min-width: 34rem;
    padding: .8rem 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: @white;
    background-color: @ups-sienna;
    text-align: center;
    transition: color .4s ease, background-color .4s ease;

    &:hover {
        color: @white;
        background-color: darken(@ups-sienna, 10%);
    }
}

.btn-action {
    display: inline-block;
    min-width: 20rem;
    padding: .6rem 2rem;
    color: #996b43;
    border: 1px solid #8b572a;
    background-color: @white;
    text-align: center;
    transition: color .4s ease, background-color .4s ease;

    &:hover {
        color: @white;
        background-color: #8b572a;
    }

    &.inverted {
        color: @white;
        background-color: #996b43;

        &:hover {
            background-color: #8b572a;
        }
    }

    .icon {
        display: inline-block;
        margin-right: 1rem;
        font-size: 1.8rem;
    }

    .txt {
        display: inline-block;
        font-size: 1.8rem;
        text-transform: uppercase;
    }
}

.btn-add-to-favorites {
    display: inline-block;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;

    &.pinned {

        &:hover {

            .unpin {
                display: block;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .unpin {
        display: none;
        padding: 1rem 1rem;
        position: absolute;
        top: 120%;
        right: 0;
        background-color: @white;
        border: 1px solid #e4e4e4;
        opacity: 0;
        visibility: 0;
        white-space: nowrap;
        transition: opacity .4s ease, visibility .4s ease;

        .icon {
            display: inline-block;
            margin-right: 1rem;
        }

        .txt {
            font-size: 1.3rem;
            color: #2f1702;
        }
    }
}