.distribution-center {

    .page-header-options {
        display: flex;
        align-items: center;
        padding: 1rem 3rem;
        background-color: @white;
        border: 1px solid #e4e4e4;

        .separator {
            display: inline-block;
            width: 2px;
            height: 4.8rem;
            margin: 0 2rem;
            background-color:#d2d2d2;
        }

        .calendar-wrap {
            display: inline-block;

            .calendar-btn-prev,
            .calendary-btn-next {
                cursor: pointer;
            }

            .calendar-btn {
                display: inline-block;
                padding: 1rem 1.5rem;
                margin: 0 1.5rem;
                cursor: pointer;
                background-image: linear-gradient(to top, #f2f4f7, #ffffff);
                border: 1px solid rgba(0, 0, 0, .6);
                border-radius: 5px;
                transition: background .4s ease;

                &:hover {
                    background-image: linear-gradient(to top, #f2f4f7, #f2f4f7);
                }

                .txt {
                    font-size: 1.4rem;
                    color: #354052;
                }
            }
        }

        .switch-btn-wrap {

            a {
                display: inline-block;
                max-width: 7rem;
                font-size: 1.3rem;
                line-height: 1.31;
                letter-spacing: 0.02px;
                text-align: center;
                color: @black;
            }
        }

        .option-btn-wrap {
            display: inline-block;
            line-height: 1;

            .option-btn {
                display: inline-block;
                width: 3.8rem;
                height: 3.8rem;
                position: relative;
                color: @white;
                background-color: #2f1702;

                .inner {
                    display: inline-block;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .graphs-big-wrapper {
        margin-bottom: 5rem;

        .graph-title {
            margin: 1rem 0 0.5rem;
            font-size: 1.8rem;
            font-weight: 400;
            color: #301603;
        }

        .graph-container {
            height: 400px;
            position: relative;
            background-color: @white;
            border: 1px solid #e4e4e4;

            .btn-add-to-favorites {
                top: 0.5rem;
                -webkit-transform: none;
                transform: none;
            }

            .graph-container-inner {
                height: 100%;
                padding-top: 4rem;
            }
        }
    }
}