.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: #000;
    background: #ccc;
}

.container-fluid {
    min-height: 100vh;
    background-color: #f7f7f7;

    &.with-sidebar {
        width: ~'calc(100% - 60px)';
        margin-right: 0;
        padding: 0;
    }

    &.with-top-bar {
        padding-top: 9rem;
    }
}

.pagination {
    display: inline-block;

    a {
        display: inline-block;
    }

    .pagination-top-level {
        font-size: 2.4rem;
        color: #4a90e2;

        &:hover {
            text-decoration: underline;
        }
    }

    .pagination-previous {
        padding: 0 1rem;
        font-size: 2.4rem;
        color: #4a90e2;
    }

    .pagination-current {
        display: inline-block;
        font-size: 2.1rem;
        color: @black;
    }

    .txt {
        display: inline-block;
        padding: 0 1rem;
        font-size: 2.6rem;
        color: rgba(0, 0, 0, .7);
    }
}

.expandable-wrap {
    margin-top: 4rem;

    .expandable {
        margin: 0 0 2rem;
        padding: 1.2rem 3rem;
        position: relative;
        background-color: @white;
        border: 1px solid #e4e4e4;
    }

    .expandable-head {

        .expandable-title {
            margin: 0;
            font-size: 1.8rem;
            font-weight: 400;
            color: #301603;
        }

        .expandable-arrow {
            display: inline-block;
            position: absolute;
            top: 50%;
            right: 2rem;
            font-size: 2.6rem;
            color: #412917;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}

.box-white {
    padding: 1rem 1rem 0.5rem;
    background-color: @white;
    border: 1px solid #e4e4e4;

    &.box-support {
        .clear();

        .icon-wrap {
            width: 30%;
            float: left;
            text-align: center;
        }

        .txt-wrap {
            width: 70%;
            padding: 0 2rem;
            float: left;

            h4 {
                margin: 0;
                font-size: 1.5rem;
                font-weight: 700;
                color: #2f1702;
            }

            a {
                display: inline-block;
                margin-bottom: 1.5rem;
                font-size: 1.3rem;
                color: #2f1702;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .box-top-bar {
        position: relative;

        &.with-pin {
            padding-right: 3rem;
        }

        .box-title-inner {
            margin: 0;

            .icon {
                display: inline-block;
                margin-right: 1rem;
                font-size: 2.4rem;
                color: @black;
                vertical-align: middle;
            }

            .txt {
                display: inline-block;
                font-size: 1.5rem;
                color: #2f1702;
                vertical-align: middle;
            }
        }

        .box-title-inner-small {
            margin: 0;

            .icon {
                display: inline-block;
                margin-right: 1rem;
                font-size: 2.4rem;
                color: #2f1702;
                vertical-align: middle;
            }

            .txt {
                display: inline-block;
                font-size: 1.3rem;
                font-weight: 700;
                color: #2f1702;
                vertical-align: middle;
            }
        }

        .extra-info {
            margin: 0 0 1.5rem;
            padding-left: 3.5rem;
            font-size: 1.3rem;
            color: #2f1702;
        }
    }

    .box-inner {
        margin: 1rem 0;
    }

    .box-bottom-bar {
        margin-top: 1rem;
        position: relative;
        .clear();

        &:before {
            display: inline-block;
            content: '';
            height: 1px;
            position: absolute;
            top: -1rem;
            right: -1rem;
            left: -1rem;
            background-color: #e4e4e4;
        }

        .left-part {
            float: left;

            .icon {
                font-size: 2.2rem;
                color: rgba(0, 0, 0, .44);
            }
        }

        .center-part {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .right-part {
            float: right;

            .action-link {
                display: inline-block;
                margin-top: 0.6rem;
                font-size: 1.3rem;
                color: @black;
                text-transform: uppercase;
            }
        }

        .value,
        .txt {
            display: block;
            text-align: center;
        }

        .value {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.5rem;

            &.green {
                color: #417505;
            }

            &.red {
                color: #d0021b;
            }

            &.yellow {
                color: #f5a623;
            }
        }

        .txt {
            font-size: 1.1rem;
            font-weight: 700;
            color: #747474;
        }
    }
}

.custom-tooltip {
    display: inline-block;
    padding: 1rem 3rem 3rem 1rem;
    position: absolute;
    background-color: #485465;
    opacity: 0;
    visibility: visible;
    transition: all .4s ease;
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    z-index: -1;

    &.shown {
        opacity: .9;
        visibility: visible;
        z-index: 88;
    }

    &:before {
        display: inline-block;
        content: '';
        position: absolute;
        bottom: -1rem;
        left: 50%;
        border-top: 1rem solid #485465;
        border-right: 1rem solid rgba(255, 255, 255, 0);
        border-left: 1rem solid rgba(255, 255, 255, 0);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .custom-tooltip-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.6rem;
        color: @white;
        cursor: pointer;
        z-index: 9;
    }

    .custom-tooltip-author {
        display: block;
        padding-left: 2.6rem;
        position: relative;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.2px;
        color: #f8e71c;

        &:before {
            display: inline-block;
            content: '';
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            top: 50%;
            left: 0;
            background-color: @white;
            border-radius: 50%;
            border: 4px solid #f5a623;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: 1;
        }
    }

    .custom-tooltip-content {
        display: block;
        padding: 2rem 0 0;
        font-size: 1.4rem;
        line-height: 1.36;
        letter-spacing: 0.3px;
        color: @white;
    }

    .custom-tooltip-info-link-wrap {
        display: inline-block;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        z-index: 8;

        a {
            display: inline-block;
            font-size: 1.4rem;
            letter-spacing: 0.3px;
            color: @white;
        }
    }
}