@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?86283938');
  src: url('fonts/fontello.eot?86283938#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?86283938') format('woff2'),
       url('fonts/fontello.woff?86283938') format('woff'),
       url('fonts/fontello.ttf?86283938') format('truetype'),
       url('fonts/fontello.svg?86283938#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86283938#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
//   width: 1em;
//   margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
//   line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
//   margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-trash-empty:before { content: '\e800'; } /* '' */
.icon-assets:before { content: '\e801'; } /* '' */
.icon-bell:before { content: '\e802'; } /* '' */
.icon-bell-on:before { content: '\e803'; } /* '' */
.icon-distribution-center:before { content: '\e804'; } /* '' */
.icon-fulfillment:before { content: '\e805'; } /* '' */
.icon-grid:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-inventory:before { content: '\e808'; } /* '' */
.icon-arrow-left-circled:before { content: '\e809'; } /* '' */
.icon-arrow-right-circled:before { content: '\e80a'; } /* '' */
.icon-order:before { content: '\e80b'; } /* '' */
.icon-reports:before { content: '\e80c'; } /* '' */
.icon-create-folder:before { content: '\e80d'; } /* '' */
.icon-delete-file:before { content: '\e80e'; } /* '' */
.icon-download-file:before { content: '\e80f'; } /* '' */
.icon-rename-file:before { content: '\e810'; } /* '' */
.icon-close:before { content: '\e811'; } /* '' */
.icon-upload-big:before { content: '\e812'; } /* '' */
.icon-down-open:before { content: '\e813'; } /* '' */
.icon-freight:before { content: '\e814'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */