.homepage {

    .container-big-wrapper {
        margin-bottom: 6rem;
    }

    .bar-summary {
        padding: 1rem;
        border: 1px solid #e4e4e4;
        .clear();

        .img-wrap {
            width: 30%;
            float: left;
            text-align: center;

            img {
                width: 70%;
            }
        }

        .txt-wrap {
            width: 70%;
            float: right;

            h5 {
                margin: 0;
                font-size: 1.5rem;
                color: #2f1702;
            }

            p {
                margin: 0;
                font-size: 1.3rem;
                color: #2f1702;
            }
        }
    }
}