section.landing {

    .intro {
        padding: 7rem 12rem 7rem;
        background-color: @ups-brown;
        .clear();

        @media @max-md {
            padding: 1rem 0 3rem;
        }

        .half {

            @media @max-md {
                padding: 0;
            }
        }

        .logo-wrap {
            padding: 1rem 2rem;

            .logo-img-wrap {
                display: inline-block;
            }

            .txt {
                display: inline-block;
                margin-left: .5rem;
                font-size: 2.2rem;
                font-weight: 700;
                color: #fdbd10;
                vertical-align: middle;
            }
        }

        .txt-wrap {

            @media @max-md {
                text-align: center;
            }

            h2 {
                margin: 5rem 0;
                font-size: 4.8rem;
                line-height: 1.13;
                color: @white;

                @media @max-md {
                    margin: 4rem 0 9rem;
                    padding: 11rem 0;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1.17;
                    background-image: url('../img/intro-home-shape-mobile.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: auto 100%;
                }
            }

            .btn-intro {

                @media @max-md {
                    width: 100%;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }

        .img-wrap {
            text-align: center;

            @media @max-md {
                display: none;
            }
        }
    }

    .about {
        
        .about-top {
            padding: 2.5rem 4rem;
            background-color: #f9fafa;
            border-bottom: 1px solid #eeeeee;

            @media @max-md {
                position: relative;
                padding: 1.8rem 2rem 1.2rem;
                box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .6);
                z-index: 5;
            }

            h1 {
                margin: 0;
                font-size: 4.8rem;
                font-weight: 400;
                color: @black;
                text-align: center;

                @media @max-md {
                    font-size: 1.8rem;
                }
            }
        }

        .about-middle {
            padding: 9rem 4rem 8rem;
            background-color: @white;
            text-align: center;

            @media @max-md {
                padding: 3rem 2rem 2rem;
                position: relative;
                z-index: 4;
            }

            .part {
                display: inline-block;
                padding: 0 5rem;
                vertical-align: middle;

                @media @max-md {
                    padding: 0;
                }

                .icon {
                    display: inline-block;
                    width: 7.6rem;
                    height: 7.6rem;
                    color: @ups-brown;

                    @media @max-md {
                        width: 3.5rem;
                        height: 3.5rem;
                    }

                    [class^='icon-'] {
                        font-size: 6.5rem;

                        @media @max-md {
                            font-size: 3rem;
                        }
                    }
                }

                .txt {
                    display: inline-block;
                    width: 100%;
                    margin-top: 3rem;
                    font-size: 2.4rem;
                    letter-spacing: 0.6px;
                    color: #333333;

                    @media @max-md {
                        margin-top: 1rem;
                        font-size: 1.4rem;
                    }
                }
            }
        }
        
        .about-contacts {
            padding: 1rem 4rem 1.5rem;
            background-color: #f9fafa;
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            text-align: center;

            @media @max-md {
                margin-top: -1px;
                padding: 0;
                background-color: @white;
                border-bottom: none;
            }

            h2 {
                margin: 0;
                font-size: 4.8rem;
                font-weight: 400;
                color: @ups-sienna;

                @media @max-md {
                    margin: 0 0 1.8rem;
                    padding: 1rem 0;
                    position: relative;
                    font-size: 2rem;
                    background-color: #f9fafa;
                    border-top: 1px solid #eeeeee;
                    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .6);
                    z-index: 3;
                }
            }

            a {
                display: inline-block;
                font-size: 3.2rem;
                color: @black;
                
                &:hover {
                    color: @black;
                    text-decoration: underline;
                }

                @media @max-md {
                    font-size: 1.8rem;
                    word-wrap: break-word;
                }
            }
        }

        .about-bottom {
            padding: 2rem 15rem 3.5rem;
            background-color: @white;
            text-align: center;

            @media @max-md {
                padding: 2rem 2.5rem 1rem;
            }

            p {
                margin: 0;
                font-size: 2.4rem;
                line-height: 1.54;
                color: #4a4a4a;

                @media @max-md {
                    font-size: 1.4rem;
                    line-height: 1.93;
                }
            }
        }
    }

    footer {
        padding: 2rem 15rem;
        background-color: @ups-sienna;
        text-align: center;

        @media @max-md {
            padding: 2rem 2rem;
        }

        p {
            margin: 0;
            font-size: 2rem;
            line-height: 1.7;
            color: @white;

            @media @max-md {
                font-size: 1.3rem;
                line-height: normal;
            }
        }
    }
}