// modals
.modal-wrapper {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    &:before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .4);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease, visibility .4s ease;
        z-index: -1;
    }

    &.opened {
        display: block;

        &:before,
        .modal-wrapper-inner {
            opacity: 1;
            visibility: visible;
        }
    }

    .close-btn-wrap {
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
        color: #9b9b9b;
        transition: color .3s ease;
        cursor: pointer;

        &:hover {
            color: @black;
        }
    }
}

.modal-wrapper-inner {
    min-width: 74rem;
    padding: 7rem 5rem 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: @white;
    border-radius: 1rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .6s ease, visibility .6s ease;
    z-index: 1;

    &.modal-wrapper-small {
        min-width: 0;
        padding: 6rem 2rem 3rem;

        .txt-wrap {
            padding: 0 0 3rem;
        }
    }

    .txt-wrap {
        padding: 0 0 7rem;
        text-align: center;

        .txt-attention {
            padding: 0 0 1rem;
            color: #8b572a;

            .icon-big {
                display: inline-block;
                margin-right: 3rem;
                font-size: 6rem;
                vertical-align: middle;
                -webkit-transform: translateY(-5px);
                transform: translateY(-5px);
            }

            .txt {
                display: inline-block;
                font-size: 2.4rem;
                vertical-align: middle;
            }
        }

        p {
            margin: 0;
            font-size: 2rem;
            color: @black;
        }
    }

    .btn-wrap {
        width: 100%;
        text-align: center;

        .btn-action {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.modal-file-upload {

    label {
        cursor: pointer;
    }

    input[type=file] {
        display: none;
    }
}

// modal in content
.modal-wrapper.modal-in-content {
    
    .modal-wrapper-inner {
        -webkit-transform: none;
        transform: none;
    }
}