.page-header {
    padding: 5rem 5rem 1rem 5rem;
    .clear();

    .page-title {
        float: left;

        h1 {
            margin: 0;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 2.5rem;
            color: #2f1702;
        }
    }

    .page-header-options {
        float: right;
    }
}

.page-container-inner {
    padding: 1rem 5rem 4rem 5rem;

    .page-subtitle {

        &.expandable-big-handle {
            position: relative;

            &.expanded {

                .expandable-big-arrow {
                    -webkit-transform: translateY(-60%) rotate(180deg); // 60% are intentional
                    transform: translateY(-60%) rotate(180deg); // 60% are intentional
                }
            }

            .expandable-big-arrow {
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0.5rem;
                font-size: 2.8rem;
                color: #412917;
                -webkit-transform: translateY(-60%); // 60% are intentional
                transform: translateY(-60%); // 60% are intentional
            }
        }

        &.plain {

            h2 {
                margin-bottom: 0;
                font-weight: 700;
                color: #301603;

                &:before {
                    content: none;
                }
            }
        }

        h2 {
            position: relative;
            font-size: 1.8rem;
            font-weight: 400;
            color: #2f1702;
            z-index: 1;

            &:before {
                display: inline-block;
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                right: 0;
                bottom: 3px;
                left: 0;
                background-color: #c8c6c6;
                z-index: -1;
            }

            .txt {
                display: inline-block;
                padding: 0 10px 0 0;
                position: relative;
                background-color: #f7f7f7;
                z-index: 1;
            }
        }
    }
}

.head-bar {

    .pagination {
        padding: 1.6rem 0 5rem 1rem;
    }

    .actions-wrap {

        .btn-action {
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.table-wrap {

    &.table-wrap-white {
        padding: 2.8rem 4rem 5rem 1.4rem;
        background-color: @white;
        border: 1px solid #e4e4e4;
    }

    &.table-wrap-dc {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
        margin-bottom: 2rem;
        position: relative;

        .table-update-info {
            display: inline-block;
            position: absolute;
            top: -2rem;
            right: 1rem;
            font-size: 1.2rem;
            color: #aab2c0;
        }
    }
}