.reports-top {
    padding: 2rem 2rem;
    background-color: @white;
    border: 1px solid #e4e4e4;

    .row + .row {
        margin-top: 4rem;
    }
}

.report-column {

    h3 {

        .icon {
            display: inline-block;
            margin-right: 1rem;
            vertical-align: text-bottom;

            span {
                font-size: 2.4rem;
                color: #643e1e;
            }
        }

        .txt {
            display: inline-block;
            font-size: 1.5rem;
            color: #2f1702;
            vertical-align: bottom;
        }
    }

    ul {

        li {

            a {
                display: inline-block;
                padding: 2px 0;
                font-size: 1.6rem;
                color: #8b572a;
                transition: color .3s ease;

                &:hover {
                    color: darken(#8b572a, 10%);
                    text-decoration: underline;
                }
            }
        }
    }
}