.sidebar {
	width: 6rem;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #2f1702;
	-webkit-transition: width .7s cubic-bezier(.24,.25,.42,.98);
	transition: width .7s cubic-bezier(.24,.25,.42,.98);
	// -webkit-transform: translateX(13rem);
	// transform: translateX(13rem);
	z-index: 100;

	&.opened {
        width: 24rem;
		// -webkit-transform: translate(0);
		// transform: translate(0);
        // box-shadow: -2px 0 2px 2px fade(@gray, 60%);

		.bottom-option {

			&:hover {

				.tooltip-sidebar.tooltip-expanded {
					-webkit-transform: translateY(-50%) translateX(100%);
					transform: translateY(-50%) translateX(100%);
				}
			}

			.left-part {
				right: 0;
				left: auto;

				span {
					-webkit-transform: translate(-50%, -50%) rotate(-180deg);
					transform: translate(-50%, -50%) rotate(-180deg);
				}
			}

			.tooltip-sidebar.tooltip-expanded {
				right: 0;
				left: auto;
			}
		}
    }
    
    .top-option {
        height: 9rem;
        // background-color: #ffcd00;

        a {
            height: 100%;
            padding: 0;
			text-align: center;
        }
        
        .left-part {
			width: 100%;
            height: 9rem;

            .img-wrap,
            .txt-wrap {
                display: inline-block;
            }

            .img-wrap {
                position: absolute;
                top: 2rem;
                right: 0;
                left: 0;
                height: 8rem;
            }
        }
    }
    
    .navigation {
        padding-top: 6rem;

        li {
            height: 6rem;
            position: relative;
            background-color: #2f1702;

            &:hover {

                .tooltip-sidebar {
                    -webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					
					&.tooltip-expanded {
						-webkit-transform: translateY(-50%) translateX(-100%);
						transform: translateY(-50%) translateX(-100%);
					}
                }
            }
        }
    }

    .tooltip-sidebar {
        display: inline-block;
        padding: 0 1rem;
        position: absolute;
        top: 50%;
        left: 6rem;
        font-size: 1.7rem;
        line-height: 3rem;
        color: @white;
        background-color: rgba(48, 22, 3, 0.65);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%) translateX(-100%);
        transition: transform .7s ease;
        white-space: nowrap;
		z-index: -1;
		
		&.tooltip-expanded {
			-webkit-transform: translateY(-50%) translateX(-200%);
			transform: translateY(-50%) translateX(-200%);
		}
    }

	a,
	.sidebar-option {
		display: inline-block;
		width: 100%;
		position: relative;
		min-height: 6rem;
		padding: 0 0 0 6rem;
		color: @white;
		-webkit-transition: background-color .3s ease;
        transition: background-color .3s ease;
        overflow: hidden;
        z-index: 2;

		&.inactive {
			// color: @gray-txt;
			// background-color: @sidebar-inactive;
			cursor: default;

			.right-part {
				// color: @gray-txt;

				&.name-wrap .big {
					// color: @gray-txt;
				}
			}
		}

		.left-part {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 6rem;
			min-height: 6rem;

			.icon {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 2.6rem;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-webkit-transition: color .3s ease;
				transition: color .3s ease;
			}
		}

		.right-part {
            display: inline-block;
            padding-left: 1rem;
			font-size: 1.7rem;
			line-height: 6rem;
			-webkit-transition: color .3s ease;
			transition: color .3s ease;
            color: @white;
            white-space: nowrap;
        }
	}

	.active a {
		// background-color: @sidebar-hover;
		color: @orange;

		.right-part {
			color: @orange;
		}
	}

	.navigation,
	.bottom-option {

		a {
			&:hover {
				// background-color: @sidebar-hover;
				color: @orange;

				.right-part {
					color: @orange;
				}
			}
		}
	}

	.bottom-option {
		// width: 100%;
		// position: absolute;
		// bottom: 0;
		// left: 0;

		.left-part {
			right: 0;
			left: auto;
		}

		.left-part span {
			-webkit-transition: transform .3s ease, color .3s ease;
			transition: transform .3s ease, color .3s ease;
		}
	}
}