.table-fw {
    width: 100%;
}

.table-standart {

    thead {

        tr {
            border-bottom: 1px solid rgba(216, 215, 215, 0.7);
        }

        th {
            padding: 0 0 0.4rem 0;
            font-weight: 400;

            &:first-child {
                padding-left: 1rem;
            }

            .txt {
                display: inline-block;
                font-size: 1.8rem;
                color: @black;
                text-transform: uppercase;
            }
        }
    }

    tbody {

        tr {
            border-bottom: 1px solid rgba(216, 215, 215, 0.7);

            &:hover {

                .asset-link-action {
                    opacity: 1;
                    visibility: visible;
                }
            }

            &.new-row {
                display: none;
            }
        }

        td {
            padding: 3rem 0 1.6rem;

            &:first-child {
                padding-left: 1rem;
            }

            &:last-child {
                padding: 2rem 0 1rem;
            }

            .asset-link-inner {
                display: inline-block;
                color: #8b572a;

                .icon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    position: relative;
                    margin-right: 2rem;
                    font-size: 1.6rem;
                    vertical-align: middle;

                    [class^='icon-'] {
                        display: inline-block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);

                        &.icon-doc-text {
                            font-size: 2.4rem;
                        }
                    }
                }

                .txt {
                    color: #393838;
                    vertical-align: middle;
                }
            }

            .asset-link-action {
                display: inline-block;
                padding: 0 2rem;
                font-size: 2.2rem;
                color: #8b572a;
                opacity: 0;
                visibility: hidden;
                transition: opacity .4s ease, visibility .4s ease;

                .icon-download-file {
                    display: inline-block;
                    font-size: 2.6rem;
                }
            }

            .txt {
                font-size: 1.7rem;
                color: #393838;
            }
        }
    }
}

.table-dc {

    thead {

        th {
            width: 10%;
            padding: 0 0.8rem;

            &:first-child {
                width: 30%;
            }
        }

        .txt {
            display: inline-block;
            width: 100%;
            padding: 0.6rem 1.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            color: @black;
            text-align: left;

            &.table-head-name {
                font-size: 1.6rem;
                font-weight: 700;
                color: #2f1702;
            }
        }

        .val {
            display: inline-block;
            width: 100%;
            padding: 0.6rem 1.4rem;
            position: relative;
            font-size: 1.4rem;
            color: @black;
            text-align: left;
            z-index: 1;
            
            &.colorful {

                &.colorful-red {

                    &:before {
                        border-color: #ff0221;
                        background-color: rgba(255, 2, 33, 0.27);
                    }
                }

                &.colorful-yellow {

                    &:before {
                        border-color: #f5a623;
                        background-color: rgba(245, 166, 35, 0.52);
                    }
                }

                &.colorful-green {

                    &:before {
                        border-color: #7ed321;
                        background-color: rgba(126, 211, 33, 0.29);
                    }
                }

                &:before {
                    display: inline-block;
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    border-left: 4px solid rgba(255, 255, 255, 1);
                    z-index: -1;
                }
            }
        }
    }

    tbody {

        td {
            width: 10%;
            padding: 0 0.8rem;

            &:first-child {
                width: 30%;
            }
        }

        .txt {
            display: inline-block;
            width: 100%;
            padding: 0.6rem 1.4rem;
            font-size: 1.6rem;
            color: #020202;
            
            .symbol-big {
                display: inline-block;
                font-size: 2.2rem;
                -webkit-transform: translateY(2px);
                transform: translateY(2px);
            }
        }
    }
}