.top-bar {
    display: inline-block;
    height: 9rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ab5000;
    z-index: 99;

    .top-bar-page-title {
        margin: 2.8rem 0;
        padding-left: 11rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: @white;
    }

    .top-bar-right-controls {
        display: inline-block;
        padding: 2.5rem 8rem 2.5rem 3rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 22;

        li {
            display: inline-block;
            margin-right: 1rem;
            vertical-align: middle;
    
            &:last-child {
                margin-right: 0;
            }
    
            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3.8rem;
                height: 3.8rem;
                // padding: 1rem;
                font-size: 2rem;
                color: @white;
                text-align: center;
    
                .profile-wrap {
                    display: inline-block;
                    width: 3.8rem;
                    height: 3.8rem;
                    border-radius: 50%;
                    overflow: hidden;
    
                    .profile-image {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.top-bar-inner-menu-wrapper {
    position: relative;

    &.inner-menu-opened {

        .top-bar-inner-menu {
            opacity: 1;
            visibility: visible;
        }
    }

    .top-bar-inner-menu {
        display: inline-block;
        width: 320px;
        padding: 2rem 2rem 0rem;
        position: absolute;
        top: ~'calc(100% + 3rem)';
        right: 0;
        background-color: @white;
        border: 1px solid #e8e8e8;
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s ease, visibility .4s ease;

        &:before {
            display: inline-block;
            content: '';
            position: absolute;
            top: -1.2rem;
            right: 1rem;
            border-right: .8rem solid rgba(255, 255, 255, 0);
            border-bottom: 1.4rem solid @white;
            border-left: .8rem solid rgba(255, 255, 255, 0);
        }
    }

    .grid-menu {

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 9rem;
            margin: 0 0 2rem 0;
            position: relative;
            text-align: center;
            transition: background-color .4s ease;

            &:hover {
                background-color: #efefef;
            }

            .icon-wrap {
                display: inline-block;
                padding-top: 1.5rem;
                padding-bottom: .5rem;
                width: 100%;
            }

            .txt-wrap {
                display: inline-block;
                width: 100%;
                font-size: 1.3rem;
                letter-spacing: 0.1px;
                color: @black;
            }
        }
    }

    .profile-menu {
        
        .person {
            display: inline-block;
            width: 100%;
            .clear();
            
            .img-wrap {
                display: inline-block;
                width: 3.8rem;
                height: 3.8rem;
                float: left;
            }

            .details-wrap {
                display: inline-block;
                width: ~'calc(100% - 4.8rem)';
                margin-left: 1rem;
                float: right;

                .person-name,
                .person-mail {
                    display: inline-block;
                    width: 100%;
                    font-size: 1.6rem;
                    letter-spacing: -.4px;
                    color: @black;
                }

                .person-name {
                    font-weight: 700;
                }
            }
        }

        .profile-actions {
            margin: 2rem 0 2rem;
            text-align: center;
            
            a {
                display: inline-block;
                font-size: 1.6rem;
                letter-spacing: -.4px;
                color: #8b572a;
                text-transform: uppercase;
                transition: color .4s ease;

                &:hover {
                    color: darken(#8b572a, 10%);
                }

                &:first-child {
                    margin-right: 4rem;
                }
            }
        }
    }
}