// =================
// Common Properties
// =================

// Misc
@speed:       200ms;       // Transition duration
@transition:   cubic-bezier(0.55,0,0.1,1); // Animation Style. Default is Material's curve.

// Colors
@text-color: @gray;  //** Global text color
@links: #bada55;
@links-hover: #0c39fc;

@input-glow-color: #bada55;
@placeholder-color: @text-color; //** Color for placeholder=""

@body-bg: #fff;       //** Background color for `<body>`
@hr-border:   #e6e6e6;   //** Color for <hr> elements
@gray:     #555;

@white: #ffffff;
@black: #000000;

@orange: #ff8112;

@ups-brown: #260300;
@ups-brown-dark: #64514f;
@ups-brown-mid: #8a7870;
@ups-brown-light: #c1b8af;

@ups-blue: #146eb7;
@ups-blue-dark: #001c51;
@ups-teal: #009188;
@ups-green: #5e7e23;
@ups-green-dark: #003b2c;
@ups-plum: #96004d;
@ups-sienna: #cb7d1b;

@selection-text:         @text-color;      // Color of selected text
@selection-background:   @body-bg;  // Background of selected text

// Fonts

@font-face {
    font-family: "Berlingske Sans";
    src: url('fonts/UPSBerlingskeSans-Rg.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSans-Rg.ttf') format('truetype');
}

@font-face {
    font-family: "Berlingske Sans";
    src: url('fonts/UPSBerlingskeSans-Bd.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSans-Bd.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Berlingske Sans";
    src: url('fonts/UPSBerlingskeSans-BdIt.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSans-BdIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Berlingske Sans";
    src: url('fonts/UPSBerlingskeSans-It.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSans-It.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: "Berlingske Serif";
    src: url('fonts/UPSBerlingskeSerifTx-Rg.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSerifTx-Rg.ttf') format('truetype');
}

@font-face {
    font-family: "Berlingske Serif";
    src: url('fonts/UPSBerlingskeSerifTx-Bd.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSerifTx-Bd.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: "Berlingske Serif";
    src: url('fonts/UPSBerlingskeSerifTx-BdIt.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSerifTx-BdIt.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Berlingske Serif";
    src: url('fonts/UPSBerlingskeSerifTx-It.eot?#iefix') format('embedded-opentype'), 
         url('fonts/UPSBerlingskeSerifTx-It.ttf') format('truetype');
    font-style: italic;
}

@font-size-base:          1.4rem;
@font-family-primary:     'Berlingske Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-secondary:   'Berlingske Serif', Georgia, 'Times New Roman', Times, serif;
@font-family-serif:       @font-family-secondary;
@font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-base:        @font-family-primary;
@font-primary:            @font-family-primary;
@font-secondary:          @font-family-secondary;