<section class="distribution-center">

        <div class="page-header">
            <div class="page-title">
                <h1>Distribution Center</h1>
            </div>
            <div class="page-header-options">
                <div class="calendar-wrap">
                    <span class="calendar-btn-prev">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-arrow-left-brown.png" alt="">
                        </span>
                    </span>
                    <span class="calendar-btn">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-calendar-gray.png" alt="">
                        </span>
                        <span class="txt" data-toggle="datepicker">Apr 2-8, 2018</span>
                    </span>
                    <span class="calendar-btn-next">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-arrow-right-brown.png" alt="">
                        </span>
                    </span>
                </div>
                <div class="separator"></div>
                <div class="switch-btn-wrap">
                    <a (click)="switchView()">Switch to {{switchToViewText}} View</a>
                </div>
                <div class="separator"></div>
                <div class="option-btn-wrap">
                    <a href="#" class="option-btn">
                        <span class="inner">
                            <img src="/assets/img/icons/icon-save-with-bg.png" alt="">
                        </span>
                    </a>
                    <a href="#" class="option-btn">
                        <span class="inner">
                            <img src="/assets/img/icons/icon-excel-with-bg.png" alt="">
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="page-container-inner" *ngIf="isTableView === true">
            <app-dctable></app-dctable>
        </div>
        <div class="page-container-inner" *ngIf="isGraphView === true">
            <app-dcgraph></app-dcgraph>
        </div>

    </section>