.blog-listing {
	// padding: 1px;

	&.page-taxonomy {

		h1 {
			margin: 3rem 0;
		}
	}

	.top-part {
		padding: 1rem 0 2rem;
	}

	.featured-img-wrap {

		img {
			width: 100%;
			height: auto;
		}
	}

	.blog-featured {
		margin: 0;
		text-align: left;

		.content {
			display: inline-block;
		}

		.blog-name {
			text-align: left;
			font-size: 3rem;
			letter-spacing: normal;
			line-height: 3rem;
			margin-bottom: 1rem;

			@media screen and (max-width: 800px) {
				margin-top: 1.5rem;
			}
		}

		.description {
			font-size: 1.5rem;
			padding: 1rem 0.5rem;
		}
	}

	.blog-full-list {
		padding-bottom: 2rem;

		.third:nth-child(3n+1) {
			clear: left;
		}

		article {

			@media screen and (max-width: 800px) {
				margin: 1.5rem 0;
			}
		}
	}
	
	.blog-excerpt {
		margin: 2rem 0 0;

		.blog-img-wrap {

			img {
				max-width: 100%;
				height: auto;
			}
		}

		.blog-name {
			margin: 1rem 0;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: normal;
		}

		.btn-wrap {
			text-align: center;
		}
	}

	.btn-wrap {
		margin: 1rem 0;

		.link-more {
			display: inline-block;
			padding: 0.5rem 1rem;
			border: 1px solid @blue-main;
			border-radius: 2px;
			transition: all .3s ease;

			&:hover {
				color: #fff;
				background-color: @blue-main;
			}

			&:active {
				transform: scale(0.95);
			}
		}
	}

	.self-ad {
		padding-top: 2rem;

		.aside-content {
			padding: 1rem;
			border-radius: 5px;
			transition: all .3s ease;
		}

		h3 {
			margin-bottom: 1rem;
			text-align: left;
		}

		&.abs-pos {
			position: fixed;
			top: 0;
			right: 0;

			@media screen and (max-width: 800px) {
				position: static !important;
				text-align: center;

				h3 {
					text-align: center;
				}
			}

			.aside-content {
				box-shadow: 0 2px 4px 2px lighten(@gray-main, 30%);
			}

			&.abs-bot {
				position: absolute;
				bottom: 40px;
			}
		}

		.form-wrap {
			margin-top: 1rem;
		}

		.btn-explore {
	        height: 2.375rem;
	        font-size: 1rem;
	        line-height: 2.375rem;
	        // float: left;
	        .border-radius(0.3125rem);
	        z-index: 3;
	        position: relative;
	    }
	}
}

.blog-single {
	width: 1180px;
	padding: 1rem 2rem;
	box-sizing: border-box;
	margin: 2rem auto 2rem;

	@media screen and (max-width: 1300px) {
		max-width: 100%;
	}

	h2, h3, h4 {
		text-align: left;
	}

	h2 {
		font-size: 2.75rem;
		line-height: normal;
		font-weight: 400;
	}

	.blog-img-wrap {
		text-align: center;

		img {
			width: 100%;
			height: auto;
		}
	}

	.blog-name {
		margin: 2rem 0;
	}

	.description {
		font-size: 1.5rem;
		line-height: 2.25rem;
		letter-spacing: -0.056rem;
		color: @gray-main;
		padding: 0 0 2rem;

		strong {
			font-weight: 700;
		}

		ul, ol {
			padding-left: 20px;
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		img {
			display: block;
			margin: 0 auto;

			&.alignleft {
				float: left;
				margin: 1rem 2rem 1rem 0;
			}

			&.alignright {
				float: right;
				margin: 1rem 0 1rem 2rem;
			}

			@media screen and (max-width: 550px) {
				display: block;
				float: none !important;
				margin: 1rem auto !important;
				width: 100%;
				height: auto;
			}
		}
	}

	.categories,
	.tags {
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 1rem;
		color: @color-text;

		a {
			color: @gray-main;
			transition: color .3s ease;

			&:hover {
				color: @color-text;
			}
		}
	}

	.categories {
		padding-bottom: 1rem;
	}

	.tags {

		a {
			text-decoration: underline;
		}
	}

	blockquote {
		text-align: center;
		color: @blue-main;
	}
}