.contact-us {
	background: transparent url(img/bg-city-silhouette.png) no-repeat center bottom;
    background-size: 89.0625rem 42.125rem;
    min-height: 42.125rem;
    padding-top: 4.375rem;
    overflow-x: hidden;
    .clearfix();

    @media screen and (min-width: 1426px) {
        background-size: 100% 42.125rem;
    }

    @media screen and (max-width: 800px) {
    	padding-bottom: 3rem;
    }

    .container-full {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;

        .row {
        	box-sizing: border-box;
        	margin: 0 -15px;
        	.clearfix();
        }

        .half {
        	box-sizing: border-box;
        	width: 50%;
        	padding: 0 15px;
        	float: left;

        	@media screen and (max-width: 800px) {
        		padding-left: 15px;
        		width: 100%;
        		float: none;
        	}
        }
    }

    h1 {margin-bottom: 2rem;}

    .content {
    	@media screen and (min-width: 1100px) {
    		padding-left: 9rem;
    	}

    	@media screen and (max-width: 1100px) {
    		padding-left: 1rem;
    	}

    	@media screen and (max-width: 800px) {
    		padding: 0 2rem;
    	}

    	@media screen and (max-width: 360px) {
    		padding: 0;
    	}

    	h4 {
    		margin: 4rem 0 1rem;
    	}
    }

    .btn-wrap {
    	font-family: @font-secondary;
    	font-weight: 300;
    	font-size: 1rem;

    	a {
    		margin: 1rem 0 0;
    		display: inline-block;

            // @media screen and (min-width: 800px) {
                &:hover {
                    .inner:after {opacity: 1;}
                }
            // }

    		.inner {
    			position: relative;
    			box-sizing: border-box;

	    		&:after {
	    			content: "";
	    			width: 100%;
	    			height: 1px;
	    			background-color: @color-text;
	    			position: absolute;
	    			bottom: 0;
	    			left: 0;
	    			right: 0;
                    opacity: 0;
                    -webkit-transition: opacity .3s ease;
	    			transition: opacity .3s ease;
	    		}
    		}
    	}

    	img {
    		vertical-align: middle;
    		width: 3rem;
    		margin-right: 1rem;
    	}

    	.regular {
    		font-weight: 400;
    	}
    }
}