.customers-illustration {
    background: white;
    background: -webkit-linear-gradient(white, #fafafa);
    background: -moz-linear-gradient(white, #fafafa);
    background: linear-gradient(white, #fafafa);
    padding: 4.375rem 0 6.625rem 0;
    text-align: center;

    .img-logo {
        height: auto;
        width: 18.75rem;
        max-width: 80%;
    }

    h1 {padding-top: 1rem;}

    .txt-illustration {
        width: 100%;
        max-width: 75.5rem;
        padding: 5.625rem 0 2.75rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: @blue-main;
        letter-spacing: -0.07rem;
        text-align: center;
        margin: 0 auto;
        .clearfix();

        span {
            display: block;
            float: left;

            &:first-of-type {width: 63.2%;}
            &:last-of-type {width: 36.8%;}
        }
    }

    .img-illustration {
        display: block;
        width: 100%;
        max-width: 75.5rem;
        margin: 0 auto;
    }

    .img-illustration-part1,
    .img-illustration-part2 {
        display: none;
        width: 100%;
        margin: 0 auto;
    }

    .img-illustration-part1 {max-width: 46.5rem;}
    .img-illustration-part2 {max-width: 26.625rem;}
}

.customers-explore {
    background: transparent url(img/bg-city-silhouette.png) no-repeat center bottom;
    background-size: 89.0625rem 42.125rem;
    min-height: 42.125rem;
    padding-top: 4.375rem;
    overflow-x: hidden;
    .clearfix();

    .col-1, .col-2 {
        min-height: 45.125rem;
        float: left;
    }

    .col-1 {
        background: transparent url(img/bg-phone.png) no-repeat right bottom;
        width: 38.4%;
    }

    @media screen and (max-width: 840px) {
        .col-1 {background-size: auto 90%;}
    }

    .col-2 {
        background: transparent url(img/bg-shapes-big.svg) no-repeat center 4.25rem;
        background-size: 38.125rem auto;
        width: 61.6%;
        padding-top: 11.875rem;
        text-align: center;

        p {
            padding: 1.5rem 0 3rem 0;
            font-size: 1.5rem;
            line-height: 2.125rem;
            letter-spacing: -0.04rem;
        }

        .img-phone {
            display: none;
            height: 45.125rem;
            position: relative;

            &:after {
                content: "";
                background: transparent url(img/bg-phone.png) no-repeat left bottom;
                background-size: auto 100%;
                width: 42.25rem;
                height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
    }

    .form-wrap {
        // width: 50%;
        display: inline-block;
        // margin: 0 auto;
        position: relative;
        min-width: 24rem;

        .phone-form {
            // display: inline-block;
            // position: relative;
        }
    }

    .img-logo {
        height: auto;
        width: 18.75rem;
        max-width: 80%;
    }

    .btn-explore {
        -webkit-box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
        box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
        .border-radius(0.3125rem);
    }
}

@media screen and (min-width: 1426px) {
    .customers-explore {
        background-size: 100% 42.125rem;
    }
}

.customers-how-works {
    background: transparent url(img/bg-city.jpg) no-repeat center top;
    background-size: 98.25rem auto;
    min-height: 33.375rem;
    padding-bottom: 2rem;
    text-align: center;

    h2 {padding: 2.75rem 0 1.75rem 0;}

    .steps-wrap {
        display: inline-block;
        width: 13.75rem;
        color: white;
        vertical-align: top;
    }

    .steps-icon {
        display: inline-block;
        width: 7.25rem;
        height: 7.25rem;
        border-top: 1px solid rgba(255,255,255,0.4);
        .border-radius(50%);

        &.first {
            background: rgba(128,216,255,0.5) url(img/icon-step1.svg) no-repeat center center;
            background-size: auto 4.4375rem;
        }

        &.second {
            background: rgba(128,216,255,0.5) url(img/icon-step2.svg) no-repeat center center;
            background-size: auto 4.5625rem;
        }

        &.third {
            background: rgba(128,216,255,0.5) url(img/icon-step3.svg) no-repeat center center;
            background-size: auto 4.4375rem;
        }
    }

    h4 {padding: 2rem 0 0.875rem 0;}

    .steps-txt {
        font-family: @font-secondary;
        font-weight: 300;
        line-height: 1.5625rem;
        letter-spacing: -0.02rem;
    }

    .steps-arrow {
        display: inline-block;
        width: 11.875rem;
        height: 8.125rem;
        vertical-align: top;

        &.first {
            background: transparent url(img/arrow-steps-hor1.svg) no-repeat center top;
            background-size: 100% auto;
        }

        &.second {
            background: transparent url(img/arrow-steps-hor2.svg) no-repeat center bottom;
            background-size: 100% auto;
        }
    }

    @media screen and (max-width: 1090px) {
        .steps-arrow {
            width: ~"calc(50% - 20.25rem)";
            margin: 0 -0.625rem;
        }
    }

    .submit-wrapper {padding-top: 3.875rem;}

    .email-form-wrap {margin: 0 2rem;}

    .submit-txt {
        display: inline-block;
        padding: 0 2rem;
        font-size: 2rem;
        color: white;
        line-height: 2.75rem;
        letter-spacing: -0.07rem;
        vertical-align: top;
    }
}

@media screen and (min-width: 1572px) {
    .customers-how-works {
        background-size: 100% auto;
    }
}

.customers-meet-gj {
    background-color: white;
    padding-bottom: 4.75rem;

    .container-full {
        max-width: 1600px;
        margin: 0 auto;
    }

    h2 {
        padding: 2.625rem 0 3.5rem 0;
    }

    .item-wrapper {
        min-height: 16.25rem;
        .clearfix();
    }

    .text-wrap {
        width: 34%;
        margin: 0 auto;
    }

    h4 {padding: 1.75rem 0 0.625rem 0;}

    ul {
        li {
            padding: 0.25rem 0;
            font-family: @font-secondary;
            font-weight: 300;
            line-height: 1.5625rem;
            letter-spacing: -0.02rem;
        }
    }

    .icon-wrap {width: 33%;}

    .big-icon {
        width: 11.625rem;
        height: 11.625rem;
        font-family: @font-tertiary;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        text-align: center;
        margin: 0 auto;
        position: relative;
        .border-radius(50%);

        &:after {
            content: "";
            width: 20.125rem;
            height: 20.125rem;
            background: transparent url(img/bg-shadow-big.png) no-repeat right top;
            background-size: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }

        &:before {
            content: "";
            position: absolute;
        }

        &.speed {
            background: @blue-main url(img/icon-speed.svg) no-repeat 0.25rem 1.75rem;
            background: url(img/icon-speed.svg) no-repeat 0.25rem 1.75rem, -webkit-linear-gradient(225deg, @blue-main, #0097d3);
            background: url(img/icon-speed.svg) no-repeat 0.25rem 1.75rem, -moz-linear-gradient(225deg, @blue-main, #0097d3);
            background: url(img/icon-speed.svg) no-repeat 0.25rem 1.75rem, linear-gradient(225deg, @blue-main, #0097d3);
            background-size: 8.875rem auto, cover;
            color: @blue-main;

            &:before {
                width: 15.625rem;
                height: 7.625rem;
                background: transparent url(img/bg-dots-more-blue.svg) no-repeat left top;
                background-size: 100%;
                top: 0.25rem;
                left: -2.625rem;
            }
        }

        &.visibility {
            background: @red-main url(img/icon-visibility.svg) no-repeat center center;
            background: url(img/icon-visibility.svg) no-repeat center center, -webkit-linear-gradient(225deg, @red-main, #d84c60);
            background: url(img/icon-visibility.svg) no-repeat center center, -moz-linear-gradient(225deg, @red-main, #d84c60);
            background: url(img/icon-visibility.svg) no-repeat center center, linear-gradient(225deg, @red-main, #d84c60);
            background-size: 7.625rem auto, cover;
            color: @red-main;

            &:before {
                width: 15.75rem;
                height: 8.4375rem;
                background: transparent url(img/bg-dots-more-red.svg) no-repeat left top;
                background-size: 100%;
                top: 2rem;
                left: -2.125rem;
            }
        }

        &.choice {
            background: @green-main url(img/icon-choice.svg) no-repeat center center;
            background: url(img/icon-choice.svg) no-repeat center center, -webkit-linear-gradient(225deg, @green-main, #00cf84);
            background: url(img/icon-choice.svg) no-repeat center center, -moz-linear-gradient(225deg, @green-main, #00cf84);
            background: url(img/icon-choice.svg) no-repeat center center, linear-gradient(225deg, @green-main, #00cf84);
            background-size: 9rem auto, cover;
            color: @green-main;

            &:before {
                width: 15.625rem;
                height: 7.625rem;
                background: transparent url(img/bg-dots-more-green.svg) no-repeat left top;
                background-size: 100%;
                top: 0.25rem;
                left: -2.625rem;
            }
        }
        &.available {
            background: @yellow-main url(img/icon-available.svg) no-repeat 3.25rem center;
            background: url(img/icon-available.svg) no-repeat 3.25rem center, -webkit-linear-gradient(225deg, @yellow-main, #dbb400);
            background: url(img/icon-available.svg) no-repeat 3.25rem center, -moz-linear-gradient(225deg, @yellow-main, #dbb400);
            background: url(img/icon-available.svg) no-repeat 3.25rem center, linear-gradient(225deg, @yellow-main, #dbb400);
            background-size: 5.625rem auto, cover;
            color: @yellow-main;

            &:before {
                width: 16.25rem;
                height: 8.4375rem;
                background: transparent url(img/bg-dots-more-yellow.svg) no-repeat left top;
                background-size: 100%;
                top: 2rem;
                left: -2.125rem;
            }
        }

        &.guaranteed {
            img {
                width: 16.25rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            color: @yellow-main;

            &:after {
                width: 20rem;
                height: 20rem;
                top: 0.1rem;
            }

            &:before {
                content: none;
            }
        }

        span {
            display: block;
            white-space: nowrap;
            position: absolute;
            // top: 12rem;
            bottom: -2.25rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}

.customers-how-help {
    margin-top: 2px;
    padding: 4rem 1rem;
    background: linear-gradient(to bottom, #fff, #f9f9f9, #f2f2f2);

    h2 {padding-bottom: 3rem;}

    .main-wrap {
        padding: 2rem 0;
        .clearfix();
    }

    .left-part,
    .right-part {
        float: left;
        width: 50%;
        box-sizing: border-box;
        .clearfix();
        text-align: center;
    }

    .left-part {

         .small-icon {
            margin-bottom: 1rem;
            background: @blue-main;
            background: -webkit-linear-gradient(225deg, #00aef3, #009ad7);
            background: -o-linear-gradient(225deg, #00aef3, #009ad7);
            background: linear-gradient(225deg, #00aef3, #009ad7);
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 4.25rem;
                height: 4.25rem;
                background: transparent url(img/bg-dots-on-demand.png) no-repeat left top;
                background-size: 2.75rem;
                top: -2rem;
                left: 0;
            }
         }

        span {color: @blue-main;}
    }

    .right-part {

        .small-icon {
            margin-bottom: 1rem;
            background: @green-main;
            background: -webkit-linear-gradient(225deg, #00ed97, #00cf84);
            background: -o-linear-gradient(225deg, #00ed97, #00cf84);
            background: linear-gradient(225deg, #00ed97, #00cf84);
            position: relative;
            &:before {
                content: "";
                position: absolute;
                width: 6.25rem;
                height: 6.25rem;
                background: transparent url(img/bg-dots-project-staffing.png) no-repeat left top;
                background-size: 2.75rem;
                top: -2.5rem;
                right: -4.25rem;
            }
        }

        span {color: @green-main;}
    }

    .icon-wrap {
        float: left;
        width: 40%;
        box-sizing: border-box;
        padding: 0 2rem;
        text-transform: uppercase;

        span {
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 1rem;
        }
    }

    .small-icon {
        width: 7.25rem;
        height: 7.25rem;
        font-family: @font-tertiary;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        text-align: center;
        margin: 0 auto;
        position: relative;
        .border-radius(50%);

        &:after {
            content: "";
            width: 12.5rem;
            height: 12.5rem;
            background: transparent url(img/bg-shadow-big.png) no-repeat right top;
            background-size: 100%;
            position: absolute;
            top: 0;
            right: 0;
        }

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 4rem;
        }
    }

    .text-wrap {
        float: left;
        width: 60%;
        box-sizing: border-box;
        padding: 1.5rem 2rem 0;
        text-align: left;

        p {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.25rem;
        }

        h4 {padding-bottom: 0.75rem;}
    }
}

.customers-jobs {
    padding-top: 2rem;

    h3 {
        letter-spacing: -0.15rem;
        padding: 0 1rem;
    }
}

.owl-container {
    width: 80%;
    margin: 0 auto 0;
    padding-bottom: 2rem;

    .job-tile {
        box-sizing: border-box;
        margin: 1rem;
        padding: 2rem;
        font-family: @font-tertiary;
        font-weight: 700;
        font-size: 1.25rem;
        color: @blue-main;
        text-align: center;

        img {
            max-width: 8rem !important;
            height: 8rem;
            margin: 0 auto 1rem;
            padding: 1rem;
        }

        .job-name {
            min-height: 3rem;
            display: inline-block;
        }
    }
}

.customers-contact {
    background: #00ed97;
    background: -webkit-linear-gradient(left, #00ed97 0%,#00f363 40%,#00f363 60%,#00ed97 100%);
    background: -moz-linear-gradient(left, #00ed97 0%,#00f363 40%,#00f363 60%,#00ed97 100%);
    background: linear-gradient(to right, #00ed97 0%,#00f363 40%,#00f363 60%,#00ed97 100%);
    min-height: 18.875rem;
    text-align: center;

    h2 {padding: 5.375rem 1.5rem 1.75rem 1.5rem;}

    .email-form-wrap {margin-bottom: 4.5rem;}
}


// main breakpoint for small resolutions
@media screen and (max-width: 800px) {
    .customers-illustration {
        padding-bottom: 4rem;

        .txt-illustration {
            padding: 3.5rem 1rem 0 1rem;

            span {
                float: none;

                &:first-of-type {
                    width: 100%;
                    padding-bottom: 2rem;
                }

                &:last-of-type {
                    width: 100%;
                    padding: 1.75rem 0 2.125rem 0;
                }
            }
        }

        .img-illustration {display: none;}

        .img-illustration-part1,
        .img-illustration-part2 {
            display: block;
        }
    }

    .customers-explore {
        padding-top: 0;

        .col-1 {display: none;}

        .col-2 {
            background: transparent url(img/bg-shapes-small.svg) no-repeat center 1.75rem;
            background-size: 34.5rem auto;
            width: 100%;
            padding-top: 5rem;

            .img-phone {display: block;}
        }

        .btn-explore {margin-bottom: 5.25rem;}
    }

    .customers-how-works {
        background-size: auto 100%;

        h2 {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .steps-wrap {
            display: block;
            margin: 0 auto;
        }

        .submit-wrapper {padding-bottom: 3rem;}

        .submit-txt, .submit-mail {
            display: table;
            margin: 0 auto;
        }

        .submit-txt {padding-bottom: 1.125rem;}

        .steps-arrow {
            display: block;
            width: 15.5rem;
            height: 11.625rem;
            margin: 1.5rem auto;

            &.first {
                background: transparent url(img/arrow-steps-ver1.svg) no-repeat left center;
                background-size: auto 100%;
            }

            &.second {
                background: transparent url(img/arrow-steps-ver2.svg) no-repeat right center;
                background-size: auto 100%;
            }
        }
    }

    .customers-how-help {

        .left-part,
        .right-part,
        .icon-wrap,
        .text-wrap {
            float: none;
            width: 100%;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .text-wrap {text-align: center;}

        .icon-wrap {
            margin: 4rem 0 1rem;
        }

        .small-icon {
            width: 11.75rem;
            height: 11.75rem;

            img {
                width: 6rem;
            }

            &:before {
                background-size: 3.125rem !important;
            }

            &:after {
                width: 20.125rem;
                height: 20.125rem;
                background-size: ;
            }
        }
    }

    .customers-meet-gj {
        padding-bottom: 0;

        .icon-wrap {
            width: 100%;
            float: none;
        }

        .text-wrap {width: 100%;}

        h4 {
            padding-top: 4.125rem;
            text-align: center;
        }

        ul {
            max-width: 24rem;
            padding: 0 1rem 4.625rem 1rem;
            margin: 0 auto;
        }
    }

    .owl-container {
        padding-bottom: 3rem;

        .owl-dots {transform: translateY(-0.75rem);}

        .job-tile {
            padding-top: 0.5rem;
            padding-bottom: 0;

            img {margin-bottom: 0;}
        }
    }
}

@media screen and (max-width: 390px) {
    .customers-explore {
        .col-2 {
            p {
                padding-left: 1rem;
                padding-right: 1rem;

                br {display: none;}
            }

            .img-phone {
                // height: 100vh;
                width: auto;

                // &:after {width: 37.5rem;}
            }
        }
    }

    .customers-how-help {

        h2 {padding-bottom: 0;}

        .right-part .small-icon:before {
            width: 4.25rem;
            right: -2.25rem;
        }

        .small-icon {
            width: 9.75rem;
            height: 9.75rem;

            img {
                width: 4.75rem;
            }

                &:before {
                    // background-size: 1rem;
                }

            &:after {
                width: 16.75rem;
                height: 16.75rem;
                background-size: 100%;
            }
        }
    }
}