//helper classes
.clearfix {.clearfix();}

.float-left {float: left;}
.float-right {float: right;}

.hidden-full {
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.hidden-sm {
    @media screen and (min-width: 800px) {
        display: none;
    }
}

.hidden {display: none;}

.bold {font-weight: 700 !important;}

.has-shadow {
    position: relative;

    &:after {
        content: "";
        width: 100%;
        height: 1px;
        -webkit-box-shadow: 0 1px 2px 0px rgba(31,45,61,0.15);
        -moz-box-shadow: 0 1px 2px 0px rgba(31,45,61,0.15);
        box-shadow: 0 1px 2px 0px rgba(31,45,61,0.15);
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
    }    
}

// buttons
.btn-blank {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
}

.btn-default {
    display: inline-block;
    height: 2.75rem;
    padding: 0 1.75rem;
    font-family: @font-tertiary;
    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: -0.03rem;
    border: none;
    outline: none;
    .transition-variant(background-color, 0.2s, ease);
}

.btn-rounded {
    -webkit-box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
    .border-radius(0.3125rem);
}

.btn-blue {
    background-color: @blue-main;
    color: white;

    &:hover {background-color: @blue-dark;}
}

.btn-red {
    background-color: @red-main;
    color: white;

    &:hover {background-color: darken(@red-main, 10%);}
}

.btn-white {
    background-color: #fff;
    color: @color-text;

    &:hover {background-color: darken(#fff, 10%);}
}

.link-blue {
    color: @blue-main;
    &:hover {color: @blue-dark;}
}

.link-red {
    color: @red-main;
    &:hover {color: darken(@red-main, 10%);}
}

.link-green {
    color: @green-dark;
    &:hover {color: darken(@green-dark, 10%);}
}

.email-form-wrap {
    display: inline-block;
    color: #fff;

    &.form-blue {
        input[type=submit] {
            .btn-blue;

            &:disabled {background-color: lighten(@blue-main, 20%);}
        }
    }

    &.form-red {
        input[type=submit] {
            .btn-red;

            &:disabled {background-color: lighten(@red-main, 20%);}
        }
    }

    .gform_body {
        float: left;
        width: 14.375rem;
    }

    .validation_message {
        padding-top: 1rem;
        white-space: nowrap;
        overflow: visible;
    }

    .gforms_confirmation_message {
        padding-top: 1rem;
    }

    .gform_footer {
        .clearfix();
        float: left;
        clear: none !important;
    }

    .ginput_container {
        .clearfix();
    }

    .gfield_required {display: none;}

    //this is for the email input field
    .medium {
        width: 14.375rem;
        height: 2.75rem;
        padding: 0.25rem 1.125rem;
        font-family: @font-secondary;
        font-weight: 300;
        color: black;
        border: none;
        outline: none;
        float: left;
        .border-radius-left(0.3125rem);
        .border-radius-right(0);
        .placeholder(#90a4ae);
    }

    .gform_button {
        float: left;
        .border-radius-right(0.3125rem);
        .border-radius-left(0);
        .btn-default;
    }

    .gform_ajax_spinner {
        display: none;
    }
}

.submit-mail {
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
    .border-radius(0.3125rem);
    .clearfix();

    .input-mail {
        width: 14.375rem;
        height: 2.75rem;
        padding: 0.25rem 1.125rem;
        font-family: @font-secondary;
        font-weight: 300;
        color: black;
        border: none;
        outline: none;
        float: left;
        .border-radius-left(0.3125rem);
        .border-radius-right(0);
        .placeholder(#90a4ae);
    }

    .btn-submit {
        float: left;
        .border-radius-right(0.3125rem);
    }
            
}

@media screen and (max-width: 380px) {
    .submit-mail {
        width: 90%;

        .input-mail {width: 63%;}
        .btn-submit {width: 37%;}
    }
}

@keyframes fadeFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeToLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-20rem);
    }
}

@keyframes fadeToRight {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(20rem);
    }
}

@keyframes fadeFromRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btn-add-form {

    &.toShow {
        animation: fadeFromRight;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &.toHide {
        animation: fadeToRight;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        cursor: default;

        @media screen and (max-width: 400) {
            animation-duration: .3s;
        }
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
}

.btn-explore-mobile {
    @media screen and (min-width: 600px) {
        display: none;
    }
}

.phone-form {
    position: absolute;
    transform: translateX(-20rem);
    opacity: 0;
    z-index: 4;
    display: none;
    // opacity: 0;
    // transform: translateX(-100%);

    @media screen and (max-width: 600px) {
        display: none !important;
    }

    &.toHide {
        display: block;
        animation: fadeToLeft;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    &.shown {
        display: block;
        animation: fadeFromLeft;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    input {
        border: 1px solid @blue-main;
        background-color: #f7f9fa;
        outline: none;
        color: @color-text;
        padding-left: 3rem;
        padding-right: 1.5rem;
        height: 2.375rem;
        font-size: 1rem;
        line-height: 2.375rem;
        float: left;
        z-index: 3;
        position: relative;
        font-family: @font-secondary;
        font-weight: 400;
        font-size: 0.875rem;
        .border-radius-left(0.3125rem);

        &.red {border-color: @red-main;}

        @media screen and (max-width: 400px) {
            width: 10rem;
            font-size: 0.8rem;
            padding: 0 0.5rem;
        }
    }

    button {
        border: none;
        outline: none;
        height: 2.375rem;
        font-weight: 700;
        font-size: 1rem;
        padding: 0 1rem;
        line-height: 2.375rem;
        float: left;
        z-index: 3;
        position: relative;
        font-family: @font-tertiary;
        font-weight: 700;
        font-size: 1rem;
        .border-radius-right(0.3125rem);

        @media screen and (max-width: 400px) {
            font-size: 0.8rem;
            padding: 0 0.5rem;
        }

        &[type=submit]:disabled {

            &.btn-blue {background-color: lighten(@blue-main, 20%);}
            
            &.btn-red {background-color: lighten(@red-main, 20%);}
        }

        &.submitted:not(.btn-flag) {
            &:before {
                content: "";
                display: block;
                position: absolute;
                left: -1.5rem;
                top: 50%;
                transform: translateY(-50%);
                width: 1.25rem;
                height: 1.25rem;
                background: @green-main url(img/ui-checkmark-thick-white.svg) no-repeat center center;
                background-size: 0.75rem;
                .border-radius(50%);
            }
        }
    }
}

//popup
.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 11;
    overflow-y: scroll;

    @media screen and (max-width: 800px) {
        overflow: hidden;
    }

    .popup-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        .icon-cancel {
            display: inline-block;
            background: url(img/icon-cancel-blue.svg) no-repeat center center;
            width: 2rem;
            height: 2rem;
        }
    }

    &.form-submitted .popup-inner {

        @media screen and (max-width: 800px) {
            width: 80%;
            margin: 2rem auto;
            -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
            box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
            .border-radius(0.3125rem);
            overflow: hidden;
        }
    }

    .popup-inner {
        position: relative;
        box-sizing: border-box;
        padding: 1rem;
        width: 43.75rem;
        margin: 4% auto;
        background: #fff;
        text-align: center;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;

        @media screen and (min-width: 800px) {
            -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
            box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.15);
            .border-radius(0.3125rem);
        }

        @media screen and (max-width: 800px) {
            width: 100%;
            margin: 0 auto;
            max-height: 100vh;
            overflow-y: scroll;
        }

        .after-submit {padding: 5rem 0 4rem;}
    }

    .img-wrap {
        text-align: center;
        margin-top: 1rem;
    }

    p {
        margin: 1rem auto 2rem;
        font-family: @font-primary;
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: -0.09rem;
    }

    .popup-form-wrap {

        .gform_ajax_spinner {
            display: none;
        }

        &.customers-form {
            input[type=submit] {
                .btn-blue;

                &:disabled {background-color: lighten(@blue-main, 20%);}
            }
        }

        &.jobseekers-form {
            input[type=submit] {
                .btn-red;

                &:disabled {background-color: lighten(@red-main, 20%);}
            }
        }

        .gfield_required {display: none;}

        input:not([type=submit]), textarea {
            display: inline-block;
            width: 23.125rem;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1rem;
            padding: 0.5rem 1rem;
            margin: 0.75rem 0;
            border: 1px solid #cfd8dc;
            box-shadow: 0px 0px 0.25rem 0.125rem rgba(0, 0, 0, 0.09);
            .border-radius(0.25rem);

            &:active, &:focus {
                box-shadow: 0px 0px 0.25rem 0.125rem fade(@blue-main, 10%);
            }

            @media screen and (max-width: 800px) {
                width: 370px;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (max-width: 380px) {
                width: 100%;
            }
        }

        textarea {
            resize: vertical;
            height: 10rem;
        }

        input[type=submit] {
            display: inline-block;
            margin: 1rem 0;
            padding: 0.75rem 2.5rem;
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 1rem;
            border: none;
            outline: none;
            box-sizing: border-box;
            box-shadow: 0px 0px 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
            .border-radius(0.25rem);
        }
    }
}

.select-country {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.75rem;
    height: 0.875rem;
    float: left;
    position: relative;
    margin-right: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    z-index: 5;

    &.flagName-usa, .flagName-usa {
        background-image: url("img/flag-usa.svg");
        background-size: 2rem auto;
    }

    &.flagName-can, .flagName-can {
        background-image: url("img/flag-canada.svg");
        background-size: 2rem auto;
    }

    &.flagName-bul, .flagName-bul {
        background-image: url("img/flag-bul.svg");
        background-size: 2rem auto;
    }

    .arrow-down {
        width: 100%;
        height: 1.625rem;
        background: transparent url("img/ui-arrow-line-down-blue.svg") no-repeat top center;
        background-size: 0.5rem auto;
        margin-top: 1rem;
    }

    .select-country-popup {
        display: none;
        width: 2.5rem;
        padding: 1rem 10% 0 10%;
        -webkit-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
        background-color: #fff;
        position: absolute;
        top: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        .border-radius(0.625rem);

        .btn-flag {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 1.1875rem auto;
            padding: 0;
            width: 2rem;
            height: 1.25rem;
            margin-bottom: 0.25rem;
        }
    }
}

// 404 page and animations
@keyframes fadeIn {
    0% {opacity: 0;}

    100% {opacity: 1;}
}

@keyframes expandHole {
    0% {transform: translateX(-50%) scaleX(0);}

    100% {transform: translateX(-50%) scaleX(1);}
}

@keyframes expandArrow {
    0% {transform: scaleY(0);}

    100% {transform: scaleY(1);}
}

.page-404 {
    position: relative;
    background: url(img/bg-404.jpg) repeat-x;
    height: 40rem;

    @media screen and (max-width: 800px) {
        height: 35rem;
    }

    @media screen and (max-width: 400px) {
        height: 30rem;
    }

    .content-wrap {
        // position: absolute;
        // top: 0;
        // right: 0;
        // bottom: 0;
        // left: 0;

        @media screen and (max-width: 800px) {
            margin: 0 auto;
        }

        h1 {
            padding-top: 2rem;
            font-size: 8rem;
            line-height: 8rem;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;

            @media screen and (max-width: 450px) {
                font-size: 4rem;
                line-height: 4rem;
            }
        }

        .monster {
            position: absolute;
            right: 15rem;
            bottom: 10%;
            background: url(img/404-monster.png) no-repeat center center/contain;
            width: 574px;
            height: 474px;

            @media screen and (max-width: 1600px) {
                right: 6.5rem;
            }

            @media screen and (max-width: 1200px) {
                right: 2rem;
                bottom: 6rem;
                width: 400px;
                height: 360px;
            }

            @media screen and (max-width: 960px) {
                display: none;
            }
        }

        .inner-wrap {
            position: absolute;
            left: 20%;
            bottom: 12rem;
            font-size: 1.75rem;
            color: #fff;
            text-align: center;
            text-transform: uppercase;

            @media screen and (max-width: 1400px) {
                left: 5rem;
            }

            @media screen and (max-width: 800px) {
                left: 0;
                right: 0;
            }

            @media screen and (max-width: 450px) {
                font-size: 1.5rem;
            }

            p {
                font-weight: 700;
                color: #0f424d;
                font-family: @font-tertiary;
                letter-spacing: -0.08rem;
                opacity: 0;
                animation: fadeIn .3s linear .3s 1 normal forwards;
            }

            .semi-link {
                font-weight: 700;
                display: inline-block;
                margin-top: 1rem;
                padding: 0.25rem 0.75rem;
                color: #fff;
                background-color: #e66400;
                position: relative;
                opacity: 0;
                animation: fadeIn .3s linear .3s 1 normal forwards;
                z-index: 2;
            }

            .arrow {
                position: relative;
                transform-origin: 50% 0;
                transform: scaleY(0);
                animation: expandArrow .3s linear .3s 1 normal forwards;
                //body of the arrow
                &:before {
                    content: "";
                    background-color: #e66400;
                    width: 15px;
                    height: 80px;
                    position: absolute;
                    bottom: -80px;
                    left: 50%;
                    transform: translateX(-50%);

                    @media screen and (max-width: 800px) {
                        height: 50px;
                        bottom: -50px;
                    }
                }

                //head of the arrow
                &:after {
                    content: "";
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                    border-top: 25px solid #e66400;
                    position: absolute;
                    bottom: -100px;
                    left: 50%;
                    transform: translateX(-50%);

                    @media screen and (max-width: 800px) {
                        bottom: -70px;
                    }
                }
            }

            .hole {
                // display: none;
                width: 232px;
                height: 100px;
                position: absolute;
                bottom: -140px;
                left: 50%;
                border-radius: 50%;
                overflow: hidden;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
                transform: translateX(-50%) scaleX(0);
                animation: expandHole .3s linear .6s 1 normal forwards;
                // z-index: 1;
                // transform: scaleX(1);

                @media screen and (max-width: 800px) {
                    width: 182px;
                    height: 75px;
                    bottom: -100px;
                }

                .top {
                    width: 232px;
                    height: 100px;
                    background-color: #408292;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    @media screen and (max-width: 800px) {
                        width: 182px;
                        height: 75px;
                    }
                }

                .bottom {
                    width: 232px;
                    height: 100px;
                    background-color: #10424d;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 1.5rem;
                    @media screen and (max-width: 800px) {
                        width: 182px;
                        height: 75px;
                    }
                }
            }
        }
    }
}