.container-full {
	max-width: 1600px;
	margin: 0 auto;
}

.grid {
	padding-left: 1rem;
	padding-right: 1rem;
	
	.row {
		position: relative;
		margin-left: -1rem;
		margin-right: -1rem;

		.clearfix();

		@media screen and (max-width: 800px) {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.third {
		width: 33.333333%;
		float: left;
		padding-left: 1rem;
		padding-right: 1rem;
		min-height: 1px;

		@media screen and (max-width: 800px) {
			width: 100%;
			float: none;
		}
	}

	.most {
		width: 66.666666%;
		float: left;
		padding-left: 1rem;
		padding-right: 1rem;
		min-height: 1px;

		@media screen and (max-width: 800px) {
			width: 100%;
			float: none;
		}
	}

	.half {
		width: 50%;
		float: left;
		padding-left: 1rem;
		padding-right: 1rem;
		min-height: 1px;

		@media screen and (max-width: 800px) {
			width: 100%;
			float: none;
		}
	}
}