.jobseekers-explore {
	background: transparent url(img/bg-map.jpg) no-repeat center bottom;
	background-size: cover;
	padding: 0 0 6.625rem 0;
    text-align: center;

    .top-part {
    	padding-top: 4.375rem;
    	padding-bottom: 2rem;
    	background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1));

    	@media screen and (max-width: 800px) {
    		padding-bottom: 0;
    	}
    }

	.img-logo {
        height: auto;
        width: 18.75rem;
        max-width: 80%;
    }

    h2 {padding-top: 1rem;}

    .bottom-part {
	    min-height: 42.125rem;
	    padding-top: 4.375rem;
	    overflow-x: hidden;
	    .clearfix();

	    @media screen and (max-width: 800px) {
	    	padding-top: 0;
	    }

	    .col-1, .col-2 {
	        min-height: 45.125rem;
	        float: left;
	    }

	    .col-1 {
	        background: transparent url(img/bg-phone2.png) no-repeat right bottom;
	        width: 38.4%;
	        position: relative;

	        @media screen and (max-width: 840px) {
	        	background: none;
	        	width: 100%;
	        	height: 45.125rem;

	        	&:after {
	        		background: transparent url(img/bg-phone2.png) no-repeat left;
	        		background-size: auto 100%;
	        		width: 38.4%;
	        		position: absolute;
	        		content: "";
	        		bottom: 0;
	        		left: 50%;
	        		transform: translateX(-50%);
	        		display: block;
	        		height: 45.125rem;
	        		width: 42.5rem;
	        	}
	        }
	    }

	    .col-2 {
	        width: 61.6%;
	        padding-top: 11.875rem;
	        text-align: center;

	        @media screen and (max-width: 840px) {
	        	width: 100%;
	        	padding-top: 0;
	        	min-height: 0;
	        }

	        .white-part {
	        	background: rgba(255, 255, 255, 0.6);
	        	box-sizing: border-box;
	        	width: 60%;
	        	min-width: 28rem;
	        	margin: 0 auto;
	        	padding: 1rem 1rem 3rem;
	        	.border-radius(0.3125rem);

	        	@media screen and (max-width: 600px) {
	        		min-width: 0;
	        		width: 100%;
	        		padding: 1rem 2rem 3rem;
	        	}

	        	.form-wrap {
			        // width: 50%;
			        display: inline-block;
			        // margin: 0 auto;
			        position: relative;
			        min-width: 24rem;

			        @media screen and (max-width: 800px) {
			        	min-width: 0;
			        }

			        .phone-form {
			            // display: inline-block;
			            // position: relative;
			        }
			    }
	        }

	        p {
	            padding: 1.5rem 0 3rem 0;
	            font-size: 2rem;
	            line-height: 2.125rem;
	            letter-spacing: -0.08rem;
	        }

	        .img-phone {
	            display: none;
	            height: 45.125rem;
	            position: relative;

	            @media screen and (max-width: 390px) {
	            	height: 100vh;
	            }

	            &:after {
	                content: "";
	                background: transparent url(img/bg-phone2.png) no-repeat left bottom;
	                background-size: auto 100%;
	                width: 42.25rem;
	                height: 100%;
	                position: absolute;
	                top: 0;
	                left: 50%;
	                -webkit-transform: translateX(-50%);
	                transform: translateX(-50%);
	            }
	        }
	    }

	    .btn-explore {
	        -webkit-box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
	        -moz-box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
	        box-shadow: 0px 4px 16px 2px rgba(0,0,0,0.15);
	        .border-radius(0.3125rem);
	    }
    }
}

.jobseekers-how-works.customers-how-works {
	background: transparent url(img/bg-workers.jpg) no-repeat center top;
	background-size: 98.25rem auto;

	@media screen and (min-width: 1572px) {
	    background-size: 100% auto;
	}

	@media screen and(max-width: 800px) {
		background-size: auto 100%;
	}

	.steps-icon {

		&.first {
            background: rgba(71, 244, 181, 0.5) url(img/icon-jobseekers-step1.svg) no-repeat center center;
            background-size: auto 4.4375rem;
        }

        &.second {
            background: rgba(71, 244, 181, 0.5) url(img/icon-jobseekers-step2.svg) no-repeat center center;
            background-size: auto 4.5625rem;
        }

        &.third {
            background: rgba(71, 244, 181, 0.5) url(img/icon-jobseekers-step3.svg) no-repeat center center;
            background-size: auto 4.4375rem;
        }
    }
}

.jobseekers-meet-gj.customers-meet-gj {

    .big-icon {

    	width: 15.625rem;
        height: 13.625rem;
        font-family: @font-tertiary;
        font-size: 1.25rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
        text-align: center;
        margin: 0 auto;
        position: relative;
        .border-radius(0);

        &:after {
            content: none;
            width: 20.25rem;
            height: 20.25rem;
            background: transparent url(img/bg-shadow-big.png) no-repeat right top;
            background-size: 100%;
            position: absolute;
            top: 1rem;
            right: 2.5rem;
        }

        &:before {
        	content: none;
            position: absolute;
        }

        &.speed {
            background: url(img/icon-jobseekers-speed.svg) no-repeat;
            background-size: 15rem;
            color: @blue-main;
        }

        &.advocate {
            background: url(img/icon-jobseekers-advocate.svg) no-repeat center center;
            background-size: 100%;
            color: @red-main;

            &:after {
            	top: 1.25rem;
            	right: 2.15rem;
            }
        }

        &.choice {
            background: url(img/icon-jobseekers-choice.svg) no-repeat center center;
            background-size: 100%;
            color: @green-main;

            &:after {
            	right: 2.125rem;
            }
        }

        &.visibility {
            background: url(img/icon-jobseekers-visibility.svg) no-repeat center center;
            background-size: 120%;
            color: @yellow-main;
        }

        span {
            display: block;
            white-space: nowrap;
            position: absolute;
            // top: 12rem;
            bottom: -2.25rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}

.jobseekers-rewards {
	padding: 3rem 0 6rem;
	background: url(img/bg-crissxcross.jpg) center center;
	text-align: center;

	p {
		padding: 1rem 0;
		font-size: 1.5rem;
		line-height: 2.125rem;

		&.bold {font-weight: 700;}

		&.top-txt {padding-bottom: 4rem;}
	}

	.full {
		.clearfix();
		padding: 0 15px;
		box-sizing: border-box;
	}

	.row {
		box-sizing: border-box;
		margin-left: -15px;
		margin-right: -15px;
		.clearfix();
	}

	.fourth {
		box-sizing: border-box;
		display: block;
		width: 25%;
		float: left;
		padding: 0 15px;

		@media screen and (max-width: 800px) {
			width: 100%;
		}
	}

	.item-wrap {
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 1rem;
		line-height: 1.5rem;
		letter-spacing: -0.02rem;

		h4 {padding-bottom: .5rem;}

		p {min-height: 8.375rem;}

		img {
			transform: translateX(-1.15rem);
			max-width: 100%;
		}
	}
}

.jobseekers-jobs.customers-jobs {

	.job-tile {
		display: block;
		cursor: pointer;
	}
}

.jobseekers-contact {
	background: url(img/bg-shattered-blue.jpg) center center;
    min-height: 18.875rem;
    text-align: center;

    h2 {padding: 5.375rem 1.5rem 1.75rem 1.5rem;}

    .email-form-wrap {margin-bottom: 4.5rem;}
}