.jobs-listing {
	padding: 1rem 0 2rem;
}

.job-single {
	width: 1180px;
	padding: 1rem 0;
	box-sizing: border-box;
	margin: 4rem auto 2rem;

	@media screen and (max-width: 1200px) {
		width: 780px;
	}

	@media screen and (max-width: 800px) {
		width: 100%;
	}

	.content {
		padding: 0 2rem;
	}

	.job-icon-wrap {
		text-align: center;
		position: relative;
		margin: 2rem 0 2rem;

		.shadow {
			background: url(img/job-icon-shadow.png) no-repeat center center/contain;
			width: 196px;
			height: 196px;
			position: absolute;
			left: 50%;
			bottom: -78px;
			transform: translateX(-70%);
			z-index: -1;
		}

		.stars {
			background: url(img/job-icon-stars.png) no-repeat center center/contain;
			width: 210px;
			height: 143px;
			position: absolute;
			left: 50%;
			bottom: 15px;
			transform: translateX(-50%);
		}
	}

	.description {
		text-align: center;
		font-size: 1.5rem;
		line-height: 2.25rem;
		letter-spacing: -0.056rem;
		color: @gray-main;
		padding: 2rem 0;
	}

	.btn-wrap {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.0625rem;

		a {
			letter-spacing: -0.06rem;
			&:after {
				content: '';
				display: inline-block;
				width: 12px;
				height: 12px;
				margin-left: 0.75rem;
				background: url(img/icon-arrow-right-full-blue.svg) no-repeat center center;
			}
		}
	}
}

.top-wrap {
	background: linear-gradient(to bottom, #fff, #f9f9f9, #f1f1f1);
	padding-bottom: 0.5rem;
	border-bottom: 1px solid #e6e6e6;
}

.job-details {

	.separator-blue {
		border-color: @blue-main;
		width: 5rem;
		margin: 2rem auto 4rem;
	}

	.owl-container {
		position: relative;
		margin-top: 2rem;
		margin-bottom: 2rem;

		@media screen and (max-width: 800px) {
			width: 100%;
		}
	}
	
	.custom-controls {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		@media screen and (max-width: 800px) {
			display: none;
		}

		.slide-next,
		.slide-prev {
			width: 3rem;
			height: 3rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			cursor: pointer;
			border: 2px solid @blue-dark;
			.border-radius(50%);
		}

		.slide-next {
			right: -4rem;
		}

		.slide-prev {
			left: -4rem;
		}
	}

	.slide {
		position: relative;

		.caption {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: fade(@color-text, 80%);
			color: #fff;
			text-align: center;
			padding: 1.25rem 0;
			font-family: @font-secondary;
			font-weight: 300;
			font-size: 1.125rem;
			line-height: 1.4375rem;
		}
	}

	.owl-carousel .owl-dots {margin-top: 2rem;}
}

.job-additional-info {

	width: 1180px;
	padding: 1rem 2rem;
	box-sizing: border-box;
	margin: 4rem auto 2rem;

	@media screen and (max-width: 1200px) {
		width: 780px;
	}

	@media screen and (max-width: 800px) {
		width: 100%;
	}

	.additional-info {
		margin-top: 6rem;
	}

	.info-block {

		.img-wrap {
			text-align: center;

			img {
				width: 16.25rem;

				@media screen and (max-width: 800px) {
					margin: 1rem 0 1rem;
				}
			}
		}

		.text-part {
			margin: 1rem 0 2rem;

			h4 {
				margin: 0 0 0.5rem;

				@media screen and (max-width: 800px) {
					text-align: center;
				}
			}

			p {
				margin: 1rem 0;
				font-family: @font-secondary;
				font-weight: 300;
				font-size: 1rem;
				line-height: 1.65rem;
				letter-spacing: -0.027rem;

				@media screen and (max-width: 800px) {
					text-align: center;
				}
			}

			&.p-checked p {
				position: relative;
				padding-left: 2rem;

				@media screen and (max-width: 800px) {
					text-align: left;
				}

				&:before {
					position: absolute;
					left: 0rem;
					display: inline-block;
					content: '';
					width: 25px;
					height: 25px;
				}
			}

			&.p-checked.checked-yellow p:before {
				background: url(img/icon-checkmark-circled-yellow.svg) no-repeat left center/contain;
			}

			&.p-checked.checked-blue p:before {
				background: url(img/icon-checkmark-circled-blue.svg) no-repeat left center/contain;
			}
		}
	}
}

.cta-section {
	padding: 4rem 0;
	background: linear-gradient(to right, #00e48e, #00ed44, #00e68e);
	text-align: center;

	h2 {
		margin-bottom: 2rem;
		line-height: 3.5rem;
	}

	.btn-wrap {
		text-align: center;

		a {
			-webkit-transition: all .3s ease;
			transition: all .3s ease;
		}
	}
}