html {
    height: 100%;

    @media screen and (max-width: 800px) {
        font-size: 70%;
    }
}

body {
    min-height: 100%;
	font-family: @font-primary;
	color: @color-text;
    position: relative;
    padding-top: 4.375rem;

    &.popup-overlayed {
        overflow: hidden;

        @media screen and (min-width: 800px) {
            padding-right: 15px;
        }
    }

    @media screen and (max-width: 800px) {
        &.overlayed {overflow: hidden;}
    }

    &.error404 {
        padding-top: 0;
    }
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
    color: @color-text;
    text-decoration: none;
    cursor: pointer;
    .transition-variant(color, 0.2s, ease);
}

b {
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 4.5rem;
    letter-spacing: -0.3rem;
    text-align: center;

    &.white {
        font-weight: 400;
        color: white;
    }
}

h2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 4.5rem;
    letter-spacing: -0.3rem;
    text-align: center;

    &.white {
        font-weight: 400;
        color: white;
    }
}

h3 {
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -0.07rem;
    text-align: center;

    &.white {
        font-weight: 700;
        color: white;
    }
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.07rem;

    &.white {color: white;}
}

.site-header {
    height: 4.375rem;
    padding: 1rem 2.75rem;
    -webkit-box-shadow: 0 1px 2px 0px rgba(31,45,61,0.15);
    -moz-box-shadow: 0 1px 2px 0px rgba(31,45,61,0.15);
    box-shadow: 0 1px 2px 0px rgba(31,45,61,0.15);
    background: fade(#fff, 80%);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    .clearfix();
    .transition-variant(background, .3s, ease);

    @media screen and (max-width: 800px) {
        padding: 1rem;
    }

    .btn-explore {
        height: 2.375rem;
        font-size: 1rem;
        line-height: 2.375rem;
        float: left;
        .border-radius(0.3125rem);
        z-index: 3;
        position: relative;
    }

    &.mobile-nav-opened {

        @media screen and (max-width: 800px) {
            // background: #fff;

            .btn-explore {
                display: none;
            }

            .nav-ul {
                overflow-y: scroll;
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}

.site-footer {
    background: #546e7a url(img/bg-footer.png) repeat left top;
    background: url(img/bg-footer.png) repeat left top, -webkit-linear-gradient(#546e7a, #485e69);
    background: url(img/bg-footer.png) repeat left top, -moz-linear-gradient(#546e7a, #485e69);
    background: url(img/bg-footer.png) repeat left top, linear-gradient(#546e7a, #485e69);
    min-height: 18.875rem;
    padding: 4rem 14.5%;
    .clearfix();

    .col-1 {
        width: 38%;
        float: left;
    }

    .col-2 {
        width: 38%;
        padding-left: 11%;
        float: left;

        @media screen and (min-width: 800px) {
            padding-top: 3rem;
        }

        a {
            display: table;
            font-size: 1.5rem;
            font-weight: 700;
            color: white;
            margin-bottom: 1.125rem;
        }
    }

    .col-3 {
        width: 24%;
        float: left;

        @media screen and (min-width: 800px) {
            padding-top: 3rem;
        }
    }

    h3 {
        padding-bottom: 0.75rem;
        text-align: left;
    }

    h4 {padding-bottom: 0.875rem;}

    .gj-txt,
    .copyright-txt {
        font-family: @font-secondary;
        font-size: 0.875rem;
        font-weight: 300;
        color: white;
        line-height: 1.5625rem;
    }

    .copyright-txt {padding-top: 2rem;}

    .soc-med-link {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        margin-right: 0.375rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .copyright {
        position: relative;
        padding-top: 1.25rem;
        height: 4.375rem;
        width: 100%;
        box-sizing: border-box;

        @media screen and (max-width: 900px) {
            height: auto;
        }
        
        .left-part {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 76%;

            @media screen and (max-width: 900px) {
                width: 100%;
                position: relative;
            }

            @media screen and (max-width: 400px) {
                br {display: none;}
            }
        }

        .right-part {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 24%;

            @media screen and (max-width: 900px) {
                position: relative;
                padding-top: 1rem;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 1140px) {
    .site-footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 900px) {
    .site-footer {
        .col-2 {
            width: 32%;
            padding-left: 6%;
        }
        .col-3 {width: 28%;}
    }
}

// main breakpoint for small resolutions
@media screen and (max-width: 800px) {

    .site-footer {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        .col-1 {
            width: 100%;
            padding-bottom: 2.5rem;
        }
        .col-2 {
            width: 50%;
            padding-left: 0;
        }
        .col-3 {width: 50%;}
    }
}

@media screen and (max-width: 460px) {
    .site-footer {
        .col-2 {
            width: 100%;
            padding-bottom: 2.5rem;
        }
        .col-3 {width: 100%;}
    }
}