.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
       clear: both;
    }
}

.placeholder(@color) {
    &:-moz-placeholder {
        color: @color;
    }
    &:-ms-input-placeholder {
        color: @color;
    }
    &::-webkit-input-placeholder {
        color: @color;
    }
}

// Border radius
.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.border-radius-left(@radius) {
    -webkit-border-bottom-left-radius: @radius;
    -webkit-border-top-left-radius: @radius;
    -moz-border-radius-bottomleft: @radius;
    -moz-border-radius-topleft: @radius;
    border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
}

.border-radius-right(@radius) {
    -webkit-border-bottom-right-radius: @radius;
    -webkit-border-top-right-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    -moz-border-radius-topright: @radius;
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
}

.border-radius-top(@radius) {
    -webkit-border-top-right-radius: @radius;
    -webkit-border-top-left-radius: @radius;
    -moz-border-radius-topright: @radius;
    -moz-border-radius-topleft: @radius;
    border-top-right-radius: @radius;
    border-top-left-radius: @radius;
}

.border-radius-bottom(@radius) {
    -webkit-border-bottom-right-radius: @radius;
    -webkit-border-bottom-left-radius: @radius;
    -moz-border-radius-bottomright: @radius;
    -moz-border-radius-bottomleft: @radius;
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
}

// Transitions
.transition-variant(@property, @duration, @timing-function) {
    -webkit-transition: @property @duration @timing-function;
    -moz-transition: @property @duration @timing-function;
    -o-transition: @property @duration @timing-function;
    transition: @property @duration @timing-function
}

.transition-double(@property1, @property2, @duration, @timing-function) {
    -webkit-transition-property: @property1 @property2;
    -moz-transition-property: @property1 @property2;
    -o-transition-property: @property1 @property2;
    transition-property: @property1 @property2;
    -webkit-transition-duration: @duration;
    -moz-transition-duration: @duration;
    -o-transition-duration: @duration;
    transition-duration: @duration;
    -webkit-transition-timing-function: @timing-function;
    -moz-transition-timing-function: @timing-function;
    -o-transition-timing-function: @timing-function;
    transition-timing-function: @timing-function;
}
