nav {
    position: relative;
    .clearfix();

    @media screen and (max-width: 800px) {}

    .circle{ 
        border-radius: 50%;
        width: 0px;
        height: 0px; 
        position:absolute;
        top: 22px;
        right: 26px;
        background:#fff;
        opacity:1;
        -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
           -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
             -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    }
    .circle.expand{
        width: 1600px;
        height: 1600px;
        top: -560px;
        right: -565px;
        -webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
           -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
            -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
             -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
                transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);

        @media screen and (max-width: 600px) {
            width: 1400px;
            height: 1400px;
        }

        @media screen and (min-width: 800px) {
            width: 0;
            height: 0;
        }
    }

    .menu-toggle {
        display: none;
        position: relative;
        float: right;
        height: 30px;
        width: 40px;
        cursor: pointer;

        .x,
        .y,
        .z {
            position: absolute;
            top: 0px; bottom: 0px;
            height: 3px; width: 26px;
            background: @blue-dark;
            border-radius:2px;
            -webkit-transition: all 200ms ease-out;
               -moz-transition: all 200ms ease-out;
                -ms-transition: all 200ms ease-out;
                 -o-transition: all 200ms ease-out;
                    transition: all 200ms ease-out;
        }

        .x {top: 6px;}

        .y {top: 14px;}

        .z {top: 22px;}

        .collapse{
            top: 14px;
            background: @blue-dark;
            -webkit-transition: all 70ms ease-out;
               -moz-transition: all 70ms ease-out;
                -ms-transition: all 70ms ease-out;
                 -o-transition: all 70ms ease-out;
                    transition: all 70ms ease-out;
        }

        .rotate30{
            -ms-transform: rotate(30deg); 
            -webkit-transform: rotate(30deg); 
            transform: rotate(30deg);   
            -webkit-transition: all 50ms ease-out;
               -moz-transition: all 50ms ease-out;
                -ms-transition: all 50ms ease-out;
                 -o-transition: all 50ms ease-out;
                    transition: all 50ms ease-out;
        }
        .rotate150{
            -ms-transform: rotate(150deg); 
            -webkit-transform: rotate(150deg); 
            transform: rotate(150deg);  
            -webkit-transition: all 50ms ease-out;
               -moz-transition: all 50ms ease-out;
                -ms-transition: all 50ms ease-out;
                 -o-transition: all 50ms ease-out;
                    transition: all 50ms ease-out;
        }
        
        .rotate45{
            -ms-transform: rotate(45deg); 
            -webkit-transform: rotate(45deg); 
            transform: rotate(45deg);   
            -webkit-transition: all 100ms ease-out;
               -moz-transition: all 100ms ease-out;
                -ms-transition: all 100ms ease-out;
                 -o-transition: all 100ms ease-out;
                    transition: all 100ms ease-out;
        }
        .rotate135{
            -ms-transform: rotate(135deg); 
            -webkit-transform: rotate(135deg); 
            transform: rotate(135deg);  
            -webkit-transition: all 100ms ease-out;
               -moz-transition: all 100ms ease-out;
                -ms-transition: all 100ms ease-out;
                 -o-transition: all 100ms ease-out;
                    transition: all 100ms ease-out;
        }

        @media screen and (max-width: 800px) {
            display: inline-block;
        }
    }

    ul {
        float: right;
        display: inline-block;
        box-sizing: border-box;

        @media screen and (max-width: 800px) {
            position: fixed;
            margin: 4.375rem 0 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: all .3s ease;
            text-align: center;
            transform: scale(0);
            transform-origin: 50% 0%;
            opacity: 0;
        }

        &.ul-blue {

            a {
                color: @blue-main;

                &:before {
                    background-color: @blue-main;
                }

                &:hover {
                    color: @blue-dark;

                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        &.ul-red {

            a {
                color: @red-main;

                &:before {
                    background-color: @red-main;
                }

                &:hover {
                    color: darken(@red-main, 10%);

                    &:before {
                        width: 100%;
                    }
                }
            }
        }

        &.nav-ul {

            .current-menu-item {

                a {

                    &:before {
                        width: 100%;
                        display: inline-block;
                    }
                }
            }

            a {
                position: relative;

                &:hover {

                    &:before {
                        width: 100%;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1rem;
                    width: 0%;
                    height: 2px;
                    -webkit-transition: width .3s ease;
                    transition: width .3s ease;

                    @media screen and (max-width: 800px) {
                        bottom: 1rem;
                        display: none;
                        background-color: @blue-dark;
                    }
                }
            }
        }
    }

    li {
        display: inline-block;

        @media screen and (max-width: 800px) {
            display: block;
        }

        &:last-child {
            a {border-bottom: none;}
        }

        a {
            margin: 0 2rem;
            display: inline-block;
            font-family: @font-secondary;
            font-weight: 300;
            line-height: 2.375rem;
            letter-spacing: -0.02rem;

            @media screen and (max-width: 800px) {
                font-family: @font-tertiary;
                font-size: 2.5rem;
                color: @blue-dark !important;
                text-align: center;
                text-transform: none;
                margin: 0;
                padding: 2rem 2rem;

                img {display: block;}
            }

            &:hover {color: @green-light;}
        }
    }
}