// Colors
@color-text: #212121;

@blue-main: #00aef3;
@blue-light: #7abbfc;
@blue-dark: #0097d3;

@green-main: #00ed97;
@green-light: #00dd8d;
@green-dark: #00ad6e;

@red-main: #f8576e;

@yellow-main: #fbce00;

@gray-main: #8d8f92;
@gray-light: #d8d8d8;

// Typography
@font-primary: 'Quicksand', sans-serif;
@font-secondary: 'Nunito', sans-serif;
@font-tertiary: 'Comfortaa', cursive;
