.popup-wsf-wrap {
	height: 100vh;
	background: #3b3f45;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	overflow-y: scroll;

	&.shown {
		display: block;
	}

	h2 {
		letter-spacing: normal;

		@media screen and (max-width: 800px) {
			font-size: 2rem;
		}
	}

	.container {
		height: 100%;

		*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
		.clearfix:before, .clearfix:after { content: ''; display: table; }
		.clearfix:after { clear: both; }

		a {
			color: rgba(0,0,0,0.3);
			text-decoration: none;
			outline: none;
		}

		a:hover, a:focus {
			color: #fff;
		}
	}

	.additional-info {
		font-size: 1.25rem;

		.blue {
			color: @blue-main;
		}

		.red {
			color: @red-main;
		}

		.green {
			color: @green-main;
		}

		.gray {
			color: @gray-main;
		}
	}

	.single-day {
		display: inline-block;

		input {
			display: none;
		}

		.day-wrap {
			display: block;
			margin: 1rem 0.5rem;
			padding: 0 0.5rem;
			text-align: center;
			cursor: pointer;

			&.unchecked {
				.day-num {
					background-color: @gray-light;
					color: @color-text;
				}
			}

			&.shift-1 {
				.day-num {
					background-color: @blue-main;
					color: #fff;
				}
			}

			&.shift-2 {
				.day-num {
					background-color: @red-main;
					color: #fff;
				}
			}

			&.shift-3 {
				.day-num {
					background-color: @green-main;
					color: #fff;
				}
			}
		}

		.day-name,
		.day-num {
			display: block;
			user-select: none;
		}

		.day-name {
			margin-bottom: 0.25rem;
			font-size: 1rem;
			color: #fff;
		}

		.day-num {
			width: 2.5rem;
			height: 2.5rem;
			line-height: 2.5rem;
			.border-radius(50%);
			// transition: background-color .2s ease, color .2s ease;
			font-family: @font-tertiary;
			font-size: 1.25rem;
		}
	}
}

header.custom-wsf {
	nav {
		width: 100%;
		text-align: center;

		ul {
			float: none;

			a {
				line-height: normal;
			}
		}
	}
}

.intro-wsf {
	background: url(img/intro-wsf.jpg) no-repeat center center/cover;
	padding: 6rem 0;

	.container-full {
		max-width: 1600px;
		margin: 0 auto;
	}

	h1, h2, p {
		color: #fff;
		text-align: left;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	}

	h1 {
		font-family: @font-tertiary;
		font-weight: 700;
		font-size: 3.125rem;
		letter-spacing: normal;
	}

	h2 {
		padding: 1rem 0;
		font-family: @font-primary;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1.75rem;
		letter-spacing: normal;
	}

	p {
		font-size: 1rem;
		margin-bottom: 2rem;
	}
}

.additional-wsf {
	border-bottom: 1rem solid @blue-light;

	.section-title {
		margin: 3rem 0 1rem;
		font-family: @font-secondary;
		font-size: 1.5rem;
		color: @blue-light;
	}

	.hired-excerpt {
		max-height: 25rem;
		overflow-y: scroll;
	}

	.person {
		position: relative;
		padding: 1rem 0 1rem 3rem;
		border: 1px solid @gray-main;
	}

	.signed-num {
		position: absolute;
		top: 50%;
		left: 1rem;
		transform: translateY(-50%);

		@media screen and (max-width: 800px) {
			position: relative;
			transform: none;
			display: inline-block;
		}
	}

	.details-wrap {
		position: absolute;
		top: 50%;
		left: 3rem;
		transform: translateY(-50%);

		@media screen and (max-width: 800px) {
			position: relative;
			transform: none;
			display: inline-block;
			transform: translateY(0.5rem);
		}
	}

	.person-name {
		margin-top: 0;
		margin-bottom: 0;
		// font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size: 1rem;
		letter-spacing: normal;
		color: @gray-main;
		text-align: left;

		.new-handle {display: none;}

		&.new {

			.new-handle {
				display: inline-block;
				font-family: @font-primary;
				font-weight: 700;
				font-size: 0.875rem;
				color: @green-main;
			}
		}
	}

	.location {
		font-family: @font-secondary;
		font-weight: 300;
		font-style: italic;
		font-size: 0.875rem;
		color: @gray-main;
	}

	.availability {
		font-family: @font-primary;
		font-size: 0.875rem;
		color: @gray-main;

		@media screen and (max-width: 800px) {
			margin-top: 1rem;
		}
	}

	.day-wrap {

		.day {
			display: inline-block;
			margin: 0.25rem 0;
			padding-top: 0.2rem;
			width: 1.25rem;
			height: 1.25rem;
			font-size: 0.875rem;
			color: @color-text;
			background-color: @gray-light;
			text-align: center;
			.border-radius(50%);

			&.marked {
				color: #fff;
				background-color: @blue-light;
			}
		}
	}

	.job-wrap {
		width: 360px;
		margin: 2rem auto;

		@media screen and (max-width: 420px) {
			width: 100%;
		}

		.job-name {
			margin-bottom: 0;
			padding: 1.5rem 0;
			font-family: @font-secondary;
			font-size: 1.125rem;
			color: #fff;
			background-color: @red-main;
			letter-spacing: normal;
			text-transform: uppercase;
		}

		.job-description {
			margin-top: 0;
			padding: 1rem 2rem;
			font-size: 1rem;
			border: 2px solid @gray-light;
			border-top: none;
		}
	}

	.shift-wrap {
		width: 360px;
		margin: 0 auto 2rem;

		@media screen and (max-width: 420px) {
			width: 100%;
		}

		h4 {
			color: @blue-main;
			font-family: @font-secondary;
			font-weight: 300;
			font-size: 1.25rem;
		}

		p {
			position: relative;
			margin: 0.5rem 0;
			font-size: 1rem;
			padding-left: 1rem;

			&:before {
				content: "";
				display: inline-block;
				width: 0.5rem;
				height: 0.5rem;
				position: absolute;
				left: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				.border-radius(50%);
			}

			&.am:before {
				background-color: @blue-main;
			}

			&.mid:before {
				background-color: @red-main;
			}

			&.pm:before {
				background-color: @green-main;
			}
		}
	}
}