@font-face {
  font-family: "Berlingske Sans";
  src: url('fonts/UPSBerlingskeSans-Rg.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSans-Rg.ttf') format('truetype');
}
@font-face {
  font-family: "Berlingske Sans";
  src: url('fonts/UPSBerlingskeSans-Bd.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSans-Bd.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: "Berlingske Sans";
  src: url('fonts/UPSBerlingskeSans-BdIt.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSans-BdIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Berlingske Sans";
  src: url('fonts/UPSBerlingskeSans-It.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSans-It.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: "Berlingske Serif";
  src: url('fonts/UPSBerlingskeSerifTx-Rg.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSerifTx-Rg.ttf') format('truetype');
}
@font-face {
  font-family: "Berlingske Serif";
  src: url('fonts/UPSBerlingskeSerifTx-Bd.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSerifTx-Bd.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: "Berlingske Serif";
  src: url('fonts/UPSBerlingskeSerifTx-BdIt.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSerifTx-BdIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Berlingske Serif";
  src: url('fonts/UPSBerlingskeSerifTx-It.eot?#iefix') format('embedded-opentype'), url('fonts/UPSBerlingskeSerifTx-It.ttf') format('truetype');
  font-style: italic;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/
html {
  font-family: sans-serif;
  /* 1 */
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /* Edge 12+, Internet Explorer 11- */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
* Remove default margin.
*/
body {
  margin: 0;
}
/* HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
* Address `[hidden]` styling not present in IE 8/9/10.
* Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
*/
[hidden],
template {
  display: none;
}
/* Links
========================================================================== */
/**
* Improve readability when focused and also mouse hovered in all browsers.
*/
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}
/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}
/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}
/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}
/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
========================================================================== */
/**
* Correct overflow not hidden in IE 9/10/11.
*/
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
========================================================================== */
/**
* Address margin not present in IE 8/9 and Safari.
*/
figure {
  margin: 1em 40px;
}
/**
* Address differences between Firefox and other browsers.
*/
hr {
  height: 0;
}
/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}
/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  color: inherit;
  /* 1 */
}
/**
* Address `overflow` set to `hidden` in IE 8/9/10/11.
*/
button {
  overflow: visible;
}
/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}
/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
}
/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
  -webkit-border-radius: 0;
  /* iOS 8+ */
}
/**
* It's recommended that you don't attempt to style these elements.
* Firefox's implementation doesn't respect box-sizing, padding, or width.
*
* 1. Address box sizing set to `content-box` in IE 8/9/10.
* 2. Remove excess padding in IE 8/9/10.
*/
input[type='checkbox'],
input[type='radio'] {
  padding: 0;
  /* 2 */
}
/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  width: auto;
  /* Firefox 36+ */
  height: auto;
}
/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome
*    (include `-moz` to future-proof).
*/
input[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
}
/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
* Define consistent border, margin, and padding.
*/
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}
/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  padding: 0;
  /* 2 */
  border: 0;
  /* 1 */
}
/**
* Remove default vertical scrollbar in IE 8/9/10/11.
*/
textarea {
  overflow: auto;
}
/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}
/* Tables
========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
/* specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}
/* specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}
/* specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}
/* specify the style of visually hidden yet accessible elements */
[hidden][aria-hidden='false'] {
  position: absolute;
  display: inherit;
  clip: rect(0 0 0 0);
}
[hidden][aria-hidden='false']:focus {
  clip: auto;
}
::selection {
  color: #fff;
  background: #555;
  text-shadow: none;
}
::-moz-selection {
  color: #fff;
  background: #555;
  text-shadow: none;
}
mark {
  color: #fff;
  background: #555;
}
img {
  vertical-align: middle;
  border: 0;
  display: inline;
  max-width: 100%;
  height: auto;
}
button,
input {
  outline: none;
}
/*
 * The additions below are merely to resolve inconsistencies accross browsers.
 * They remove some browser features such as clearing fields in IE.
 */
/*
 * Remove box-shadow from invalid inputs
 */
:invalid {
  box-shadow: none;
}
:-moz-submit-invalid {
  box-shadow: none !important;
}
:-moz-ui-invalid {
  box-shadow: none !important;
}
/*
 * Remove the "clear field" button from IE
 */
::-ms-clear {
  display: none;
}
::-ms-reveal {
  display: none;
}
select::-ms-value {
  color: currentColor;
  /* Edge 12+, Internet Explorer 11- */
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-fluid.container-fluid-fw {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
.full {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .full {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .full {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .full {
    width: 1170px;
  }
}
.most {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .most {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .most {
    float: left;
    width: 66.66666667%;
  }
}
.half {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .half {
    float: left;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .half {
    float: left;
    width: 50%;
  }
}
.third {
  float: left;
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .third {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .third {
    float: left;
    width: 33.33333333%;
  }
}
.fourth {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .fourth {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .fourth {
    float: left;
    width: 25%;
  }
}
.sixth {
  float: left;
  width: 50%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .sixth {
    float: left;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .sixth {
    float: left;
    width: 16.66666667%;
  }
}
/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
html {
  font-family: 'Berlingske Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
}
html.modal-active {
  overflow: hidden;
}
body {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
}
::-webkit-input-placeholder {
  color: #555;
}
:-moz-placeholder {
  color: #555;
}
:-ms-input-placeholder {
  color: #555;
}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #e6e6e6;
}
a {
  text-decoration: none;
  color: #bada55;
  background-color: transparent;
}
a:hover {
  color: #0c39fc;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content ul,
article ul {
  margin: 1em 0;
  padding: 0 0 0 40px;
  list-style-type: disc;
}
.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  color: #000;
  background: #ccc;
}
.container-fluid {
  min-height: 100vh;
  background-color: #f7f7f7;
}
.container-fluid.with-sidebar {
  width: calc(100% - 60px);
  margin-right: 0;
  padding: 0;
}
.container-fluid.with-top-bar {
  padding-top: 9rem;
}
.pagination {
  display: inline-block;
}
.pagination a {
  display: inline-block;
}
.pagination .pagination-top-level {
  font-size: 2.4rem;
  color: #4a90e2;
}
.pagination .pagination-top-level:hover {
  text-decoration: underline;
}
.pagination .pagination-previous {
  padding: 0 1rem;
  font-size: 2.4rem;
  color: #4a90e2;
}
.pagination .pagination-current {
  display: inline-block;
  font-size: 2.1rem;
  color: #000000;
}
.pagination .txt {
  display: inline-block;
  padding: 0 1rem;
  font-size: 2.6rem;
  color: rgba(0, 0, 0, 0.7);
}
.expandable-wrap {
  margin-top: 4rem;
}
.expandable-wrap .expandable {
  margin: 0 0 2rem;
  padding: 1.2rem 3rem;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}
.expandable-wrap .expandable-head .expandable-title {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: #301603;
}
.expandable-wrap .expandable-head .expandable-arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 2.6rem;
  color: #412917;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.box-white {
  padding: 1rem 1rem 0.5rem;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}
.box-white.box-support:before,
.box-white.box-support:after {
  content: " ";
  display: table;
}
.box-white.box-support:after {
  clear: both;
}
.box-white.box-support .icon-wrap {
  width: 30%;
  float: left;
  text-align: center;
}
.box-white.box-support .txt-wrap {
  width: 70%;
  padding: 0 2rem;
  float: left;
}
.box-white.box-support .txt-wrap h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #2f1702;
}
.box-white.box-support .txt-wrap a {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  color: #2f1702;
}
.box-white.box-support .txt-wrap a:hover {
  text-decoration: underline;
}
.box-white .box-top-bar {
  position: relative;
}
.box-white .box-top-bar.with-pin {
  padding-right: 3rem;
}
.box-white .box-top-bar .box-title-inner {
  margin: 0;
}
.box-white .box-top-bar .box-title-inner .icon {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2.4rem;
  color: #000000;
  vertical-align: middle;
}
.box-white .box-top-bar .box-title-inner .txt {
  display: inline-block;
  font-size: 1.5rem;
  color: #2f1702;
  vertical-align: middle;
}
.box-white .box-top-bar .box-title-inner-small {
  margin: 0;
}
.box-white .box-top-bar .box-title-inner-small .icon {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2.4rem;
  color: #2f1702;
  vertical-align: middle;
}
.box-white .box-top-bar .box-title-inner-small .txt {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  color: #2f1702;
  vertical-align: middle;
}
.box-white .box-top-bar .extra-info {
  margin: 0 0 1.5rem;
  padding-left: 3.5rem;
  font-size: 1.3rem;
  color: #2f1702;
}
.box-white .box-inner {
  margin: 1rem 0;
}
.box-white .box-bottom-bar {
  margin-top: 1rem;
  position: relative;
}
.box-white .box-bottom-bar:before,
.box-white .box-bottom-bar:after {
  content: " ";
  display: table;
}
.box-white .box-bottom-bar:after {
  clear: both;
}
.box-white .box-bottom-bar:before {
  display: inline-block;
  content: '';
  height: 1px;
  position: absolute;
  top: -1rem;
  right: -1rem;
  left: -1rem;
  background-color: #e4e4e4;
}
.box-white .box-bottom-bar .left-part {
  float: left;
}
.box-white .box-bottom-bar .left-part .icon {
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.44);
}
.box-white .box-bottom-bar .center-part {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.box-white .box-bottom-bar .right-part {
  float: right;
}
.box-white .box-bottom-bar .right-part .action-link {
  display: inline-block;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  color: #000000;
  text-transform: uppercase;
}
.box-white .box-bottom-bar .value,
.box-white .box-bottom-bar .txt {
  display: block;
  text-align: center;
}
.box-white .box-bottom-bar .value {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
}
.box-white .box-bottom-bar .value.green {
  color: #417505;
}
.box-white .box-bottom-bar .value.red {
  color: #d0021b;
}
.box-white .box-bottom-bar .value.yellow {
  color: #f5a623;
}
.box-white .box-bottom-bar .txt {
  font-size: 1.1rem;
  font-weight: 700;
  color: #747474;
}
.custom-tooltip {
  display: inline-block;
  padding: 1rem 3rem 3rem 1rem;
  position: absolute;
  background-color: #485465;
  opacity: 0;
  visibility: visible;
  transition: all .4s ease;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  z-index: -1;
}
.custom-tooltip.shown {
  opacity: .9;
  visibility: visible;
  z-index: 88;
}
.custom-tooltip:before {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 50%;
  border-top: 1rem solid #485465;
  border-right: 1rem solid rgba(255, 255, 255, 0);
  border-left: 1rem solid rgba(255, 255, 255, 0);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.custom-tooltip .custom-tooltip-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  z-index: 9;
}
.custom-tooltip .custom-tooltip-author {
  display: block;
  padding-left: 2.6rem;
  position: relative;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: #f8e71c;
}
.custom-tooltip .custom-tooltip-author:before {
  display: inline-block;
  content: '';
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
  border: 4px solid #f5a623;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.custom-tooltip .custom-tooltip-content {
  display: block;
  padding: 2rem 0 0;
  font-size: 1.4rem;
  line-height: 1.36;
  letter-spacing: 0.3px;
  color: #ffffff;
}
.custom-tooltip .custom-tooltip-info-link-wrap {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 8;
}
.custom-tooltip .custom-tooltip-info-link-wrap a {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  color: #ffffff;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.hidden,
.hide {
  display: none !important;
}
.invisible,
.invis {
  opacity: 0;
}
.clearfix:before,
.clear:before,
.clearfix:after,
.clear:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.full:before,
.full:after {
  content: " ";
  display: table;
}
.clearfix:after,
.clear:after,
.container:after,
.container-fluid:after,
.row:after,
.full:after {
  clear: both;
}
.left,
.l {
  float: left !important;
}
.right,
.r {
  float: right !important;
}
.center,
.cb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.tCenter,
.tc {
  text-align: center;
}
.tLeft,
.tl {
  text-align: left;
}
.tRight,
.tr {
  text-align: right;
}
.relative,
.rel {
  position: relative;
}
.absolute,
.abs {
  position: absolute;
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    -webkit-transition: none !important;
    transition: none !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline !important;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?86283938');
  src: url('fonts/fontello.eot?86283938#iefix') format('embedded-opentype'), url('fonts/fontello.woff2?86283938') format('woff2'), url('fonts/fontello.woff?86283938') format('woff'), url('fonts/fontello.ttf?86283938') format('truetype'), url('fonts/fontello.svg?86283938#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?86283938#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-trash-empty:before {
  content: '\e800';
}
/* '' */
.icon-assets:before {
  content: '\e801';
}
/* '' */
.icon-bell:before {
  content: '\e802';
}
/* '' */
.icon-bell-on:before {
  content: '\e803';
}
/* '' */
.icon-distribution-center:before {
  content: '\e804';
}
/* '' */
.icon-fulfillment:before {
  content: '\e805';
}
/* '' */
.icon-grid:before {
  content: '\e806';
}
/* '' */
.icon-home:before {
  content: '\e807';
}
/* '' */
.icon-inventory:before {
  content: '\e808';
}
/* '' */
.icon-arrow-left-circled:before {
  content: '\e809';
}
/* '' */
.icon-arrow-right-circled:before {
  content: '\e80a';
}
/* '' */
.icon-order:before {
  content: '\e80b';
}
/* '' */
.icon-reports:before {
  content: '\e80c';
}
/* '' */
.icon-create-folder:before {
  content: '\e80d';
}
/* '' */
.icon-delete-file:before {
  content: '\e80e';
}
/* '' */
.icon-download-file:before {
  content: '\e80f';
}
/* '' */
.icon-rename-file:before {
  content: '\e810';
}
/* '' */
.icon-close:before {
  content: '\e811';
}
/* '' */
.icon-upload-big:before {
  content: '\e812';
}
/* '' */
.icon-down-open:before {
  content: '\e813';
}
/* '' */
.icon-freight:before {
  content: '\e814';
}
/* '' */
.icon-doc-text:before {
  content: '\f0f6';
}
/* '' */
section.landing .intro {
  padding: 7rem 12rem 7rem;
  background-color: #260300;
}
section.landing .intro:before,
section.landing .intro:after {
  content: " ";
  display: table;
}
section.landing .intro:after {
  clear: both;
}
@media screen and (max-width: 992px) {
  section.landing .intro {
    padding: 1rem 0 3rem;
  }
}
@media screen and (max-width: 992px) {
  section.landing .intro .half {
    padding: 0;
  }
}
section.landing .intro .logo-wrap {
  padding: 1rem 2rem;
}
section.landing .intro .logo-wrap .logo-img-wrap {
  display: inline-block;
}
section.landing .intro .logo-wrap .txt {
  display: inline-block;
  margin-left: .5rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: #fdbd10;
  vertical-align: middle;
}
@media screen and (max-width: 992px) {
  section.landing .intro .txt-wrap {
    text-align: center;
  }
}
section.landing .intro .txt-wrap h2 {
  margin: 5rem 0;
  font-size: 4.8rem;
  line-height: 1.13;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  section.landing .intro .txt-wrap h2 {
    margin: 4rem 0 9rem;
    padding: 11rem 0;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.17;
    background-image: url('../img/intro-home-shape-mobile.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }
}
@media screen and (max-width: 992px) {
  section.landing .intro .txt-wrap .btn-intro {
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
  }
}
section.landing .intro .img-wrap {
  text-align: center;
}
@media screen and (max-width: 992px) {
  section.landing .intro .img-wrap {
    display: none;
  }
}
section.landing .about .about-top {
  padding: 2.5rem 4rem;
  background-color: #f9fafa;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-top {
    position: relative;
    padding: 1.8rem 2rem 1.2rem;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.6);
    z-index: 5;
  }
}
section.landing .about .about-top h1 {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 400;
  color: #000000;
  text-align: center;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-top h1 {
    font-size: 1.8rem;
  }
}
section.landing .about .about-middle {
  padding: 9rem 4rem 8rem;
  background-color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-middle {
    padding: 3rem 2rem 2rem;
    position: relative;
    z-index: 4;
  }
}
section.landing .about .about-middle .part {
  display: inline-block;
  padding: 0 5rem;
  vertical-align: middle;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-middle .part {
    padding: 0;
  }
}
section.landing .about .about-middle .part .icon {
  display: inline-block;
  width: 7.6rem;
  height: 7.6rem;
  color: #260300;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-middle .part .icon {
    width: 3.5rem;
    height: 3.5rem;
  }
}
section.landing .about .about-middle .part .icon [class^='icon-'] {
  font-size: 6.5rem;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-middle .part .icon [class^='icon-'] {
    font-size: 3rem;
  }
}
section.landing .about .about-middle .part .txt {
  display: inline-block;
  width: 100%;
  margin-top: 3rem;
  font-size: 2.4rem;
  letter-spacing: 0.6px;
  color: #333333;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-middle .part .txt {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
}
section.landing .about .about-contacts {
  padding: 1rem 4rem 1.5rem;
  background-color: #f9fafa;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  text-align: center;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-contacts {
    margin-top: -1px;
    padding: 0;
    background-color: #ffffff;
    border-bottom: none;
  }
}
section.landing .about .about-contacts h2 {
  margin: 0;
  font-size: 4.8rem;
  font-weight: 400;
  color: #cb7d1b;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-contacts h2 {
    margin: 0 0 1.8rem;
    padding: 1rem 0;
    position: relative;
    font-size: 2rem;
    background-color: #f9fafa;
    border-top: 1px solid #eeeeee;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.6);
    z-index: 3;
  }
}
section.landing .about .about-contacts a {
  display: inline-block;
  font-size: 3.2rem;
  color: #000000;
}
section.landing .about .about-contacts a:hover {
  color: #000000;
  text-decoration: underline;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-contacts a {
    font-size: 1.8rem;
    word-wrap: break-word;
  }
}
section.landing .about .about-bottom {
  padding: 2rem 15rem 3.5rem;
  background-color: #ffffff;
  text-align: center;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-bottom {
    padding: 2rem 2.5rem 1rem;
  }
}
section.landing .about .about-bottom p {
  margin: 0;
  font-size: 2.4rem;
  line-height: 1.54;
  color: #4a4a4a;
}
@media screen and (max-width: 992px) {
  section.landing .about .about-bottom p {
    font-size: 1.4rem;
    line-height: 1.93;
  }
}
section.landing footer {
  padding: 2rem 15rem;
  background-color: #cb7d1b;
  text-align: center;
}
@media screen and (max-width: 992px) {
  section.landing footer {
    padding: 2rem 2rem;
  }
}
section.landing footer p {
  margin: 0;
  font-size: 2rem;
  line-height: 1.7;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  section.landing footer p {
    font-size: 1.3rem;
    line-height: normal;
  }
}
.sidebar {
  width: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #2f1702;
  -webkit-transition: width 0.7s cubic-bezier(0.24, 0.25, 0.42, 0.98);
  transition: width 0.7s cubic-bezier(0.24, 0.25, 0.42, 0.98);
  z-index: 100;
}
.sidebar.opened {
  width: 24rem;
}
.sidebar.opened .bottom-option:hover .tooltip-sidebar.tooltip-expanded {
  -webkit-transform: translateY(-50%) translateX(100%);
  transform: translateY(-50%) translateX(100%);
}
.sidebar.opened .bottom-option .left-part {
  right: 0;
  left: auto;
}
.sidebar.opened .bottom-option .left-part span {
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
  transform: translate(-50%, -50%) rotate(-180deg);
}
.sidebar.opened .bottom-option .tooltip-sidebar.tooltip-expanded {
  right: 0;
  left: auto;
}
.sidebar .top-option {
  height: 9rem;
}
.sidebar .top-option a {
  height: 100%;
  padding: 0;
  text-align: center;
}
.sidebar .top-option .left-part {
  width: 100%;
  height: 9rem;
}
.sidebar .top-option .left-part .img-wrap,
.sidebar .top-option .left-part .txt-wrap {
  display: inline-block;
}
.sidebar .top-option .left-part .img-wrap {
  position: absolute;
  top: 2rem;
  right: 0;
  left: 0;
  height: 8rem;
}
.sidebar .navigation {
  padding-top: 6rem;
}
.sidebar .navigation li {
  height: 6rem;
  position: relative;
  background-color: #2f1702;
}
.sidebar .navigation li:hover .tooltip-sidebar {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.sidebar .navigation li:hover .tooltip-sidebar.tooltip-expanded {
  -webkit-transform: translateY(-50%) translateX(-100%);
  transform: translateY(-50%) translateX(-100%);
}
.sidebar .tooltip-sidebar {
  display: inline-block;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 6rem;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #ffffff;
  background-color: rgba(48, 22, 3, 0.65);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%) translateX(-100%);
  transition: transform .7s ease;
  white-space: nowrap;
  z-index: -1;
}
.sidebar .tooltip-sidebar.tooltip-expanded {
  -webkit-transform: translateY(-50%) translateX(-200%);
  transform: translateY(-50%) translateX(-200%);
}
.sidebar a,
.sidebar .sidebar-option {
  display: inline-block;
  width: 100%;
  position: relative;
  min-height: 6rem;
  padding: 0 0 0 6rem;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  overflow: hidden;
  z-index: 2;
}
.sidebar a.inactive,
.sidebar .sidebar-option.inactive {
  cursor: default;
}
.sidebar a .left-part,
.sidebar .sidebar-option .left-part {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  min-height: 6rem;
}
.sidebar a .left-part .icon,
.sidebar .sidebar-option .left-part .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.6rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}
.sidebar a .right-part,
.sidebar .sidebar-option .right-part {
  display: inline-block;
  padding-left: 1rem;
  font-size: 1.7rem;
  line-height: 6rem;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #ffffff;
  white-space: nowrap;
}
.sidebar .active a {
  color: #ff8112;
}
.sidebar .active a .right-part {
  color: #ff8112;
}
.sidebar .navigation a:hover,
.sidebar .bottom-option a:hover {
  color: #ff8112;
}
.sidebar .navigation a:hover .right-part,
.sidebar .bottom-option a:hover .right-part {
  color: #ff8112;
}
.sidebar .bottom-option .left-part {
  right: 0;
  left: auto;
}
.sidebar .bottom-option .left-part span {
  -webkit-transition: transform .3s ease, color .3s ease;
  transition: transform .3s ease, color .3s ease;
}
.top-bar {
  display: inline-block;
  height: 9rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ab5000;
  z-index: 99;
}
.top-bar .top-bar-page-title {
  margin: 2.8rem 0;
  padding-left: 11rem;
  font-size: 2.4rem;
  font-weight: 400;
  color: #ffffff;
}
.top-bar .top-bar-right-controls {
  display: inline-block;
  padding: 2.5rem 8rem 2.5rem 3rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 22;
}
.top-bar .top-bar-right-controls li {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}
.top-bar .top-bar-right-controls li:last-child {
  margin-right: 0;
}
.top-bar .top-bar-right-controls li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.8rem;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}
.top-bar .top-bar-right-controls li > a .profile-wrap {
  display: inline-block;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  overflow: hidden;
}
.top-bar .top-bar-right-controls li > a .profile-wrap .profile-image {
  display: inline-block;
}
.top-bar-inner-menu-wrapper {
  position: relative;
}
.top-bar-inner-menu-wrapper.inner-menu-opened .top-bar-inner-menu {
  opacity: 1;
  visibility: visible;
}
.top-bar-inner-menu-wrapper .top-bar-inner-menu {
  display: inline-block;
  width: 320px;
  padding: 2rem 2rem 0rem;
  position: absolute;
  top: calc(100% + 3rem);
  right: 0;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease;
}
.top-bar-inner-menu-wrapper .top-bar-inner-menu:before {
  display: inline-block;
  content: '';
  position: absolute;
  top: -1.2rem;
  right: 1rem;
  border-right: 0.8rem solid rgba(255, 255, 255, 0);
  border-bottom: 1.4rem solid #ffffff;
  border-left: 0.8rem solid rgba(255, 255, 255, 0);
}
.top-bar-inner-menu-wrapper .grid-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 9rem;
  margin: 0 0 2rem 0;
  position: relative;
  text-align: center;
  transition: background-color 0.4s ease;
}
.top-bar-inner-menu-wrapper .grid-menu a:hover {
  background-color: #efefef;
}
.top-bar-inner-menu-wrapper .grid-menu a .icon-wrap {
  display: inline-block;
  padding-top: 1.5rem;
  padding-bottom: .5rem;
  width: 100%;
}
.top-bar-inner-menu-wrapper .grid-menu a .txt-wrap {
  display: inline-block;
  width: 100%;
  font-size: 1.3rem;
  letter-spacing: 0.1px;
  color: #000000;
}
.top-bar-inner-menu-wrapper .profile-menu .person {
  display: inline-block;
  width: 100%;
}
.top-bar-inner-menu-wrapper .profile-menu .person:before,
.top-bar-inner-menu-wrapper .profile-menu .person:after {
  content: " ";
  display: table;
}
.top-bar-inner-menu-wrapper .profile-menu .person:after {
  clear: both;
}
.top-bar-inner-menu-wrapper .profile-menu .person .img-wrap {
  display: inline-block;
  width: 3.8rem;
  height: 3.8rem;
  float: left;
}
.top-bar-inner-menu-wrapper .profile-menu .person .details-wrap {
  display: inline-block;
  width: calc(100% - 4.8rem);
  margin-left: 1rem;
  float: right;
}
.top-bar-inner-menu-wrapper .profile-menu .person .details-wrap .person-name,
.top-bar-inner-menu-wrapper .profile-menu .person .details-wrap .person-mail {
  display: inline-block;
  width: 100%;
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  color: #000000;
}
.top-bar-inner-menu-wrapper .profile-menu .person .details-wrap .person-name {
  font-weight: 700;
}
.top-bar-inner-menu-wrapper .profile-menu .profile-actions {
  margin: 2rem 0 2rem;
  text-align: center;
}
.top-bar-inner-menu-wrapper .profile-menu .profile-actions a {
  display: inline-block;
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  color: #8b572a;
  text-transform: uppercase;
  transition: color .4s ease;
}
.top-bar-inner-menu-wrapper .profile-menu .profile-actions a:hover {
  color: #643e1e;
}
.top-bar-inner-menu-wrapper .profile-menu .profile-actions a:first-child {
  margin-right: 4rem;
}
.modal-wrapper {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.modal-wrapper:before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease;
  z-index: -1;
}
.modal-wrapper.opened {
  display: block;
}
.modal-wrapper.opened:before,
.modal-wrapper.opened .modal-wrapper-inner {
  opacity: 1;
  visibility: visible;
}
.modal-wrapper .close-btn-wrap {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2rem;
  color: #9b9b9b;
  transition: color .3s ease;
  cursor: pointer;
}
.modal-wrapper .close-btn-wrap:hover {
  color: #000000;
}
.modal-wrapper-inner {
  min-width: 74rem;
  padding: 7rem 5rem 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  border-radius: 1rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .6s ease, visibility .6s ease;
  z-index: 1;
}
.modal-wrapper-inner.modal-wrapper-small {
  min-width: 0;
  padding: 6rem 2rem 3rem;
}
.modal-wrapper-inner.modal-wrapper-small .txt-wrap {
  padding: 0 0 3rem;
}
.modal-wrapper-inner .txt-wrap {
  padding: 0 0 7rem;
  text-align: center;
}
.modal-wrapper-inner .txt-wrap .txt-attention {
  padding: 0 0 1rem;
  color: #8b572a;
}
.modal-wrapper-inner .txt-wrap .txt-attention .icon-big {
  display: inline-block;
  margin-right: 3rem;
  font-size: 6rem;
  vertical-align: middle;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.modal-wrapper-inner .txt-wrap .txt-attention .txt {
  display: inline-block;
  font-size: 2.4rem;
  vertical-align: middle;
}
.modal-wrapper-inner .txt-wrap p {
  margin: 0;
  font-size: 2rem;
  color: #000000;
}
.modal-wrapper-inner .btn-wrap {
  width: 100%;
  text-align: center;
}
.modal-wrapper-inner .btn-wrap .btn-action {
  margin-right: 1rem;
}
.modal-wrapper-inner .btn-wrap .btn-action:last-child {
  margin-right: 0;
}
.modal-file-upload label {
  cursor: pointer;
}
.modal-file-upload input[type=file] {
  display: none;
}
.modal-wrapper.modal-in-content .modal-wrapper-inner {
  -webkit-transform: none;
  transform: none;
}
.btn-intro {
  display: inline-block;
  min-width: 34rem;
  padding: .8rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #ffffff;
  background-color: #cb7d1b;
  text-align: center;
  transition: color 0.4s ease, background-color 0.4s ease;
}
.btn-intro:hover {
  color: #ffffff;
  background-color: #9e6115;
}
.btn-action {
  display: inline-block;
  min-width: 20rem;
  padding: .6rem 2rem;
  color: #996b43;
  border: 1px solid #8b572a;
  background-color: #ffffff;
  text-align: center;
  transition: color 0.4s ease, background-color 0.4s ease;
}
.btn-action:hover {
  color: #ffffff;
  background-color: #8b572a;
}
.btn-action.inverted {
  color: #ffffff;
  background-color: #996b43;
}
.btn-action.inverted:hover {
  background-color: #8b572a;
}
.btn-action .icon {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.8rem;
}
.btn-action .txt {
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.btn-add-to-favorites {
  display: inline-block;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.btn-add-to-favorites.pinned:hover .unpin {
  display: block;
  opacity: 1;
  visibility: visible;
}
.btn-add-to-favorites .unpin {
  display: none;
  padding: 1rem 1rem;
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  opacity: 0;
  visibility: 0;
  white-space: nowrap;
  transition: opacity .4s ease, visibility .4s ease;
}
.btn-add-to-favorites .unpin .icon {
  display: inline-block;
  margin-right: 1rem;
}
.btn-add-to-favorites .unpin .txt {
  font-size: 1.3rem;
  color: #2f1702;
}
.page-header {
  padding: 5rem 5rem 1rem 5rem;
}
.page-header:before,
.page-header:after {
  content: " ";
  display: table;
}
.page-header:after {
  clear: both;
}
.page-header .page-title {
  float: left;
}
.page-header .page-title h1 {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #2f1702;
}
.page-header .page-header-options {
  float: right;
}
.page-container-inner {
  padding: 1rem 5rem 4rem 5rem;
}
.page-container-inner .page-subtitle.expandable-big-handle {
  position: relative;
}
.page-container-inner .page-subtitle.expandable-big-handle.expanded .expandable-big-arrow {
  -webkit-transform: translateY(-60%) rotate(180deg);
  transform: translateY(-60%) rotate(180deg);
}
.page-container-inner .page-subtitle.expandable-big-handle .expandable-big-arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  font-size: 2.8rem;
  color: #412917;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
}
.page-container-inner .page-subtitle.plain h2 {
  margin-bottom: 0;
  font-weight: 700;
  color: #301603;
}
.page-container-inner .page-subtitle.plain h2:before {
  content: none;
}
.page-container-inner .page-subtitle h2 {
  position: relative;
  font-size: 1.8rem;
  font-weight: 400;
  color: #2f1702;
  z-index: 1;
}
.page-container-inner .page-subtitle h2:before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  right: 0;
  bottom: 3px;
  left: 0;
  background-color: #c8c6c6;
  z-index: -1;
}
.page-container-inner .page-subtitle h2 .txt {
  display: inline-block;
  padding: 0 10px 0 0;
  position: relative;
  background-color: #f7f7f7;
  z-index: 1;
}
.head-bar .pagination {
  padding: 1.6rem 0 5rem 1rem;
}
.head-bar .actions-wrap .btn-action {
  margin-right: 1rem;
}
.head-bar .actions-wrap .btn-action:last-child {
  margin-right: 0;
}
.table-wrap.table-wrap-white {
  padding: 2.8rem 4rem 5rem 1.4rem;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}
.table-wrap.table-wrap-dc {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  margin-bottom: 2rem;
  position: relative;
}
.table-wrap.table-wrap-dc .table-update-info {
  display: inline-block;
  position: absolute;
  top: -2rem;
  right: 1rem;
  font-size: 1.2rem;
  color: #aab2c0;
}
.table-fw {
  width: 100%;
}
.table-standart thead tr {
  border-bottom: 1px solid rgba(216, 215, 215, 0.7);
}
.table-standart thead th {
  padding: 0 0 0.4rem 0;
  font-weight: 400;
}
.table-standart thead th:first-child {
  padding-left: 1rem;
}
.table-standart thead th .txt {
  display: inline-block;
  font-size: 1.8rem;
  color: #000000;
  text-transform: uppercase;
}
.table-standart tbody tr {
  border-bottom: 1px solid rgba(216, 215, 215, 0.7);
}
.table-standart tbody tr:hover .asset-link-action {
  opacity: 1;
  visibility: visible;
}
.table-standart tbody tr.new-row {
  display: none;
}
.table-standart tbody td {
  padding: 3rem 0 1.6rem;
}
.table-standart tbody td:first-child {
  padding-left: 1rem;
}
.table-standart tbody td:last-child {
  padding: 2rem 0 1rem;
}
.table-standart tbody td .asset-link-inner {
  display: inline-block;
  color: #8b572a;
}
.table-standart tbody td .asset-link-inner .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 2rem;
  font-size: 1.6rem;
  vertical-align: middle;
}
.table-standart tbody td .asset-link-inner .icon [class^='icon-'] {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.table-standart tbody td .asset-link-inner .icon [class^='icon-'].icon-doc-text {
  font-size: 2.4rem;
}
.table-standart tbody td .asset-link-inner .txt {
  color: #393838;
  vertical-align: middle;
}
.table-standart tbody td .asset-link-action {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2.2rem;
  color: #8b572a;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease;
}
.table-standart tbody td .asset-link-action .icon-download-file {
  display: inline-block;
  font-size: 2.6rem;
}
.table-standart tbody td .txt {
  font-size: 1.7rem;
  color: #393838;
}
.table-dc thead th {
  width: 10%;
  padding: 0 0.8rem;
}
.table-dc thead th:first-child {
  width: 30%;
}
.table-dc thead .txt {
  display: inline-block;
  width: 100%;
  padding: 0.6rem 1.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000000;
  text-align: left;
}
.table-dc thead .txt.table-head-name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #2f1702;
}
.table-dc thead .val {
  display: inline-block;
  width: 100%;
  padding: 0.6rem 1.4rem;
  position: relative;
  font-size: 1.4rem;
  color: #000000;
  text-align: left;
  z-index: 1;
}
.table-dc thead .val.colorful.colorful-red:before {
  border-color: #ff0221;
  background-color: rgba(255, 2, 33, 0.27);
}
.table-dc thead .val.colorful.colorful-yellow:before {
  border-color: #f5a623;
  background-color: rgba(245, 166, 35, 0.52);
}
.table-dc thead .val.colorful.colorful-green:before {
  border-color: #7ed321;
  background-color: rgba(126, 211, 33, 0.29);
}
.table-dc thead .val.colorful:before {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: 4px solid #ffffff;
  z-index: -1;
}
.table-dc tbody td {
  width: 10%;
  padding: 0 0.8rem;
}
.table-dc tbody td:first-child {
  width: 30%;
}
.table-dc tbody .txt {
  display: inline-block;
  width: 100%;
  padding: 0.6rem 1.4rem;
  font-size: 1.6rem;
  color: #020202;
}
.table-dc tbody .txt .symbol-big {
  display: inline-block;
  font-size: 2.2rem;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
.reports-top {
  padding: 2rem 2rem;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}
.reports-top .row + .row {
  margin-top: 4rem;
}
.report-column h3 .icon {
  display: inline-block;
  margin-right: 1rem;
  vertical-align: text-bottom;
}
.report-column h3 .icon span {
  font-size: 2.4rem;
  color: #643e1e;
}
.report-column h3 .txt {
  display: inline-block;
  font-size: 1.5rem;
  color: #2f1702;
  vertical-align: bottom;
}
.report-column ul li a {
  display: inline-block;
  padding: 2px 0;
  font-size: 1.6rem;
  color: #8b572a;
  transition: color .3s ease;
}
.report-column ul li a:hover {
  color: #643e1e;
  text-decoration: underline;
}
.distribution-center .page-header-options {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}
.distribution-center .page-header-options .separator {
  display: inline-block;
  width: 2px;
  height: 4.8rem;
  margin: 0 2rem;
  background-color: #d2d2d2;
}
.distribution-center .page-header-options .calendar-wrap {
  display: inline-block;
}
.distribution-center .page-header-options .calendar-wrap .calendar-btn-prev,
.distribution-center .page-header-options .calendar-wrap .calendary-btn-next {
  cursor: pointer;
}
.distribution-center .page-header-options .calendar-wrap .calendar-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 0 1.5rem;
  cursor: pointer;
  background-image: linear-gradient(to top, #f2f4f7, #ffffff);
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transition: background .4s ease;
}
.distribution-center .page-header-options .calendar-wrap .calendar-btn:hover {
  background-image: linear-gradient(to top, #f2f4f7, #f2f4f7);
}
.distribution-center .page-header-options .calendar-wrap .calendar-btn .txt {
  font-size: 1.4rem;
  color: #354052;
}
.distribution-center .page-header-options .switch-btn-wrap a {
  display: inline-block;
  max-width: 7rem;
  font-size: 1.3rem;
  line-height: 1.31;
  letter-spacing: 0.02px;
  text-align: center;
  color: #000000;
}
.distribution-center .page-header-options .option-btn-wrap {
  display: inline-block;
  line-height: 1;
}
.distribution-center .page-header-options .option-btn-wrap .option-btn {
  display: inline-block;
  width: 3.8rem;
  height: 3.8rem;
  position: relative;
  color: #ffffff;
  background-color: #2f1702;
}
.distribution-center .page-header-options .option-btn-wrap .option-btn .inner {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.distribution-center .graphs-big-wrapper {
  margin-bottom: 5rem;
}
.distribution-center .graphs-big-wrapper .graph-title {
  margin: 1rem 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #301603;
}
.distribution-center .graphs-big-wrapper .graph-container {
  height: 400px;
  position: relative;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
}
.distribution-center .graphs-big-wrapper .graph-container .btn-add-to-favorites {
  top: 0.5rem;
  -webkit-transform: none;
  transform: none;
}
.distribution-center .graphs-big-wrapper .graph-container .graph-container-inner {
  height: 100%;
  padding-top: 4rem;
}
.homepage .container-big-wrapper {
  margin-bottom: 6rem;
}
.homepage .bar-summary {
  padding: 1rem;
  border: 1px solid #e4e4e4;
}
.homepage .bar-summary:before,
.homepage .bar-summary:after {
  content: " ";
  display: table;
}
.homepage .bar-summary:after {
  clear: both;
}
.homepage .bar-summary .img-wrap {
  width: 30%;
  float: left;
  text-align: center;
}
.homepage .bar-summary .img-wrap img {
  width: 70%;
}
.homepage .bar-summary .txt-wrap {
  width: 70%;
  float: right;
}
.homepage .bar-summary .txt-wrap h5 {
  margin: 0;
  font-size: 1.5rem;
  color: #2f1702;
}
.homepage .bar-summary .txt-wrap p {
  margin: 0;
  font-size: 1.3rem;
  color: #2f1702;
}
/*======================================
  Selectric v1.13.0
======================================*/
.selectric-wrapper {
  position: relative;
  margin-bottom: 1rem;
  cursor: pointer;
}
.selectric {
  display: inline-block;
  min-width: 14rem;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.selectric-focus .selectric {
  border-color: #bababa;
}
.selectric-hover .selectric {
  border-color: #d4d4d4;
}
.selectric-label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #301603;
  height: 38px;
  line-height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: transparent;
  color: #b0b0b0;
  text-align: center;
  border: none;
  padding: 0;
  font: 0/0 a;
  *font: 0.52631579px Lucida Sans Unicode, Arial Unicode MS, Arial;
}
.selectric-button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.button {
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.selectric-hover .selectric-button {
  color: #979797;
}
.selectric-open {
  z-index: 9999;
}
.selectric-open .selectric {
  border-color: #d4d4d4;
}
.selectric-open .selectric-items {
  display: block;
}
.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
}
.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}
.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: NaN a !important;
  background: none !important;
}
.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}
/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  z-index: -1;
  top: 100%;
  left: 0;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #d4d4d4;
  font-size: 12px;
  font-weight: 700;
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul,
.selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.selectric-items ul:first-child,
.selectric-items li:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.selectric-items ul:last-child,
.selectric-items li:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.selectric-items li {
  display: block;
  padding: 10px;
  color: #2f2f2f;
  cursor: pointer;
}
.selectric-items li.selected {
  background: #f0f0f0;
  color: #222222;
}
.selectric-items li.highlighted {
  background: #e4e4e4;
  color: #222222;
}
.selectric-items li:hover {
  background: #d7d7d7;
  color: #222222;
}
.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #2f2f2f !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: none;
  color: #161616;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}
/*!
 * Datepicker v0.6.5
 * https://github.com/fengyuanchen/datepicker
 *
 * Copyright (c) 2014-2018 Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2018-03-31T06:16:43.444Z
 */
.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 12px;
  left: 0;
  line-height: 30px;
  position: fixed;
  top: 0;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 210px;
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.datepicker-container::before,
.datepicker-container::after {
  border: 5px solid transparent;
  content: " ";
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
.datepicker-dropdown {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 3px 6px #ccc;
  box-shadow: 0 3px 6px #ccc;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
}
.datepicker-inline {
  position: static;
}
.datepicker-top-left,
.datepicker-top-right {
  border-top-color: #39f;
}
.datepicker-top-left::before,
.datepicker-top-left::after,
.datepicker-top-right::before,
.datepicker-top-right::after {
  border-top: 0;
  left: 10px;
  top: -5px;
}
.datepicker-top-left::before,
.datepicker-top-right::before {
  border-bottom-color: #39f;
}
.datepicker-top-left::after,
.datepicker-top-right::after {
  border-bottom-color: #fff;
  top: -4px;
}
.datepicker-bottom-left,
.datepicker-bottom-right {
  border-bottom-color: #39f;
}
.datepicker-bottom-left::before,
.datepicker-bottom-left::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  border-bottom: 0;
  bottom: -5px;
  left: 10px;
}
.datepicker-bottom-left::before,
.datepicker-bottom-right::before {
  border-top-color: #39f;
}
.datepicker-bottom-left::after,
.datepicker-bottom-right::after {
  border-top-color: #fff;
  bottom: -4px;
}
.datepicker-top-right::before,
.datepicker-top-right::after,
.datepicker-bottom-right::before,
.datepicker-bottom-right::after {
  left: auto;
  right: 10px;
}
.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%;
}
.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table;
}
.datepicker-panel > ul::after {
  clear: both;
}
.datepicker-panel > ul > li {
  background-color: #fff;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 30px;
}
.datepicker-panel > ul > li:hover {
  background-color: #e5f2ff;
}
.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}
.datepicker-panel > ul > li.highlighted {
  background-color: #e5f2ff;
}
.datepicker-panel > ul > li.highlighted:hover {
  background-color: #cce5ff;
}
.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  color: #39f;
}
.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}
.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {
  background-color: #e5f2ff;
}
.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 18px;
}
.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 150px;
}
.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 52.5px;
}
.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #fff;
  cursor: default;
}
.datepicker-hide {
  display: none;
}
