<div style="clear: both;">
  <div *ngIf='isNewUser'>
  <h2 mat-dialog-title >Add new user</h2>
</div>
<div *ngIf='editUser'>
  <h2 mat-dialog-title>Edit user</h2>
</div>
  <mat-dialog-content>
  <table>
    <tbody>
      <tr>
        <td>Email:</td>
        <td>
          <input [(ngModel)]="userData.Email" required matInput [disabled]="editUser">
        </td>
      </tr>
      <tr>
        <td>Password:</td>
        <td>
          <input [(ngModel)]="userData.Password" required type="password" matInput [disabled]="editUser">
        </td>
      </tr>
      <tr>
        <td>First Name:</td>
        <td>
          <input [(ngModel)]="userData.FirstName" required matInput>
        </td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>
          <input [(ngModel)]="userData.LastName" required matInput>
        </td>
      </tr>
      <tr>
          <td>Client:</td>
          <td>
            <select [(ngModel)]="selectedClient" (change)="onClientSelect()" matInput>
              <option *ngFor="let client of clients" [ngValue]="client">{{client.Name}}</option>
            </select>
          </td>
      </tr>
      <tr>
          <td>Client Account:</td>
          <td>
            <select [(ngModel)]="selectedClientAccount" matInput>
              <option *ngFor="let clientAccount of clientAccounts" [ngValue]="clientAccount">{{clientAccount.Name}}</option>
            </select>
          </td>
      </tr>
      <!-- <tr>
        <td>User role:</td>
        <td>
          <select [(ngModel)]="userData.UserRole" matInput>
            <option *ngFor="let role of userRoles" [ngValue]="role">{{role}}</option>
          </select>
        </td>
      </tr> -->
    </tbody>
  </table>
</mat-dialog-content>
  <mat-dialog-actions>
    <table>
        <tr>
            <td style="padding-top: 20px;">
                <button mat-button (click)="addEditUser()">{{addEditBtnText}}</button>
            </td>
            <td style="padding-top: 20px;">
                <button mat-button mat-dialog-close>Cancel</button>
              </td>
          </tr>
    </table>
  </mat-dialog-actions>
</div>