<section class="assets">

        <div class="page-header">
            <div class="page-title">
                <h1>Assets</h1>
            </div>
        </div>

        <div class="page-container-inner">
            <div class="table-wrap table-wrap-white">

                    <div class="head-bar" *ngIf='!isRootLevel'>
                            <div class="pagination">
                                <a class="pagination-top-level" (click)="goToRootLevel()">Assets</a>
                                <span class="txt">&rsaquo;</span>
                                <a class="pagination-previous">...</a>
                                <span class="txt">&rsaquo;</span>
                                <span class="pagination-current">{{currentFolder.Name}}</span>
                            </div>
                            <div class="actions-wrap right">
                                <a class="btn-action" (click)="createNewFolder()">
                                    <span class="icon icon-create-folder"></span>
                                    <span class="txt">Create Folder</span>
                                </a>
                                <a class="btn-action js-modal-handle modal-in-content-anchor" data-modal-handle="modal-file-upload" (click)='openFileUploadPopup($event)' >
                                    <span class="icon icon-doc-text"></span>
                                    <span class="txt">Add A File</span>
                                </a>
                            </div>
                        </div>

                <table class="table-fw table-standart">
                    <thead>
                        <tr>
                            <th class="col-md-4 tl">
                                <span class="txt">Name</span>
                            </th>
                            <th class="col-md-2 tl">
                                <span class="txt">Kind</span>
                            </th>
                            <th class="col-md-3 tl">
                                <span class="txt">Modified Date</span>
                            </th>
                            <th class="col-md-3">
                                <span class="txt">Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let asset of assetsList">
                            <td class="col-md-4">
                                <a *ngIf="!asset.IsEditMode" class="asset-link-inner" title="{{asset.Name}}" (click)="assetClicked(asset)">
                                    <span class="icon">
                                        <span class="{{asset.IsFolder?'icon-create-folder':'icon-doc-text'}}"></span>
                                    </span>
                                    <span class="txt">{{asset.IsFolder ? asset.Name : asset.FileNameWithoutExtension}}</span>
                                </a>
                                <span class="icon" *ngIf="asset.IsEditMode">
                                        <span class="{{asset.IsFolder?'icon-create-folder':'icon-doc-text'}}"></span>
                                    </span>
                                <input class="input-rename-asset" *ngIf="asset.IsEditMode" [(ngModel)]="asset.Name" (change)="updateAsset(asset)" />
                            </td>
                            <td class="col-md-2">
                                <span class="txt">{{asset.IsFolder ? "Folder" : asset.FileExtension}}</span>
                            </td>
                            <td class="col-md-3">
                                <span class="txt">
                                    <time datetime="2018-03-26 10:36">{{asset.LastModifiedDate}}</time>
                                </span>
                            </td>
                            <td class="col-md-3 tc">
                                <a *ngIf='asset.IsFolder && !asset.IsRootFolder && !asset.IsEditMode' class="asset-link-action" title="Edit" (click)="editFolder(asset)">
                                    <span class="icon icon-rename-file"></span>
                                </a>
                                <a *ngIf="!asset.IsEditMode" class="asset-link-action" title="Download" (click)="downloadAsset(asset)">
                                    <span class="icon icon-download-file"></span>
                                </a>
                                <a *ngIf='!asset.IsRootFolder && !asset.IsEditMode' class="asset-link-action js-modal-handle" title="Delete" data-modal-handle="modal-delete-file" title="Delete" (click)="deleteAssetClicked($event, asset)">
                                        <span class="icon icon-delete-file"></span>
                                    </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>