﻿<div id="AddTeamDialog" title="Add/Edit Team" style="display:none;">
    <input type="hidden" id="hdnFieldTeamId" />
    <table style="width:100%;">
        <tr>
            <td align="right">Team Name:</td>
            <td align="left">
                <input type="text" id="TxtBoxTeamName"  style="width:90%;"/>
            </td>
        </tr>
    </table>
</div>
