﻿<div id="AddEditEmployeeDialog" title="Add/Edit Employee" style="display:none;">
    <input type="hidden" id="hdnFieldEmployeeId" />
    <table style="width:100%;">
        <tr style="display:none;background-color:yellow;" id="TrHierarchyName">
            <td align="right">Hierarchy Name:</td>
            <td align="left">
                <input type="text" id="TxtBoxHierarchyName" style="width:90%;" />
            </td>
        </tr>
        <tr>
            <td align="right">First Name:</td>
            <td align="left">
                <input type="text" id="TxtBoxFirstName"  style="width:90%;"/>
            </td>
        </tr>
        <tr>
            <td align="right">Last Name:</td>
            <td align="left">
                <input type="text" id="TxtBoxLastName" style="width:90%;" />
            </td>
        </tr>
        <tr>
            <td align="right">Employee Type:</td>
            <td align="left">
                <select id="DropDownEmployeeType"  style="width:90%;"/>
            </td>
        </tr>
    </table>
</div>
