﻿@{
    ViewBag.Title = "Home Page";
}

<div style="float:left;width:200px;">
    <table style="width:100%;" id="TblButtonsLeftNavigation">
        <tr>
            <td>
                <button id="BtnCreateNewHierarchy" style="background-color:white; width:190px;height:50px;">New Hierarchy</button>
            </td>
        </tr>
        <tr>
            <td style="padding-bottom:50px;">
                <button id="BtnHierarchiesList" style="background-color:white; width:190px;height:50px;">My Hierarchies</button>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width:100%;border-collapse:collapse; border:1px solid black;display:none;" id="TblTreeNodeOperations">
                    <tr>
                        <td>
                            <button id="BtnAddRootElement" style="margin-top:10px;background-color:white; width:180px;height:50px;display:none;">New Root Element</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="BtnAddParentEmployee" style="margin-top:10px;background-color:white; width:180px;height:50px;display:none;">Add Employee (upper level)</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="BtnAddChildEmployee" style="margin-top:10px;background-color:white; width:180px;height:50px;display:none;">Add Employee (lower level)</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="BtnAddTeam" style="margin-top:10px;background-color:white; width:180px;height:50px;display:none;">Add Team</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="BtnAddTeamMember" style="margin-top:10px;background-color:white; width:180px;height:50px;display:none;">Add Team Member</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="BtnEditTreeNode" style="margin-top:10px;background-color:white; width:180px;height:50px;display:none;">Edit</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="BtnDeleteTreeNode" style="margin-top:10px;margin-bottom:10px;background-color:white; width:180px;height:50px;display:none;">Delete</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div style="float:right;">
    <div style="width:100%; background-color:lightblue;font-weight:bold;">
        <span id="spanHierarchyName"></span>
    </div>
    <div id="DivHierarchyContainer">

    </div>
</div>

@Html.Partial("~/Views/Home/_NewEmployee.cshtml")
@Html.Partial("~/Views/Home/_NewTeam.cshtml")
@Html.Partial("~/Views/Home/_HierarchiesList.cshtml")

@section scripts {
    <script src="~/Scripts/Libs/jquery-ui.min.js"></script>

    <script src="~/Scripts/Libs/d3.min.js"></script>

    <script src="~/Scripts/Modules/main.js"></script>
    <script src="~/Scripts/Modules/operations.js"></script>
}