<div class="modal-bg-standalone"></div>

        <div class="modal-wrapper modal-standalone" data-modal-action="modal-delete-file">
            <input type="hidden" id="hdnFieldAssetToDelete" />
            <div class="modal-wrapper-inner">
                <span class="close-btn-wrap js-modal-close" (click)="closePopup($event)">
                    <span class="icon-close"></span>
                </span>
                <div class="txt-wrap">
                    <div class="txt-attention">
                        <span class="icon icon-big icon-trash-empty"></span>
                        <span class="txt">Delete Asset</span>
                    </div>
                    <p class="txt" id="pConfirmationText"></p>
                </div>
                <div class="btn-wrap">
                    <a class="btn-action inverted" (click)="deleteAsset()">
                        <span class="txt">Delete</span>
                    </a>
                    <a class="btn-action js-modal-close" (click)="closePopup($event)">
                        <span class="txt">Cancel</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="modal-wrapper modal-in-content modal-file-upload" data-modal-action="modal-file-upload">
            <input type="hidden" id="hdnFieldCurrentFolder" />
            <div class="modal-wrapper-inner modal-wrapper-small">
                <span class="close-btn-wrap js-modal-close" (click)="closePopup($event)">
                    <span class="icon-close"></span>
                </span>
                <div class="txt-wrap">
                    <label for="assets-file-upload" class="txt-attention">
                        <span class="icon icon-big icon-upload-big"></span>
                        <span class="txt">Upload File</span>
                    </label>
                    <div class="input-file-upload-wrap">
                        <input type="file" id="assets-file-upload" class="direct-upload upload-from-modal" (change)="upload($event)">
                    </div>
                    <p class="txt">You can upload xls, doc, pdf, etc.</p>
                    <div style="width: 100%; border:1px solid black;height:20px;" [style.display]="tempCounter>0?'block':'none'">
                        <div style="background-color:green;height:20px;" [style.width.%]="uploadProgress" id="divProgress"></div>
                    </div>
                </div>
            </div>
        </div>