<div style="clear: both;">
    <div *ngIf='isNewFolder'>
    <h2 mat-dialog-title >Add new folder</h2>
  </div>
  <div *ngIf='editFolder'>
    <h2 mat-dialog-title>Edit folder</h2>
  </div>
    <mat-dialog-content>
    <table>
      <tbody>
        <tr>
          <td>Folder Name:</td>
          <td>
            <input [(ngModel)]="folderName" required />
          </td>
        </tr>
      </tbody>
    </table>
  </mat-dialog-content>
    <mat-dialog-actions>
      <table>
          <tr>
              <td style="padding-top: 20px;">
                  <button mat-button (click)="addEditFolder()">{{addEditBtnText}}</button>
              </td>
              <td style="padding-top: 20px;">
                  <button mat-button mat-dialog-close>Cancel</button>
                </td>
            </tr>
      </table>
    </mat-dialog-actions>
  </div>