﻿body {
  text-align: center;
}

svg {
  margin-top: 10px;
  border: 1px solid #aaa;
}

.person rect {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.person {
  font: 14px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.name {
    font-weight:bold;
}

.modalBackground {
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    background-color: #000;
    filter: alpha(opacity=10);
    -moz-opacity: 0.3;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    display:none;
}

.tblCellBorder {
    border-collapse:collapse;
    border:1px solid black;
}

.tblCellWhiteBgColor {
    background-color:white;
}