@font-face {
  font-family: 'fontello';
  src: url('/assets/css/fonts/fontello.eot?17654997');
  src: url('/assets/css/fonts/fontello.eot?17654997#iefix') format('embedded-opentype'), url('/assets/css/fonts/fontello.woff2?17654997') format('woff2'), url('/assets/css/fonts/fontello.woff?17654997') format('woff'), url('/assets/css/fonts/fontello.ttf?17654997') format('truetype'), url('/assets/css/fonts/fontello.svg?17654997#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?17654997#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-trash-empty:before {
  content: '\e800';
}
/* '' */
.icon-assets:before {
  content: '\e801';
}
/* '' */
.icon-bell:before {
  content: '\e802';
}
/* '' */
.icon-bell-on:before {
  content: '\e803';
}
/* '' */
.icon-distribution-center:before {
  content: '\e804';
}
/* '' */
.icon-fulfillment:before {
  content: '\e805';
}
/* '' */
.icon-grid:before {
  content: '\e806';
}
/* '' */
.icon-home:before {
  content: '\e807';
}
/* '' */
.icon-inventory:before {
  content: '\e808';
}
/* '' */
.icon-arrow-left-circled:before {
  content: '\e809';
}
/* '' */
.icon-arrow-right-circled:before {
  content: '\e80a';
}
/* '' */
.icon-order:before {
  content: '\e80b';
}
/* '' */
.icon-reports:before {
  content: '\e80c';
}
/* '' */
.icon-create-folder:before {
  content: '\e80d';
}
/* '' */
.icon-delete-file:before {
  content: '\e80e';
}
/* '' */
.icon-download-file:before {
  content: '\e80f';
}
/* '' */
.icon-rename-file:before {
  content: '\e810';
}
/* '' */
.icon-close:before {
  content: '\e811';
}
/* '' */
.icon-upload-big:before {
  content: '\e812';
}
/* '' */
.icon-doc-text:before {
  content: '\f0f6';
}
/* '' */
