﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/JQueryToolkit/style.css" rel="stylesheet" />
    <link href="~/Content/JQueryToolkit/jquery-ui.css" rel="stylesheet" />

    <link href="~/Content/Styles.css" rel="stylesheet" />

    <title>Company Hierarchy</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="modalBackground" id="ModalDivBackground"></div>

    <script src="~/Scripts/Libs/jquery-1.12.4.min.js"></script>

    <script type="text/javascript">
        var directory_root = '@Url.Content("~")';
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
