<h1>Login</h1>
<table>
  <tr>
    <td>
      Username:
    </td>
    <td>
      <input [(ngModel)]="loginVM.Email" placeholder="Username" required>
    </td>
  </tr>
  <tr>
    <td>
      Password:
    </td>
    <td>
      <input [(ngModel)]="loginVM.Password" placeholder="Password" type="password" required>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-top: 10px;">
      <button type="button" (click)='login()'>Login</button>
    </td>
  </tr>
</table>