<h1>
  My Profile
</h1>
<div style="clear: both; padding-top:20px;">
<table>
    <tr>
        <td>First Name:</td>
        <td>
          <input [(ngModel)]="myProfileData.FirstName" required matInput>
        </td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td>
          <input [(ngModel)]="myProfileData.LastName" required matInput>
        </td>
      </tr>
      <tr>
          <td>Address:</td>
          <td>
            <input [(ngModel)]="myProfileData.Location.Address" required matInput>
          </td>
        </tr>
        <tr>
            <td>Primary Disctribution Center:</td>
            <td>
              <input type="text" required matInput>
            </td>
          </tr>
          <tr>
              <td>Primary FSL:</td>
              <td>
                <input type="text" required matInput>
              </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 20px;">
                    <button type="button" (click)="updateProfileData()">Update</button>
                </td>
              </tr>
</table>
</div>
<div style="clear:both; margin-top:20px;">
<h2>
  Associated Customers
</h2>
<!-- <mat-table [dataSource] = 'myProfileData.Customers' class="make-scrollable">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.FirstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="number">
          <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.LastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.Email}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="customerColumnsToDisplay" [ngClass]='mat-header-row'></mat-header-row>
      <mat-row *matRowDef="let row; columns: customerColumnsToDisplay"></mat-row>  
</mat-table> -->
</div>
<div style="clear:both; margin-top:20px;">
<h2>Security - change password</h2>
<table>
    <tr>
        <td>Old password:</td>
        <td>
          <input [(ngModel)]="changePsw.OldPassword" required type="password" />
        </td>
      </tr>
      <tr>
        <td>New password:</td>
        <td>
          <input [(ngModel)]="changePsw.NewPassword" required matInput type="password" />
        </td>
      </tr>
      <tr>
          <td colspan="2" style="padding-top: 20px;">
              <button type="button" (click)="changePassword()">Change password</button>
          </td>
        </tr>
</table>
</div>
