﻿<input type="text" placeholder="{{translation.ENTERGENRE}}" ng-model="genre" typeahead-wait-ms="300"
       typeahead-show-hint="true" typeahead-min-length="0"
       uib-typeahead="genre as genre.Name for genre in getGenres($viewValue) | limitTo:15" class="form-control">