﻿<div style="clear:both;padding-top:20px; padding-left:20px;" ng-show="validationSummary.ShowSummary">
    <table>
        <tr ng-show="validationSummary.NameRequired">
            <td style="color:red;font-weight:bold;">Name is required</td>
        </tr>
        <tr ng-show="validationSummary.GenreRequired">
            <td style="color:red;font-weight:bold;">Genre is required</td>
        </tr>
    </table>
</div>
