﻿<div style="padding-left:20px;">
    <h1>{{translation.NEWMOVIE}}</h1>
    <table>
        <tr>
            <td>{{translation.NAME}}:</td>
            <td><input type="text" ng-model="movie.Name" /></td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.GENRE}}:</td>
            <td style="padding-top:10px;" ng-controller="genreautocomplete">
                <genres></genres>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <button type="button" ng-click="saveMovie()">{{translation.SAVECHANGES}}</button>
            </td>
            <td style="padding-top:10px;" align="right">
                <button type="button" ng-click="cancel()">{{translation.CANCEL}}</button>
            </td>
        </tr>
    </table>
</div>
<validation></validation>