﻿<div style="padding-left:20px;">
    <h1>{{translation.EDITMOVIE}}</h1>

    <table>
        <tr>
            <td colspan="2" align="center">{{movie.Name}}</td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.NAME}}:</td>
            <td style="padding-top:10px;"><input type="text" ng-model="movie.Name" /></td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.GENRE}}:</td>
            <td style="padding-top:10px;" ng-controller="genreautocomplete">
                <genres></genres>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <button type="button" ng-click="saveChanges()">{{translation.SAVECHANGES}}</button>
            </td>
            <td style="padding-top:10px;" align="right">
                <button type="button" ng-click="cancel()">{{translation.CANCEL}}</button>
            </td>
        </tr>
    </table>
</div>
<validation></validation>