﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="padding-left:20px;">
    <table ng-controller="common">
        <tr>
            <td>
                <h2>Movies PoC</h2>
            </td>
            <td style="padding-left:20px;">
                {{translation.LANGUAGE}}:
            </td>
            <td>
                <select ng-change="swithLanguage()" ng-model="language">
                    <option value="en" selected>English</option>
                    <option value="bg">Български</option>
                </select>
            </td>
            <td style="padding-left:20px;">
                <div ng-show="isUserLoggedIn">
                    <table>
                        <tr>
                            <td>
                                {{translation.WELCOME}},
                                {{userName}}
                            </td>
                            <td style="padding-left:20px;">
                                <button type="button" ng-click="logout()">{{translation.LOGOUT}}</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

<div ng-view>

</div>

@section scripts
{        
    <script src="~/Scripts/home.js"></script>

    <script src="~/Scripts/services/authentication.js"></script>
    <script src="~/Scripts/services/movieContainer.js"></script>
    <script src="~/Scripts/services/validation.js"></script>
    <script src="~/Scripts/services/translation.js"></script>
        
    <script src="~/Scripts/controllers/common.js"></script>
        
    <script src="~/Scripts/controllers/login.js"></script>
    <script src="~/Scripts/controllers/register.js"></script>

    <script src="~/Scripts/controllers/genreAutocomplete.js"></script>
    <script src="~/Scripts/directives/autocomplete.js"></script>
    <script src="~/Scripts/directives/validation.js"></script>

    <script src="~/Scripts/controllers/addMovie.js"></script>
    <script src="~/Scripts/controllers/editMovie.js"></script>
    <script src="~/Scripts/controllers/listMovies.js"></script>
}
