﻿<style>
    .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 800px; 
    height: 300px;
}
</style>

<div style="padding-left:20px;">
    <div style="clear:both; padding-top:20px;">
        <div class="gridStyle" ng-grid="gridOptions">
        </div>
    </div>
    <div style="clear:both; padding-top:40px;">
        <button type="button" ng-click="addMovie()">{{translation.NEWMOVIE}}</button>
    </div>
</div>