.approver-main {
	padding: 3rem 4.8rem;

	.tiles-wrap {

		&.narrow {

			.row {
				margin-left: -0.5rem;
				margin-right: -0.5rem;

				@media @max-md {
					margin-left: 0;
					margin-right: 0;
				}
			}

			.third {
				padding-left: 0.5rem;
				padding-right: 0.5rem;

				@media @max-md {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}

	.tile {
		display: inline-block;
		width: 100%;
		padding: 3.5rem 4rem 3rem;
		font-family: @font-secondary;
		font-size: 1.8rem;
		line-height: 4.2rem;
		text-align: center;
		border-radius: 6px;
		border: 1px solid #cdcdcd;
		-webit-transition: box-shadow .3s ease, transform .3s ease;
		transition: box-shadow .3s ease, transform .3s ease;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		.letter-spacing(-25);

		&:hover,
		&:focus {
			box-shadow: 2px 2px 2px 2px fade(#cdcdcd, 50%);
			-webkit-transform: translate(-2px, -2px);
			transform: translate(-2px, -2px);
		}

		&.inactive {
			color: @gray-inactive;
			cursor: default;

			&:hover,
			&:focus {
				box-shadow: none;
				-webkit-transform: none;
				transform: none;
			}
		}

		img {
			margin-bottom: 0.5rem;
		}

		p {
			margin: 0;
		}
	}
}