html {
    font-family: @font-family-base;
    font-size: 62.5%;

    // cursor: default;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering: optimizeLegibility;
}

body {
    font-size: @font-size-base;
    line-height: @line-height-base;

    color: @text-color;
    background-color: @body-bg;
}

// Enable placeholder colors
::-webkit-input-placeholder {
    color: @placeholder-color;
}
:-moz-placeholder {
    color: @placeholder-color;
}
:-ms-input-placeholder {
    color: @placeholder-color;
}

// Horizontal rules

hr {
    margin-top: @line-height-computed;
    margin-bottom: @line-height-computed;

    border: 0;
    border-top: 1px solid @hr-border;
}

a {
    text-decoration: none;

    color: @links;
    background-color: transparent;
    &:hover {
        color: @links-hover;
    }
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
    .content &, article & {
        margin: 1em 0;
        padding: 0 0 0 40px;

        list-style-type: disc;
    }
}
