.btn {
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.inactive {
        color: @gray-inactive;
        cursor: default;
    }

    &.bold {
        font-weight: 700;
    }
}

.btn-link {
    font-family: @font-secondary;
    font-size: 1.6rem;
    line-height: 4.2rem;
    color: @blue;
    .letter-spacing(-10);
}

.btn-txt {
    display: inline-block;
    color: @blue-light;
    font-size: 1.3rem;
    .letter-spacing(20);

    &.red {
        color: @red;

        &.inactive {
            color: @gray-txt;
        }
    }
}

.btn-round {
    background: @white;
    padding: 0.4rem 1.8rem;
    font-size: 1.6rem;
    border: 1px solid;
    border-radius: 2rem;
    -webkit-transition: transform .3s ease, background-color .3s ease, color .3s ease;
    transition: transform .3s ease, background-color .3s ease, color .3s ease;

    .icon-arrow-right {
        margin-left: 0.6rem;
        font-size: 1.2rem;
    }

    &:hover,
    &:focus {
        // -webkit-transform: scale(1.05);
        // transform: scale(1.05);
        // background: @blue;
    }

    &:active {
        // -webkit-transform: scale(0.9);
        // transform: scale(0.9);
    }

    &.blue {
        border-color: @blue;
        color: @blue;

        &:hover,
        &:focus {
            background-color: @blue;
            color: @white;
        }

        &.filled {
            border-color: @links;
            background-color: @links;
            color: @white;

            &:hover {
                background-color: @links-hover;
            }
        }

        &.inactive {
            border-color: @gray;
            background-color: @gray;
            color: @white;
            cursor: default;

            &:hover {
                background-color: @gray;
            }
        }
    }

    &.red {
        border-color: @red;
        color: @red;

        &:hover,
        &:focus {
            background-color: @red-light;
            color: @red-light;
        }

        &.filled {
            border-color: @red;
            background-color: @red;
            color: @white;

            &:hover {
                background-color: darken(@red, 10%);
            }
        }
    }
}

.toggle-btn {
    display: none;

    & + label {
        display: inline-block;
        width: 12rem;
        position: relative;
        text-align: center;
        cursor: pointer;

        .handle {
            position: relative;
            display: inline-block;
            content: "";
            width: 6rem;
            height: 2.8rem;
            border: 1px solid @blue-light;
            border-radius: 2rem;
            vertical-align: middle;
        }

        .handle-inner {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-color: @blue-light;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0.3rem;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all .3s ease;
            transition: left .3s ease;
        }

        .on, .off, .yes, .no {
            display: inline-block;
            position: absolute;
            top: 50%;
            font-size: 1.3rem;
            text-transform: uppercase;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            transition: color .3s ease;
        }

        .on, .no {
            left: 0;
            color: @blue-light;
        }

        .off, .yes {
            right: 0;
            color: @gray-txt;
        }

        span {
            user-select: none;
        }

        .on, .no {float: left;}
        .off, .yes {float: right;}
    }

    &:checked + label {

        .handle-inner {
            left: 3.5rem;
        }

        .on, .no {
            color: @gray-txt;
        }

        .off, .yes {
            color: @blue;
        }
    }
}

.btn-export {

    img + span {
        margin-left: 1rem;
    }
}