.control-panel {
	padding: 3rem 4.8rem;

	.top-bar {
		.clear();

		&.empty-top {
			margin-top: 2.5rem;
		}

		.fetch-data-status-wrap {
			position: relative;
			text-align: right;

			.status {
				display: block;
				position: absolute;
				bottom: -100%;
				right: 0;
				margin: 1rem 0 0;
				font-size: 1.2rem;
				text-align: center;
				opacity: 0;
				visibility: hidden;
				white-space: nowrap;

				@media @max-md {
					display: none;
					position: static;
					white-space: normal;
				}

				&.active {
					opacity: 1;
					visibility: visible;

					@media @max-md {
						display: block;
					}
				}

				.txt {
					padding-left: 0.5rem;
					font-size: 1.2rem;
					color: @gray;
				}

				.loading-bar {
					display: inline-block;
					width: 1.2rem;
					height: 1.2rem;
					border-top: 2px solid @blue-light;
					border-right: 2px solid @blue-light;
					border-radius: 50%;
				}

				.icon-checkmark {
					display: inline-block;
					margin-right: 0.5rem;
					color: @green;
				}

				.icon-close {
					display: inline-block;
					font-size: 1.5rem;
					color: @gray;
				}
			}
		}

		.admin-sort-options {
			.clear();

			.checkbox-wrap {
				margin-right: 6rem;

				& + .dropdown-wrap {
					margin-top: 0.2rem;
				}
			}
		}
	}

	.adjustments-listing {
		margin-top: 5rem;
	}

	.nsm-list {
		margin: 6rem 0 2rem;

		.row {
			margin-left: -0.5rem;
			margin-right: -0.5rem;

			@media @max-md {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.col-md-4 {
			padding-left: 0.5rem;
			padding-right: 0.5rem;

			@media @max-md {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.tile {
			margin-bottom: 3rem;
			padding: 2.2rem 3rem;
			height: 24rem;
			border: 1px solid @gray;
			border-radius: .5rem;

			&.inactive {

				.name {
					color: @gray-txt;
				}
			}
		}

		.name {
			margin: 0 0 2rem;
			font-size: 1.6rem;
			line-height: 1.6rem;
			text-align: center;
			color: @color-txt;
			.letter-spacing(40);
		}

		.info-wrap {
			margin-top: 3rem;
			font-size: 1.4rem;
			font-weight: 700;
			.letter-spacing(40);

			li {

				&:nth-child(3) {

					.icon-right-small {
						margin-left: 1.4rem;
						margin-right: 0.8rem;
					}
				}

				&:nth-child(4) {
					
					.icon-right-small {
						margin-left: 2.2rem;
						margin-right: 0.8rem;
					}
				}
			}

			a {
				display: inline-block;
				padding: 0.4rem 0;

				.icon-right-small {
					display: inline-block;
				}
			}
		}
	}

	.options {
		margin: 6rem 0 2rem;

		.tile {
			padding: 2.2rem 3rem;
			height: 36rem;
			border: 1px solid @gray;
			border-radius: .5rem;

			@media @max-md {
				height: 100%;
			}
		}

		h3 {
			margin: 0.6rem 0 0;
			font-size: 1.6rem;
			line-height: 3rem;
			color: @color-txt;
			text-align: center;
			.letter-spacing(40);
		}

		hr {
			margin: 3rem 0;
		}

		h4 {
			margin: 0 0 0.5rem 0;
			font-size: 1.6rem;
			line-height: 2.6rem;
			color: @color-txt;
			.letter-spacing(40);
		}

		.changes-wrap {
			margin-bottom: 3.5rem;

			h4 {
				margin-bottom: 0;
			}

			.date-small {
				margin: 1rem 0 0;
				display: inline-block;
				font-size: 1.6rem;
				font-weight: 700;
				line-height: 1.6rem;
				color: @gray-txt;
				.letter-spacing(40);
			}
		}

		.lock-out-wrap {
			margin-bottom: 6rem;
			.clear();
		}

		.data-inner {
			margin-left: 1rem;
			color: fade(@color-txt, 50%);
		}

		.btn-toggle-wrap {
			margin-left: 1rem;
		}

		.btn-wrap {
			.clear();

			.icon-right-small {
				display: inline-block;
				margin-left: 0.5rem;
			}

			a:first-child {
				float: left;
			}

			a:last-child {
				float: right;
			}
		}
	}

	&.finalize-data {

		h2 {
			margin: 0.5rem 0;
			font-size: 1.6rem;
			font-weight: 400;
			color: @color-txt;
			.letter-spacing(40);

			.commission-period {
				font-weight: 700;
			}
		}

		.custom-dropdown + .custom-dropdown {
			margin-left: 2rem;
		}

		.btn-export {
			margin-right: 6rem;

			&.alone {
				margin-right: 0;
			}
		}

		.last-init {
			margin: 2rem 0 0;
			font-size: 1.1rem;
			color: @gray-txt;
			text-align: right;
			.letter-spacing(20);
		}
	}
}