.dashboard {
	padding: 3rem 4.8rem;

	.top-bar {
		.clear();

		&.empty-top {
			margin-top: 2.5rem;
		}

		.custom-dropdown + .label-txt {
			margin-left: 7rem;
		}

		.label-txt {
			margin: 0 1rem;
			font-size: 1.2rem;
			line-height: 2.8rem;
			color: @gray-txt;
			.letter-spacing(40);
		}
	}

	.btn-export + .data-info {
		margin-left: 8rem;
	}

	.no-data {
		margin-top: 5rem;
		font-size: 1.2rem;
		color: @gray-inactive;
		.letter-spacing(40);
	}

	.data-info {
		padding-top: 1rem;
		font-size: 1.2rem;
		line-height: 1.4rem;
		color: @gray-txt;
		.letter-spacing(40);
	}
}

.summary-tiles-wrap {

	.tile {
		margin: 3rem 0 6rem;

		.top-part {
			padding: 1rem 2.5rem;
			background-color: @sidebar;
			border-top-right-radius: .5rem;
			border-top-left-radius: .5rem;

			.small-title,
			.title {
				font-family: @font-secondary;
				color: @white;
			}

			.small-title {
				font-size: 1.6rem;
				line-height: 16px;

				& + .title {
					line-height: 2.2rem;
				}
			}

			.title {
				margin: 0;
				font-size: 2.2rem;
				font-weight: 400;
				line-height: 4.2rem;
				text-transform: uppercase;
			}
		}

		.middle-part {
			position: relative;
			padding: 0.8rem 0;
			font-size: 1.4rem;
			line-height: 4.2rem;
			text-align: center;
			border-left: 1px solid #d1d1d1;
			border-right: 1px solid #d1d1d1;
			border-bottom: 1px solid #e1e1e1;
			.letter-spacing(50);
			.clear();

			&:before {
				content: '';
				display: inline-block;
				width: 1px;
				height: 3rem;
				position: absolute;
				top: 1.4rem;
				left: ~'calc(50% - 1px)';
				background-color: #d1d1d1;
			}

			.month-handle,
			.ttm-handle {
				color: @links;
				cursor: pointer;
				transition: color .3s ease;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				&:hover {
					color: @links-hover;
				}

				&.active {
					color: @color-txt;
					cursor: auto;
				}
			}

			.month-handle {
				width: 50%;
				float: left;
			}

			.ttm-handle {
				width: 50%;
				float: right;
			}
		}

		.bottom-part {
			padding: 4.2rem 2rem 0;
			min-height: 33rem;
			text-align: center;
			border-left: 1px solid #d1d1d1;
			border-right: 1px solid #d1d1d1;
			border-bottom: 1px solid #e1e1e1;
			border-bottom-right-radius: .5rem;
			border-bottom-left-radius: .5rem;

			.month-wrap,
			.ttm-wrap {

				&:not(.active) {
					display: none;
				}
			}

			.circle {
				display: inline-block;
				width: 17.8rem;
				height: 17.8rem;
				border: 1.2rem solid @light-blue;
				border-radius: 50%;

				.font-icon,
				.num,
				.additional {
					display: inline-block;
					width: 100%;
					font-family: @font-secondary;
					font-weight: 700;
				}

				.font-icon {
					margin: 1.5rem 0 0.5rem;
					font-size: 4rem;
					line-height: 4.2rem;
					color: @light-blue;
				}

				.num {
					font-size: 3.4rem;
					line-height: 4.2rem;
					color: @color-txt;
					.letter-spacing(-80);
				}

				.additional {
					margin: 0.6rem 0 0;
					font-size: 1.6rem;
					line-height: 1.8rem;
					color: @color-txt;
					.letter-spacing(-80);

					.light-blue {
						color: @light-blue;
					}
				}
			}

			.ytd-info {
				display: inline-block;
				margin-top: 4.6rem;
				width: 100%;
				font-size: 1.6rem;
				line-height: normal;
				color: @color-txt;
			}

			.ttm-wrap {
				padding-top: 1px;
			}

			.ttm-chart {
				position: relative;
				margin-top: 9rem;
				height: 19rem;
			}
		}
	}
}

.commission-info-wrap {
	margin-bottom: 4rem;

	h3 {
		margin: 4rem 0 4rem;
		font-family: @font-secondary;
		font-size: 1.8rem;
		color: @color-txt;
		.letter-spacing(-40);
	}

	.commission-info {

		&.boxed {

			.box {
				display: inline-block;
				position: relative;
				width: 7rem;
				height: 3.4rem;

				.icon-checkmark {
					display: inline-block;
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 1.2rem;
					opacity: 0;
					visibility: hidden;
					transform: translate(-50%, -50%);
				}
			}

			.txt {
				position: absolute;
				bottom: -0.5rem;
				right: -8rem;
				font-family: @font-secondary;
				font-weight: 700;
				font-size: 1.6rem;
				line-height: 1.6rem;
				color: @color-txt;
			}

			li {
				display: block;
				height: 3.4rem;
				position: relative;
				border-bottom: 1px solid #e4e4e4;

				&.active {

					.icon-checkmark {
						opacity: 1;
						visibility: visible;
					}
				}

				&:nth-child(1) {
					width: 21rem;

					.box {
						background-color: #0ec5e6;

						.icon-checkmark {
							color: @white;
						}
					}
				}

				&:nth-child(2) {
					width: 17rem;

					.box {
						background-color: #32e3f7;

						.icon-checkmark {
							color: @white;
						}
					}

					.txt {
						right: -5rem;
					}
				}

				&:nth-child(3) {
					width: 13rem;

					.box {
						background-color: #bdf5fc;

						.icon-checkmark {
							color: @light-blue;
						}
					}

					.txt {
						right: -5rem;
					}
				}

				&:nth-child(4) {
					width: 7rem;
					border-bottom: none;

					.box {
						background-color: #f0f4f5;

						.icon-checkmark {
							color: @light-blue;
						}
					}
				}
			}
		}

		&.lined {

			h3 {
				margin-bottom: 3.2rem;
			}

			ul {
				padding-left: 3.5rem;
			}

			.line {
				display: inline-block;
				position: absolute;
				bottom: 0;
				right: 0;
				width: 33%;
				height: 4px;
				border-radius: 5px;

				.dot {
					display: inline-block;
					position: relative;
					width: 1rem;
					height: 1rem;
					top: -0.8rem;
					border-radius: 50%;
					transform: translateX(-50%);
				}
			}

			.percent,
			.init-value {
				font-family: @font-secondary;
				font-weight: 700;
			}

			.percent {
				display: inline-block;
				font-size: 1.6rem;
				position: absolute;
				bottom: 1.2rem;
				right: ~'calc(33% - 5px)';
				color: @color-txt;
			}

			.init-value {
				display: inline-block;
				position: absolute;
				bottom: -6px;
				right: ~'calc(33% + 10px)';
				font-size: 1.2rem;
				.letter-spacing(80);
			}

			li {
				display: block;
				height: 3.4rem;
				position: relative;

				&.active {

					.dot {

						&:before {
							display: inline-block;
							content: '';
							height: 2.6rem;
							width: 1px;
							position: absolute;
							top: ~'calc(100% + 5px)';
							left: ~'calc(50% - 1px)';
							background-color: inherit;
						}

						&:after {
							display: inline-block;
							content: 'Me @ ' attr(data-commission-num);
							position: absolute;
							top: 3.8rem;
							left: 50%;
							font-family: @font-primary;
							font-size: 1.6rem;
							color: #0ec5e6;
							white-space: nowrap;
							transform: translateX(-50%);
							.letter-spacing(40);
						}
					}
				}

				&:nth-child(1) {

					.line,
					.dot {
						background-color: #7f7f7f;
					}

					.init-value {
						color: #7f7f7f;
					}
				}

				&:nth-child(2) {

					.line,
					.dot {
						background-color: #959595;
					}

					.line {
						right: 33%;
					}

					.percent {
						right: ~'calc(66% - 5px)';
					}

					.init-value {
						right: ~'calc(66% + 10px)';
						color: #959595;
					}
				}

				&:nth-child(3) {

					.line,
					.dot {
						background-color: #c5c5c5;
					}

					.line {
						right: 66%;
					}

					.percent {
						right: ~'calc(100% - 5px)';
					}

					.init-value {
						right: ~'calc(100% + 10px)';
						color: #959595;
					}
				}
			}
		}
	}
}