.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: #000;
    background: #ccc;
}

#logo {
    float: left;
    @media @max-md {
        float: none;

        .cb; // center block
        .tc; // center text
    }
}

.container-fluid {

    &.borderless {
        padding-left: 0;
        padding-right: 0;
    }

    &.with-sidebar {
        width: ~'calc(100% - 90px)';
        margin-left: 0;
        padding: 0;
    }
}

.title-tooltip-box {
    position: absolute;
    display: inline-block;
    max-width: 20rem;
    padding: 0.2rem 0.6rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: @black;
    background-color: @white;
    border: 1px solid @black;
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px @gray-light;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .2s ease, visibility .2s ease;
    z-index: 88;

    &.shown {
        opacity: 1;
        visibility: visible;
    }
}

//modal
.modal-bg-wrapper {
    display: none;
    background-color: rgba(45, 50, 51, 0.66);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    &.opened {
        display: block;
    }
}

.modal-standart {
    background-color: @white;
    padding: 2.5rem 4rem;
    width: 54rem;
    position: absolute;
    top: 50%;
    left: 50%;
    color: @gray-txt;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0rem 2rem 4rem 0.5rem fade(@black, 24%);

    .close-btn-wrap {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        z-index: 5;

        a {
            font-size: 1.7rem;
            cursor: pointer;
            color: @gray-txt;
            transition: color .3s ease;

            &:hover {
                color: @color-txt;
            }
        }
    }

    h2 {
        margin: 0 0 2.5rem;
        font-family: @font-secondary;
        font-size: 2.4rem;
        font-weight: 400;
        // line-height: 4.2rem;
        letter-spacing: -0.04rem;
    }
}

.modal-approve,
.modal-reject {

    .nsm-wrap,
    .customer-wrap {
        .clear();
    }

    .nsm-wrap {
        margin-bottom: 3rem;

        .l,
        .r {
            width: 50%;
        }
    }

    .customer-wrap {

        .l {
            width: 60%;
        }

        .r {
            width: 40%;
        }
    }

    .title {
        display: inline-block;
        margin-bottom: 0.5rem;
        width: 100%;

        &.small {
            font-size: 1.2rem;
            .letter-spacing(40);
        }
    }

    .input-wrap input {
        text-align: center
    }

    .txt {
        font-size: 1.6rem;
        color: @color-txt;
        .letter-spacing(20);

        &.customer-name {
            display: inline-block;
            width: 100%;
            text-transform: uppercase;
        }

        &.customer-num {
            font-size: 1.2rem;
        }
    }

    .person {
        display: inline-block;
        width: 100%;
    }

    .reject-reason {
        margin: 2.5rem 0 1rem;

        .title {
            margin-bottom: 1.5rem;
        }

        input {
            width: 100%;
            padding: 0.5rem 1rem;
            font-size: 1.6rem;
            color: @color-txt;
            border: 1px solid @blue-light;
            border-radius: 0.5rem;
            .letter-spacing(20);
        }
    }

    .error {
        margin: 1.5rem 0;
        min-height: 1.7rem;
        font-size: 1.2rem;
        color: @red;
        text-align: center;

        .error-txt {
            display: inline-block;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s ease, visibility .3s ease;

            &.shown {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .btn-wrap {
        text-align: center;

        .btn {
            min-width: 9rem;
            font-size: 1.6rem;
            .letter-spacing(20);
        }
    }
}

.modal-date-change {

    .input-date-wrap {
        margin: 5rem 0 6rem;
    }

    .input-round {
        min-width: 13rem;
        font-size: 1.6rem;
        color: @blue-light;
        text-align: center;
        .letter-spacing(20);

        &::-webkit-input-placeholder{
            color: @blue-light;
        }

        &:-moz-placeholder{
            color: @blue-light;/* For Firefox 18- */
        }

        &::-moz-placeholder{
            color: @blue-light;/* For Firefox 19+ */
        }

        &:-ms-input-placeholder{
            color: @blue-light;
        }
    }

    .js-datepicker-init {
        cursor: pointer;

        &:hover {
            color: @blue;
        }
    }

    .icon-calendar {
        display: inline-block;
        margin-left: 1rem;
        font-size: 2.2rem;
        color: @blue-light;
        transition: color .3s ease;
    }
}

.modal-confirmation {
    width: 40rem;
    text-align: center;

    p {
        font-size: 1.4rem;
        line-height: 2.6rem;
        color: @color-txt;
        .letter-spacing(40);
    }

    .btn-wrap {
        margin: 2.5rem 0 0;

        a {
            font-size: 1.6rem;
        }

        .btn-cancel {
            margin-right: 3rem;
            color: @color-txt;

            &.alone {
                margin-right: 0;
            }
        }
    }
}

.modal-adjustment {

    h2 {
        color: @color-txt;
    }

    .content {
        margin-top: 3.5rem;
    }

    .nsm-name {
        font-size: 1.3rem;
        font-weight: 700;
        line-height: 3rem;
        color: @color-txt;
        .letter-spacing(30);
    }

    .custom-dropdown.big {

        .select2 {
            width: 100% !important;
        }
    }

    .input-wrap {
        margin: 3rem 0;

        label {
            display: inline-block;
            width: 14.5rem;
            font-size: 1.2rem;
            color: @gray-txt;
            .letter-spacing(20);
        }

        input {
            display: inline-block;
            width: 12rem;
            font-size: 1.4rem;
            color: @color-txt;
            text-align: right;
            .letter-spacing(40);

            &[type='number'] {
                -moz-appearance:textfield;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }

        .txt {
            display: inline-block;
            font-size: 1.4rem;
            color: @color-txt;
            .letter-spacing(40);
        }
    }

    .notes-wrap {
        margin-top: 3.5rem;

        label {
            display: block;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            color: @gray-txt;
            .letter-spacing(20);
        }

        textarea {
            display: inline-block;
            width: 100%;
            height: 9.5rem;
            padding: 0.5rem;
            color: @color-txt;
            border: 1px solid @blue-light;
            border-radius: .5rem;
            resize: none;

            &:focus,
            &:active {
                box-shadow: none;
                outline: none;
                border-color: @blue;
            }
        }
    }

    .btn-wrap {
        margin-top: 2rem;
    }
}

.js-modal-open {
    cursor: pointer;
}

.hover-box-inner,
.bar-chart-tooltip {
    display: inline-block;
    padding: 1rem;
    background: @white;
    border: 1px solid @light-blue;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    font-family: @font-secondary;
    font-weight: 700;
    font-size: 1.8rem;
    color: #545968;
    text-align: center;
    white-space: pre;
    box-shadow: 0rem 0.25rem 0.5rem 0.1rem fade(@black, 9%);
    -webkit-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    pointer-events: none;
    z-index: 11;

    span.label {
        display: inline-block;
        padding-right: 0.5rem;
        color: @light-blue;
    }

    &.shown {
        opacity: 1;
        visibility: visible;
    }

    &:before {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        -webkit-transform: translate(-50%, 100%) rotate(45deg);
        transform: translate(-50%, 100%) rotate(45deg);
        content: '';
        width: 2rem;
        height: 2rem;
        background: @white;
        border: 1px solid;
        border-top-color: @white;
        border-right-color: @light-blue;
        border-bottom-color: @light-blue;
        border-left-color: @white;
        box-shadow: 0.35rem 0.35rem 0.5rem 0.05rem fade(@black, 9%);
        // z-index: 2;
    }
}

.hover-box-inner,
.bar-chart-tooltip {
    visibility: visible;
    -webkit-transform: translate(-50%, -140%);
    transform: translate(-50%, -140%);
}

.input-round {
    display: inline-block;
    padding: 0.4rem 1rem;
    width: 6rem;
    color: @color-txt;
    border: 1px solid @blue;
    border-radius: 1.5rem;
}

.custom-dropdown {
    display: inline-block;
    position: relative;
    width: 12rem;

    &.big {
        width: 17rem;
    }

    &.medium-big {
        width: 19rem;
    }

    &.bigger {
        width: 26rem;
    }

    &.with-awesomplete {

        .input-field {
            color: @blue;
            border-color: @blue;

            &::-webkit-input-placeholder{
                color: @blue;
            }

            &:-moz-placeholder{
                color: @blue;/* For Firefox 18- */
            }

            &::-moz-placeholder{
                color: @blue;/* For Firefox 19+ */
            }

            &:-ms-input-placeholder{
                color: @blue;
            }
        }

        ul {
            max-height: 200px;
            overflow-y: auto;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }

    &:focus {
        outline: none;
    }

    select {
        padding: 0.4rem 1rem;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        color: @blue;
        border: 1px solid @blue;
        border-radius: 1.5rem;
        background-color: @white;
        .letter-spacing(20);

        &:focus {
            outline: none;
        }
    }

    .label {
        padding-left: 1rem;
        font-size: 1.4rem;
        color: @gray;

        &.label-abs-top {
            position: absolute;
            top: -2.5rem;
            left: 0;
        }
    }

    .select2 {
        font-size: 1.3rem;
        font-weight: 700;
        // letter-spacing: 0.04rem;
        color: @blue;
        .letter-spacing(20);

        &:focus {
            outline: none;
        }

        .select2-selection {
            padding: 0 0.5rem;
            // letter-spacing: 0.04rem;
            border: 1px solid @blue;
            border-radius: 1.5rem;
            .letter-spacing(20);

            &:focus {
                outline: none;
            }
        }
    }
}

.search-bar-wrap {
    display: inline-block;
    width: 36.5rem;
    position: relative;

    input {
        width: 100%;
        font-family: @font-secondary;
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: @gray-txt;
        border: none;
        border-bottom: 1px solid @border-color;

        &::-webkit-input-placeholder{
            color: @gray-txt;
        }

        &:-moz-placeholder{
            color: @gray-txt;/* For Firefox 18- */
        }

        &::-moz-placeholder{
            color: @gray-txt;/* For Firefox 19+ */
        }

        &:-ms-input-placeholder{
            color: @gray-txt;
        }
    }

    .btn-clear {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 3.5rem;
        font-size: 1.2rem;
        color: @red-light;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-50%);
        transition: color .3s ease, opacity .3s ease, visibility .3s ease;

        &:hover {
            color: @red;
        }

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    .btn-search {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 2rem;
        color: @blue-light;
        transform: translateY(-50%);
        transition: color .3s ease;

        &:hover {
            color: @blue;
        }
    }
}

.custom-checkbox {

    input {
        display: none;

        &:checked + label {

            .checkbox {

                .icon-checkmark {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    label {
        display: inline-block;
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: @blue-light;
        cursor: pointer;
        transition: color .3s ease;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            color: @blue;
        }

        .checkbox {
            display: inline-block;
            margin-right: 0.5rem;
            vertical-align: middle;
            position: relative;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 0.5rem;
            border: 1px solid @blue;

            .icon-checkmark {
                display: inline-block;
                position: absolute;
                top: ~'calc(50% - 0.2rem)';
                left: ~'calc(50% + 0.4rem)';
                font-size: 1.4rem;
                color: @blue;
                opacity: 0;
                visibility: hidden;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                transition: opacity .3s ease, visibility .3s ease;
            }
        }

        .txt {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &.radio-checkbox {

        input:checked + label {

            .checkbox {

                &:before {
                    transform: scale(1);
                }
            }
        }

        .checkbox {
            position: relative;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            border: 1px solid @blue;

            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 3px;
                right: 3px;
                bottom: 3px;
                left: 3px;
                background-color: @blue;
                border-radius: 50%;
                transform: scale(0);
                transition: transform .3s ease;
            }
        }
    }
}

.pagination {
    margin: 1.5rem 0 2rem;
    text-align: center;
    .letter-spacing(40);

    .paging-numbers {
        display: inline-block;
        margin: 0 1rem;
        padding-top: 0.3rem;
        vertical-align: middle;
    }

    a {
        display: inline-block;
        margin: 0 0.2rem 0 0.5rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: @color-txt;

        &:hover {
            color: @links-hover;
        }
    }

    .active {
        color: @links;
    }

    .paging-start,
    .paging-left,
    .paging-right,
    .paging-end {
        font-size: 2.2rem;
        color: @links;
        vertical-align: middle;
        transition: transform .3s ease;

        span:before {
            border-radius: 50%;
            transition: box-shadow .3s ease;
        }

        &:hover {
            color: @links-hover;
            -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);

            span:before {
                box-shadow: 1px 1px 1px 1px #c5c5c5;
            }
        }
    }
}

.clarification {
    margin: 0.8rem 0;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: @gray-txt;
    .letter-spacing(40);
}

//keyframes

@keyframes animRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.anim-rotate {
    animation-name: animRotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    tranform-origin: 50% 50%;
}