@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?77765258');
  src: url('fonts/fontello.eot?77765258#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?77765258') format('woff2'),
       url('fonts/fontello.woff?77765258 ') format('woff'),
       url('fonts/fontello.ttf?77765258') format('truetype'),
       url('fonts/fontello.svg?77765258#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77765258 #fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add-customers:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-customer-log:before { content: '\e802'; } /* '' */
.icon-menu-edit:before { content: '\e803'; } /* '' */
.icon-rejection-note:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
.icon-arrow-left:before { content: '\e806'; } /* '' */
.icon-arrow-right:before { content: '\e807'; } /* '' */
.icon-right-small:before { content: '\e808'; } /* '' */
.icon-left-small:before { content: '\e809'; } /* '' */
.icon-paging-end:before { content: '\e80a'; } /* '' */
.icon-paging-left:before { content: '\e80b'; } /* '' */
.icon-paging-right:before { content: '\e80c'; } /* '' */
.icon-paging-start:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-menu-edit-nsm:before { content: '\e80f'; } /* '' */
.icon-adjustments:before { content: '\e810'; } /* '' */
.icon-checkmark:before { content: '\e811'; } /* '' */
.icon-edit:before { content: '\e812'; } /* '' */
.icon-menu-dashboard:before { content: '\e813'; } /* '' */
.icon-menu-approvers-manage-customers:before { content: '\e814'; } /* '' */
.icon-menu-help:before { content: '\e815'; } /* '' */
.icon-menu-nsm-portfolio:before { content: '\e816'; } /* '' */
.icon-menu-control-panel:before { content: '\e817'; } /* '' */
.icon-sidebar-close:before { content: '\e818'; } /* '' */