.site-header {

	&.header-home {
		text-align: center;

		.logo-centered {
			margin-top: 4rem;
		}

		h1 {
			margin: 0;
			font-size: 2rem;
			font-weight: 400;
			line-height: 4.2rem;
			color: fade(@sidebar, 80%);
			.letter-spacing(20);
		}
	}

	&.header-inner {
		position: relative;
		padding: 2.4rem 4.8rem;
		border-bottom: 1px solid @hr-border;

		h1 {
			display: inline-block;
			margin: 0;
			font-family: @font-secondary;
			font-size: 2.4rem;
			font-weight: 400;
			line-height: 4.2rem;
			color: @color-txt;
			.letter-spacing(-10);
		}

		.btn-back {
			position: absolute;
			top: 2.4rem;
			right: 5rem;
			font-size: 1.3rem;
			line-height: 4.2rem;

			span {
				font-size: 1.3rem;
				margin-right: 0.4rem;
				vertical-align: baseline;
			}
		}

		.custom-dropdown {
			margin-left: 2rem;
			line-height: 4.2rem;
			vertical-align: bottom;
		}

		.btn-add-customer {

			.icon-add-customers {
				font-size: 1.8rem;
			}

			.txt {
				margin-left: 0.4rem;
			}
		}

		.btn-adjustments {

			.txt {
				margin-left: 0.5rem;
			}
		}

		.btn-new-adjustment {
			margin-right: 12rem;

			.icon-add-customers {
				font-size: 2rem;
			}

			.txt {
				margin-left: 0.5rem;
			}
		}

		.btn-customer-log {
			margin-left: 5rem;

			&.activity-log {
				margin-left: 9rem;

				.txt {
					margin-left: 0.5rem;
				}
			}

			&.new-event {
				position: relative;

				&:before {
					content: '';
					position: absolute;
					top: 1rem;
					right: -0.8rem;
					width: 0.7rem;
					height: 0.7rem;
					background-color: @red;
					border-radius: 50%;
				}
			}

			.txt {
				margin-left: 2rem;
			}
		}

		.btn-close {
			width: 4.2rem;
			text-align: center;
			color: @gray;
			transition: color .3s ease;

			&:hover {
				color: @blue;
			}
		}

		.btn-txt {
			font-family: @font-primary;
			font-size: 1.3rem;
			text-transform: uppercase;
			.letter-spacing(40);

			& + .btn-txt {
				margin-left: 7rem;
			}
		}
	}
}