.container-fluid.home {
	// min-height: ~"calc(100% - 5.8rem)";
	background-color: #f5f5f5;
    min-height: 100vh;

	.log-in {
		padding-top: 4rem;
		min-height: ~'calc(100vh - 25rem)';
	}

	.tiles {
		text-align: center;
	}

	.tile {
		margin: 0 3.5rem;
		padding: 0;
		vertical-align: top;
		display: inline-block;
		width: 28.5rem;
		height: 34.5rem;
		color: @color-txt;
		border-radius: 6px;
		border: 1px solid #cdcdcd;
		background: #fbfbfb;
		-webit-transition: box-shadow .3s ease, transform .3s ease;
		transition: box-shadow .3s ease, transform .3s ease;

		&:hover,
		&:focus {
			box-shadow: 2px 2px 2px 2px fade(#cdcdcd, 50%);
			-webkit-transform: translate(-2px, -2px);
			transform: translate(-2px, -2px);
		}

		.img-wrap {
			margin: 4rem 0 3rem;
		}

		h2 {
			margin: 1rem 0 0;
			font-size: 1.8rem;
            line-height: 2.4rem;
			font-weight: 400;
            color: @blue;
		}

		p {
			font-size: 1.4rem;
		}

		.small-details {
			margin-top: 1.2rem;
			padding-top: 1rem;
			// border-top: 1px solid #cdcdcd;

			p {
				margin: 0;
				font-size: 1.4rem;
				line-height: 2.4rem;
			}
		}
	}

	.btn-wrap {
		margin: 5rem 0 4rem;
		text-align: center;
	}
}