.portfolio {
	padding: 3rem 4.8rem;

	.top-bar {
		.clear();

		&.empty-top {
			margin-top: 2.5rem;
		}
	}

	.data-info {
		padding-top: 1rem;
		font-size: 1.2rem;
		line-height: 1.4rem;
		color: @gray-txt;
		.letter-spacing(40);
	}

	.summary-wrap {
		margin-top: 3.5rem;
		background-color: #f5f5f5;
	}

	.total-wrap {
		background-color: #e1e1e1;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	//add customer styles
	.customer-selection {

		.custom-checkbox {
			display: inline-block;

			&:first-of-type {
				margin-right: 6rem;
			}
		}
	}

	.customer-listing {
		margin-top: 5rem;

		.results {
			display: none;

			&.shown {
				display: block;
			}

			p {
				margin: 0;
				font-size: 1.6rem;
				line-height: 4.2rem;
				color: @red;
			}
		}

		.row {
			margin-left: -0.5rem;
			margin-right: -0.5rem;
		}

		.third {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		.customer-tile {
			position: relative;
			display: inline-block;
			width: 100%;
			min-height: 16.5rem;
			margin-bottom: 1rem;
			padding: 1.8rem 2rem 3.5rem;
			border: 1px solid @blue-light;
			border-radius: 6px;

			&.static {
				border-color: @gray;
			}
		}

		.customer-name {
			margin: 0;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.6rem;
			color: @color-txt;
			cursor: default;
			text-transform: uppercase;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.customer-num {
			display: inline-block;
			padding-top: 0.4rem;
			font-size: 1.4rem;
			color: @color-txt;
		}

		.info {
			padding-top: 1.4rem;
			max-height: 7rem;
			overflow: hidden;

			p {
				margin: 0;
				padding-right: 1.5rem;
				font-size: 1.4rem;
				line-height: 1.8rem;
				color: @color-txt;
			}
		}

		.bottom-info {
			position: absolute;
			right: 2rem;
			bottom: 1rem;
			left: 2rem;

			.clear();

			.status-wrap {
				float: left;
				font-size: 1.4rem;
				line-height: 2.8rem;

				.reject-info {
					display: inline-block;
					margin-right: 0.5rem;
					font-size: 1.5rem;
					color: @red;
				}

				.status {

					&.red {
						color: @red;
					}

					&.yellow {
						color: @yellow;
					}
				}
			}

			.btn-add-customer {
				float: right;
			}
		}

		.btn-add-customer {
			display: inline-block;
			font-family: @font-secondary;
			font-size: 1.6rem;
			color: @blue-light;
			transition: color .3s ease;
			.letter-spacing(-10);

			&:hover {
				color: @blue;
			}

			.icon-add-customers {
				display: inline-block;
				margin-right: 0.5rem;
				font-size: 2rem;
				vertical-align: middle;
			}

			.txt {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}