.profile {
	padding: 3rem 4.8rem;

	.top-bar {
		.clear();

		&.empty-top {
			margin-top: 2.5rem;
		}
	}

	.profile-details {

		.input-wrap {
			margin: 3rem 0 2rem;
		}

		.label-part {
			display: inline-block;
			width: 14rem;
			font-size: 1.6rem;
			color: @color-txt;
			.letter-spacing(40);

			&.medium {
				width: 15.5rem;
			}

			&.big {
				width: 18rem;
			}

			p {
				margin: 0;
			}
		}

		.input-part {
			display: inline-block;
			font-size: 1.6rem;
			color: @color-txt;
			width: 18rem;

			&.small {
				width: 12rem;

				input {
					width: 10rem;
					margin-left: 0.4rem;
					text-align: right;
				}
			}

			input {
				width: 17rem;
			}
		}

		.btn-save-inner {
			display: inline-block;
			margin: 0 2.5rem 0 0.6rem;
		}

		.choice-result {
			display: inline-block;
			margin-left: 16rem;

			@media @max-md {
				margin-left: 0;
			}

			.result-label {
				display: inline-block;
				font-size: 1.6rem;
				font-weight: 700;
				color: @color-txt;
				.letter-spacing(20);
			}

			.result-value {
				display: inline-block;

				a {
					display: inline-block;
					font-size: 1.6rem;
					.letter-spacing(20);
				}
			}
		}

		.errors {
			display: inline-block;
			font-size: 1.2rem;
			color: @red;
			.letter-spacing(40);
		}

		.btn-save-wrap {
			margin-top: 5rem;

			&.save-approver {
				margin-left: 18.3rem;

				@media @max-md {
					margin-left: 0;
				}
			}
		}

		.gm-floor-history {
			margin-top: 2.6rem;
			font-size: 1.6rem;
			color: @color-txt;
			.letter-spacing(40);

			.period-wrap {
				margin: 0.8rem 0;
			}

			.period {
				display: inline-block;
				width: 19rem;

				@media @max-md {
					width: 9rem;
				}
			}

			.num {
				display: inline-block;
			}
		}
	}
}