.table-scrollable.table-approver-edit-wrap {
	position: relative;
	max-height: ~'calc(100vh - 26.5rem)';
	overflow-y: auto;

	thead {
		background-color: @white;

		th {
			background-color: @white;
		}
	}

	tbody {

		td {
			position: static;

			.btn-edit-small {
				display: inline-block;
				margin-top: -1rem;
				margin-left: 0.5rem;
				font-size: 2.2rem;
				transition: color .3s ease;
			}
		}
	}

	.mCSB_scrollTools {
		top: 4rem;
	}
}

.table-admin-nsm-adjustments {

	.txt {
		padding-bottom: 2.6rem;
	}
}

.table-scrollable.table-admin-finalize-wrap {
	position: relative;
	max-height: ~'calc(100vh - 25rem)';
	overflow-y: auto;

	&.history {
		max-height: ~'calc(100vh - 22rem)';
	}

	thead {
		background-color: @white;

		th {
			background-color: @white;
		}
	}

	tbody {

		td {
			position: static;

			.txt,
			.num {
				padding-top: 1.8rem;
				padding-bottom: 2rem;
			}
		}
	}

	.mCSB_scrollTools {
		top: 4rem;
	}
}

.table-wrap {
	margin-top: 3rem;

	&.table-gray-wrap {
		border: 1px solid @border-color;
		border-radius: 5px;
	}
}

.table-gray {
	width: 100%;
	text-align: left;

	thead {

		th {
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 4.8rem;
			color: @gray-txt;
			.letter-spacing(40);
		}
	}

	tr {

		&.collapsed-children {

			&.expanded-children {

				.name:before {
					transform: rotate(180deg);
				}
			}

			.name {
				cursor: pointer;
				position: relative;
				color: @links;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				&:hover {
					color: @links-hover;

					&:before {
						border-top-color: @links-hover;
					}
				}

				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: 1.9rem;
					left: -1.1rem;
					border-top: 5px solid @links;
					border-right: 4px solid @transparent;
					border-left: 4px solid @transparent;
					transition: transform .3s ease;
				}

				.percent-small {
					cursor: auto;
					color: @color-txt;
					-webkit-user-select: auto;
					-moz-user-select: auto;
					-ms-user-select: auto;
					user-select: auto;
					
				}
			}
		}

		&.collapsable {

			span {
				max-height: 20rem;
				overflow: hidden;
				transition: height .3s ease, padding .3s ease, max-height .2s ease;

				&.name {
					// padding: 1.4rem 0 2.5rem 2rem;
					padding-left: 2rem;
					text-transform: none;

					.name-inner {
						text-transform: uppercase;
					}
				}

				&.customer-num {
					padding-left: 2rem;
				}
			}

			&.collapsed {

				td {
					min-height: 0;
				}

				span {
					display: block;
					padding: 0;
					max-height: 0;

					&.name {
						// padding-left: 2rem;
					}
				}
			}

			.name {
				// padding: 1.6rem 0 2.4rem 2rem;
			}
		}
	}

	td {

		.name {
			display: inline-block;
			width: 100%;
			padding-top: 1.3rem;
			font-size: 1.6rem;
			line-height: 1.6rem;
			text-transform: uppercase;
			color: @color-txt;
			.letter-spacing(20);
		}

		.customer-num {
			display: inline-block;
			padding-bottom: 1rem;
			width: 100%;
			font-size: 1.2rem;
			line-height: 1.2rem;
			color: @color-txt;
			.letter-spacing(20);
		}

		.num,
		.txt,
		.date,
		.person-wrap {
			display: inline-block;
			width: 100%;
			font-size: 1.6rem;
			padding-top: 1rem;
			// line-height: 4.2rem;
			color: @color-txt;
			.letter-spacing(20);

			&.green {
				color: @green;
			}

			&.yellow {
				color: @yellow;
			}

			&.red {
				color: @red;
			}
		}

		.percent-small {
			font-size: 1.2rem;
			.letter-spacing(20);
		}

		.reject-info {
			display: inline-block;
			margin-right: 0.5rem;
			font-size: 1.5rem;
			color: @red;
		}

		.adjustment-info {
			color: @blue;
		}

		.person-wrap .person {
			display: inline-block;
			width: 100%;
		}

		.actions {
			display: inline-block;
			width: 100%;
			padding-top: 0.5rem;
			.clear();

			a {
				display: inline-block;
				transition: color .3s ease;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;

				.txt {
					display: inline-block;
					width: auto;
					font-size: 1.2rem;
					color: inherit;
				}

				.icon-checkmark,
				.icon-close, {
					font-size: 1.4rem;
				}

				.icon-edit {
					font-size: 2rem;
				}

				&.btn-approve {
					color: @green;
					float: left;

					&:hover {
						color: @green-light;
					}
				}

				&.btn-reject {
					color: @red;

					&:hover {
						color: darken(@red, 10%);
					}
				}

				&.btn-edit {
					color: @blue-light;
					margin-right: 2.5rem;

					&:hover {
						color: @blue;
					}
				}

				&.btn-delete {
					color: @red;

					&:hover {
						color: darken(@red, 10%);
					}
				}
			}
		}
	}
}

.table-summary {
	width: 100%;

	.txt {
		display: inline-block;
		width: 100%;
		font-size: 1.6rem;
		line-height: 6rem;
		color: @color-txt;
		.letter-spacing(20);
	}

	.percent-small {
		font-size: 1.2rem;
		.letter-spacing(20);
	}
}

.table-total {
	width: 100%;

	.txt {
		display: inline-block;
		width: 100%;
		font-size: 1.6rem;
		line-height: 6rem;
		color: @color-txt;
		.letter-spacing(20);
	}
}

.table-sortable {

	th {
		outline: none;

		&.tablesorter-header {
			cursor: pointer;

			&.sorter-false {
				cursor: auto;
			}
		}

		.txt {
			display: inline-block;
		}

		&.align-right {
			text-align: right;
		}

		&.tablesorter-headerAsc {

			.icon-wrap {

				.sort-up {
					-webkit-transform: translateY(.3rem);
					transform: translateY(.3rem);
				}

				.sort-down {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		&.tablesorter-headerDesc {

			.icon-wrap {

				.sort-up {
					opacity: 0;
					visibility: hidden;
				}

				.sort-down {
					-webkit-transform: translateY(-0.3rem);
					transform: translateY(-0.3rem);
				}
			}
		}

		.icon-wrap {
			display: inline-block;
			padding-left: 0.2rem;
			-webkit-transition: transform .3s ease;
			transition: transform .3s ease;
			transform-origin: 50% 50%;
			vertical-align: middle;

			img {
				display: block;
				-webkit-transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
				transition: opacity .3s ease, visibility .3s ease. transform .3s ease;
			}
		}
	}
}