// =================
// Common Properties
// =================

// Misc
@speed:       200ms;       // Transition duration
@transition:   cubic-bezier(0.55,0,0.1,1); // Animation Style. Default is Material's curve.

// Colors
@text-color: @gray;  //** Global text color
@links: #54a9e9;
@links-hover: #1692ef;

@input-glow-color: #bada55;
@placeholder-color: @text-color; //** Color for placeholder=""

@body-bg: #fff;       //** Background color for `<body>`
@hr-border:   #e6e6e6;   //** Color for <hr> elements

@border-color: #c2c2c2;

@white: #ffffff;
@black: #000000;

@sidebar: #2a3143;
@sidebar-hover: #1e2532;
@sidebar-inactive: #303642;

@color-txt: #5c5c5c;
@gray-txt: #959595;

@gray-light: #f0f2f5;
@gray: #b5b5b5;
@gray-dark: #757575;
@gray-darker: #424242;
@gray-inactive: #959595;

@blue: #1692ef;
@blue-light: #54a9e9;

@light-blue: #00d9f2;
@light-blue-light: #aaf6ff;

@red: #ff5e3a;
@red-light: #ffb493;

@green: #4cd964;
@green-light: #9bf3aa;

@yellow: #ffce0a;
@yellow-light: #ffe082;

@purple-light: #e1bee7;

@transparent: rgba(255, 255, 255, 0);

@selection-text:         @text-color;      // Color of selected text
@selection-background:   @body-bg;  // Background of selected text

// Fonts
@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import "https://fonts.googleapis.com/css?family=Quicksand:400,700";

@font-size-base:          14px;
@font-family-sans-serif:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-primary:            'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-secondary:          'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, 'Times New Roman', Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-base:        @font-family-sans-serif;
