<div class="container-fluid container-fluid-fw">

    <section class="landing">

        <div class="page-container-landing">

            <div class="intro">
                <div class="half">
                    <div class="logo-wrap">
                        <span class="logo-img-wrap">
                            <img src="/assets/img/logo-ups-landing.png" alt="UPS ClientSite Logo">
                        </span>
                        <span class="txt">ClientSite</span>
                    </div>
                    <div class="txt-wrap">
                        <h2>Bringing better <br/> visibility to your <br/> supply chain</h2>
                        <a href="/home" class="btn-intro" title="login">Login</a>
                    </div>
                </div>
                <div class="half">
                    <div class="img-wrap">
                        <img src="/assets/img/intro-home-shape.png" alt="">
                    </div>
                </div>
            </div>
            
            <div class="about">
                <div class="about-top">
                    <h1>Business Intelligence Portal</h1>
                </div>
                <div class="about-middle">
                    <div class="part">
                        <span class="icon">
                            <span class="icon-distribution-center"></span>
                        </span>
                        <span class="txt">Distribution</span>
                    </div>
                    <div class="part">
                        <span class="icon">
                            <span class="icon-inventory"></span>
                        </span>
                        <span class="txt">Inventory</span>
                    </div>
                    <div class="part">
                        <span class="icon">
                            <span class="icon-reports"></span>
                        </span>
                        <span class="txt">Reports</span>
                    </div>
                </div>
                <div class="about-contacts">
                    <h2>Reach us</h2>
                    <a href="mailto:ups.support@upsbusiness.com">ups.support@upsbusiness.com</a>
                </div>
                <div class="about-bottom">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident assumenda dicta possimus voluptatibus quam fugit dolorem cupiditate, fugiat necessitatibus alias voluptatem omnis soluta. Ullam repudiandae, nesciunt aperiam rerum officiis nobis, et odio ipsa soluta nostrum rem earum itaque praesentium perferendis.</p>
                </div>
            </div>

            <footer>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, autem.</p>
            </footer>

        </div>

    </section>

</div>
