<div class="page-subtitle plain">
    <h2>
        <span class="txt">Outbound</span>
    </h2>
</div>

<div class="graphs-big-wrapper">
    <div class="row">
        <div class="half">
            <div class="graph-wrapper">
                <h3 class="graph-title">Total number of lines carried over</h3>
                <div class="graph-container">
                    <a href="#" title="Add to favorites" class="btn-add-to-favorites">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-pin.png" alt="">
                        </span>
                        <span class="unpin">
                            <span class="icon">
                                <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                            </span>
                            <span class="txt">Unpin</span>
                        </span>
                    </a>
                    <div class="graph-container-inner graph-container-inner-outbound">
                        <canvas class="graph-container-inner-canvas graph-container-inner-canvas-outbound bar-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="graph-wrapper">
                <h3 class="graph-title">Number of orders shipped (Controllable vs Non-Controllable)</h3>
                <div class="graph-container">
                    <a href="#" title="Add to favorites" class="btn-add-to-favorites">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-pin.png" alt="">
                        </span>
                        <span class="unpin">
                            <span class="icon">
                                <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                            </span>
                            <span class="txt">Unpin</span>
                        </span>
                    </a>
                    <div class="graph-container-inner graph-container-inner-outbound">
                        <canvas class="graph-container-inner-canvas graph-container-inner-canvas-outbound line-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-subtitle plain">
    <h2>
        <span class="txt">Inbound</span>
    </h2>
</div>
<div class="graphs-big-wrapper">
    <div class="row">
        <div class="half">
            <div class="graph-wrapper">
                <h3 class="graph-title">Total number of lines carried over</h3>
                <div class="graph-container">
                    <a href="#" title="Add to favorites" class="btn-add-to-favorites">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-pin.png" alt="">
                        </span>
                        <span class="unpin">
                            <span class="icon">
                                <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                            </span>
                            <span class="txt">Unpin</span>
                        </span>
                    </a>
                    <div class="graph-container-inner graph-container-inner-inbound">
                        <canvas class="graph-container-inner-canvas graph-container-inner-canvas-inbound bar-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="graph-wrapper">
                <h3 class="graph-title">Lines received vs failed (Controllable vs Non-Controllable)</h3>
                <div class="graph-container">
                    <a href="#" title="Add to favorites" class="btn-add-to-favorites">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-pin.png" alt="">
                        </span>
                        <span class="unpin">
                            <span class="icon">
                                <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                            </span>
                            <span class="txt">Unpin</span>
                        </span>
                    </a>
                    <div class="graph-container-inner graph-container-inner-inbound">
                        <canvas class="graph-container-inner-canvas graph-container-inner-canvas-inbound line-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-subtitle plain">
    <h2>
        <span class="txt">Inventory</span>
    </h2>
</div>
<div class="graphs-big-wrapper">
    <div class="row">
        <div class="half">
            <div class="graph-wrapper">
                <h3 class="graph-title">Total number of pieces</h3>
                <div class="graph-container">
                    <a href="#" title="Add to favorites" class="btn-add-to-favorites">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-pin.png" alt="">
                        </span>
                        <span class="unpin">
                            <span class="icon">
                                <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                            </span>
                            <span class="txt">Unpin</span>
                        </span>
                    </a>
                    <div class="graph-container-inner graph-container-inner-inventory">
                        <canvas class="graph-container-inner-canvas graph-container-inner-canvas-inventory bar-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="half">
            <div class="graph-wrapper">
                <h3 class="graph-title">Total number of SKU's (Counted vs Differences)</h3>
                <div class="graph-container">
                    <a href="#" title="Add to favorites" class="btn-add-to-favorites">
                        <span class="icon">
                            <img src="/assets/img/icons/icon-pin.png" alt="">
                        </span>
                        <span class="unpin">
                            <span class="icon">
                                <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                            </span>
                            <span class="txt">Unpin</span>
                        </span>
                    </a>
                    <div class="graph-container-inner graph-container-inner-inventory">
                        <canvas class="graph-container-inner-canvas graph-container-inner-canvas-inventory line-chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>