<section class="reports">
                
        <div class="page-header">
            <div class="page-title">
                <h1>Reports</h1>
            </div>
        </div>

        <div class="page-container-inner">
            <div class="page-subtitle js-expandable-big-handle expandable-big-handle expanded">
                <h2>
                    <span class="txt">All Regions</span>
                </h2>
                <span class="expandable-big-arrow">
                    <span class="icon-down-open"></span>
                </span>
            </div>

            <div class="expandable-big-inner">
                
                <div class="reports-top">
                    <div class="row">
                        <div class="third">
                            <div class="report-column">
                                <h3>
                                    <span class="icon">
                                        <img src="/assets/img/icons/icon-reports-inbound.png" alt="">
                                    </span>
                                    <span class="txt">Inbound</span>
                                </h3>
                                <ul>
                                    <li>
                                        <a href="#">Inventory Stage Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Receipt Confirm Date Extract</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="third">
                            <div class="report-column">
                                <h3>
                                    <span class="icon">
                                        <img src="/assets/img/icons/icon-reports-outbound.png" alt="">
                                    </span>
                                    <span class="txt">Outbound</span>
                                </h3>
                                <ul>
                                    <li>
                                        <a href="#">Open Order by Add Date</a>
                                    </li>
                                    <li>
                                        <a href="#">Picking Status Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Operational Status Summary</a>
                                    </li>
                                    <li>
                                        <a href="#">Wave Status Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Operator Performance</a>
                                    </li>
                                    <li>
                                        <a href="#">Orders Shipped by Ship Date</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="third">
                            <div class="report-column">
                                <h3>
                                    <span class="icon">
                                        <span class="icon-inventory"></span>
                                    </span>
                                    <span class="txt">Inventory</span>
                                </h3>
                                <ul>
                                    <li>
                                        <a href="#">Expiration Date Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Current Stock Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Cycle Count Variance Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Inventory Transaction Report</a>
                                    </li>
                                    <li>
                                        <a href="#">PSC17-UPS-SCS Balance lotable Report</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="third">
                            <div class="report-column">
                                <h3>
                                    <span class="icon">
                                        <img src="/assets/img/icons/icon-reports-adhoc.png" alt="">
                                    </span>
                                    <span class="txt">Ad-hoc</span>
                                </h3>
                                <ul>
                                    <li>
                                        <a href="#">Inventory Cycle Report</a>
                                    </li>
                                    <li>
                                        <a href="#">Receipt Date Extract</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="expandable-wrap">
                    <div class="expandable">
                        <div class="expandable-head">
                            <h3 class="expandable-title">
                                <span class="icon"></span>
                                <span class="txt">Americas</span>
                            </h3>
                            <span class="expandable-arrow">
                                <span class="icon-down-open"></span>
                            </span>
                        </div>
                        <div class="expandable-body"></div>
                    </div>
                    <div class="expandable">
                        <div class="expandable-head">
                            <h3 class="expandable-title">
                                <span class="icon"></span>
                                <span class="txt">EMEA</span>
                            </h3>
                            <span class="expandable-arrow">
                                <span class="icon-down-open"></span>
                            </span>
                        </div>
                        <div class="expandable-body"></div>
                    </div>
                    <div class="expandable">
                        <div class="expandable-head">
                            <h3 class="expandable-title">
                                <span class="icon"></span>
                                <span class="txt">APAC</span>
                            </h3>
                            <span class="expandable-arrow">
                                <span class="icon-down-open"></span>
                            </span>
                        </div>
                        <div class="expandable-body"></div>
                    </div>
                </div>

            </div>
        </div>

    </section>