<div class="custom-tooltip">
    <div class="custom-tooltip-inner">
        <span class="custom-tooltip-close">
            <span class="icon-close"></span>
        </span>
        <span class="custom-tooltip-author">
            Flock Andrew (YCJ67Y)
        </span>
        <span class="custom-tooltip-content">
            1 UPS interface down
            <br>
            1 Dropped with No Service
        </span>
        <span class="custom-tooltip-info-link-wrap">
            <a href="#" class="custom-tooltip-info-link">more...</a>
        </span>
    </div>
</div>

<select class="custom-dropdown js-selectric-dd">
    <option value="WHS_01" selected="selected">WHS_01</option>
    <option value="WHS_02">WHS_02</option>
    <option value="WHS_03">WHS_03</option>
    <option value="All">All</option>
</select>

<div class="table-wrap table-wrap-white table-wrap-dc">
    <div class="table-update-info">
        <span class="txt"><i>updated at</i> <time datetime="20:53">08:53pm</time> <i>on</i> <time datetime="2018-04-08">April 8, 2018</time></span>
    </div>
    <table class="table-fw table-dc">
        <thead>
            <tr>
                <th>
                    <span class="txt table-head-name">WHS_01 Ontime Order Line Fulfillment Outbound</span>
                </th>
                <th>
                    <span class="txt">Monday</span>
                    <span class="val colorful colorful-red js-custom-tooltip-show">79</span>
                </th>
                <th>
                    <span class="txt">Tuesday</span>
                    <span class="val colorful colorful-yellow js-custom-tooltip-show">353</span>
                </th>
                <th>
                    <span class="txt">Wednesday</span>
                    <span class="val colorful colorful-green js-custom-tooltip-show">131</span>
                </th>
                <th>
                    <span class="txt">Thursday</span>
                    <span class="val colorful colorful-green js-custom-tooltip-show">42</span>
                </th>
                <th>
                    <span class="txt">Friday</span>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
                <th>
                    <span class="txt">Saturday</span>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
                <th>
                    <span class="txt">Sunday</span>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="txt">Carried over previous day</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Received <span class="symbol-big">&lsaquo;</span> order Cut-off time</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Shipped on time</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Not Shipped on time controllable</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Not shipped on time NON controllable</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Carried over - current day</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-wrap table-wrap-white table-wrap-dc">
    <table class="table-fw table-dc">
        <thead>
            <tr>
                <th>
                    <span class="txt table-head-name">WHS_01 Dock To Receipt Net Performance</span>
                </th>
                <th>
                    <span class="val colorful colorful-red js-custom-tooltip-show">79</span>
                </th>
                <th>
                    <span class="val colorful colorful-yellow js-custom-tooltip-show">353</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">131</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">42</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="txt">Carried over previous day</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Received <span class="symbol-big">&lsaquo;</span> 24 hours</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Failed <span class="symbol-big">&lsaquo;</span> 24 hours controllable</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Failed <span class="symbol-big">&lsaquo;</span> 24 hours NON controllable</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Carried over - current day</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-wrap table-wrap-white table-wrap-dc">
    <table class="table-fw table-dc">
        <thead>
            <tr>
                <th>
                    <span class="txt table-head-name">WHS_01 Inventory Cycle Count Gross Piece Accuracy</span>
                </th>
                <th>
                    <span class="val colorful colorful-red js-custom-tooltip-show">79</span>
                </th>
                <th>
                    <span class="val colorful colorful-yellow js-custom-tooltip-show">353</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">131</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">42</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
                <th>
                    <span class="val colorful colorful-green js-custom-tooltip-show">876</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span class="txt">Pieces counted</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Pieces differences surplus</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">SKU's counted</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">SKU's differences</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Total Pieces in stock</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="txt">Total Value in stock</span>
                </td>
                <td>
                    <span class="txt">79</span>
                </td>
                <td>
                    <span class="txt">353</span>
                </td>
                <td>
                    <span class="txt">131</span>
                </td>
                <td>
                    <span class="txt">42</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
                <td>
                    <span class="txt">876</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>