.btn {
    display: inline-block;
    cursor: pointer;

    &.inactive {
        color: @gray;
    }

    &.bold {
        font-weight: 700;
    }
}

.btn-round {
    background: rgba(255, 255, 255, 0);
    padding: 0.5rem 2rem;
    border: 1px solid;
    border-radius: 2rem;
    -webkit-transition: transform .3s ease, background-color .3s ease, color .3s ease;
    transition: transform .3s ease, background-color .3s ease, color .3s ease;

    &:hover,
    &:focus {
        // -webkit-transform: scale(1.05);
        // transform: scale(1.05);
        // background: @blue;
    }

    &:active {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    &.no-border {
        border: none;
        background-color: rgba(255, 255, 255, 0);

        &:hover,
        &:focus {
            background-color: @blue;
            color: @white;
        }
    }

    &.blue {
        border-color: @blue;
        color: @blue;

        &:hover,
        &:focus {
            background-color: @blue;
            color: @white;
        }
    }
}

.btn-filled {
    font-size: 1.6rem;
    letter-spacing: 0.02rem;

    &.blue {
        background-color: @blue;
        color: @white;

        &.inactive {
            background-color: @gray;
            border-color: @gray;
        }
    }

    &.red {
        background-color: @red;
        color: @white;
    }

    &.inactive {
        cursor: default;
        background-color: @gray;
    }
}

.btn-txt {
    font-size: 1.4rem;
    cursor: pointer;
    transition: color .3s ease;

    &.blue {
        color: @blue-light;

        &:hover {
            color: @blue;
        }
    }

    &.red {
        color: @red-light;

        &:hover {
            color: @red;
        }
    }

    &.green {
        color: @green-light;

        &:hover {
            color: @green;
        }

        &.dark {
            color: @green;
        }
    }

    &.inactive {
        color: @gray;

        &:hover {
            color: @gray;
        }
    }
}

.btn-cancel {
    font-size: 1.6rem;
    color: @links;

    &:hover {
        color: @links-hover;
    }
}

.btn-save {
    margin-left: 1.6rem;
    padding: 0.5rem 2rem;
    border: 1px solid;
    border-radius: 2rem;
    color: @white;
    background-color: @links;
    -webkit-transition: transform .3s ease, background-color .3s ease, color .3s ease;
    transition: transform .3s ease, background-color .3s ease, color .3s ease;
    outline: none;

    &:hover {
        color: @white;
        background-color: @links-hover;
    }
}

.btn-export-xls {
    display: inline-block;
    padding-left: 3rem;
    background-image: url('../img/icon-export-xls.png');
    background-repeat: no-repeat;
    background-size: contain;
    
}

.toggle-btn {
    display: none;

    & + label {
        display: inline-block;
        width: 12rem;
        position: relative;
        text-align: center;
        cursor: pointer;

        .handle {
            position: relative;
            display: inline-block;
            content: "";
            width: 6rem;
            height: 2.8rem;
            border: 1px solid @blue-light;
            border-radius: 2rem;
            vertical-align: middle;
        }

        .handle-inner {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            background-color: @blue-light;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0.3rem;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: all .3s ease;
            transition: left .3s ease;
        }

        .on, .off {
            display: inline-block;
            position: absolute;
            top: 50%;
            font-size: 1.3rem;
            text-transform: uppercase;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            transition: color .3s ease;
        }

        .on {
            left: 0;
            color: @blue-light;
        }

        .off {
            right: 0;
            color: @color-txt;
        }

        span {
            user-select: none;
        }

        .on {float: left;}
        .off {float: right;}
    }

    &:checked + label {

        .handle-inner {
            left: 3.5rem;
        }

        .on {
            color: @color-txt;
        }

        .off {
            color: @blue;
        }
    }
}