.control-panel {
	padding: 3rem 4.8rem;

	h2, h3 {
		font-size: 1.6rem;
		letter-spacing: 0.04rem;
	}

	.small-title {
		font-size: 1.4rem;
		letter-spacing: 0.02rem;
		color: @gray;
	}

	.heading-special {
		.clear();

		.custom-dropdown {

			&:first-child {
				margin-right: 2rem;
			}
		}

		.btn-export {
			margin-right: 7rem;

			&.alone {
				margin-right: 11rem;
			}

			img {
				margin-right: 0.5rem;
			}
		}

		.last-init {
			margin: 2rem 0 0;
			font-size: 1.1rem;
			color: @gray;
			text-align: right;
		}
	}

	.gray-part {
		margin: 4rem 0;
		padding: 0.5rem 0 1rem;
		font-size: 1.6rem;
		// line-height: 3rem;
		background-color: @gray-light;

		.align-right {
			text-align: right;
		}

		.heading {
			margin-top: 0.5rem;
			margin-bottom: 1rem;
			font-size: 1.2rem;
			color: @gray;
		}

		.clear {
			margin-bottom: 1rem;
		}
	}

	.commission-period {
		margin-left: 1rem;
		color: fade(@color-txt, 50%);
	}

	.options {
		margin: 6rem 0 2rem;
		text-align: center;

		.tile {
			padding: 2.2rem 3rem;
			height: 20rem;
		}

		hr {
			margin: 3rem 0;
		}

		.data-inner {
			margin-left: 1rem;
			color: fade(@color-txt, 50%);
		}

		.btn-toggle-wrap {
			margin-left: 1rem;
		}

		.btn-wrap {
			.clear();

			a:first-child {
				float: left;
			}

			a:last-child {
				float: right;
			}
		}
	}

	.table-sortable-wrap {

		.table-sortable{
			width: 100%;
			font-size: 1.6rem;
			letter-spacing: 0.02rem;

			th {
				margin-bottom: 1rem;
				font-size: 1.2rem;
				font-weight: 400;
				line-height: 1.5rem;
				color: @gray;
				text-align: left;
				background-position: 95% center;
				background-repeat: no-repeat;
				cursor: pointer;

				.txt {
					display: inline-block;
				}

				&.align-right {
					text-align: right;
				}

				&.headerSortUp {

					.icon-wrap {

						.sort-up {
							-webkit-transform: translateY(.3rem);
							transform: translateY(.3rem);
						}

						.sort-down {
							opacity: 0;
							visibility: hidden;
						}
					}
				}

				&.headerSortDown {

					.icon-wrap {

						.sort-up {
							opacity: 0;
							visibility: hidden;
						}

						.sort-down {
							-webkit-transform: translateY(-0.3rem);
							transform: translateY(-0.3rem);
						}
					}
				}

				.icon-wrap {
					display: inline-block;
					padding-left: 0.2rem;
					-webkit-transition: transform .3s ease;
					transition: transform .3s ease;
					transform-origin: 50% 50%;
					vertical-align: middle;

					img {
						display: block;
						-webkit-transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
						transition: opacity .3s ease, visibility .3s ease. transform .3s ease;
					}
				}
			}

			tbody tr {
				// padding: 2rem 0;
				// line-height: 4rem;
				border: 1px solid @gray;

				span {
					display: inline-block;
					padding: 2rem 0;
				}
			}
		}

		.align-right {
			text-align: right;
		}
	}

	.recruit-tile-wrap {

		h2 {
			margin-bottom: 0.2rem;
			display: inline-block;
			font-family: @font-secondary;
			font-size: 2.2rem;
		}

		.custom-dropdown {
			margin-left: 4rem;
		}

		h3 {
			font-family: @font-secondary;
			font-size: 1.8rem;
		}

		.tile {
			height: 36rem;
			position: relative;
			padding: 2rem 2rem;
			.clear();

			.clarification {
				position: absolute;
				right: 1.5rem;
				bottom: 0.5rem;

				&.left-abs {
					right: auto;
					left: 1.5rem;
				}
			}

			.my-ranking,
			.top-recruiters {
				width: 50%;
				float: left;
			}

			.my-recruiters {
				width: ~'calc(50% - 1rem)';
				float: left;
			}

			.my-rank {
				margin: 0 auto;
				width: 16.2rem;
				height: 19.3rem;
				background: url(../img/shape-ranking.png) no-repeat center center;
				background-size: contain;

				.numbers-wrap {
					padding: 5rem 0 0;
					text-align: center;
				}

				.current-rank {
					display: inline-block;
					font-family: @font-secondary;
					font-weight: 700;
					font-size: 4.5rem;
					transform: translate(0.5rem, -1rem);
				}

				.slash {
					display: inline-block;
					font-weight: 700;
					font-size: 3rem;
					transform: rotate(25deg) translate(0.2rem, -0.2rem);
				}

				.all-recruiters {
					display: inline-block;
					opacity: 0.5;
					font-family: @font-secondary;
					font-weight: 700;
					font-size: 2.4rem;
					transform: translate(-0.5rem, 1rem);
				}
			}

			.my-recruiters {
				overflow: hidden;
				border-right: 1px solid @gray;
				margin-right: 1rem;

				.my-recruiters-list {
					height: 22rem;
					padding-right: 0.5rem;
					font-size: 1.4rem;

					.recruiter-wrap {
						position: relative;
						padding: 0.5rem 4.5rem 0.5rem 0;

						.num {
							display: inline-block;
							width: 2.5rem;
							height: 2.5rem;
							position: absolute;
							top: 50%;
							right: 2rem;
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
							text-align: center;
							border: 1px solid @blue;
							border-radius: 50%;
						}
					}
				}
			}

			.top-recruiters {
				overflow: hidden;

				.top-recruiters-list {
					height: 22rem;
					font-size: 1.4rem;
					// list-style-type: numeric;

					.recruiter-wrap {
						padding: 0.75rem 0 0;
					}
				}
			}

			.trend-chart {
				height: 29.5rem;
			}
		}
	}

	.fetch-data-status-wrap {
		text-align: right;

		.status {
			display: none;
			margin: 1rem 0 0;
			font-size: 1.2rem;
			text-align: center;

			&.active {
				display: block;
			}

			.txt {
				padding-left: 0.5rem;
				font-size: 1.2rem;
				color: @gray;
			}

			.loading-bar {
				display: inline-block;
				width: 1.2rem;
				height: 1.2rem;
				border-top: 2px solid @blue-light;
				border-right: 2px solid @blue-light;
				border-radius: 50%;
			}

			.icon-checkmark-big {
				display: inline-block;
				margin-right: 0.5rem;
				color: @green;
			}

			.icon-delete {
				display: inline-block;
				font-size: 1.5rem;
				color: @gray;
			}
		}
	}
}

.dashboard-main {
	padding: 1px;
	height: ~'calc(100vh - 9.1rem)';
	background-color: #f8f8f8;
	text-align: center;

	h2 {
		margin: 20rem 0 4rem;
		font-size: 2.4rem;
		font-weight: 400;
		color: @gray;
		text-align: left;

		@media @max-md {
			margin: 5rem 0 4rem;
		}
	}

	.btn-wrap {
		margin: 2rem 0 0;
		text-align: left;

		&:first-child {
			margin: 20rem 0 0;

			@media @max-md {
				margin: 5rem 0 0;
			}
		}
	}

	a {
		display: inline-block;
		font-size: 2.4rem;
	}
}

.small-title.name-wrap {
	font-family: @font-secondary;
	font-size: 1.8rem;
	text-align: right;
	color: fade(@gray-dark, 50%);

	.txt {
		font-weight: 400;
	}
}

.semi-header {
	padding: 3rem 4.8rem 1px;
	background-color: #f8f8f8;

	.choose-section {
		margin-top: 1.5rem;
		margin-right: 2rem;
	}
}

.semi-header + .commission-wrap {
	padding-top: 1px;
}

.semi-header + .general-dashboard-wrap {
	padding-top: 1px;
}

.commission-wrap {
	padding: 3rem 4.8rem;
	background-color: #f8f8f8;

	.choose-section {
		margin-top: 1.5rem;
		margin-right: 2rem;
	}

	h4 {
		color: @gray;
	}

	.months-wrap {
		width: 100%;
		.clear();

		.month-wrap {
			display: inline-block;
			width: ~"calc(100% / 13)";
			float: left;
			padding: 0 0.5rem;
			font-size: 1.4rem;
			letter-spacing: 0.02rem;
			color: @links;
			text-align: center;

			input {
				display: none;
			}

			input:checked + label {
				background: @links-hover;
				color: @white;
			}

			label {
				display: inline-block;
				padding: 0.5rem 0;
				width: 100%;
				border-radius: 3rem;
				cursor: pointer;
				user-select: none;
				-webkit-transition: background .3s ease, color .3s ease;
				transition: background .3s ease, color .3s ease;

				&:hover {
					color: #2494ea;
				}
			}
		}
	}

	.tile-special-wrap {
		margin-top: 2rem;
	}
}

.general-dashboard-wrap {
	padding: 3rem 4.8rem;
	min-height: ~'calc(100vh - 9.1rem)';
	background-color: #f8f8f8;

	.choose-section {
		margin-top: 1.5rem;
		margin-right: 2rem;
	}

	.people-not-found p {
		margin: 6rem 0;
	}

	.no-data {
		margin: 5rem 0;
		
		.txt {
			margin: 2.5rem 0;
			font-size: 1.8rem;
			line-height: 2.4rem;
			color: @gray;
			text-align: center;
		}
	}

	.row-smaller {
		margin-left: -0.7rem;
		margin-right: -0.7rem;

		.half {
			padding-left: 0.7rem;
			padding-right: 0.7rem;
		}
	}

	.separator.empty {
		margin: 1.4rem 0 0;
		.clear();
	}

	.clarification.small {
		font-size: 1.2rem;
		line-height: 4.2rem;
		color: @gray;
		text-align: left;
	}

	.tile-special {

		&.quarter-info {

			.top-part {
				padding: 0 2rem;
				.clear();

				h2 {
					float: left;
					font-size: 1.8rem;
					text-align: left;
				}

				.custom-dropdown {
					margin: 1rem 0;
					width: 24rem;
					float: right;
				}
			}

			.header-part {
				padding: 2rem 0;
				background-color: @hr-border;

				.txt {
					display: inline-block;
					font-size: 1.2rem;
					.letter-spacing(40);

					&.label {
						padding-left: 2rem;
					}
				}
			}

			.bottom-part {
				padding: 0;
				min-height: 0;
			}

			.row.smaller {
				margin-left: -0.2rem;
				margin-right: -0.2rem;

				& > .fifth {
					padding-left: 0.2rem;
					padding-right: 0.2rem;
					text-align: center;
				}
			}

			.person-single {
				height: 6.1rem;
				border-bottom: 1px solid @hr-border;

				&:last-child {
					height: 6rem;
					border-bottom: none;
				}

				&:not(.is-general) {

					.name-wrap .icon-star {
						opacity: 0;
						visibility: hidden;
					}
				}

				.col-md-4,
				.col-md-8 {
					height: 6rem;
				}

				.name-wrap {
					position: relative;
					display: inline-block;
					height: 6rem;
					width: 100%;

					.icon-star,
					.name {
						display: inline-block;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}

					.icon-star {
						left: 0.4rem;
						font-size: 1rem;
					}

					.name {
						left: 2rem;
						font-size: 1.6rem;
						.letter-spacing(20);
					}
				}

				.fifth {

					.square {
						display: inline-block;
						height: 6rem;
						width: 100%;
						font-size: 1.4rem;
						font-weight: 700;
						line-height: 6rem;

						.icon-person {
							font-size: 1.6rem;
							line-height: 1.6rem;
							vertical-align: middle;
						}

						.num {
							vertical-align: middle;
						}

						&.yellow {
							background-color: @yellow;
						}

						&.blue {
							color: @white;
							background-color: @light-blue;
						}
					}
				}
			}
		}

		.top-part.rel {

			.custom-dropdown.abs-right {
				position: absolute;
				top: 50%;
				right: 2rem;
				transform: translateY(-50%);
			}
		}

		.top-part.independent {
			position: relative;
			padding: 0 2rem;
			border-bottom-right-radius: 0.5rem;
			border-bottom-left-radius: 0.5rem;
			.clear();

			h2 {

				&.small {
					font-family: @font-primary;
					font-size: 1.4rem;
					font-weight: 400;
					.letter-spacing(-10);
				}

				&.abs-left {
					left: 2rem;
				}

				&.abs-right {
					right: 2rem;
				}

				&.abs-left,
				&.abs-right {
					margin: 0;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					@media @max-md {
						margin: 1rem 0;
						position: static;
						top: auto;
						left: auto;
						transform: none;
					}
				}
			}

			.custom-dropdown {
				margin: 1.2rem 0 1rem 2rem;
				line-height: 1.4rem;
			}
		}

		.bottom-part.independent {
			padding: 2rem;
			min-height: 0;
			border-top-left-radius: 0.5rem;
			border-top-right-radius: 0.5rem;

			h3 {
				margin: 0 0 2rem;
				font-family: @font-secondary;
				font-size: 1.8rem;
				line-height: 1.8rem;
				text-align: center;
			}

			&.growth-wrap {
				text-align: center;

				.inner-wrap {
					.clear();
					margin-bottom: 3rem;
				}

				.num-wrap,
				.percent-wrap {
					width: 50%;
					float: left;
					font-family: @font-secondary;
					font-size: 5.5rem;
					font-weight: 700;
					color: @gray-darker;

					.icon-person {
						display: inline-block;
						transform: scale(1.3);
					}

					.icon-dollar-sign {
						display: inline-block;
					}

					.num {
						font-size: 4.2rem;
						color: @yellow;
					}
				}
			}

			&.growth-wrap.blue {

				.num-wrap,
				.percent-wrap {

					.num {
						font-size: 4.2rem;
						color: @light-blue;
					}
				}
			}

			&.trend {

				.trend-chart {
					position: relative;
					height: 26.6rem;

					&.weekly-chart {
						height: 30rem;
					}

					#hover-box-inner {
						font-size: 1.6rem;
						border-color: #e6c012;
						-webkit-transform: translate(-50%, -120%);
						transform: translate(-50%, -120%);

						&:before {
							border-right-color: #e6c012;
							border-bottom-color: #e6c012;
						}
					}
				}

				.txt {
					font-size: 1.4rem;
					line-height: 1.4rem;
					text-align: center;

					.num {
						padding-left: 0.6rem;
						font-family: @font-secondary;
						font-size: 2.2rem;
						font-weight: 700;
						line-height: 2.2rem;
					}
				}
			}

			&.com-wrap {

				&.blue {

					.com-growth-wrap .txt-small .num {
						color: @light-blue;
					}

					.growth-completed {

						.level-wrap {

							.level {

								&.completed {
									color: @light-blue;
									background-color: @light-blue;

									.icon-checkmark-big {
										color: @light-blue;
									}
								}

								&.current {
									background-color: @light-blue;
								}
							}
						}
					}
				}

				.com-growth-wrap {
					margin: 3rem 0 0;

					.txt-small {
						margin: 0.5rem 0 0;
						font-size: 1.4rem;
						text-align: center;
						vertical-align: middle;

						.num {
							display: inline-block;
							margin-left: 0.5rem;
							font-family: @font-secondary;
							font-size: 1.8rem;
							line-height: 1.8rem;
							font-weight: 700;
							color: @yellow;
							vertical-align: text-bottom;
						}
					}
				}

				.growth-completed {
					width: 100%;
					.clear();

					.icon-wrap {
						width: 8rem;
						float: left;

						.icon-commission-hand {
							display: inline-block;
							font-size: 7rem;
							line-height: 7rem;
							color: @gray-darker;
							transform: translateY(-0.5rem);
						}
					}

					.level-wrap {
						display: inline-block;
						width: ~'calc(100% - 8rem)';
						float: left;
						.clear();

						.level {
							display: inline-block;
							margin: 0 0.1rem;
							padding: 2rem 0 0;
							width: 7rem;
							height: 6.5rem;
							text-align: center;
							background-color: @gray-light;
							color: @gray;
							float: left;

							&.completed {
								background-color: @yellow;
								color: @yellow;

								.icon-checkmark-big {
									color: @yellow;
								}
							}

							&.current {
								background-color: @yellow;
								color: @white;

								.icon-checkmark-big {
									color: @white;
								}
							}

							.txt {
								display: inline-block;
								width: 100%;
								font-family: @font-secondary;
								font-size: 2.2rem;
								font-weight: 700;
								line-height: 2.2rem;
							}

							.icon-checkmark-big {
								display: inline-block;
								color: @gray-light;
								font-size: 1.4rem;
								line-height: 1.4rem;
								transform: translateY(-0.4rem);
							}
						}
					}
				}

				.quarter-ended-info {
					margin: 4rem 0 0.6rem;
					padding-top: 1px;
					height: 35rem;

					.txt {
						margin: 7rem 0 1rem;
						font-size: 1.6rem;
						line-height: 2.4rem;
						color: @gray;
						text-align: center;
					}

					.icon-wrap {
						text-align: center;

						.icon-quarter-ended {
							display: inline-block;
							margin-top: 1rem;
							// font-size: 10rem;
							color: @gray;

							&:before {
								font-size: 10rem;
							}
						}
					}
				}

				.to-next {
					margin-top: 4rem;
					padding: 0 3.5rem;

					.txt-small {
						margin: 0;
						text-align: center;
						font-size: 1.6rem;
					}

					.next-level {
						margin: 1rem 0 2.6rem;
						.clear();

						&:last-of-type {
							margin-bottom: 0.6rem;
						}

						&.completed {

							.txt-wrap {
								color: fade(@color-txt, 30%);
							}

							.bonus-wrap .icon-checkmark-big {
								opacity: 1;
								visibility: visible;
							}
						}

						.icon-wrap,
						.txt-wrap,
						.bonus-wrap {
							display: inline-block;
							float: left;
						}

						.icon-wrap {
							font-size: 4.2rem;
							color: @gray;
							.clear();

							.icon-person {
								float: left;
							}

							.icon-person {
								vertical-align: middle;

								&:before {
									width: auto;
								}
							}

							.icon-arrow-right-big {
								font-size: 1.5rem;
								vertical-align: middle;
							}
						}

						.txt-wrap {
							margin-left: 2rem;
							width: 13rem;
							color: @color-txt;

							.num-wrap {
								display: inline-block;
								font-family: @font-secondary;
								font-size: 2.2rem;
								font-weight: 700;
								line-height: 2.2rem;
								width: 5rem;
								vertical-align: middle;
								.clear();

								.num {
									float: right;
								}
							}

							.txt {
								margin-left: 0.5rem;
								font-size: 1.2rem;
								line-height: 1.2rem;
							}

							.workers-plus,
							.workers-per-week {
								display: inline-block;
								width: 100%;
							}

							.workers-plus {
								margin: 1rem 0 0;
							}

							.workers-per-week {
								// padding-left: 1.2rem;
							}
						}

						.bonus-wrap {
							margin-top: 2rem;
							color: fade(@color-txt, 30%);

							.empty-space {
								font-size: 4rem;
								line-height: 2.2rem;
								vertical-align: middle;
							}

							.txt {
								font-family: @font-secondary;
								font-size: 2.2rem;
								font-weight: 700;
								line-height: 2.2rem;
								vertical-align: middle;
							}

							.icon-checkmark-big {
								margin-left: 0.8rem;
								opacity: 0;
								visibility: hidden;
							}
						}
					}
				}
			}

			.tables {
				margin-left: -1.5rem;
				margin-right: -1.5rem;
				margin-bottom: 0;
				padding: 0;
				border: none;

				.table-header-inner {

					.col-md-4 span {
						display: inline-block;
						width: 100%;
					}
				}

				.col-md-4 {
					text-align: right;
				}

				.bt {
					border-top: 1px solid @gray;
				}

				.sum {
					display: inline-block;
					width: 100%;
					font-weight: 700;
				}

				.info-wrap {
					margin: 1.5rem 0 0;
					.clear();

					.info {
						display: inline-block;
						padding: 1rem 1.3rem;
						font-size: 1.4rem;
						font-weight: 700;
						background-color: @gray-light;
						border-radius: 4px;
					}
				}
			}
		}
	}
}

.notifications-wrap {
	// padding: 3rem 0;
}

//notifications follow
.control-panel-not {
	padding: 0 4.8rem;
    border-top: 1px solid @gray;
    position: relative;

    &.first {
    	padding-top: 3rem;
        border: none;
    }

    .add-not-block {
        margin-top: 18px;
        min-height: 98px;
        .clearfix();

        > div {
            float: left;
            height: 47px;
            line-height: 47px;
        }

        .add-not {
            font-size: 16px;
            margin-right: 2%;
            letter-spacing: 0.5px;
        }

        .add-not-textarea {

            .help-text {
                color: @orange;
                letter-spacing: 0.4px;
                font-size: 12px;
                line-height: 1px;
                margin-left: 5px;
            }
        }

        textarea {
            font-size: 11px;
            letter-spacing: 1.1px;
            line-height: 19px;
            color: @gray;
            font-weight: 700;
            border-radius: 15px;
            padding: 14px 25px;
            outline: none;
            resize: vertical;
            border: 1px solid @gray;

            &::-webkit-input-placeholder{
                color: @gray;
            }

            &:-moz-placeholder{
                color: @gray;/* For Firefox 18- */
            }

            &::-moz-placeholder{
                color: @gray;/* For Firefox 19+ */
            }

            &:-ms-input-placeholder{
                color: @gray;
            }

            &:focus {
            	border: 1px solid @links;
            }
        }

        .add-btn {
            background: transparent url("icons/icon-plus.svg") no-repeat left center;
            background-size: 12px 12px;
            padding: 0 0 0 19px;
            color: @green;
            margin-left: 25px;
            font-size: 22px;
            border: none;
        }
    }

    .existing-note {
        margin: 40px 0 28px;

        .note-header {
            margin-bottom: 18px;
            font-size: 15px;
            .clearfix();

            p {
            	margin: 0;
            }

            .name {
                float: left;
            }

            .date {
                float: right;
                font-size: 14px;
                color: @gray;
                letter-spacing: 0.4px;
                span {
                    margin-left: 10px;
                }
            }
        }

        .note-txt {
        	margin: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.7em;
            letter-spacing: 1px;
            .clearfix();

            textarea {
                width: 91%;
                border: 1px solid @gray;
                padding: 15px 17px;
                font-weight: 700;
                color: @gray;
                letter-spacing: 1px;
                resize: vertical;
                float: left;
                outline: none;
                border-radius: 15px;

                &:focus {
                	border: 1px solid @links;
                }
            }

            button {
                display: block;
                float: right;
            }

            .save-btn {
                background: transparent url("icons/icon-checkmark.svg") no-repeat center center;
                background-size: 13px auto;
                width: 20px;
                height: 76px;
                margin-right: 3px;
                border: none;
            }

            .cancel-btn {
                background: transparent url("icons/icon-remove.svg") no-repeat center center;
                background-size: 9px auto;
                width: 20px;
                height: 76px;
                border: none;
            }
        }

        div.note-txt {
        	display: none;
        }

        .button-wrapper {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 28px;

            .green {
                color: @green;
            }

            .red {
                color: @orange;
            }

            button {
                padding: 10px;
                font-size: 22px;
                font-family: @font-secondary;
                background: rgba(255, 255, 255, 0);
                border: none;
            }
        }
    }
}


//notifications
.mynotifications-wrapper {
	padding: 0 4.8rem;
    border-bottom: 1px solid @gray;

    &.last {
        border: none;
    }

    .mynotifications-header-panel {
        padding: 36px 0;
        .clearfix();

        &.under-section {
            padding: 32px 0;
        }

        p {
        	margin: 0;
            font-family: @font-secondary;
            font-size: 14px;
            font-weight: 700;
            color: @gray;
            float: left;
            line-height: 29px;

            span {
                color: @links;
            }
        }

        .days-filter {
            float: right;

            span {
                line-height: 3rem;
                margin-right: 12px;
                letter-spacing: 0.3px;
                float: left;
            }
        }
    }

    .mynotifications-panel {
        .clearfix();

        > div {
            float: left;

            > p {
            	margin: 0;
                display: inline-block;
                line-height: normal;
                vertical-align: middle;
            }
        }


        .row-col {
            letter-spacing: 0.5px;
            height: 90px;
            line-height: 90px;
            position: relative;

            p {
                line-height: 1.4em;
            }
        }


        .t-col-2 {

            .small-txt {
                font-size: 0.75em;
                font-weight: 700;
            }
        }

        .t-col-3 {

            .small-txt {

                &.details {
                    color: @links-hover;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }

        .t-col-4 {
            text-align: right;
        }

    }

    .t-col-1 {width: 5%;}
    .t-col-2 {width: 17%;}
    .t-col-3 {width: 68%;}
    .t-col-4 {width: 10%;}

    .status {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;

        &.green {
            background: url("icons/message-approved.svg") no-repeat right center;
            background-size: 40px 40px;
        }
        &.yellow {
            background: url("icons/message-percentage.svg") no-repeat right center;
            background-size: 40px 40px;
        }
        &.red {
            background: url("icons/message-rejected.svg") no-repeat right center;
            background-size: 40px 40px;
        }
    }

    button {

        &.confirm {
            letter-spacing: 0.7px;
            text-decoration: underline;
            color: @gray;
            font-size: 17px;
            text-align: right;
            padding: 0;
            border: none;
            background: rgba(255, 255, 255, 0);

            .icon-eye {
                display: inline-block;
                width: 24px;
                height: 28px;
                vertical-align: middle;
                background: url("icons/eye-grey.svg") no-repeat right center;
                background-size: 24px 24px;
                margin-right: 10px;
            }

            &.active {
                color: @links;

                .icon-eye {
                    background: url("icons/eye-blue.svg") no-repeat right center;
                }
            }
        }
    }
}

.inline-btns {
    padding: 8px 18px 7px 18px;
    font-size: 0.8125em;
    font-weight: 700;
    color: @gray;
    margin-left: -1px;
    border: 1px solid @gray;
    float: left;
    position: relative;
    background: rgba(255, 255, 255, 0);

    &.first {
    	border-top-left-radius: 15px;
    	border-bottom-left-radius: 15px;
    }

    &.last {
    	border-top-right-radius: 15px;
    	border-bottom-right-radius: 15px;
    }

    &:hover,
    &.active {
        color: @links-hover;
        border-color: @links-hover;
        z-index: 1;
    }

    &.active {
    	cursor: default;
    }

    &.disabled {
        background-color: #f8f9fb;
        color: @gray;
        border-color: @gray;

        &:hover {
            color: @gray;
            border-color: @gray;
            z-index: 0;
            cursor: default;
        }
    }
}

.show-more-panel {
    padding: 22px 0;

    button {
        color: @links;
        font-size: 13px;
        letter-spacing: 0.5px;
        border: none;
        background: transparent url("icons/arrow-full.svg") no-repeat right 10px center;
        background-size: 15px 5px;
        height: 28px;
        padding: 0 35px 0 0px;
        font-weight: 700;
        font-family: @font-secondary;
    }
}


//reports
.reports {
	padding: 3rem 4.8rem;
	background: #f8f8f8;

	&.alone {
		min-height: ~'calc(100vh - 9.1rem)';
	}

	h3 {
		margin: 1rem 0;
		font-family: @font-secondary;
		font-size: 2.2rem;
	}

	.btn-wrap {
		margin: 1rem 0;
	}
}

.manage-approvers {
	padding: 3rem 4.8rem;

	.small-title {
		margin: 2rem 0;
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 3.2rem;
		color: @gray;
		.letter-spacing(20);

		&.inner {
			margin: 1.5rem 0;
			// padding-left: 2rem;
			font-weight: 700;
			color: @gray-dark;
			.letter-spacing(0);
		}
	}

	.head-wrap {
		padding: 0 2rem;
		.clear();

		.closed-branches {

			.txt {
				font-size: 1.2rem;
			}

			.icon-closedbranch {
				display: inline-block;
				margin-left: 0.5rem;
				color: @gray;
			}
		}
	}

	.user {
		display: inline-block;
		margin: 1rem 0;
		.clear();

		.avatar-wrap {
			width: 6rem;
		}

		.img-wrap {
			width: 4.2rem;
			height: 4.2rem;
		}

		.txt-wrap {
			padding: 1.2rem 0;
			float: left;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 1.6rem;
		}
	}

	.btn-branches,
	.btn-inactive-branches {
		margin: 1.5rem -2rem 1.5rem 0;
		float: right;
		font-size: 1.6rem;
		background-color: @blue-light;
        color: @white;
        .letter-spacing(40);

        &:hover {
        	background-color: @blue;
        }

		&.inactive {
			cursor: default;
        	background-color: @gray;
		}
	}

	.branches-wrap {
		padding: 2rem;
		margin-bottom: 5.5rem;
		border: 1px solid @gray;
		max-height: ~'calc(100vh - 23.3rem)';
		overflow-y: hidden;

		&:last-of-type {
			margin-bottom: 0;
		}

		.closed-branch-wrap {
			display: none;

			&.shown {
				display: block;
			}
		}
	}
}