.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: #000;
    background: #ccc;
}

.logo {
    float: left;
    @media @max-md {
        float: none;

        .cb; // center block
        .tc; // center text
    }

    &.logo-centered {
        float: none;
        display: inline-block;
        margin: 0 auto;
    }
}

.orange {
    color: @orange;
}

.container-fluid {

    &.borderless {
        padding-left: 0;
        padding-right: 0;
    }

    &.with-sidebar {
        width: ~'calc(100% - 90px)';
        margin-left: 0;
        padding: 0;
    }
}

//datalists
.datalist {
    display: none;
    opacity: 0;
    visibility: hidden;
}

// modal for notifications
.modal-bg {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
}

.alert-popup-wrapper {
    background: #fff;
    width: 400px;
    padding: 34px 50px;
    text-align: center;
    margin: -110px auto 0 auto;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 21;
    -webkit-box-shadow: 0px 14px 37px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 14px 37px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 14px 37px 0px rgba(0,0,0,0.2);
    border-radius: 5px;

    h1 {
        background: transparent url("icons/icon-alert.svg") no-repeat right 1px;
        background-size: 25px 22px;
        display: inline-block;
        padding-right: 36px;
        margin: 0;
        font-family: @font-secondary;
        font-weight: 300;
        line-height: 28px;
    }

    p {
        margin: 0;
        padding: 16px 0 28px 0;
        font-size: 1.4rem;
        color: @gray;
        line-height: 1.8em;
    }

    button {
        padding: 5px 8px;
        border: none;
        background: rgba(255, 255, 255, 0);

        &.cancel-btn {color: @orange;}
        &.reject-btn {color: @green;}
    }
}

//modal
.modal-bg-wrapper {
    display: none;
    background-color: rgba(45, 50, 51, 0.66);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    &.opened {
        display: block;
    }
}

.modal-bg-wrapper.js-fdata {

    .load-part,
    .end-part {
        display: none;
    }

    .load-part {
        padding: 3rem 0 3.7rem;
    }

    .end-part {
        padding: 3rem 0 0.4rem;
    }
}

.modal-standart {
    background-color: @white;
    padding: 2.5rem 3.5rem;
    width: 49rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0rem 2rem 4rem 0.5rem fade(@black, 24%);

    .close-btn-wrap {
        position: absolute;
        top: 3rem;
        right: 3.5rem;
        z-index: 5;

        a {
            font-size: 1.7rem;
            cursor: pointer;
            color: @color-txt;
        }
    }

    h2 {
        margin: 0 0 3.5rem;
        font-family: @font-secondary;
        font-size: 2.4rem;
        font-weight: 400;
        // line-height: 4.2rem;
        letter-spacing: -0.04rem;
    }
}

.modal-confirmation {
    width: 40rem;
    text-align: center;

    p {
        line-height: 2.6rem;
    }

    .btn-wrap {
        margin: 2.5rem 0 0;

        .btn-cancel {
            margin-right: 2rem;

            &.alone {
                margin-right: 0;
            }
        }
    }
}

.modal-deadline {

    .datepicker-wrap {
        margin: 0 0 3rem;
        text-align: center;

        input {
            color: @blue;

            &::-webkit-input-placeholder{
                color: @blue;
            }

            &:-moz-placeholder{
                color: @blue;/* For Firefox 18- */
            }

            &::-moz-placeholder{
                color: @blue;/* For Firefox 19+ */
            }

            &:-ms-input-placeholder{
                color: @blue;
            }
        }
    }

    .btn-wrap {
        text-align: center;
    }
}

.modal-add-branch {

    .input-search-wrap {
        margin: 2rem 0 2rem;
        position: relative;

        .input-field-gray {
            padding-top: 1rem;
        }

    }

    .partner {
        display: block;
        padding: 0 0 0 3rem;
        color: @gray;

        i {
            display: inline-block;
            margin-right: 0.5rem;
        }

        .txt-additional {
            display: inline-block;
            font-size: 1.2rem;
            line-height: 2rem;
            .letter-spacing(40);
        }

        .person {
            display: block;
            padding-left: 2.2rem;
            font-size: 1.2rem;
            line-height: 2rem;
            .letter-spacing(40);

            &:first-of-type {
                display: inline-block;
                padding-left: 0;
            }
        }
    }

    .txt {
        display: block;
        margin: 1rem 0;
        padding-left: 1rem;
        display: inline-block;
        font-size: 1.2rem;
        color: @gray;
    }

    .btn-wrap {
        margin: 4rem 0 0;
        text-align: center;

        a {
            margin-right: 2rem;
        }
    }
}


.choose-section {
    padding: 0.5rem 0 0;
    display: inline-block;
    width: 24rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: @blue-light;
    .clear();

    a {
        width: 50%;
        padding: 0.5rem 1rem;
        float: left;
        background-color: @white;
        border: 1px solid @blue-light;
        text-align: center;
        -webkit-transition: color .3s ease, background-color .3s ease;
        transition: color .3s ease, background-color .3s ease;

        &:hover {
            color: @white;
            background-color: @blue;
        }

        &.active {
            color: @white;
            background-color: @blue;
            border-color: @blue;

            &:first-child {
                border-right: none;
            }

            &:last-child {
                border-left: none;
            }
        }

        &.inactive {
            color: @gray-light;
            background-color: @gray;
            border-color: @gray;
        }
    }

    .lp {
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }

    .rp {
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
}

.custom-dropdown {
    display: inline-block;
    position: relative;
    width: 12rem;

    &.big {
        width: 17rem;
    }

    &.bigger {
        width: 26rem;
    }

    &.with-awesomplete {

        .input-field {
            color: @blue;
            border-color: @blue;

            &::-webkit-input-placeholder{
                color: @blue;
            }

            &:-moz-placeholder{
                color: @blue;/* For Firefox 18- */
            }

            &::-moz-placeholder{
                color: @blue;/* For Firefox 19+ */
            }

            &:-ms-input-placeholder{
                color: @blue;
            }
        }

        ul {
            max-height: 200px;
            overflow-y: auto;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }

    &:focus {
        outline: none;
    }

    select {
        padding: 0.5rem 1rem;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        color: @blue;
        border: 1px solid @blue;
        border-radius: 1.5rem;
        background-color: @white;

        &:focus {
            outline: none;
        }
    }

    .label {
        padding-left: 1rem;
        font-size: 1.4rem;
        color: @gray;

        &.label-abs-top {
            position: absolute;
            top: -2.5rem;
            left: 0;
        }
    }

    .select2 {
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        color: @blue;

        &:focus {
            outline: none;
        }

        .select2-selection {
            padding: 0 0.5rem;
            letter-spacing: 0.04rem;
            border: 1px solid @blue;
            border-radius: 1.5rem;

            &:focus {
                outline: none;
            }
        }
    }
}

.filters {
    margin: 1rem 0 7rem;
    .clear();

    .filter-left {
        float: left;
    }

    .filter-right {
        float: right;
    }

    .dropdown-wrapper.three-inside {
        width: 51rem;
        float: left;
        .clear();

        .custom-dropdown {
            width: 33.3333%;
            float: left;

            &:nth-child(1) {
                width: 30%;
            }

            &:nth-child(2) {
                width: 30%;
            }

            &:nth-child(3) {
                width: 40%;
            }

            &:nth-child(1) .select2-selection,
            &:nth-child(1) select {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:nth-child(2) .select2-selection,
            &:nth-child(2) select {
                border-radius: 0;
                // border-left: 1px solid rgba(255, 255, 255, 0);
                // border-right: 1px solid rgba(255, 255, 255, 0);
            }

            &:nth-child(3) .select2-selection,
            &:nth-child(3) select {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.avatar-wrap {
    width: 10%;
    float: left;

    .img-wrap {
        //define exact height

        .img-placeholder {
            display: inline-block;
            width: 100%;
            height: 100%;
        }

        .img-placeholder .initials {
            display: inline-block;
            font-size: 2.5rem;
            background-color: @gray-light;
            border-radius: 50%;
        }
    }

    .btn-wrap {
        margin: 2rem 0;
        text-align: center;

        a:first-child {
            margin-right: 1rem;
        }
    }
}

.tiles-wrapper {
    padding: 3rem 4.8rem 0;
}

.tile {
    width: 100%;
    margin: 1.5rem 0;
    padding: 2.2rem 4rem;
    border: 1px solid @border-color;
    border-radius: .5rem;

    .top {
        padding: 0 0 2.2rem;
        border-bottom: 1px solid @border-color;

        .info-wrap {
            .clear();

            a {
                display: inline-block;
                padding-left: 6rem;
                font-size: 1.3rem;
                font-weight: 700;
                letter-spacing: 0.04rem;
            }
        }

        .avatar-wrap {
            width: 6rem;

            .img-wrap {
                width: 4rem;
                height: 4rem;
            }
        }

        .txt-wrap {
            padding: 1.4rem 0;
            font-size: 1.6rem;
            line-height: 1.6rem;
        }

        .name {
            font-weight: 700;
        }
    }

    .bottom {
        padding-top: 2.2rem;

        a {
            display: block;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 3rem;
            letter-spacing: 0.04rem;
            text-transform: uppercase;

            .icon-right-small {
                margin: 0 0.5rem;
            }

            .appr-name {
                text-transform: none;
            }
        }
    }
}

.tile-special {
    border: 1px solid @border-color;
    border-radius: .5rem;

    &.with-dropdown {

        .top-part {
            padding-left: 18rem;
            padding-right: 18rem;
            position: relative;

            .custom-dropdown {
                position: absolute;
                top: 50%;
                right: 1rem;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }

    .top-part {
        padding: 1px;
        background: #424242;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;

        h2 {
            margin: 1rem 0;
            font-family: @font-secondary;
            font-size: 2.2rem;
            letter-spacing: 0.2rem;
            color: @white;
            text-align: center;
        }
    }

    .bottom-part {
        min-height: 26rem;
        padding: 1px;
        background: @white;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;

        .monthly-commission {
            margin: 2.5rem auto;
            width: 18rem;
            height: 18rem;
            border: 1.2rem solid @light-blue;
            border-radius: 50%;
            text-align: center;

            .currency {
                display: block;
                margin: 1.5rem 0 0.5rem;
                font-family: @font-secondary;
                font-size: 3.4rem;
                line-height: 4.2rem;
                font-weight: 700;
                color: @light-blue;
            }

            .num {
                display: block;
                font-family: @font-secondary;
                font-weight: 700;
                font-size: 3.4rem;
                line-height: 4.2rem;
                color: #545968;
            }
        }
    }
}

.clarification {
    font-size: 1.2rem;
    color: @gray-dark;
    text-align: center;
}

.treemap-wrap {
    width: 100%;
    height: 259px;
    padding: 1rem;
    position: relative;
}

#commission-treemap-parent {
    height: 100%;
}

#hover-box,
#hover-box-inner {
    display: inline-block;
    padding: 2rem;
    background: @white;
    border: 1px solid @blue;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    font-family: @font-secondary;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    white-space: pre;
    box-shadow: 0rem 0.25rem 0.5rem 0.1rem fade(@black, 14%);
    -webkit-transform: translate(-50%, -150%);
    transform: translate(-50%, -150%);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    pointer-events: none;
    z-index: 11;

    span {
        display: block;

        &:first-child {
            color: @blue;
        }

        &:last-child {
            opacity: 0.5;
        }
    }

    &.shown {
        opacity: 1;
        visibility: visible;
    }

    &:before {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        -webkit-transform: translate(-50%, 100%) rotate(45deg);
        transform: translate(-50%, 100%) rotate(45deg);
        content: '';
        width: 2rem;
        height: 2rem;
        background: @white;
        border: 1px solid;
        border-top-color: @white;
        border-right-color: @blue;
        border-bottom-color: @blue;
        border-left-color: @white;
        box-shadow: 0.35rem 0.35rem 0.5rem 0.05rem fade(@black, 14%);
        // z-index: 2;
    }
}

#hover-box-inner {
    visibility: visible;
    -webkit-transform: translate(-30%, -100%);
    transform: translate(-30%, -100%);
}

#commission-treemap {
    font-family: @font-secondary;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
    color: @blue;

    text {
        pointer-events: none;
    }
}

.pagination {
    margin: 1.5rem 0 2rem;
    text-align: center;

    .paging-numbers {
        display: inline-block;
        margin: 0 1rem;
    }

    a {
        display: inline-block;
        margin: 0 0.2rem 0 0.5rem;
        font-size: 1.3rem;
        font-weight: 700;
        color: @color-txt;

        &:hover {
            color: @links-hover;
        }
    }

    .active {
        color: @links;
    }

    .paging-start,
    .paging-left,
    .paging-right,
    .paging-end {
        font-size: 2rem;
        color: @links;
        transition: transform .3s ease;

        span:before {
            border-radius: 50%;
            transition: box-shadow .3s ease;
        }

        &:hover {
            color: @links-hover;
            -webkit-transform: translate(-1px, -1px);
            transform: translate(-1px, -1px);

            span:before {
                box-shadow: 1px 1px 1px 1px #c5c5c5;
            }
        }
    }
}

.people-not-found {
    text-align: center;

    p {
        margin: 13rem 0;
        font-size: 1.6rem;
        line-height: 1.6rem;
        .letter-spacing(40);

        @media @max-md {
            margin: 4rem 0;
        }
    }
}

.checkbox-wrap {

    input {
        display: none;

        &:checked + label {

            .checkbox {

                .icon-checkmark-big {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    label {
        display: inline-block;
        padding: 1rem 0;
        margin: 1rem 0;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: @color-txt;
        cursor: pointer;
        user-select: none;
        transition: color .3s ease;

        &:hover {
            color: darken(@color-txt, 10%);
        }

        .checkbox {
            display: inline-block;
            width: 1.6rem;
            height: 1.6rem;
            vertical-align: middle;
            border: 1px solid @blue;
            border-radius: 3px;

            .icon-checkmark-big {
                display: inline-block;
                font-size: 1.4rem;
                line-height: 1.4rem;
                color: @blue;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-4px);
                transition: opacity .3s ease, visibility .3s ease;
            }
        }

        .txt {
            display: inline-block;
            margin-left: 2rem;
            vertical-align: middle;
        }

        .icon-closedbranch {
            display: inline-block;
            margin-left: 0.5rem;
            color: @gray;
            vertical-align: middle;
        }
    }
}

.js-datepicker-init {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 2rem;
}


//keyframes

@keyframes animRotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.anim-rotate {
    animation-name: animRotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    tranform-origin: 50% 50%;
}

.error-page {
    padding-top: 11rem;
    text-align: center;

    h1 {
        margin-bottom: 4.5rem;
        font-family: @font-secondary;
        font-size: 2.4rem;
        font-weight: 400;
        letter-spacing: 0.2rem;
        line-height: 4.2rem;
        color: #2c2c2c;
    }

    p {
        margin: 0;
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
        line-height: 2.2rem;
        color: #2c2c2c;

        &.empty-top {
            margin-top: 3.5rem;
        }
    }

    .btn-back {
        margin-top: 4.5rem;
        width: 16rem;

        .icon-left-small {
            margin-right: 1rem;
        }
    }
}