@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?89503526');
  src: url('fonts/fontello.eot?89503526#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?89503526') format('woff2'),
       url('fonts/fontello.woff?89503526') format('woff'),
       url('fonts/fontello.ttf?89503526') format('truetype'),
       url('fonts/fontello.svg?89503526#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?89503526#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-right-small:before { content: '\e800'; } /* '' */
.icon-left-small:before { content: '\e801'; } /* '' */
.icon-addbranch:before { content: '\e802'; } /* '' */
.icon-alert:before { content: '\e803'; } /* '' */
.icon-arrowdown:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-controlpanel-admin:before { content: '\e807'; } /* '' */
.icon-dashboard:before { content: '\e808'; } /* '' */
.icon-delete:before { content: '\e809'; } /* '' */
.icon-managerecruiters-admin:before { content: '\e80a'; } /* '' */
.icon-myprofile:before { content: '\e80b'; } /* '' */
.icon-open:before { content: '\e80c'; } /* '' */
.icon-pagingend:before { content: '\e80d'; } /* '' */
.icon-pagingleft:before { content: '\e80e'; } /* '' */
.icon-pagingright:before { content: '\e80f'; } /* '' */
.icon-pagingstart:before { content: '\e810'; } /* '' */
.icon-portfolio-approver:before { content: '\e811'; } /* '' */
.icon-r:before { content: '\e812'; } /* '' */
.icon-search:before { content: '\e813'; } /* '' */
.icon-reports:before { content: '\e814'; } /* '' */
.icon-help:before { content: '\e815'; } /* '' */
.icon-arrow-right-big:before { content: '\e816'; } /* '' */
.icon-checkmark-big:before { content: '\e817'; } /* '' */
.icon-person:before { content: '\e818'; } /* '' */
.icon-star:before { content: '\e819'; } /* '' */
.icon-closedbranch:before { content: '\e81a'; } /* '' */
.icon-manageapprovers:before { content: '\e81b'; } /* '' */
.icon-commission-hand:before { content: '\e81c'; } /* '' */
.icon-dollar-sign:before { content: '\e81d'; } /* '' */
.icon-growth-graph:before { content: '\e81e'; } /* '' */
.icon-quarter-ended:before { content: '\e81f'; } /* '' */