.site-footer {

	&.footer-home {
		padding: 2rem 0;
		font-size: 1.2rem;
		font-weight: 700;
		border-top: 1px solid #d9d9d9;
		text-align: center;

		a {
			display: inline-block;
		}

		.distant {
			display: inline-block;
			margin: 0 2.5rem;
		}
	}
}