.input-field {
	display: inline-block;
	padding: 0.4rem 1rem;
	width: 18rem;
	max-width: 100%;
	font-size: 1.6rem;
	letter-spacing: 0.02rem;
	border: 1px solid @blue-light;
	border-radius: 2rem;

	&.small {
		width: 6.5rem;
	}

	&.big {
		width: 24rem;
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
	    /* display: none; <- Crashes Chrome on hover */
	    -webkit-appearance: none;
	    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}
}

.input-search-wrap {
	position: relative;

	.icon-search {
        font-size: 1.8rem;
        color: @gray;
    }

    .inner-wrap {
    	display: inline-block;
    	position: relative;
    }

    .input-field-gray {
		margin-left: 1rem;
        padding-right: 2rem;
	}

	.btn-clear-value {
        display: inline-block;
        position: absolute;
        bottom: 0.7rem;
        right: 0.5rem;
        color: @red;
    }
}

.input-field-gray {
	display: inline-block;
	// padding: 1rem 0 0;
	font-family: @font-secondary;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3.2rem;
	letter-spacing: -0.05rem;
	color: @color-txt;
	border: none;
	border-bottom: 1px solid @gray;

	&.big {
		width: 33.5rem;
	}

	&::-webkit-input-placeholder{
        color: @gray;
    }

    &:-moz-placeholder{
        color: @gray;/* For Firefox 18- */
    }

    &::-moz-placeholder{
        color: @gray;/* For Firefox 19+ */
    }

    &:-ms-input-placeholder{
        color: @gray;
    }
}

.field-detail {
	margin: 1.4rem 0;
	.clear();

	&.empty-bottom {
		margin-bottom: 4rem;
	}

	.lp {
		width: 12.5rem;
		float: left;

		.txt {
			display: inline-block;
			font-size: 1.6rem;
			letter-spacing: 0.02rem;
		}
	}

	.rp {
		float: left;

		select {
			color: @color-txt;
		}

		.custom-dropdown {
			width: 18rem;
			color: @color-txt;

			.select2 {
				color: @color-txt;

				.select2-selection--single .select2-selection__rendered {
					color: @color-txt;
				}
			}
		}
	}
}