.site-header {

	&.header-home {
		text-align: center;

		.logo-centered {
			margin-top: 4rem;
		}
	}

	&.header-inner {
		position: relative;
		padding: 2.4rem 4.8rem;
		border-bottom: 1px solid @hr-border;

		h1 {
			display: inline-block;
			margin: 0;
			font-family: @font-secondary;
			font-size: 2.4rem;
			font-weight: 400;
			line-height: 4.2rem;
			color: @color-txt;
			.letter-spacing(-10);
		}

		.btn-back,
		.btn-reports {
			position: absolute;
			top: 2.4rem;
			right: 5rem;
			font-size: 1.3rem;
			line-height: 4.2rem;

			span {
				font-size: 1.3rem;
				margin-right: 0.4rem;
				vertical-align: baseline;
			}
		}

		.btn-reports {
			font-family: @font-secondary;
			font-size: 1.8rem;
			letter-spacing: 0.08rem;

			.icon-reports {
				font-size: 1.7rem;
			}
		}

		.custom-dropdown {
			margin-left: 2rem;
			line-height: 4.2rem;
			vertical-align: bottom;
		}
	}
}