.container-fluid.home {
	// min-height: ~"calc(100% - 5.8rem)";
	background-color: #f5f5f5;

	.log-in {
		margin-top: 4rem;
	}

	.tiles {
		text-align: center;
	}

	.tile {
		margin: 0 2.5rem;
		padding: 0;
		vertical-align: top;
		display: inline-block;
		width: 300px;
		height: 350px;
		color: @color-txt;
		border-radius: 6px;
		border: 1px solid #cdcdcd;
		background: #fbfbfb;
		-webit-transition: box-shadow .3s ease, transform .3s ease;
		transition: box-shadow .3s ease, transform .3s ease;

		&:hover,
		&:focus {
			box-shadow: 2px 2px 2px 2px fade(#cdcdcd, 50%);
			-webkit-transform: translate(-2px, -2px);
			transform: translate(-2px, -2px);
		}

		.img-wrap {
			margin: 3rem 0 2.2rem;
		}

		h2 {
			margin: 0;
			font-size: 2.4rem;
            line-height: 2.4rem;
			font-weight: 400;
		}

		p {
			font-size: 1.4rem;
		}

		.small-details {
			margin-top: 2.2rem;
			padding-top: 1rem;
			border-top: 1px solid #cdcdcd;

			p {
				margin: 0;
				font-size: 1.4rem;
				line-height: 2.4rem;
			}
		}
	}

	.btn-wrap {
		margin: 5rem 0 4rem;
		text-align: center;
	}
}

.landing-note-btn {
    background-color: @links-hover;
    border: none;
    width: 78px;
    height: 42px;
    position: absolute;
    right: 0;
    top: 80px;

    span {
        display: inline-block;
        width: 24px;
        height: 24px;
        font-weight: 700;
        color: #fff;
        border: 2px solid #fff;
        border-radius: 50%;
    }
}

.landing-note-wrapper {
    height: calc(~'100% - 208px');
    min-height: 560px;
    background-color: @links-hover;
    width: 360px;
    padding: 80px 24px 0 24px;
    color: #fff;
    position: absolute;
    right: -360px;
    top: 80px;
    z-index: 20;
    transition: all .4s ease;

    &.opened {
    	right: 0;
    }

    .close {
        display: inline-block;
        border: none;
        background: transparent url("icons/icon-cancel-white.svg") no-repeat right center;
        background-size: 18px 18px;
        width: 18px;
        height: 18px;
        position: absolute;
        top: 12px;
        right: 12px;
    }

    h2 {
    	margin: 0;
    	font-weight: 300;
        padding-bottom: 60px;
        font-family: @font-secondary;
        text-transform: uppercase;
    }

    p {
    	margin: 0;
        padding-bottom: 48px;

        b {
            display: block;
            padding-bottom: 12px;
            font-family: @font-secondary;
        }

        span {
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
}