.history,
.portfolio {
	padding: 3rem 4.8rem 0;
}

.history.portfolio {

	h2 {
		display: inline-block;
	}

	.custom-dropdown {
		margin-left: 4rem;
	}

	.global-summary {
		padding: 0;
	}

	.table-header {
		margin-bottom: 0;
		padding-left: 0;
		padding-right: 0;
		clear: left;

		.col-md-2:nth-last-child(3),
		.col-md-2:nth-last-child(4) {
			text-align: right;
		}
	}

	.tables {
		padding-left: 0;
		padding-right: 0;

		.revenue,
		.allocation {
			text-align: right;
		}
	}
}

.history {

	.table-header {
		padding: 0 6rem 0 5rem;

		.col-md-2:first-child {
			transform: translateX(-4.5rem);
		}

		.col-md-2:last-child,
		.col-md-2:nth-last-child(2) {
			text-align: right;
		}
	}

	.tables {
		padding: 0 6rem 0 5rem;
	}
}

.portfolio {

	.table-header {
		padding-right: 4.25rem;

		.align-right {
			text-align: right;
		}
	}

	.global-summary {
		padding: 0 2.5rem 2rem 0;
		.clear();

		.custom-dropdown {
			// margin-left: -6.5rem;
			margin-right: 1rem;
		}

		.total-txt,
		.total-num {
			font-size: 1.6rem;
			// line-height: 4.2rem;
			font-weight: 700;
		}

		.rate-txt,
		.rate-num {
			padding-top: 1rem;
			font-size: 1.2rem;
			color: @gray;
		}

		.total-num,
		.rate-num {
			text-align: right;
		}

		.summary {
			width: 50%;
			float: left;
			display: inline-block;
			text-align: right;

			.summary-txt {
				display: inline-block;
				-webkit-transform: translateX(-1.5rem);
				transform: translateX(-1.5rem);
			}
		}
	}

	.tables {
		border-radius: 5px;
	}

	.general-user {
		margin-top: 2rem;

		.tables {
			padding: 1rem 0 0;

			.col-md-4 {
				text-align: right;
			}

			.sum {
				display: inline-block;
				width: 100%;
				font-weight: 700;
			}
		}

		.info-wrap {
			margin: 1.5rem 0;
			.clear();

			.info {
				display: inline-block;
				padding: 1rem 1.3rem;
				font-size: 1.4rem;
				font-weight: 700;
				background-color: @gray-light;
				border-radius: 4px;
			}
		}
	}
}

.profile-info {
	padding: 3rem 4.8rem 0;

	.avatar-wrap {
		width: 10%;
		float: left;

		.img-wrap {
			width: 11.2rem;
			height: 11.2rem;

			.img-placeholder .initials {
				font-size: 2.5rem;
			}
		}

		.btn-wrap {
			margin: 2.6rem 0 2rem;
			text-align: center;

			a:first-child {
				margin-right: 1rem;
			}
		}
	}

	.info-wrap {
		width: 90%;
		float: left;
		.clear();

		h2 {
			margin: 1.5rem 0;
			padding: 0 4rem;
			font-size: 1.6rem;
		}
	}

	.general-info {
		width: 50%;
		float: left;
		padding: 0 4rem;

		.text-wrap {
			margin: 0 0 1.5rem 0;
			font-size: 1.6rem;
			letter-spacing: 0.02rem;
			.clear();

			span {
				display: inline-block;
			}

			.placeholder {
				width: 20%;
				float: left;
				margin: 0;
			}

			.name,
			.email {
				margin: 0;
				width: 80%;
				float: right;
				// margin-left: 2rem;
			}
		}
	}

	.additional-info {
		width: 28rem;
		float: left;
		// padding: 0 4rem;

		.text-wrap {
			margin: 0 0 1rem 0;
			font-size: 1.6rem;
			.clear();
		}

		.dummy {
			width: 100%;
			height: 3.9rem;
		}

		.placeholder {
			width: 20%;
			float: left;
			// line-height: 2.9rem;
		}

		.input-field {
			float: right;
			-webkit-transform: translateY(-4px);
			transform: translateY(-4px);
		}

		.btn-wrap {
			float: right;
			font-size: 1.6rem;

			.btn-round {
				padding: 0.5rem 2rem;
			}

			button {
				margin-left: 5.3rem;
			}
		}
	}

	hr {
		width: 100%;
		margin: 6rem 0 0;
	}
}

.admin-profiles {
	padding: 4rem 4.8rem;
	font-size: 1.6rem;
	letter-spacing: 0.02rem;

	.admin-profile {
		margin: 3rem 0 2rem;
		width: 30rem;
		.clear();

		.avatar-wrap {
			width: 30%;
			float: left;
		}

		.details {
			width: 70%;
			float: left;

			.text-wrap {
				margin-bottom: 1.5rem;
				width: 100%;
				.clear();

				.placeholder {
					width: 40%;
					float: left;
				}

				.name,
				.tel {
					width: 60%;
					float: right;
				}
			}
		}
	}

	.admin-mail {

		.placeholder {
			display: inline-block;
			margin-right: 2rem;
		}
	}
}

//code for avatar img and avatar image placeholder
.avatar-wrap {

	//define proper width and height!
	.img-wrap {
		position: relative;
		width: 6rem;
		height: 6rem;
		overflow: hidden;
		border-radius: 50%;

		.img-placeholder, img {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			// right: 0;
			// bottom: 0;
			// left: 0;
		}

		.img-placeholder {
			z-index: -1;
			background-color: @gray-light;

			.initials {
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				font-family: @font-secondary;
				font-size: 1.6rem;
				letter-spacing: -0.04rem;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		img {
			height: 100%;
			max-width: none;
			// min-height: 100%;
			// max-width: none;
			// width: 12rem;
			// height: 10rem;
		}
	}
}

.recruiter-profile {
	padding: 3rem 4.8rem 0;

	.avatar-wrap {
		width: 6rem;
	}

	.img-wrap {
		width: 4rem;
		height: 4rem;
	}

	.person {
		margin-bottom: 2rem;

		.txt-wrap {
	        padding: 1.4rem 0;
	        font-size: 1.6rem;
	        line-height: 1.6rem;

	        .name {
	            font-weight: 700;
	        }
		}
	}

	.person-details {
		padding-left: 6rem;
	}

	.btn-wrap {
		margin-top: 3rem;
		text-align: center;

		.btn-save {
			margin-left: 4rem;
		}
	}

	.approver-details {
		padding: 0 4.8rem;
		min-height: 25rem;
		.clear();

		.lp {
			padding: 0.5rem 0 0 1.2rem;
			width: 20%;
			float: left;
			font-size: 1.6rem;
		}

		.mp {
			width: 40%;
			float: left;

			.input-search-wrap {

				input {
					width: 29rem;

					& + ul {
						max-height: 19rem;
						overflow-y: auto;
					}
				}
			}

			.btn-wrap {
				width: 32rem;
			}
		}

		.rp {
			width: 40%;
			float: left;
		}

		.appr-info {

			h2 {
				margin: 1rem 0;
				font-size: 1.6rem;
				letter-spacing: 0.02rem;
			}

			p {
				margin: 1rem 0;
				font-size: 1.6rem;
				letter-spacing: 0.02rem;

				.txt {
					display: inline-block;
					width: 7rem;
				}
			}
		}
	}
}