// .menu-toggle {
//     position: relative;

//     padding: 15px;
//     &:before {
//         position: absolute;
//         top: 6px;
//         right: 5px;

//         width: 19px;
//         height: 3px;

//         content: '';

//         background: #000;
//         box-shadow: 0 0.5em 0 0 #000,0 1em 0 0 #000;

//         .animate();
//     }
//     &:hover, &.active {
//         background: #000;
//         &:before {
//             background-color: #fff;
//             box-shadow: 0 0.5em 0 0 #fff,0 1em 0 0 #fff;
//         }
//     }
// }

// .nav {
//     ul, li {
//         position: relative;
//     }
//     & > ul {
//         transform-origin: 100% 0;

//         .animate();
//         will-change: transform;
//     }
//     a {
//         display: block;
//     }
//     li {
//         .animate();
//     }
//     &.nav-right {
//         // Right orientation for the nav
//         @media @max-md {
//             right: 0;

//             overflow: hidden;

//             text-align: right;
//             .menu-toggle {
//                 & + ul {
//                     transform: translateX(100%) scale(0);
//                 }
//             }
//             .arrow {
//                 float: left;
//                 &.active div {
//                     transform: rotate(-90deg);
//                 }
//             }
//         }
//     }
//     .arrow {
//         display: inline-block;

//         padding: 0 3px;
//     }

//     // Mobile Resolutions
//     @media @max-md {
//         position: absolute;
//         top: 0;

//         li:hover {
//             & > a {
//                 background: lighten(#333, 20%);
//             }
//         }
//             ul a {
//                 padding: 15px 20px;

//                 color: #fff;
//             }
//         .menu-toggle {
//             display: inline-block;
//             & + ul {
//                 width: 250px;

//                 transform: translateX(-250px) scale(0);

//                 opacity: 0;
//                 background: #333;
//                 &.opened {
//                     transform: translateX(0) scale(1);

//                     opacity: 1;
//                 }
//             }
//         }
//         .arrow {
//             float: right;

//             margin-left: 5px;
//             padding: 1px 10px;

//             background: #444;
//             &, div {
//                 .animate();
//                 will-change: transform;
//             }
//             &:hover {
//                 background-color: #333;
//             }
//             &.active div {
//                 transform: rotate(90deg);
//             }
//         }
//     }
//     // End Mobile Resolutions
//     // Desktop Resolutions
//     @media @min-md {
//         float: right;
//         li {
//             display: inline-block;
//         }
//         .menu-toggle {
//             display: none;
//         }
//         ul ul {
//             position: absolute;
//             a {
//                 padding-right: 10px;

//                 white-space: nowrap;
//             }
//             li {
//                 display: block;
//             }
//         }
//         ul ul ul {
//             top: 0;
//         }
//     }
//     // End Desktop Resolutions
//     // Non-JavaScript fallback
//     .no-js & {
//         li:hover {
//             & > ul {
//                 max-height: 1000px;
//             }
//         }
//             @media @min-md {
//                 li:hover > ul {
//                     overflow: visible;
//                 }
//                 ul ul ul {
//                     // Lower-level submenus
//                     margin-left: 100%;
//                 }
//             }
//         .menu-toggle:hover + ul, .menu-toggle + ul:hover {
//             transform: translateX(0) scale(1);

//             opacity: 1;
//         }
//         ul {
//             transform-origin: 100% 0;

//             .animate();
//             will-change: transform;
//         }
//         ul ul {
//             overflow: hidden;
//             // Submenus

//             max-height: 0;

//             transition-duration: 3s;
//         }
//     } // End no-js fallback
//     // JavaScript styles
//     .js & {
//         ul {
//             @media @max-md {
//                 display: none;
//             }
//             ul {
//                 display: none;
//             }
//             ul ul {
//                 // Lower-level submenus
//                 position: relative;
//             }
//         }
//     } // End JavaScript-only styles
// }
