.sidebar {
	width: 22rem;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: @sidebar;
	-webkit-transition: transform .7s cubic-bezier(.24,.25,.42,.98), box-shadow .7s cubic-bezier(.24,.25,.42,.98);
	transition: transform .7s cubic-bezier(.24,.25,.42,.98), box-shadow .7s cubic-bezier(.24,.25,.42,.98);
	-webkit-transform: translateX(13rem);
	transform: translateX(13rem);
	z-index: 9;

	&.opened {
		-webkit-transform: translate(0);
		transform: translate(0);
		box-shadow: -2px 0 2px 2px fade(@gray, 60%);

		.bottom-option {

			.left-part span {
				-webit-transform: translate(-50%, -50%) rotate(0deg);
				transform: translate(-50%, -50%) rotate(0deg);
			}
		}
	}

	a {
		display: inline-block;
		width: 100%;
		position: relative;
		min-height: 9rem;
		padding: 0rem 0 0rem 9rem;
		color: @white;
		-webkit-transition: background-color .3s ease;
		transition: background-color .3s ease;

		.left-part {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			width: 9rem;
			min-height: 9rem;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 2.75rem;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				-webkit-transition: color .3s ease;
				transition: color .3s ease;
			}

			.avatar-wrap {
				width: 6rem;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}
		}

		.right-part {
			display: inline-block;
			font-size: 1.2rem;
			font-weight: 700;
			line-height: 9rem;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			-webkit-transition: color .3s ease;
			transition: color .3s ease;
			color: @white;

			&.name-wrap {
				padding: 2.3rem 0;
				line-height: normal;

				.big {
					display: block;
					font-size: 2.4rem;
					font-weight: 400;
					letter-spacing: -0.02rem;
					color: @light-blue-light;
					line-height: normal;
					text-transform: none;
				}

				.name {
					display: inline;
					font-size: 1.4rem;
					font-weight: 400;
					letter-spacing: 0.04rem;
					line-height: normal;
					text-transform: none;
				}
			}
		}
	}

	.active a {
		background-color: @sidebar-hover;
		color: @blue-light;

		.right-part {
			color: @blue-light;
		}
	}

	.top-option {
		// height: 9rem;

		// a {
		// 	display: inline-block;
		// 	width: 100%;
		// 	padding: 2rem 0 2rem 9rem;
		// }

		.icon-r {
			font-size: 5rem;
		}
	}

	.navigation, 
	.bottom-option {
		a {
			&:hover {
				background-color: @sidebar-hover;
				color: @blue-light;

				.right-part {
					color: @blue-light;
				}
			}
		}
	}

	.bottom-option {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;

		.left-part span {
			-webit-transition: transform .3s ease;
			transition: transform .3s ease;
			-webkit-transform: translate(-50%, -50%) rotate(180deg);
			transform: translate(-50%, -50%) rotate(180deg);
		}
	}

	
}