.single-user {
	margin: 0 0 4rem;
}

.tables {
	margin: 0 0 2rem;
	padding: 0 5rem;
	border: 1px solid @gray;
}

.tables-portfolio {
	margin: 0 0 0;
	min-height: 8rem;
	border-top: none;
}

.table-header {
	margin-bottom: 1rem;
	font-size: 1.2rem;
	line-height: 4.2rem;
	letter-spacing: 0.04rem;
	color: @gray;
	.clear();

	& + .tables-portfolio {
		border-top: 1px solid @gray;

		.table-header-inner {
			-webkit-transform: translateY(0.6rem);
			transform: translateY(0.6rem);
		}

		.table-portfolio {
			padding-top: 0;
		}
	}

	span {
		display: inline-block;
	}

	.avatar-wrap {
		margin-right: 0.5rem;
		display: inline-block;
		width: 4.2rem;
		height: 4.2rem;
		border-radius: 50%;
		overflow: hidden;
		vertical-align: top;

		.img-wrap {
			width: 4.2rem;
			height: 4.2rem;
		}
	}

	.name {
		// width: ~'calc(100% - 4.8rem)';
		padding-top: 1rem;
		font-size: 1.6rem;
		font-weight: 700;
		color: @color-txt;
		line-height: normal;
		float: left;
	}

	.quarter-period {
		display: inline-block;
		margin-left: 1rem;
		float: left;
		font-size: 1.3rem;
		color: @color-txt;
	}

	.btn-manage {
		font-size: 1.3rem;
		font-weight: 700;
	}

	.gross-margin,
	.commission {
		text-align: right;
	}

	.commission-sum {
		font-size: 1.6rem;
		font-weight: 700;
		color: @color-txt;
	}
}

.table-header-inner {
	font-size: 1.2rem;
	letter-spacing: 0.04rem;
	color: @gray;
	.clear();

	.sales,
	.gross-margin,
	.commission,
	.action {
		text-align: right;
	}
}

.table-default {
	padding: 1rem 0;
	font-size: 1.6rem;
	line-height: 4.2rem;
	letter-spacing: 0.02rem;
	// border: 1px solid @gray;
	.clear();

	&.table-portfolio {
		padding: 1.9rem 0;
	}

	&.summary {
		margin-top: -0.8rem;
		padding-top: 0;
	}

	span {
		display: inline-block;
	}

	.date {
		// padding-left: 5rem;
		font-weight: 700;
	}

	.branch {

		span {
			display: block;
		}

		.partner {
			font-size: 1.2rem;
			line-height: normal;
			-webkit-transform: translateY(-0.5rem);
			transform: translateY(-0.5rem);
			color: @gray;

			span {
				display: inline;
			}

			i {
				margin-right: 0.6rem;
            	display: inline-block;
	        }

	        .person {
	            display: block;
	            padding-left: 2.2rem;
	            font-size: 1.2rem;
	            line-height: 2rem;
	            letter-spacing: 0.04rem;

	            &:first-of-type {
	                display: inline-block;
	                padding-left: 0;
	            }
	        }
		}
	}

	.sales,
	.gross-margin,
	.commission,
	.action {
		text-align: right;
	}

	.txt-left {
		text-align: left;
	}

	.sales-sum,
	.gross-margin-sum,
	.commission-sum {
		display: inline-block;
		position: relative;
		min-width: 5rem;
		font-weight: 700;
		// border-top: 1px solid @color-txt;

		&:before {
			width: 8rem;
			height: 1px;
			background: @color-txt;
			position: absolute;
			top: 0;
			right: 0;
			content: '';
		}
	}

	// .commission {
	// 	// padding-right: 6vw;

	// 	.commission-sum {
	// 		display: inline-block;
	// 		min-width: 8rem;
	// 		font-weight: 700;
	// 		border-top: 1px solid @color-txt;
	// 	}
	// }

	.input-field {
		// -webkit-transform: translateX(-1rem);
		// transform: translateX(-1rem);
	}

	.btn-delete {
		display: inline-block;
		font-size: 1.3rem;
		color: #969696;
		cursor: pointer;

		span {
			margin-right: 0.5rem;
			font-size: 1.7rem;
			color: @red;
		}

		&:hover {
			color: @gray-dark;
		}
	}
}

.tables + .actions {
	margin: 2.5rem 0;
	padding: 0 5rem;
	font-size: 1.6rem;
	.clear();

	.btn-wrap {
		text-align: center;

		a {
			margin-right: 1rem;
		}
	}

	.txt-left {

		.btn-add-branch {
			float: none;
		}
	}

	.btn-add-branch {
		display: inline-block;
		float: right;
		line-height: 4rem;
		color: #64dd17;

		&:hover {
			color: @green;
		}

		span {
			display: inline-block;
			margin-right: 0.5rem;
			font-size: 2rem;
			vertical-align: middle;
			-webkit-transform: translateY(-0.2rem);
			transform: translateY(-0.2rem);
		}
	}
}

//single user
.single-user {

	.table-header {

		.name {
			display: inline-block;
			width: auto;
			margin-right: 2rem;
			float: none;
		}
	}

	.table-header-inner {
		-webkit-transform: translateY(0.6rem);
		transform: translateY(0.6rem);

		& + .table-default {
			padding-top: 0;
		}
	}
}