// =================
// Common Properties
// =================

// Misc
@speed:       200ms;       // Transition duration
@transition:   cubic-bezier(0.55,0,0.1,1); // Animation Style. Default is Material's curve.

// Colors
@text-color: @color-txt;  //** Global text color
@links: #77b4e2;
@links-hover: #539ed5;

@input-glow-color: #bada55;
@placeholder-color: @text-color; //** Color for placeholder=""

@body-bg: #ffffff;       //** Background color for `<body>`
@hr-border:   #eeeeee;   //** Color for <hr> elements

@border-color: #d7d7d7;

@white: #ffffff;
@black: #000000;

@sidebar: #2a3143;
@sidebar-hover: #1e2532;
@sidebar-active: #303642;

@color-txt: #5c5c5c;

@blue: #399de9;
@blue-light: #77b4e2;

@orange: #f9571e;

@gray-light: #f0f2f5;
@gray: #b5b5b5;
@gray-dark: #757575;
@gray-darker: #424242;

@green: #4cd964;
@green-light: #9bf3aa;

@red: #ff5e3a;
@red-light: #ffb493;

@light-blue: #00d9f2;
@light-blue-light: #aaf6ff;

@yellow: #ffce0a;
@yellow-light: #ffe082;

@purple: #e1bee7;



@selection-text:         @text-color;      // Color of selected text
@selection-background:   @body-bg;  // Background of selected text

// Fonts
@import "https://fonts.googleapis.com/css?family=Lato:400,700";
@import "https://fonts.googleapis.com/css?family=Quicksand:400,700";

@font-size-base:          14px;
@font-family-sans-serif:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-primary:            'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-secondary:          'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, 'Times New Roman', Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-base:        @font-family-sans-serif;
