﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientSite API</title>
</head>
<body>
    <b>ClientSite.API</b>
</body>
</html>
