.create-job-wrapper header {
    .btn-cancel {height: 5.5rem;}
}

.create-job-wrapper {
    &.page-1 {
        .subpage-dots-wrapper {padding-bottom: 1rem;}
        .subtitle {padding: 1.125rem 1.1875rem 1rem 1.1875rem;}
    }

    &.page-2 {
        .white-tile {padding: 1.1875rem;}
    }

    section {
        display: none;
        padding-bottom: 7.5rem;

        &.active {display: block;}
        &.active + footer {display: block;}
    }

    footer {display: none;}

    .search-wrapper {
        margin: 0 1.1875rem;

        &.search-job-type {padding: 1.1875rem 0;}
        &.input-job-name {margin-bottom: 1rem;}
    }

    .tiles-wrapper {
        padding: 0 0.59375rem;
        .clearfix();
    }

    .subtitle {
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: -0.08rem;
        color: @gray-blue-57p;
    }

    .link-change {
        display: inline-block;
        padding: 0 0.5625rem;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        margin-top: 16.5rem;
    }

    .white-tile {
        display: block;
        background-color: white;        
        margin: 2.375rem 1.5% 0 1.5%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        .border-radius(4px);
        .clearfix();

        &.big-question {
            padding: 1.1875rem;
            text-align: center;
        }
    }

    .link-job-address {
        background: white url("img/ui-address.svg") no-repeat 1.1875rem center;
        background-size: 2.8125rem auto;
        padding-left: 5rem !important;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 4.125rem;
        letter-spacing: 0.04rem;

        img {
            width: auto;
            height: 1.625rem;
            margin-top: 1.1875rem;
            float: right;
        }
    }

    .purchase-order {
        .input-text {margin-top: 0.875rem;}
    }

    .question-title {
        font-family: @font-tertiary;
        font-size: 1.5rem;
        letter-spacing: 0.04rem;
    }

    .question-title-left {
        height: 3.625rem;
        padding: 0 1.1875rem;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        line-height: 3.625rem;
        letter-spacing: 0.04rem;
    }

    .question-txt {
        padding: 2.375rem 5% 0 5%;
        font-family: @font-secondary;
        font-size: 1.875rem;
        font-weight: 300;
        color: @gray-blue-57p;
        line-height: 2.25rem;
        letter-spacing: 0.04rem;
    }

    .question-data {
        padding: 2.75rem 0;

        .select-value {
            display: none;

            & + label {
                display: table;
                width: 14.5rem;
                height: 4.25rem;
                font-family: @font-tertiary;
                font-size: 1.75rem;
                line-height: 4.25rem;
                letter-spacing: 0.02rem;
                margin: 0 auto 1.1875rem auto;
                border-width: 0.1875rem;
                .border-radius(4.625rem);
            }

            &:checked + label {
                background-color: @blue-dark;
                color: white;
            }
        }
    }

    .question-num {
        display: inline-block;
        padding: 0 5%;
        min-width: 20%;
        font-family: @font-tertiary;
        font-size: 5.625rem;
        font-weight: 300;
        color: @blue-main;
    }

    .number-down,
    .number-up {
        width: 3rem;
        height: 4.5rem;
    }

    .number-down {
        background: white url("img/ui-circle-minus-blue.svg") no-repeat center center;
        background-size: 2.625rem auto;
    }
    .number-up {
        background: white url("img/ui-circle-plus-blue.svg") no-repeat center center;
        background-size: 2.625rem auto;
    }

    .explanation {
        width: ~"calc(100% - 2.375rem)";
        padding: 1.5rem 1.1875rem;
        font-family: @font-secondary;
        font-size: 1.875em;
        font-weight: 300;
        color: @gray-blue-57p;
        line-height: 2.25rem;
        letter-spacing: -0.02rem;
        border-top: 1px solid @gray-blue-80p;
        border-bottom: 1px solid @gray-blue-80p;
        border-left: none;
        border-right: none;
        outline: none;
        resize: none;
        .placeholder(@gray-blue-80p);
    }

    .btn-attach-img {
        background: white url("img/ui-photo.svg") no-repeat left center;
        background-size: 3.75rem auto;
        height: 5.25rem;
        padding-left: 5rem;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        margin-left: 1.1875rem;

        & + input {display: none;}
    }

    .attached-image {
        display: none;
        padding: 1.1875rem 0;
        border-top: 1px solid @gray-blue-80p;
        margin: 0 1.1875rem;
        .clearfix();

        img {
            width: 11.875rem;
            height: auto;
            margin-right: 1.125rem;
            float: left;
            .border-radius(0.25rem);
        }

        button {
            font-family: @font-tertiary;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: 0.04rem;
        }

        &.added {display: block;}
    }

    // Sent Offer
    .job-created-txt {
        text-align: center;

        p {
            padding: 6.25rem 10% 4rem 10%;
            font-size: 2.625em;
            font-weight: 700;
            color: @gray-blue-57p;
            line-height: 4rem;
            letter-spacing: -0.08rem;
        }
    }

    .job-created-note {
        background-color: @gray-blue-95p;
        padding: 1.5rem 10%;
        font-family: @font-secondary;
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 2.6875rem;
        margin: 0 2.375rem 5.75rem 2.375rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        .border-radius(4px);
    }

    .job-created-btn {
        display: inline-block;
        min-width: 23.625rem;
        padding: 0 3.5rem;
        font-size: 2.375rem;
        margin: 0 1.5rem 1.1875rem 1.5rem;

        img {
            width: 1.875rem;
            height: auto;
        }
    }

    // Clone Job
    .clone-intro {
        padding: 1.75rem 2.5rem;
        font-family: @font-secondary;
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 2.875rem;
        letter-spacing: -0.02rem;
        margin-top: 1.1875rem;

        span {
            display: block;
            padding-top: 2rem;
            font-size: 1.875rem;
        }
    }

    .clone-page1 {padding-top: 1rem;}
}