.modal-create-schedule {
		
	.img-wrap {
		text-align: center;
		padding: 0 0 2.375rem;
		img {width: 23rem;}
	}
}

.create-schedule-wrapper {

	section.active {
		padding: 0 0 7.5rem;
	}

	header {
		.btn-cancel {height: 5.5rem;}
	}

	.day-selector-wrapper {
		margin: 1.25rem auto;
	}

	.week-wrapper {
	
		h2 {
			text-align: center;
			font-size: 1.5rem;
			margin: 1.5625rem 0;
		}
	
		.group-days-wrap {
			font-family: @font-tertiary;
			font-size: 1.875rem;
			padding: 1rem 1.25rem;
			border-top: 0.0625rem solid @gray-blue-80p;
			.clearfix();

			p {
				display: inline-block;
				padding-top: 0.875rem;
			}
		}
	
		.btn-toggle-wrap {
			float: right;
		}
	}

	.day-wrapper {

		.two-part-standart {
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
		}

		.top-part {
			.border-radius-bottom(0px);
		}
	}

	//second page

	.report-to {

		.white-wrap {padding: 1.25rem;}
	}

	// add new person page

	.add-new-person {

		.white-wrap {padding: 1.25rem;}
	}

	// third page
}

.auto-hire-section {

	.top-part {
		font-family: @font-tertiary;
		font-size: 1.875rem;
		padding: 1rem 1.25rem;
		.clearfix();
	}

	p {
		display: inline-block;
		padding-top: 0.875rem;
	}

	.btn-toggle-wrap {float: right;}

	.bottom-part {
		border-top: 0.0625rem solid @gray-blue-80p;
		padding: 1rem 1.25rem;
		position: relative;

		p, .rs-tooltip, .slider-txt {transition: color .3s ease;}

		&.overlay-active {

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 10;
				user-select: none;
			}

			.rs-range-color {
				background-color: @gray-blue-80p;
				transition: all .3s ease !important;
			}

			p, .rs-tooltip, .slider-txt {color: @gray-blue-80p;}
		}

		p {
			font-family: @font-secondary;
			font-weight: 300;
			font-size: 1.875rem;
			line-height: 2.375rem;
		}
	}

	.circle-slider-wrapper {
		text-align: center;
		margin: 4rem 0 0;
	}

	.circle-slider {
		margin: 0 auto 0;

		.rs-path-color {background-color: @gray-blue-80p;}

		.rs-range-color {background-color: @blue-main;}

		.rs-border {border-color: @gray-blue-80p;}

		.rs-handle {
			background-color: white;
			border-color: @gray-blue-80p;
			border: 1px solid @gray-blue-80p;
			transition: box-shadow .3s ease;
			&.rs-focus {box-shadow: 0px 0rem 0.4375rem 1px rgba(0,0,0,0.35);}
		}

		.rs-tooltip {
			font-family: @font-tertiary;
			font-size: 70px;
			color: @blue-main;
			-webkit-transform: translate(-25px, -10px);
			transform: translate(-25px, -10px);
		}

		.rs-transition .rs-border {border-color: transparent;}
	}

	.slider-txt {
		font-family: @font-secondary;
		font-weight: 700;
		font-size: 18px;
		color: @color-text;
		display: block;
		line-height: 18px;
		-webkit-transform: translateY(-90px);
		transform: translateY(-90px);
		user-select: none;
		z-index: 3;
		position: relative;
	}
}

.clarification {

	p {
		margin: 1.25rem 3.125rem;
		font-family: @font-secondary;
		font-size: 1.375rem;
		font-weight: 300;
		color: @gray-blue-57p;
		text-align: center;

		&:first-child {
			margin: 1.25rem 5.625rem;
		}
	}

	&.type2 p {
		max-width: 70%;
		margin: 1.25rem auto 0;
		font-family: @font-primary;
		font-weight: 700;
		font-size: 1.5rem;
		letter-spacing: -.08rem;
		color: @gray-blue-57p;
	}
}

.create-schedule-confirm {

	.bigger span {display: block;}

	.img-wrap {
		text-align: center;
		padding-bottom: 2.375rem;

		img {
			max-width: 80%;
		}
	}

}

.create-schedule-created-v2 {
	background-color: transparent;
	padding: 0;

	.schedule-wrap {
		margin: 5rem auto;
		padding: 0 6.25rem;
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 2.25rem;
		// max-width: 80%;
		text-align: center;
	}

	.schedule-name-here {
		margin: 1.2625rem auto;
		font-size: 1.6rem;
		width: 34.5rem;
	}

	.btn-wrap {
		margin: 5rem 0;
		padding: 0 3.5rem;
	}

	.link-btn {
		font-size: 2.375rem;
		display: block;
		margin: 1.25rem 0;

		img {margin-right: 0.875rem;}
	}
}