@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----  end of reset css  ----- */

html {
    height: 100%;
    font-size: 55.56%;
}

@media (min-width: 600px) {
    html {font-size: 100%;}
}

.day-selector-wrapper {
    width: 100%;
    max-width: 36rem;
    text-align: center;
    margin: 0 auto;

    .day-wrap {
        display: inline-block;
        width: 4.25rem;
        height: 4.25rem;
        margin: 0.375rem 0.25rem;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        transition: background-color .3s ease;

        .day-txt {
            padding: 0.625rem 0 0.0625rem 0;
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .day-num {
            font-family: 'Comfortaa', cursive;
            font-size: 2.125rem;
            font-weight: 700;
            color: #007aff;
        }

        &.marked {
            background-color: #007aff;

            .day-num, .day-txt {color: #fff;}
        }

        &.inactive {
            .day-num {color: #c8cacc;}
        }

        &.inactive.marked {
            background-color: #c8cacc;
            .day-txt, .day-num {color: #fff;}
        }

        &.have-job {
            .day-num {
                position: relative;

                &:after {
                    content: " ";
                    background-color: #18d28e;
                    height: 0.1875rem;
                    width: 1.375rem;
                    margin: 0 auto;
                    position: absolute;
                    bottom: -0.1875rem;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}