.find-workers-wrapper header {
    .search-area,
    .my-buckets,
    .edit-btn {
        display: block;
        height: 5.5rem;
        padding-left: 3.5rem;
        font-family: @font-tertiary;
        font-size: 1.5em;
        line-height: 3.66em;
        float: left;
    }

    .search-area {
        background: transparent url("img/ui-search-area.svg") no-repeat left center;
        background-size: 2.5rem auto;

        span {
            display: inline-block;
            overflow: hidden;
        }

        .address {
            max-width: 12rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .my-buckets {
        background: transparent url("img/icon-bucket.svg") no-repeat left center;
        background-size: 3rem auto;
    }

    .edit-btn {
        background: transparent url("img/icon-pencil-line.svg") no-repeat left center;
        background-size: 2.3125rem auto;
    }

    .sort-workers {
        height: 5.5rem;
        font-family: @font-tertiary;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.04rem;
        color: @blue-dark;
        float: right;
    }

    .btn-cancel-small {
        display: inline-block;
        height: 5.5625rem;
        padding-left: 2rem;
        background: transparent url("img/ui-close-blue.svg") no-repeat left 2rem;
        background-size: 1.375rem auto;
    }
}

.find-workers-wrapper {
    // main page
    .category-tile {
        display: block;
        background-color: white;
        padding: 0 10%;
        text-align: center;
        margin: 1.1875rem 1.5% 0 1.5%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        .border-radius(4px);

        .btn-main {display: block;}

        .btn-big {
            width: 70%;
            margin: 0 auto;
            height: 4.75rem;
            line-height: 4.75rem;
            font-size: 2rem;
        }

        .btn-more {
            display: inline-block;
            font-family: @font-primary;
            font-weight: 700;
            font-size: 1.375rem;
            padding: 0 1rem 2px;
            border-bottom: 2px solid @blue-dark;
            text-transform: uppercase;
            margin-bottom: 1.125rem;
        }

        &.last {margin-bottom: 1.1875rem }

        &.fill-my-schedule {
            .category-icon {
                background: transparent url("img/icon-schedule.svg") no-repeat center center;
                background-size: 7.75rem auto;
            }
        }

        &.on-demand-tile {
            .category-icon {
                background: transparent url("../images/main-on-demand.png") no-repeat center center;
                background-size: 6.75rem auto;
            }
        }

        &.project-staffing-tile {
            .category-icon {
                background: transparent url("../images/main-project-staffing.png") no-repeat center center;
                background-size: 6.75rem auto;
            }
        }

        &.browse-workers {
            .category-icon {
                background: transparent url("img/icon-workers.svg") no-repeat center center;
                background-size: 7.75rem auto;
            }
        }

        .category-icon {
            height: 11.375rem;
        }

        h2 {
            font-size: 2.375rem;
            font-weight: 700;
            letter-spacing: -0.06rem;
        }

        p {
            padding: 1.25rem 0 1.5rem 0;
            font-family: @font-tertiary;
            font-size: 1.5rem;
            line-height: 2.5rem;
            letter-spacing: 0.04rem;
        }
    }

    // List of jobs
    .search-wrapper {
        padding: 1.1875rem 0;
        margin: 0 1.1875rem;
    }

    .tiles-wrapper {
        padding: 0 0.59375rem;
        .clearfix();

        &.worker-list {
            padding-top: 1.1875rem;
            padding-bottom: 6.875rem;
        }
        &.filter-workers {padding-top: 1.1875rem;}
    }

    .toconsider {
        background-color: @gray-blue-95p;
        padding: 1.125rem 1.1875rem 1rem 1.1875rem;
        font-size: 1.625em;
        font-weight: 700;
        letter-spacing: -0.02rem;
        color: @gray-blue-57p;
    }

    // find workers on demand and project staffing common
    &.on-demand-wrapper,
    &.project-staffing-wrapper {

        header .clarification.job-name {margin-top: 0.1875rem;}

        .white-wrap {
            background: #fff;
            margin: 1.25rem;
            padding: 1rem 1rem;
            .border-radius(4px);
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        }

        .txt, .txt-small, .txt-title, .txt-note {
            font-family: @font-secondary;
            font-weight: 300;
        }

        .btn-more {
            display: inline-block;
            padding: 1.25rem 1rem 2px;
            margin-bottom: 2rem;
            font-family: @font-primary;
            font-weight: 700;
            font-size: 1.375rem;
            height: auto;
            line-height: normal;
            text-transform: uppercase;
            border-bottom: 2px solid @blue-dark;
            .border-radius(0);
        }

        .auto-hire-wrapper {
            text-align: center;

            .txt-title {
                padding: 1rem 0 0.25rem 0;
                font-size: 2.25rem;
            }

            .txt {
                font-size: 1.875rem;
                line-height: 2.375rem;
                padding: 0 2rem;
            }

            .txt-small {
                padding: 2rem 2rem;
                font-size: 1.5rem;
            }

            .txt-note {
                padding: 1.25rem 1rem 0.5rem 1rem;
                font-size: 1.5rem;
                color: @gray-blue-57p;
                line-height: 2rem;
            }

            .percent-slider {
                position: relative;

                &:before, &:after {
                    content: "";
                    position: absolute;
                    display: inline-block;
                    top: 0;
                    bottom: 0;
                    width: 30%;
                    z-index: 1;
                    pointer-events: none;
                }

                &:before {
                    left: 0;
                    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
                }

                &:after {
                    right: 0;
                    background: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
                }

                .top-part span,
                .bottom-part span {
                    font-family: @font-tertiary;
                    font-size: 1.25rem;
                    color: @gray-blue-80p;
                    transition: font-size .3s ease, color .3s ease;
                    line-height: 2.25rem;
                }

                .dot {
                    margin: 1rem 0;
                    display: inline-block;
                    height: 1.5rem;
                    width: 1.5rem;
                    background-color: @gray-blue-80p;
                    transition: background-color .3s ease;
                    .border-radius(50%);
                }

                .current {

                    .top-part span,
                    .bottom-part span {
                        font-size: 2.25rem;
                        color: @blue-dark;
                    }

                    .dot {background-color: @blue-dark;}
                }
            }

            .owl-item {

                &:before {
                    position: absolute;
                    width: 100%;
                    height: 0;
                    border-bottom: 2px dashed @gray-blue-80p;
                    content: "";
                    left: 50%;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    // background-color: @gray-blue-80p;
                    z-index: -1;
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-last-child(-n+1),
                &:nth-last-child(-n+2),
                &:nth-last-child(-n+3) {
                    &:before {
                        border-bottom: none;
                    }
                }
            }
        }

        .address-wrap {

            .white-tile {
                display: block;
                background-color: white;
                margin: 2.375rem 1.5% 0 1.5%;
                padding: 1.1875rem;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
                -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
                .border-radius(4px);
                .clearfix();
            }

            .link-job-address {
                background: white url("img/ui-address.svg") no-repeat 1.1875rem center;
                background-size: 2.8125rem auto;
                padding: 2.375rem 3rem 2.375rem 5rem !important;
                font-family: @font-tertiary;
                font-size: 1.5rem;
                font-weight: 700;
                line-height: 1.2em;
                letter-spacing: 0.04rem;
                position: relative;

                img {
                    width: auto;
                    height: 1.625rem;
                    position: absolute;
                    right: 1.1875rem;
                    top: 50%;
                    margin-top: -0.8125rem;
                }
            }

            .subtitle {
                font-size: 1.5em;
                font-weight: 700;
                letter-spacing: -0.08rem;
                color: @gray-blue-57p;
            }

            .input-text {margin-top: 0.875rem;}
        }

        .created {
            text-align: center;
            font-family: @font-secondary;
            font-weight: 300;

            h1 {
                font-size: 2.625rem;
                padding-bottom: 1rem;
            }

            p {
                font-size: 2.25rem;
                padding: 0 1.5rem 2rem;
            }

            .smaller {font-size: 1.25rem;}

            .price {
                font-weight: 400;
                font-size: 2.875rem;
            }

            .margin-top {
                margin-top: 4rem;

                &.double {margin-top: 8rem;}
            }

            img {
                padding: 3rem 0 4rem;
                width: 14.3125rem;
            }

            .btn-big {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
                font-size: 2.25rem;
                margin-bottom: 3rem;

                @media only screen and (max-width: 340px) {
                    font-size: 2rem;
                }
                @media only screen and (max-width: 290px) {
                    font-size: 1.75rem;
                }

                &.narrow {max-width: 80%;}
            }

            .btn-transparent {
                color: @blue-main;
                border: 2px solid @blue-main;
            }

            & + .white-wrap .job-name {
                padding: .5rem 0 1.5rem;
                font-size: 1.5rem;
            }
        }

        &.review {

            .job-name {font-size: 1.6rem;}

            .schedule-text-separator {margin-bottom: 0.5rem;}

            .btn-wrap {
                margin: 5rem 0;
                padding: 0 3.5rem;
            }

            .link-btn {
                font-size: 2.375rem;
                display: block;
                margin: 1.25rem 0;
            }
        }

        .tile-title {
            font-family: @font-secondary;
            font-size: 2.3125rem;
            font-weight: 300;
            line-height: 1.2em;
            letter-spacing: -0.02rem;
            padding: 1.1875rem 0.5rem;
            margin: 0 1.1875rem;
            border-bottom: 0.125rem solid @gray-blue-95p;

            &.disabled {color: @gray-blue-80p;}
        }

        .link-learn {
            display: block;
            font-family: @font-tertiary;
            font-size: 1.5rem;
            font-weight: 700;
            color: @blue-dark;
            line-height: 2.75rem;
            letter-spacing: 0.04rem;
            text-align: center;
            margin: 0 20% 2rem 20%;
        }

        .tap-wrap {text-align: center;}

        .tap-info {
            display: inline-block;
            width: 32%;
            padding: 0 0 2.5rem 2.375rem;
            font-family: @font-secondary;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 1.2em;
            letter-spacing: -0.02rem;
            text-align: left;
            margin-top: 0.75rem;
            position: relative;
            box-sizing: border-box;

            &:before {
                content: "";
                width: 1.75rem;
                height: 1.75rem;
                border-width: 0.125rem;
                border-style: solid;
                position: absolute;
                left: 0;
                top: 0;
                box-sizing: border-box;
                .border-radius(50%);
            }

            &.green {
                color: @green-main;

                &:before {
                    background-color: @green-main;
                    border-color: @green-main;
                }
            }

            &.blue {
                color: @blue-main;

                &:before {
                    background-color: @blue-main;
                    border-color: @blue-main;
                }
            }

            &.line {
                color: @blue-dark;

                &:before {border-color: @blue-dark;}
            }
        }

        .tap-btn {
            width: 90%;
            height: 4.5rem;
            font-family: @font-tertiary;
            font-size: 1.875rem;
            font-weight: 700;
            margin-bottom: 1.1875rem;
            .border-radius(2.25rem);

            &.green {
                background-color: @green-main;
                color: white;
                border-color: @green-main;
            }

            &.blue {
                background-color: @blue-main;
                color: white;
                border-color: @blue-main;
            }
        }
    }

    //find workers new - on demand
    &.on-demand-wrapper {

        .date-wrap {
            margin: 1rem 1.25rem;
            text-align: center;
            font-family: @font-primary;
            font-weight: 700;
            font-size: 1.25rem;
        }

        .link-btn {
            display: inline-block;
            margin: 0 0 2rem;
            padding: 0 0.375rem;
            height: auto;
            line-height: normal;
            text-transform: uppercase;
            font-family: @font-primary;
            font-weight: 700;
            font-size: 1.375rem;
            border-bottom: 0.1875rem solid @blue-dark;
            .border-radius(0);      
        }

        .header-inner-wrap {
            padding: 0 1.625rem;
            text-align: center;

            .txt-small {
                font-family: @font-secondary;
                font-weight: 300;
                font-size: 1.25rem;
                color: @gray-blue-57p;
                margin-top: -0.75rem;
                margin-bottom: 1rem;
            }

            .txt {
                font-family: @font-primary;
                font-weight: 700;
                font-size: 1.75rem;
                color: @color-text;

                &.alone {margin-bottom: 1rem;}
            }
        }

        .two-part-standart {

            .top-part {
                .border-radius-bottom(0);

                p {
                    padding-top: 0.5rem;
                    font-family: @font-secondary;
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: #fff;
                }

                .centered {
                    text-align: center;
                    font-family: @font-secondary;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.25rem;
                }

                .info-wrap {margin-top: 0.5rem;}

                .date-wrap {
                    max-width: 70%;
                    text-align: left;
                    display: inline-block;
                    margin: 0;
                    font-weight: 700;
                }
            }

            .bottom-part {

                .btn-edit {
                    position: absolute;
                    top: 2rem;
                    right: 1.25rem;

                    img {width: 2.5625rem;}
                }

                .block-editable {
                    position: relative;
                    margin: 0 1.25rem;
                    padding: 1rem 0;
                    border-bottom: 1px solid @gray-blue-80p;

                    &:last-of-type {border-bottom: none;}
                }

                h3 {
                    max-width: 80%;
                    margin: 1rem 0;
                    font-size: 1.875rem;
                }

                .txt-custom {
                    padding: 0.5rem 1rem;
                    font-family: @font-secondary;
                    font-weight: 300;
                    font-size: 1.75rem;

                    .lighter {
                        color: @gray-blue-57p;
                    }
                }
            }
        }

        .clarification {
            margin: 1.5rem 1.25rem 1.25rem;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.25rem;
            text-align: center;
            letter-spacing: -0.08rem;
        }
    }

    // find workers new - project staffing
    &.project-staffing-wrapper {

        .clarification {
            margin-top: 1.25rem;
            margin-bottom: 1.25rem;
            font-weight: 700;
            font-size: 1.5rem;
            color: @gray-blue-57p;
            text-align: center;
            letter-spacing: -0.08rem;
        }

        .txt-nunito {
            font-family: @font-secondary;
            font-size: 2rem;

            &.light {font-weight: 300;}
        }

        .choose-quote {
            margin: 1.25rem 1.25rem 0;

            &.empty-quote {
                min-height: ~"calc(100vh - 18rem)";
                background: #fff;
                text-align: center;
                -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
                -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
                box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
                .border-radius(4px);

                .img-wrap {
                    padding: 10rem 0 4rem;

                    img {width: 14.5rem;}
                }

                p {
                    line-height: 2.5rem;
                }
            }
        }

        .choose-week-section .white-wrap {

            .txt {
                font-family: @font-secondary;
                font-weight: 300;
                font-size: 1.75rem;
                text-align: center;

                &.bigger {
                    font-size: 2.25rem;
                }
            }
        }

        .quote-block {
            margin-bottom: 1.25rem;
            background: #fff;
            padding: 1.25rem;
            position: relative;
            -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
            -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
            .border-radius(4px);

            .wrap-link {
                float: left;
                display: inline-block;
                margin-bottom: 1.5rem;
                width: 69%;
                box-sizing: border-box;
                .clearfix();
            }

            .name {
                padding-right: 1.5rem;
                font-family: @font-secondary;
                font-size: 2.25rem;
                font-weight: 300;
                line-height: 1.125em;
                letter-spacing: -0.08rem;
                color: @blue-dark;
                position: relative;

                img {
                    position: absolute;
                    right: 0;
                    top: 0.5rem;
                    width: 1rem;
                }
            }

            .price-part {
                float: right;
                width: 30%;
                box-sizing: border-box;
                font-family: @font-secondary;
                font-weight: 400;
                font-size: 1.875rem;
                text-align: right;

                .actual-price {
                    font-weight: 300;
                    font-size: 2.625rem;
                }
            }

            .position, .location, .num {
                padding: 0.5rem 0;
                font-family: @font-tertiary;
                font-size: 1.5rem;
            }

            .position {color: @gray-blue-57p;}

            .location, .num {color: @color-text;}

            .btn-wrap {
                margin-top: 1rem;
                padding-top: 1.25rem;
                border-top: 2px solid @gray-blue-95p;
                text-align: center;
            }

            .btn-line {
                font-size: 1.5rem;
                display: inline-block;
                text-align: center;
                padding: 0.5rem 1rem;
                .border-radius(2rem);
            }
        }

        .white-wrap {

            &.week-wrapper {
                padding-top: 1.25rem;
                padding-left: 0;
                padding-right: 0;
            }

            .radio-wrap-custom {
                padding: 1rem 0;

                &.big-wrap {padding: 2rem 0;}

                &.border-bottom {border-bottom: 2px solid @gray-blue-80p;}

                label:before {
                    border-color: @blue-main;
                    transition: background-color .3s ease;
                }

                input:checked + label:before {background-color: @blue-main;}

                p {font-size: 2rem;}

                .txt-small {
                    font-size: 1.75rem;
                    line-height: 2rem;
                }
            }

            .radio-wrap {

                &:not(.chosen) {

                    .week,
                    .day-num,
                    .day-txt {color: @gray-blue-80p;}
                }

                .week,
                .day-num,
                .day-txt {.transition-variant(color, .3s, ease);}

                .radio-week {
                    display: none;

                    & + label {
                        display: block;
                        position: relative;
                    }

                    &:checked + label {
                        .select-txt {

                            &:before {background-color: @blue-dark;}

                            .hidden {
                                width: auto;
                                opacity: 1;
                            }
                        }
                    }
                }

                .week {
                    max-width: 75%;
                    margin: 1.25rem;
                    font-family: @font-secondary;
                    font-weight: 300;
                    font-size: 2.25rem;
                    position: relative;
                }

                .select-txt {
                    position: absolute;
                    right: 1.25rem;
                    bottom: 0;
                    font-family: @font-primary;
                    font-weight: 600;
                    font-size: 1rem;
                    color: @gray-blue-57p;

                    &:before {
                        content: "";
                        background: #fff url("img/ui-checkmark-white.svg") no-repeat center center;
                        background-size: 1.625rem auto;
                        display: inline-block;
                        width: 2.5rem;
                        height: 2.5rem;
                        border: 0.125rem solid @blue-dark;
                        position: absolute;
                        right: 0rem;
                        bottom: 1rem;
                        .transition-variant(background-color, .3s, ease);
                        .border-radius(50%);
                    }

                    .hidden {
                        display: inline-block;
                        width: 0;
                        opacity: 0;
                    }
                }
            }
        }

        .group-days-wrap {
            font-family: @font-tertiary;
            font-size: 1.875rem;
            padding: 1rem 1.25rem;
            border-top: 0.0625rem solid @gray-blue-80p;
            .clearfix();

            p {
                display: inline-block;
                padding-top: 0.875rem;

                @media only screen and (max-width: 620px) {
                    font-size: 1.5rem;
                }
            }
        }

        .day-wrapper .clarification {
            margin: 1.5rem auto;
            max-width: 80%;
        }

        .two-part-standart {

            &.details {

                h2 {
                    text-align: center;
                    text-transform: uppercase;
                    font-family: @font-secondary;
                }

                .block-editable {
                    position: relative;
                    margin: 0 1.25rem;
                    padding: 1rem 0;
                    border-bottom: 1px solid @gray-blue-80p;

                    &:last-of-type {border-bottom: none;}
                }

                h3 {
                    margin: 1rem 0;
                    font-size: 1.875rem;
                    line-height: 2.5rem;

                    .big {font-size: 2.5rem;}
                }

                .txt-custom {
                    padding: 0.5rem 1rem;
                    font-family: @font-secondary;
                    font-weight: 300;
                    font-size: 1.75rem;
                    line-height: 1.2em;

                    .lighter {
                        color: @gray-blue-57p;
                    }
                }
            }

            .single-day {margin: 0.5rem 0;}
        }
    
        .btn-toggle-wrap {float: right;}

        .worker-list {

            .select-wrapper {
                display: block;
                padding-top: 0;
                margin-bottom: 1.1875rem;
            }

            .worker-tile {

                .last-24hr,
                .select-btn,
                .stat-wrapper,
                .match-cont {display: block;}
            }
        }
    }

    // Job Requirements
    .job-requirements-title {
        background-repeat: no-repeat;
        padding: 0.625rem 0 0.625rem 4.125rem;
        font-family: @font-tertiary;
        font-size: 1.875rem;
        line-height: 1.2em;
        margin-top: 1rem;

        &.first {margin-top: 1.625rem;}

        &.icon-protection {
            background-image: url("img/requirements-attention-black.svg");
            background-size: auto 3rem;
            background-position: 0.3125rem center;
        }

        &.icon-duties {
            background-image: url("img/requirements-duties.svg");
            background-size: auto 3rem;
            background-position: 0.25rem center;
        }

        &.icon-site {
            background-image: url("img/requirements-site.svg");
            background-size: auto 3rem;
            background-position: 0.125rem center;
        }

        &.icon-lifting {
            background-image: url("img/requirements-lifting.svg");
            background-size: auto 1.75rem;
            background-position: left center;
        }

        &.icon-certifications {
            background-image: url("img/requirements-certifications.svg");
            background-size: auto 3rem;
            background-position: 0.375rem center;
        }

        &.icon-bg-checks {
            background-image: url("img/requirements-bg-checks.svg");
            background-size: auto 2.3125rem;
            background-position: left center;
        }

        &.icon-experience {
            background-image: url("img/requirements-experience.svg");
            background-size: auto 3.5rem;
            background-position: left center;
        }
    }

    .job-requirements-txt {
        padding: 1.125rem 1.1875rem 1.75rem 1.1875rem;
        font-family: @font-secondary;
        font-size: 1.75rem;
        font-weight: 300;
        color: @gray-blue-57p;
        line-height: 2.25rem;
        letter-spacing: -0.04rem;
    }

    // List of workers
    .select-wrapper {
        display: none;
        padding: 1.1875rem 1.1875rem 0 1.1875rem;
    }

    .select-checkbox {
        display: none;

        & + label {
            display: inline-block;
            padding-right: 3.625rem;
            font-size: 1.5em;
            font-weight: 700;
            line-height: 2.75rem;
            letter-spacing: -0.08rem;
            cursor: pointer;
            position: relative;
        }

        & + label:before {
            content: "";
            background: @gray-blue-57p url("img/ui-plus.svg") no-repeat center center;
            background-size: 1.375rem auto;
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            position: absolute;
            right: 0;
            top: 0;
            .border-radius(50%);
        }

        &:checked + label:before {
            background: @green-main url("img/ui-checkmark-white.svg") no-repeat center center;
            background-size: 1.625rem auto;
            border-color: @green-main;
        }
    }

    .selected-num {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 2.75rem;
        letter-spacing: -0.08rem;
        float: right;
    }

    .worker-tile {
        background-color: white;
        width: 91%;
        padding: 1.1875rem 3%;
        margin: 0 1.5% 1.1875rem 1.5%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius(4px);
        .clearfix();

        .img-wrapper {
            width: 27.6%;
            float: left;
            position: relative;

            .profile-pic {
                background-color: @gray-blue-95p;
                width: 7.5rem;
                height: 7.5rem;
                font-size: 2.625rem;
                line-height: 7.5rem;
                color: @gray-blue-80p;
            }

            .select-btn {
                display: none;
                background: @gray-blue-57p url("img/ui-plus.svg") no-repeat center center;
                background-size: 1.375rem auto;
                width: 2.75rem;
                height: 2.75rem;
                position: absolute;
                top: 0;
                left: 5.3125rem;
                z-index: 2;
                .border-radius(50%);

                &.selected {
                    background: @green-main url("img/ui-checkmark-white.svg") no-repeat center center;
                    background-size: 1.625rem auto;
                }
            }
        }

        .last-24hr {
            display: none;
            padding-top: 0.625rem;
            font-weight: 700;
            color: @gray-blue-57p;
            line-height: 1.375rem;
            letter-spacing: -0.05rem;
            text-transform: uppercase;

            span {
                display: block;
                width: 0.75rem;
                height: 0.75rem;
                margin: 0.75rem 0.625rem 0 0;
                border: 0.1875rem solid @green-main;
                float: left;
                .border-radius(50%);
            }
        }

        .data-wrapper {
            width: 49.4%;
            float: left;

            h2 {
                padding-bottom: 0.5rem;
                font-family: @font-secondary;
                font-size: 2.25em;
                font-weight: 300;
                letter-spacing: -0.02rem;
                margin-top: -0.25rem;
            }

            p {
                font-family: @font-tertiary;
                font-size: 1.25em;
                color: @gray-blue-57p;
                line-height: 2rem;
                letter-spacing: 0.02rem;

                &.rate {display: none;}
            }

            .num-pos, .num-neg {
                display: inline-block;
                width: 2.875rem;
                height: 2.625rem;
                padding-left: 2.625rem;
                font-family: @font-tertiary;
                font-size: 1.375em;
                font-weight: 700;
                color: @gray-blue-57p;
                line-height: 2.625rem;
                margin-top: 0.625rem;
            }

            .num-pos {
                background: transparent url("img/icon-thumb-up.svg") no-repeat left top;
                background-size: 2.125rem auto;
            }

            .num-neg {
                background: transparent url("img/icon-thumb-down.svg") no-repeat left bottom;
                background-size: 2.125rem auto;
            }
        }

        .stat-wrapper {
            display: none;
            width: 23%;
            text-align: right;
            float: left;
            position: relative;

            .match-cont {
                display: none;
                width: 6.875rem;
                height: 6.875rem;
                text-align: center;
                border: 3px solid @gray-blue-95p;
                position: relative;
                .border-radius(50%);
            }

            .match-num {
                padding-top: 1.25rem;
                font-family: @font-tertiary;
                font-size: 1.875rem;
                font-weight: 700;
                letter-spacing: -0.05rem;
                color: @blue-main;

                span {
                    font-size: 2.875rem;
                    margin-right: 0.25rem;
                }
            }

            .match-txt {
                padding-top: 0.375rem;
                font-family: @font-secondary;
                font-weight: 700;
                letter-spacing: -0.02rem;
                text-transform: uppercase;
            }

            .match-slice {
                width: ~"calc(6.875rem + 6px)";
                height: ~"calc(6.875rem + 6px)";
                clip: rect(0,7.5rem,7.5rem,3.75rem);
                position: absolute;
                top: -3px;
                left: -3px;

                &.above-half {
                    clip: rect(auto, auto, auto, auto);

                    .match-pie.fill-half {display: block;}
                }
            }

            .match-pie {
                border: 3px solid @blue-main;
                position: absolute;
                width: 6.875rem;
                height: 6.875rem;
                clip: rect(0,3.75rem,7.5rem,0);
                .border-radius(50%);

                &.fill-half {
                    display: none;
                    -ms-transform: rotate(180deg) !important;
                    -webkit-transform: rotate(180deg) !important;
                    transform: rotate(180deg) !important;
                }
            }

            .more-btn {
                display: none;
                background: transparent url("img/ui-arrow-thin-right-blue.svg") no-repeat right center;
                background-size: 1rem auto;
                height: 2.1875rem;
                padding-right: 1.625rem;
                font-family: @font-tertiary;
                font-size: 1.375em;
                font-weight: 700;
                color: @blue-dark;
                text-transform: uppercase;
                line-height: 2.1875rem;
                margin: 8.625rem 0 1rem 0;
                float: right;
            }

            .delete-worker {
                display: none;
                background: transparent url("img/icon-delete-blue.svg") no-repeat right top;
                background-size: auto 3rem;
                width: 2.875rem;
                height: 3.25rem;
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .links-wrapper {
            display: none;
            height: 5rem;
            margin-top: 1.375rem;
            border-top: 2px solid @gray-blue-95p;
            position: relative;

            .save-btn {
                background: transparent url("img/ui-pin.svg") no-repeat left 1.1875rem;
                background-size: 1.875rem auto;
                height: 5rem;
                padding-left: 2.25rem;
                font-family: @font-tertiary;
                font-size: 1.375em;
                font-weight: 700;
                color: @gray-blue-57p;
                text-transform: uppercase;

                &.saved {
                    background: transparent url("img/ui-checkmark-gray.svg") no-repeat left 1.8125rem;
                    background-size: 1.625rem auto;
                }
            }

            .more-btn {
                background: transparent url("img/ui-arrow-thin-right-blue.svg") no-repeat right center;
                background-size: 1rem auto;
                display: block;
                height: 5rem;
                padding-right: 1.625rem;
                font-family: @font-tertiary;
                font-size: 1.375em;
                font-weight: 700;
                color: @blue-dark;
                text-transform: uppercase;
                line-height: 5rem;
                float: right;
            }

            .offer-sent {
                display: inline-block;
                font-weight: 700;
                color: @gray-blue-57p;
                line-height: 5rem;
                letter-spacing: -0.05rem;
            }

            .status {
                padding-left: 2.375rem;
                font-family: @font-secondary;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 5rem;
                letter-spacing: -0.02rem;
                float: right;

                &.accepted {
                    background: transparent url("img/ui-checkmark-green.svg") no-repeat left center;
                    background-size: 1.75rem auto;
                }

                &.pending {
                    background: transparent url("img/icon-panding.svg") no-repeat left center;
                    background-size: 1.75rem auto;
                }

                &.rejected {
                    background: transparent url("img/icon-reject.svg") no-repeat left center;
                    background-size: 1.75rem auto;
                }
            }

            .withdraw-btn {
                height: 2.875rem;
                padding: 0 1.25rem;
                font-size: 1.5rem;
                letter-spacing: -0.08rem;
                margin: 0 auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                .border-radius(38px);
            }
        }

        &.rate-tile-wrap {

            .hrs,
            .num-pos,
            .num-neg {display: none;}

            .data-wrapper {width: 70%;}

            .job-name {
                margin-top: 0.5rem;
                color: @color-text;

                .lighter {color: @gray-blue-57p;}
            }

            .rate-part {
                margin-top: 3rem;
                padding-top: 2rem;
                border-top: 2px solid @gray-blue-80p;
                .clearfix();
            }

            .half {
                width: 50%;
                float: left;
                text-align: center;
            }

            input {
                display: none;

                &:checked + label {

                    .img-wrap {
                        border-color: #fff;
                        box-shadow: 0px 0px 0px 0.25rem @blue-main;

                        &.rate-up {background: @blue-main url("img/icon-rate-up-white.svg") center center/4.375rem no-repeat;}

                        &.rate-down {background: @blue-main url("img/icon-rate-down-white.svg") center center/4.375rem no-repeat;}
                    }
                }
            }

            label {
                display: inline-block;
                margin-bottom: 1rem;
                padding: 0 2rem;

                .img-wrap {
                    margin: 1rem auto 1.5rem;
                    width: 7.25rem;
                    height: 7.25rem;
                    border: 0.25rem solid @blue-main;
                    .transition-variant(all, .3s, ease);
                    .border-radius(50%);

                    &.rate-up {background: transparent url("img/icon-rate-up-blue.svg") center center/4.375rem no-repeat;}

                    &.rate-up + span {margin-top: 0.5rem;}

                    &.rate-down {background: transparent url("img/icon-rate-down-blue.svg") center center/4.375rem no-repeat;}
                }

                span {
                    display: inline-block;
                    font-family: @font-secondary;
                    font-weight: 700;
                    font-size: 1rem;
                    text-transform: uppercase;
                    line-height: 1.5rem;
                }
            }
        }
    }

    &.signedin {
        .worker-tile {
            padding-bottom: 0;
            margin-bottom: 0.5625rem;

            .last-24hr.active {display: block;}
            .data-wrapper p.rate {display: block;}
            .stat-wrapper {display: block;}
            .links-wrapper {display: block;}
        }
    }

    &.selectable {
        .select-wrapper {display: block;}
        .worker-tile {
            .img-wrapper {
                .select-btn {display: inline-block;}
            }
        }
    }

    &.scheduling {
        .worker-tile {
            .stat-wrapper {
                .match-cont {display: inline-block;}
            }
        }

        .modal-radio-wrapper.sort-popup {
            ul {
                .scheduling {display: block;}
            }
        }
    }

    &.browsing {
        .search-wrapper {padding-bottom: 0;}
        .worker-tile {
            // padding-bottom: 0;
            margin-bottom: 0.5625rem;

            .last-24hr.active {display: block;}
            .stat-wrapper {
                display: block;

                .more-btn {
                    display: block;
                    margin-bottom: 0;
                }
                .delete-worker {display: block;}
            }
        }
    }

    .modal-radio-wrapper.sort-popup {
        top: 11.125rem;

        .modal-arrow-top {right: 1.375rem;}

        ul {
            .scheduling {display: none;}
        }
    }

    // Filters
    .filters-tile {
        background-color: white;
        width: 97%;
        margin: 0 1.5% 0.5625rem 1.5%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius(4px);

        h3 {
            padding: 0.9375rem 0 1.375rem 1.1875rem;
            font-family: @font-secondary;
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
        }
    }

    .day-selector-wrapper {
        padding-bottom: 1.125rem;
    }

    .filter-list {
        li {
            border-top: 1px solid @gray-blue-80p;
            position: relative;

            &:first-child {border-top: none;}

            &.border-bottom {border-bottom: 1px solid @gray-blue-80p;}

            &.higher {min-height: 11.5rem;}

            img {
                width: 2.5rem;
                height: 2.5rem;
                padding: 1rem 0 0 1rem;
                -webkit-transform: translateY(3px);
                transform: translateY(3px);

                @media only screen and (max-width: 320px) {
                    display: none;
                }
            }
        }

        .section-title {
            border-top: none;

            + li {border-top: none;}

            span {
                font-weight: 700;
                font-size: 1.875rem;
                color: @gray-blue-57p;
                padding: 4.375rem 0 2.5rem 1.1875rem;
                display: block;
                letter-spacing: -0.08rem;
            }
        }

        .filter-link {
            background: transparent url("img/ui-arrow-line-right-blue.svg") no-repeat right 2rem center;
            background-size: 1rem auto;
            display: block;
            padding-left: 1.1875rem;
            font-family: @font-tertiary;
            font-size: 1.875rem;
            line-height: 5.5rem;
            letter-spacing: -0.02rem;

            &.inactive {
                background-image: url("img/ui-arrow-line-right-gray.svg");
                color: @gray-blue-80p;
                cursor: default;
            }
        }

        .filter-txt {
            display: inline-block;
            width: ~"calc(100% - 10rem)";
            padding: 1.4375rem 0 1.4375rem 1.1875rem;
            font-family: @font-tertiary;
            font-size: 1.875rem;
            line-height: 2.625rem;
            letter-spacing: -0.02rem;

            &.with-slider {
                width: 36%;
                position: absolute;
                left: 0;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }

            .small-note {
                display: block;
                font-size: 1.125rem;
                margin-top: -0.75rem;
            }
        }

        .filter-btns {
            text-align: center;

            button {
                padding: 1.25rem 0;
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: -0.06rem;

                &.third {width: 30%;}
            }
        }

        .toggle-btn + label {
            position: absolute;
            right: 1.1875rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            &.not-centered {
                top: 0.8125rem;
                -webkit-transform: none;
                transform: none;
            }
        }

        .day-selector-wrapper {
            display: none;
            padding-top: 0.625rem;
            padding-bottom: 1.375rem;
        }

        .rangeSlider-jquery {
            width: 56%;
            padding: 0;
            margin: 0;
            position: absolute;
            right: 1.1875rem;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            input.ui-slider-input {width: 3.5rem;}

            .ui-slider-input.ui-rangeslider-last {margin-right: 0;}
        }

        .ui-slider {
            width: 56%;
            min-height: 11.5rem;
            margin: 0 1.1875rem 0 0;
            float: right;
            position: relative;
        }

        .slider-jquery {
            &.ui-slider-input {
                display: block;
                width: 4.5rem;
                text-align: left;
                margin-top: 1.125rem;
                margin-left: 1rem;
            }

             + .ui-slider-track {
                width: ~"calc(100% - 3.5rem)";
                padding: 0;
                margin: 0 !important;
                position: absolute;
                right: 1.75rem;
                top: 50% !important;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);

                &:before {
                    content: '\2265';
                    font-family: @font-tertiary;
                    font-size: 1.75rem;
                    font-weight: 400;
                    position: absolute;
                    left: -2rem;
                    top: -4.25rem;
                }

                &.ui-bar-inherit {background-color: @blue-dark;}

                .ui-slider-handle {
                    width: 3.5rem;
                    height: 3.5rem;
                    margin: -1.8125rem 0 0 -1.8125rem;
                }

                .ui-btn-active {background-color: @gray-blue-80p;}
            }
        }
    }

    .filters-reset {
        display: block;
        height: 4rem;
        font-family: @font-tertiary;
        font-size: 2.25rem;
        color: @blue-dark;
        margin: 0 auto 0.5rem auto;
    }

    // Filters - Skills
    .skills-wrapper {
        background-color: white;
        width: ~"calc(97% - 2.375rem)";
        padding: 3.5rem 1.1875rem 1rem 1.1875rem;
        margin: 0 1.5%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius-top(4px);
        .clearfix();
    }

    .skill-info {
        width: 31%;        
        float: left;

        &.middle {
            padding: 0 3.5%;
        }

        .skill-btn {
            width: 100%;
            padding: 0;
            margin: 0;
            float: none;
        }

        .skill-txt {
            padding: 0.875rem 0;
            font-size: 1.375rem;
            font-weight: 700;
            color: @gray-blue-57p;
            letter-spacing: -0.06rem;
            text-align: center;
        }
    }

    .skill-info-line {
        background-color: @gray-blue-80p;
        width: 100%;
        height: 2px;
        margin-bottom: 3.25rem;
    }

    .skill-btn {
        background-color: white;
        height: 3.375rem;
        padding: 0 2rem;
        font-size: 1.125rem;
        font-weight: 700;
        color: @gray-blue-57p;
        letter-spacing: -0.04rem;
        text-transform: uppercase;
        margin: 0 1.25rem 1.25rem 0;
        float: left;
        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.33);
        .border-radius(1.6875rem);

        &.must {
            background-color: @blue-main;
            color: white;
        }

        &.pref {
            background-color: @green-main;
            color: white;
        }
    }

    // Filters - Schedule
    .filter-matchScore-txt {
        padding: 0.75rem 8% 6rem 1.1875rem;
        font-size: 1.75rem;
        font-weight: 700;
        color: @gray-blue-57p;
        line-height: 2.375rem;
        letter-spacing: -0.02rem;
    }

    .rangeSlider-jquery {
        padding-bottom: 4rem;
        margin: 0 1.1875rem;
    }

    // Make it Urgent
    .filter-list {
        .deadline-item {
            .filter-txt {padding: 2rem 0 2rem 1.1875rem;}
        }
    }

    .deadline-txt {
        padding-top: 3.375rem;
        font-family: @font-tertiary;
        font-size: 1.875rem;
        text-align: center;
        border-top: 1px solid @gray-blue-80p;

        span {
            display: inline-block;
            padding-top: 0.625rem;
            font-family: @font-secondary;
            font-size: 2.375rem;
            font-weight: 300;
            letter-spacing: -0.02rem;
        }
    }

    .slider-wrapper {padding-bottom: 5rem;}

    .ui-slider {
        height: 2.75rem;
        margin: 0 0.5rem;
    }

    .deadline-note {
        padding: 3rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: @gray-blue-57p;
        letter-spacing: -0.04rem;
        text-align: center;
    }

    // Sent Offer
    .job-offer-icon {
        height: 17rem;
    }

    .job-offer-txt {
        text-align: center;

        p {
            padding: 0 10%;
            font-size: 2.625em;
            font-weight: 700;
            color: @gray-blue-57p;
            line-height: 4rem;
            letter-spacing: -0.08rem;
        }
    }

    .job-offer-alert {
        padding: 1.25rem 0;
        font-size: 1.875rem;
        font-weight: 700;
        color: @gray-blue-57p;
        line-height: 2.5rem;
        letter-spacing: -0.08rem;

        .offer-alert-icon {
            background: transparent url("img/icon-exclamation.svg") no-repeat center center;
            background-size: auto 1.75rem;
            width: 2.5rem;
            height: 2.5rem;
            margin: 0 auto 0.5rem auto;
            border: 2px solid @red-main;
            .border-radius(50%);
        }
    }

    .job-offer-btn {
        display: inline-block;
        padding: 0 3.5rem;
        font-size: 2.375rem;
        margin-top: 2.5rem;

        img {
            width: 1.875rem;
            height: auto;
        }
    }

    &.job-offer-sent {
        .job-offer-icon {
            background: transparent url("img/icon-paper-plane.svg") no-repeat center center;
            background-size: 10rem auto;
        }
    }

    &.job-offer-schedule {
        .job-offer-icon {
            background: transparent url("img/icon-calendar.svg") no-repeat center center;
            background-size: 8.25rem auto;
        }
    }

    &.job-offer-job {
        .job-offer-icon {
            background: transparent url("img/icon-briefcase.svg") no-repeat center center;
            background-size: 8.875rem auto;
        }
    }

    &.job-offer-conflict {
        .job-offer-icon {
            background: transparent url("img/icon-paper-plane.svg") no-repeat center center;
            background-size: 10rem auto;
            height: 13rem;
        }
        .job-offer-txt p {
            padding: 0 20% 1.25rem 20%;
            font-size: 2.125em;
            line-height: 2.5rem;
        }
    }

    // fill my schedule
    .schedule-select {
        padding: 0.5rem 0;
        text-align: center;

        .txt {
            font-weight: 700;
            font-size: 1.5rem;
            color: @gray-blue-57p;
            margin: 1rem 0;
        }

        .btn-week {margin: 0.625rem;}
    }

    .schedule-list.js-next-week {display: none;}

    .schedule-tile {
        background-color: white;
        padding: 1.1875rem 3% 1px;
        margin: 0 1.5% 1.1875rem 1.5%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius(4px);

        .no-schedule {

            p {
                font-family: @font-secondary;
                font-weight: 300;
                font-size: 1.875rem;
                max-width: 80%;
                margin: 2rem auto 2rem;
                text-align: center;
            }

            .btn {
                font-family: @font-tertiary;
                font-weight: 700;
                font-size: 2.375rem;
                max-width: 70%;
                margin: 2rem auto;
            }
        }

        .top-part {
            .clearfix();
            margin: 0 0 1.5rem;
        }

        .radio-custom-wrap {
            float: right;
            text-align: right;
            cursor: pointer;

            label {
                font-family: @font-primary;
                font-weight: 700;
                font-size: 1rem;
                color: @gray-blue-57p;
                text-transform: uppercase;
                letter-spacing: normal;
                padding-left: 0;
                padding-top: 2.5rem;

                &:before {
                    top: 0;
                    right: 0;
                    left: auto;
                }
            }
        }

        .job-name {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 2.25rem;
            margin: 0 0 0.5rem;
        }

        .job-address {
            font-family: @font-tertiary;
            font-size: 1.25rem;
        }

        .job-details {
            display: inline-block;
            font-size: 1.5rem;
            margin: 0.5rem 0;
            img {
                @media only screen and (max-width: @size-tablet) {width: 1.5rem;}
            }
        }

        .bottom-part {
            border-top: 0.125rem solid @gray-blue-80p;
        }

        .day-selector-wrapper {margin: 1rem auto;}
    }

    // Browse Workers
    .browse-top-txt {
        padding: 1.625rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: @gray-blue-57p;
        letter-spacing: -0.08rem;
        text-align: center;
    }

    // Buckets
    .buckets-tile {
        display: block;
        background-color: white;
        padding: 1.1875rem;
        margin: 0 1.1875rem 0.5625rem 1.1875rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-sizing: border-box;
        .border-radius(4px);
        .clearfix();

        &.bucket-icon {
            background: white url("img/icon-bucket.svg") no-repeat 1.75rem 1.75rem;
            background-size: 3.75rem auto;
            padding-left: 7.375rem;
        }

        &.first-tile {margin-top: 1.1875rem;}

        &.no-buckets {
            min-height: ~"calc(100vh - 7.75rem)";
            margin-top: 1.1875rem;
            margin-bottom: 0;
            text-align: center;

            p {
                font-family: @font-secondary;
                font-size: 1.75rem;
                font-weight: 300;
                line-height: 2.1875rem;

                &.bigger {
                    padding: 7rem 0;
                    font-size: 2.25rem;
                }
            }

            .btn-big {
                display: inline-block;
                padding: 0 3.75rem;
                font-size: 2.375rem;
                margin: 2rem 0;
            }
        }
    }

    .bucket-name {
        padding-bottom: 0.5rem;
        font-family: @font-secondary;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.625rem;
        letter-spacing: -0.02rem;

        &.clarification {
            font-weight: 400;
            font-size: 2rem;
        }
    }

    .bucket-info {
        display: inline-block;
        font-family: @font-secondary;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 1.25rem;
        letter-spacing: 0.02rem;
        text-transform: uppercase;

        &.right-space {padding-right: 1.375rem;}

        span {color: @gray-blue-57p;}
    }

    .bucket-selected-num,
    .bucket-select-txt {
        padding: 0 1.1875rem;
        font-size: 1.5em;
        font-weight: 700;
        line-height: 2rem;
        letter-spacing: -0.08rem;
    }

    .bucket-selected-num {padding: 1.25rem 1.1875rem 0.375rem 1.1875rem;}

    .bucket-select-txt {
        padding: 0.375rem 1.1875rem 0.175rem 1.1875rem;
        color: @gray-blue-57p;
        text-align: center;
    }

    .bucket-gray-title {
        padding: 0.375rem 0 1rem 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: @gray-blue-57p;
        letter-spacing: -0.08rem;
    }

    .bucket-position {
        padding: 0 0 1.375rem 0.875rem;
        font-family: @font-secondary;
        font-size: 1.625rem;
        font-weight: 300;
        border-bottom: 2px solid @gray-blue-95p;
        margin-bottom: 1.125rem;
    }

    .bucket-input {margin-bottom: 0.5rem;}

    .no-buckets-tile {

    }

    // Browse Worker Profile
    &.worker-profile {
        .worker-tile {
            margin: 1.1875rem 1.5%;

            .icons-wrapper {
                margin-top: 1.625rem;
                border-top: 2px solid @gray-blue-95p;
                .clearfix();

                > div {padding-top: 1.125rem;}

                .badge, .vehicle {
                    font-weight: 700;
                    color: @gray-blue-57p;
                    line-height: 1.375rem;
                    letter-spacing: -0.05rem;
                    text-transform: uppercase;

                    span {
                        display: inline-block;
                        padding-left: 0.625rem;
                        vertical-align: top;
                    }
                }

                .badge {
                    width: 33%;
                    text-align: center;
                    float: left;

                    span {padding-top: 0.75rem;}
                    img {
                        height: 3rem;
                        margin-bottom: -0.375rem;
                    }
                }

                .vehicle {
                    float: right;

                    img {height: 2.5rem;}
                }

                .last-24hr {
                    display: block;
                    width: 33%;
                    float: left;

                    &.inactive {
                        span {display: none;}
                    }
                }
            }
        }

        .worker-title {
            padding-top: 1.4375rem;
            font-family: @font-tertiary;
            font-size: 1.875rem;
            line-height: 1.2em;
            border-top: 2px solid @gray-blue-95p;

            &:first-of-type {
                margin-top: -1.1875rem;
                border-top: none;
            }
        }

        .worker-txt {
            padding: 0.875rem 1.1875rem 1.1875rem 1.1875rem;
            font-family: @font-secondary;
            font-size: 1.75rem;
            font-weight: 300;
            color: @gray-blue-57p;
            line-height: 2.25rem;
            letter-spacing: -0.04rem;

            &.none {
                padding-bottom: 2.5rem;
                font-family: @font-primary;
                font-weight: 700;
                color: @gray-blue-80p;
                letter-spacing: -0.08rem;
                text-align: center;
            }
        }

        .languages-wrap {
            padding: 0.75rem 0 1.1875rem 0;

            button {
                padding: 0.6875rem 4rem;
                font-size: 1.5rem;
                font-weight: 700;
                color: @gray-blue-57p;
                letter-spacing: -0.08rem;
                margin: 0.5625rem 0.5rem;
                border-color: @gray-blue-57p;
                .border-radius(2.375rem);
            }
        }

        .day-selector-wrapper {
            padding: 1rem 0 0 0;
        }
    }

    // Worker side - My Availability
    .line-text-separator {
        margin: 0.75rem 1.1875rem 0 1.1875rem;
    }

    // Worker side - Work Preferences
    .time-period-wrap {
        padding: 0.25rem 0 2.125rem 0;
        text-align: center;

        .time-period-item {
            display: inline-block;
            width: 8.125rem;
            height: 9.125rem;
            position: relative;

            p {
                width: 100%;
                font-family: @font-secondary;
                font-weight: 700;
                letter-spacing: -0.02rem;
                text-transform: uppercase;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            &.active {
                .time-period-icon {
                    border: 2px solid @blue-main;

                    &.morning {background-image: url("img/icon-period-morning-blue.svg");}
                    &.afternoon {background-image: url("img/icon-period-afternoon-blue.svg");}
                    &.evening {background-image: url("img/icon-period-evening-blue.svg");}
                    &.night {background-image: url("img/icon-period-night-blue.svg");}
                }
            }
        }

        .time-period-icon {
            display: inline-block;
            width: 7.25rem;
            height: 7.25rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto 4.125rem;
            border: 2px solid @gray-blue-80p;
            box-sizing: border-box;
            vertical-align: top;
            .border-radius(50%);

            &.morning {background-image: url("img/icon-period-morning-gray.svg");}
            &.afternoon {background-image: url("img/icon-period-afternoon-gray.svg");}
            &.evening {background-image: url("img/icon-period-evening-gray.svg");}
            &.night {background-image: url("img/icon-period-night-gray.svg");}
        }
    }

    .radius-values {
        padding: 3.125rem 1.1875rem 6.5rem 1.1875rem;
        position: relative;
        .clearfix();

        .bg-line {
            height: 0.8125rem;
            border-bottom: 3px dashed @gray-blue-95p;
        }
    }

    .radius-link {
        width: 18%;
        font-size: 1.75em;
        text-align: center;
        float: left;

        &.first {
            text-align: left;
        }

        &.middle {
            margin: 0 5%;
        }

        &.last {
            text-align: right;
            float: right;
        }

        &.active {
            .radius-dot {background-color: @blue-dark;}
            span {
                font-weight: 700;
                color: @blue-dark;
            }
        }

        span {
            display: block;
            padding-top: 0.5rem;
            letter-spacing: -0.06rem;
        }
    }

    .radius-dot {
        display: inline-block;
        background-color: @gray-blue-95p;
        width: 1.6875rem;
        height: 1.6875rem;
        .border-radius(50%);
    }
}

.find-workers-wrapper.not-logged {
    .not-logged-item {display: none;}
}

@media only screen and (min-width: @size-tablet) {
    .find-workers-wrapper {
        .worker-tile {
            .stat-wrapper {
                .match-cont {border-width: 5px;}
                .match-pie {border-width: 5px;}
                .match-slice {
                    width: ~"calc(6.875rem + 10px)";
                    height: ~"calc(6.875rem + 10px)";
                    top: -5px;
                    left: -5px;
                }
            }
        }

        .job-offer-alert {
            .offer-alert-icon {border-width: 3px;}
        }
    }
}