.clearfix {.clearfix();}

.txt-line {display: inline-block;}

.gray-bg {background-color: @gray-blue-95p;}
.profile-bg {background-color: #3ec3ff;}

.black-txt {color: @color-text !important;}
.gray-txt {color: @gray-blue-57p;}
.red-txt {color: @red-main;}

.float-left {float:left;}
.float-right {float:right;}

.subtitle-txt {
    padding-top: 1.25rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -0.06rem;
    text-align: center;
}

// profile image
.profile-pic {
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    position: relative;
    .border-radius(50%);

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}    

// buttons & links
.link-black {color: @color-text !important;}
.link-blue {color: @blue-dark;}
.link-green {color: @green-main;}
.link-red {color: @red-main;}

.link-btn {
    display: block;
    height: 6.25rem;
    font-family: @font-tertiary;
    font-weight: 700;
    line-height: 6.25rem;
    letter-spacing: -0.02rem;
    text-align: center;
    .border-radius(3.125rem;);
}

.full-link {
    background: #fff url("img/ui-arrow-line-right-blue.svg") no-repeat right 2rem center;
    background-size: 2rem 2rem;
    display: block;
    margin: 0.625rem 1.25rem;
    .border-radius(4px);
    padding: 1.625rem 1.25rem;
    font-family: @font-tertiary;
    font-size: 1.875rem;
}

.btn-blank {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
}

.btn-line {
    background-color: transparent;
    padding: 0;
    color: @blue-dark;
    border: 0.125rem solid @blue-dark;
    outline: none;

    &.active {
        background-color: @blue-dark;
        color: white;
        cursor: default;
    }

    &.disabled {
        background-color: @gray-blue-95p;
        border-color: @gray-blue-95p;
        color: @gray-blue-80p;
        cursor: default;
    }
}

.btn-big {
    display: block;
    height: 6.25rem;
    padding: 0;
    font-family: @font-tertiary;
    font-weight: 700;
    line-height: 6.25rem;
    letter-spacing: -0.02rem;
    text-align: center;
    border: none;
    outline: none;
    .border-radius(3.125rem);
}

.btn-green {
    background-color: @green-main;
    color: white;
}

.btn-blue {
    background-color: @blue-main;
    color: white;
}

.btn-gray {
    background-color: @gray-blue-80p;
    color: @gray-blue-57p;
}

.btn-full {
    display: block;
    width: 100%;
    height: 6.875rem;
    padding: 0;
    font-size: 2.375em;
    font-family: @font-tertiary;
    font-weight: 700;
    line-height: 6.875rem;
    text-align: center;
    border: 0;
    outline: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10;

    &.not-fixed {
        margin-top: 2rem;
        position: relative;
    }

    &.btn-delete img {
        height: 3.0925rem;
        margin-bottom: -0.3125rem;
    }
}

.btn-half {
    display: block;
    box-sizing: border-box;
    width: 50%;
    height: 6.875rem;
    padding: 0;
    font-size: 2.375em;
    font-family: @font-tertiary;
    font-weight: 700;
    line-height: 6.875rem;
    text-align: center;
    border: 0;
    outline: 0;
    position: fixed;
    bottom: 0;
    z-index: 10;

    &.left {
        border-right: 2px solid #009fd6;
        left: 0;
    }

    &.right {
        border-left: 2px solid #15bef9;
        right: 0;
    }
}

.btn-img-arrow {
    width: auto;
    height: 1.75rem;
}

.btn-week {
    display: inline-block;
    background-image: url("img/icon-calendar-blue.svg");
    background-size: 2.875rem auto;
    background-repeat: no-repeat;
    background-position: 1.625rem center;
    height: 4.5rem;
    padding: 0 1.25rem 0 5.25rem;
    font-family: @font-tertiary;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 4.5rem;
    text-align: center;
    box-sizing: border-box;
    margin: 0.5rem 0;
    .transition-variant(all, .3s, ease);
    .border-radius(3rem);

    &.active {background-image: url("img/icon-calendar-white.svg");}
}

//animations
@keyframes popUp {
    0% {
        opacity: 0;
        top: -1rem;
    }

    50% {
        opacity: 0;
        top: -1rem;
    }

    100% {
        opacity: 1;
        top: -1.6rem;
    }
}

// search input elements
.search-wrapper {
    position: relative;

    .input-search:focus {
        background-image: url("img/ui-search-gray.svg");
    }

    .clear-search {
        display: none;
        background: white url("img/ui-close-blue.svg") no-repeat center center;
        background-size: 0.875rem auto;
        width: 2.125rem;
        height: 2.125rem;
        padding: 0;
        border: 0.1875rem solid @blue-dark;
        outline: none;
        position: absolute;
        right: 1rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 2;
        .border-radius(50%);
    }
}

.input-search {
    background: white url("img/ui-search-blue.svg") no-repeat 1.125rem center;
    background-size: 2.0625rem auto;
    width: ~"calc(100% - 5.5rem - 2px)";
    height: 3rem;
    padding: 0 1rem 0 4.5rem;
    font-family: @font-secondary;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: -0.02rem;
    border: 1px solid @gray-blue-57p;
    outline: none;
    .border-radius(5px);
    .placeholder(@gray-blue-80p);
}

.input-text {
    background-color: white;
    background-size: 2.0625rem auto;
    width: ~"calc(100% - 2rem - 2px)";
    height: 3.25rem;
    padding: 0 1rem;
    font-family: @font-secondary;
    font-size: 1.625em;
    font-weight: 300;
    letter-spacing: -0.04rem;
    border: 1px solid @gray-blue-57p;
    outline: none;
    .border-radius(5px);
    .placeholder(@gray-blue-80p);
}

// custom form elements
.custom-radio {
    display: none;

    & + label {
        display: block;
        padding-left: 4rem;
        font-family: @font-tertiary;
        font-size: 1.75em;
        line-height: 2.75rem;
        letter-spacing: -0.02rem;
        cursor: pointer;
        position: relative;
    }

    & + label:before {
        content: "";
        background-color: white;
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        border: 0.125rem solid @gray-blue-80p;
        position: absolute;
        left: 0;
        top: 0;
        .border-radius(50%);
    }

    &:checked + label:before {
        background: @blue-dark url("img/ui-checkmark-white.svg") no-repeat center center;
        background-size: 1.625rem auto;
        border-color: @blue-dark;
    }

    &:disabled {
        & + label {
            color: @gray-blue-80p;
            cursor: default;
        }
        & + label:before {border-color: @gray-blue-80p !important;}
    }
}

.toggle-btn {
    display: none;

    & + label {
        user-select: none;
        display: inline-block;
        background-color: @red-main;
        width: 6rem;
        height: 3.5rem;
        border: 2px solid @red-main;
        cursor: pointer;
        position: relative;
        .border-radius(1.9375rem);
        .transition-double(background, border, 0.3s, ease);
        @media only screen and (min-width: @size-tablet) {border-width: 3px;}

        .on, .off {
            display: inline-block;
            padding: 0 0.375rem;
            font-size: 1.125rem;
            font-weight: 700;
            color: white;
            line-height: 3.5rem;
            letter-spacing: -0.12rem;
            text-transform: uppercase;
        }

        span {
            user-select: none;
            font-family: @font-primary;
        }

        .on {float: left;}
        .off {float: right;}
    }

    & + label:before {
        content: "";
        background-color: white;
        display: inline-block;
        width: 3.5rem;
        height: 3.5rem;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.2);
        box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.2);
        .border-radius(50%);
        .transition-variant(left, 0.3s, ease);
    }

    &:checked + label {
        background-color: @green-main;
        border-color: @green-main;
    }
    &:checked + label:before {left: 2.5rem;}
}

.custom-dropdown {
    background: transparent url("img/ui-arrow-thin-down-blue.svg") no-repeat right 0.5rem top 1.1875rem;
    background-size: 1.5rem auto;
    height: 3rem;
    padding: 0 3rem 0 1rem;
    font-family: @font-tertiary;
    font-size: 1.5em;
    color: @gray-blue-57p;
    border: 1px solid @gray-blue-80p;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    .border-radius(5px);
}

.select {
    background: transparent url("img/ui-arrow-line-right-blue.svg") no-repeat right 1.5rem center;
    background-size: auto 1.625rem;
    width: 100%;
    height: 3.375rem;
    padding: 0 1rem;
    font-family: @font-secondary;
    font-size: 1.625em;
    font-weight: 300;
    color: @gray-blue-57p;
    letter-spacing: -0.04rem;
    border: 1px solid @gray-blue-57p;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    .border-radius(5px);

    option {
        font-weight: 300;
        &.placeholder {display: none;}
    }
}

// jquery mobile - range slider customized
.rangeSlider-jquery {
    position: relative;

    input.ui-slider-input {
        width: 2.625rem;
        height: 1.75rem;
        padding: 0 0 1rem 0;
        font-family: @font-tertiary;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 1.75rem;
        letter-spacing: -0.05rem;
        margin-top: -2.25rem;
        border: none;
        .border-radius(0);

        & + span {
            display: inline-block;
            padding-top: 1px;
            font-family: @font-tertiary;
            font-size: 1.75rem;
            font-weight: 400;
            line-height: 1.75rem;
            letter-spacing: -0.05rem;
            margin-top: -2.25rem;
            position: absolute;
        }
    }

    .ui-slider-input.ui-rangeslider-first {
        & + span {
            left: 2.625rem;
        }
    }

    .ui-slider-input.ui-rangeslider-last {
        margin-right: 1.5rem;

        & + span {
            right: 0;
        }
    }

    .ui-rangeslider-sliders {
        height: 3.625rem;
        margin: 0 1.8125rem
    }

    .ui-slider-track {
        height: 2px !important;
        border: none;
        top: 1.75rem !important;

        &.ui-bar-inherit {background-color: @gray-blue-80p;}
        &.ui-corner-all {.border-radius(0);}
        &.ui-shadow-inset {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        .ui-btn-active {background-color: @blue-dark;}

        .ui-slider-handle {
            background-color: white;
            display: inline-block;
            width: 3.5rem;
            height: 3.5rem;
            margin: -1.8125rem 0 0 -1.8125rem;
            border: 1px solid @gray-blue-80p;
            -webkit-box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.1);
            box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.1);
            .border-radius(50%);
        }
    }
}

// jquery mobile - slider customized
.slider-jquery {
    &.ui-slider-input {
        display: none;
        width: 2.625rem;
        height: 2.75rem;
        padding: 0;
        font-family: @font-tertiary;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 2.75rem;
        letter-spacing: -0.05rem;
        border: none;
    }

    & + .ui-slider-track {
        height: 2px !important;
        margin: 0 1.375rem !important;
        border: none;
        top: 1.3125rem !important;

        &.ui-bar-inherit {background-color: @gray-blue-80p;}
        &.ui-corner-all {.border-radius(0);}
        &.ui-shadow-inset {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }

        .ui-btn-active {background-color: @blue-dark;}

        .ui-slider-handle {
            background-color: white;
            display: inline-block;
            width: 2.625rem;
            height: 2.625rem;
            margin: -1.375rem 0 0 -1.375rem;
            border: 1px solid #d7d7d7;
            -webkit-box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.1);
            box-shadow: 0px 0.25rem 0.375rem 1px rgba(0,0,0,0.1);
            z-index: 3;
            .border-radius(50%);
        }
    }
}

.slider-wrapper {
    position: relative;

    .dots-wrapper {
        width: ~"calc(100% - 2.75rem - 1rem)";
        position: absolute;
        top: 0;
        left: 1.875rem;

        .line-white-left,
        .line-white-right {
            background: white;
            width: 1.25rem;
            height: 2.625rem;
            position: absolute;
            top: 0;
        }

        .line-white-left {left: -1.25rem;}
        .line-white-right {right: -1.25rem;}

        .line-dot {
            width: 10%;
            height: 2.75rem;
            float: left;
            position: relative;

            span {
                display: block;
                background: @blue-dark;
                width: 8px;
                height: 8px;
                border: 2px solid white;
                box-sizing: border-box;
                position: absolute;
                left: -4px;
                top: 50%;
                z-index: 1;
                -webkit-transform: translateY(-40%);
                transform: translateY(-40%);
                .border-radius(50%);
            }

            @media only screen and (min-width: @size-tablet) {
                span {
                    width: 9px;
                    height: 9px;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            &.last {width: 0;}
        }
    }
}

// subpage dot indicator
.subpage-dots-wrapper {
    padding-top: 2.375rem;
    text-align: center;

    .subpage-dot {
        display: inline-block;
        width: 0.875rem;
        height: 0.875rem;
        margin: 0 0.125rem;
        border: 0.1875rem solid @gray-blue-57p;
        .border-radius(50%);

        &.done {background-color: @gray-blue-57p;}
    }
}

// subpage blue dot indicatior
.subpage-blue-dots-wrapper {
    text-align: center;
    box-sizing: border-box;
    
    .subpage-blue-dot {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        width: 14%;
        height: 3rem;

        &:before, &:after {
            display: inline-block;
            position: absolute;
            content: "";
        }

        &:before {
            width: 100%;
            height: 1px;
            background-color: @gray-blue-80p;
            top: 50%;
            left: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &:after {
            width: 1rem;
            height: 1rem;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-color: @gray-blue-80p;
            .border-radius(50%);
        }

        &:last-child:before {width: 0;}

        &.done:before,
        &.done:after {
            background-color: @blue-main;
        }

        &.current:after {
            background-color: @blue-main;
            border: 0.1875rem solid #fff;
            box-shadow: 0 0 0 1px @blue-main;
        }
    }
}

// subpage number indicator
.subpage-number-wrapper {
    padding-top: 1.1875rem;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: @gray-blue-57p;
}

// hidden elements when signed out
.not-signed-wrap {
    .not-signed-hidden {display: none !important;}
}

// modal elements
.modal-radio-wrapper,
.modal-menu-wrapper {
    display: none;
    background-color: white;
    width: 92%;
    position: absolute;
    left: 50%;
    margin-left: -46%;
    -webkit-box-shadow: 0px 20px 120px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 20px 120px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 20px 120px 0px rgba(0,0,0,0.15);
    z-index: 200;
    .border-radius(1.5rem);

    .modal-arrow-top {
        background: transparent url("img/modal-arrow-top.svg") no-repeat bottom center;
        background-size: auto 1.5625rem;
        width: 3.875rem;
        height: 1.5625rem;
        position: absolute;
        top: -1.5rem;
    }

    .modal-title {
        height: 4.75rem;
        font-size: 1.625em;
        font-weight: 700;
        line-height: 4.75rem;
        letter-spacing: -0.04rem;
        color: @gray-blue-57p;
        border-bottom: 2px solid @gray-blue-80p;

        .done-btn {
            float: right;
            letter-spacing: -0.06rem;
            color: @blue-dark;
        }
    }

    ul li {position: relative;}

    .modal-border {
        background-color: @gray-blue-80p;
        height: 1px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.modal-radio-wrapper {
    width: 92%;
    margin-left: -46%;

    .modal-title {
        padding: 0 5.8%;
    }

    .modal-radio {
        display: none;

        & + label {
            display: block;
            padding-left: 7.25rem;
            font-family: @font-secondary;
            font-size: 2.125em;
            font-weight: 300;
            line-height: 5.375rem;
            letter-spacing: -0.02rem;
            cursor: pointer;
            position: relative;
        }

        & + label:before {
            content: "";
            background-color: transparent;
            display: inline-block;
            width: 2.625rem;
            height: 2.625rem;
            border: 2px solid @blue-dark;
            position: absolute;
            left: 2.125rem;
            top: 1.25rem;
            .border-radius(50%);
        }

        &:checked + label {
            background: transparent url("img/ui-checkmark-blue.svg") no-repeat right 2.125rem center;
            background-size: 1.625rem auto;
        }

        &:checked + label:before {
            background-color: @blue-dark;
        }
    }

    .modal-border { width: ~"calc(100% - 7.25rem)";}
}

.modal-menu-wrapper {
    width: 97%;
    top: 6.125rem;
    margin-left: -48.5%;

    .modal-arrow-top {right: 1.75rem;}

    .modal-title {
        padding: 0 5.2%;
    }

    .modal-menu-item {
        display: block;
        padding-left: 2.375rem;
        font-family: @font-secondary;
        font-size: 2.125em;
        font-weight: 300;
        line-height: 5.375rem;
        letter-spacing: -0.02rem;
        cursor: pointer;
    }

    .modal-border {width: ~"calc(100% - 2.375rem)";}
}

.modal-bg-wrapper {
    display: none;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    &.opened {
        display: block;
    }

    &.special {

        h1 {
            font-family: @font-primary;
            font-weight: 700;
            font-size: 2.375rem;
            color: @gray-blue-57p;
            letter-spacing: -0.2rem;
            padding-bottom: 1.75rem;
        }

        .bigger {
            padding-bottom: 1.5rem;
        }
    }
}

.modal-message-wrapper {
    background-color: white;
    width: 92%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .border-radius(1.625rem);
    .clearfix();

    &.empty-bottom {padding-bottom: 2.125rem}
    &.empty-top {padding-top: 2.125rem}

    .close-btn-wrap {
        height: 5rem;
        padding: 0 1.75rem;

        a {
            display: block;
            background: transparent url("img/ui-close-blue.svg") no-repeat center right;
            background-size: 1.75rem auto;
            width: 1.875rem;
            height: 5rem;
            float: right;
        }

        &.smaller-bottom-space {margin-bottom: -4rem;}
    }

    h1 {
        padding: 2.625rem 1rem 0.75rem 1rem;
        font-family: @font-secondary;
        font-size: 2.875rem;
        font-weight: 300;
        line-height: 3rem;
        letter-spacing: -0.02rem;
        text-align: center;

        &.no-top-padding {padding-top: 0;}
        &.extra-bottom-padding {padding-bottom: 2.5rem;}
    }

    h3 {
        padding-top: 1.375rem;
        font-family: @font-secondary;
        font-size: 2.125rem;
        font-weight: 300;
        line-height: 3.25rem;
        text-align: center;
    }

    p {
        padding: 0 10% 1.75rem 10%;
        font-family: @font-secondary;
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 2.5rem;
        text-align: center;

        &.bigger {
            padding-bottom: 2.375rem;
            font-size: 2.125rem;
            line-height: 2.75rem;

            &.smaller-padding {padding-bottom: 0.5rem;}

            .highlight {font-size: 2.625rem;}
        }

        &.smaller {
            font-family: @font-tertiary;
            font-size: 1.5rem;
            font-weight: 700;
            letter-spacing: -0.01rem;
        }

        &.hidden {display: none;}

        b {font-weight: 400;}
    }

    .excerpt {

        &.sample {
            background-color: #f7f7f8;
            box-shadow: none;
        }

        .highlight {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 2.125rem;
            padding: 0.5rem 0;
        }
    }

    .icon-checkmark {
        background: transparent url("img/ui-checkmark-green.svg") no-repeat center center;
        background-size: 2.5rem auto;
        width: 3.375rem;
        height: 3.375rem;
        margin: 2.375rem auto -1rem auto;
        border: 0.25rem solid @green-main;
        .border-radius(50%);
    }

    .icon-exclamation {
        background: transparent;
        width: 3.375rem;
        height: 3.375rem;
        font-family: @font-secondary;
        font-size: 3.125rem;
        color: @red-main;
        line-height: 3.375rem;
        text-align: center;
        margin: 2.375rem auto -1rem auto;
        border: 0.25rem solid @red-main;
        .border-radius(50%);

        &.no-title {margin-bottom: 2rem;}
    }

    .icon-paper-plane {
        background: transparent url("img/icon-paper-plane.svg") no-repeat center center;
        background-size: 7.5rem auto;
        width: 100%;
        height: 11.875rem;
        margin-bottom: -3rem;
    }

    .img-icon {
        display: block;
        padding-top: 1rem;
        text-align: center;
        margin: 0 auto;
        width: 14rem;

        &.extra-bottom-space {padding-bottom: 3.5rem;}
    }

    .review-steps-txt {
        display: block;
        padding: 1.375rem 0 0.125rem 0;
        font-family: @font-primary;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: initial;
        letter-spacing: -0.08rem;
    }

    .review-steps-img {
        width: 24.125rem;
        height: auto;
        margin-bottom: -1.25rem;
    }

    .btn-single,
    .btn-double {
        display: block;
        height: 6.875rem;
        font-family: @font-tertiary;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 6.875rem;
        text-align: center;
        border-top: 1px solid @gray-blue-80p;
    }

    .btn-single {
        width: 100%;
        color: @blue-dark;
    }

    .btn-double {
        width: 50%;
        float: left;

        &.left {
            width: ~"calc(50% - 1px)";
            border-right: 1px solid @gray-blue-80p;
        }
    }

    .btns-wrap {
        padding-bottom: 1.625rem;
        text-align: center;
    }

    .short-btn {
        display: inline-block;
        min-width: 12.5rem;
        font-size: 2.375rem;
        margin: 0 0.5rem;
    }

    .wide-btn {
        display: inline-block;
        min-width: 26.25rem;
        font-size: 1.875rem;
        margin: -1rem 0 1.375rem 0;
    }

    // when there is an example in modal
    .sample {
        margin: 0 2.5rem 2rem;
        padding: 0.75rem 1rem;
        background-color: @gray-blue-95p;
        font-family: @font-tertiary;
        font-size: 1.75rem;
        text-align: center;
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);

        .time, .name {margin: 1rem 0;}


    }

    .btn-multirow {
        padding: 1.5rem 1rem;
        width: auto;
        height: auto;
        line-height: normal;
    }
}

.modal-examples-wrapper {
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    bottom: 0;
    .clearfix();

    .header-wrapper {
        height: 6.25rem;
        font-size: 2.375rem;
        font-weight: 700;
        line-height: 6.25rem;
        letter-spacing: -0.08rem;
        text-align: center;
        position: relative;

        .close-btn {
            font-family: @font-secondary;
            font-size: 2.25rem;
            font-weight: 300;
            line-height: 6.25rem;
            position: absolute;
            top: 0;
            right: 1.1875rem;
        }
    }

    .example-wrapper {
        padding: 1.75rem 0 2.375rem 0;
        text-align: center;
        border-top: 1px solid @gray-blue-80p;

        img {
            width: 5.5rem;
        }

        .title-txt {
            padding: 0.75rem 10% 0.625rem 10%;
            font-size: 1.875rem;
            font-weight: 700;
            line-height: 2rem;
            letter-spacing: -0.06rem;
        }

        .info-txt {
            padding: 0 10%;
            font-family: @font-tertiary;
            font-size: 1.375rem;
            line-height: 1.875rem;
            letter-spacing: 0.04rem;

            &.list {
                display: inline-block;
                text-align: left;
            }
        }
    }
}

.modal-worker-wrapper {
    display: none;
    width: 100%;
    // height: 100vh;
    height: 25rem;
    position: absolute;
    left: 0;
    // top: 0;
    // background: blue;
    z-index: 190;
    // bottom: 2rem;

    .modal-message-wrapper {
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
        z-index: 191;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 0;

        .pointer {
            position: absolute;
            top: -1rem;
            border-left: 2rem solid transparent;
            border-right: 2rem solid transparent;
            border-bottom: 2rem solid #fff;
            z-index: 192;
            left: 0;

            &.animated {
                animation-name: popUp;
                animation-duration: 0.6s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
            }

            &:before,
            &:after {
                content: "";
                width: 2.2rem;
                height: 1px;
                background-color: rgba(0, 0, 0, 0.15);
                position: absolute;
                top: 0rem;
            }

            &:before {
                right: 0;
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                transform-origin: 100% 0;
            }

            &:after {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                left: 0;
                transform-origin: 0 0;
            }
        }

        .radio-wrap {
            border-bottom: 1px solid @gray-blue-80p;

            &:last-of-type {border-bottom: none;}

            .custom-radio:checked + label:after {
                background-image: url("img/ui-checkmark-blue.svg");
            }

            label {
                font-family: @font-secondary;
                font-weight: 300;
                font-size: 2.125rem;

                &:before {background-image: none;}

                &:after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    content: "";
                    display: inline-block;
                    width: 2.5rem;
                    height: 2.5rem;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 1.375rem auto;
                }
            }
        }
    }

    .btn-close-wrap {
        border-bottom: 1px solid @gray-blue-57p;
        padding: 2rem 1rem;
    }

    .btn-close {
        color: @blue-dark;
        font-weight: 700;
        font-size: 1.625rem;
    }

    .radio-wrap {
        padding: 1rem;
    }
}

.modal-fullpage-wrapper {
    display: none;
    background-color: white;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    .clearfix();

    .modal-message-wrapper {
        width: 100%;
        position: static;
        -webkit-transform: none;
        transform: none;

        .close-btn-wrap.left a {
            float: none;
        }

        .price {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 2.875rem;
            letter-spacing: -0.2rem;

            .currency {
                font-weight: 400;
                font-size: 2.125rem;
                letter-spacing: normal;
            }
        }

        .btn-single {
            border-top: none;
            height: 3rem;
            line-height: 3rem;
        }

        .contact-part {
            margin: 10% auto 0;
            width: 90%;
            padding-top: 2rem;
            border-top: 1px solid @gray-blue-80p;
            text-align: center;

            p {
                font-size: 1.5rem;
                line-height: 1.75rem;
            }

            .btn-line {
                padding: 1rem;
                font-size: 1.5rem;
                display: inline-block;
                text-align: center;
                padding: 0.5rem 1rem;
                .border-radius(2rem);
            }
        }
    }
}

// day in a week selector
.day-selector-wrapper {
    width: 100%;
    max-width: 36rem;
    text-align: center;
    margin: 0 auto;

    .day-wrap {
        display: inline-block;
        width: 4.25rem;
        height: 4.25rem;
        margin: 0.375rem 0.25rem;
        cursor: pointer;
        text-align: center;
        .border-radius(50%);
        .transition-variant(background-color, 0.3s, ease);

        .day-txt {
            padding: 0.625rem 0 0.0625rem 0;
            font-family: @font-secondary;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .day-num {
            font-family: @font-tertiary;
            font-size: 2.125rem;
            font-weight: 700;
            color: @blue-dark;
        }

        &.marked {
            background-color: @blue-dark;

            .day-num, .day-txt {color: white;}
        }

        &.inactive {
            .day-num {color: @gray-blue-80p;}
        }

        &.inactive.marked {
            background-color: @gray-blue-80p;
            .day-txt, .day-num {color: white;}
        }

        &.have-job {
            .day-num {
                position: relative;

                &:after {
                    content: " ";
                    background-color: @green-main;
                    height: 0.1875rem;
                    width: 1.375rem;
                    margin: 0 auto;
                    position: absolute;
                    bottom: -0.1875rem;
                    left: 0;
                    right: 0;
                }
            }
        }
    }

    &.additional {
        // general styles
        .day-wrap {height: auto !important;}

        .day-workers {
            margin: 0 auto;
            height: 2.5rem;
            width: 2.5rem;
            font-family: @font-tertiary;
            font-size: 1.625rem;
            font-weight: 700;
            color: @gray-blue-57p;
            border: 0.125rem solid @gray-blue-80p;
            .border-radius(50%);

            .num {
                display: inline-block;
                line-height: 2.625rem;
            }

            &.attention {
                border-color: @red-main;
                color: @red-main;
            }
        }
    }

    &.additional &.inactive {
        // styles for inactive state - unnecessary at the moment
    }

    &.additional&.attention {
        // styles when needed to be broad to attention
        .day-workers {
            border: 0.125rem solid @color-text;
            color: @color-text;
        }
    }
}

.schedule-text-separator {
    text-align: center;
    padding: 0 0;
    color: @gray-blue-57p;
    font-size: 1.25rem;
    font-family: @font-tertiary;
    position: relative;

    &:after, &:before {
        border-top: 2px solid @gray-blue-57p;
        width: 30%;
        content: " ";
        position: absolute;
        top: 50%;
    }

    &:after {left: 0;}
    &:before {right: 0;}

    @media only screen and (min-width: @size-tablet) and (max-width: 659px) {
        &:after, &:before {width: 25%;}
    }

    @media only screen and (max-width: 359px) {
        &:after, &:before {width: 20%;}
    }
}

.line-text-separator {
    font-family: @font-secondary;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    position: relative;

    span {
        background-color: white;
        display: inline-block;
        padding: 0 1rem;
        position: relative;
        z-index: 2;
    }

    &:after {
        content: " ";
        background-color: @gray-blue-95p;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
    }
}

@media only screen and (min-width: @size-tablet) and (max-width: 639px) {
    .day-selector-wrapper {
        .day-wrap {
            width: 62px !important;
            height: 62px !important;
            margin: 5px 3px !important;

            .day-num {font-size: 2rem !important;}
            .day-txt {font-size: 0.875rem !important;}
        }
    }
}

@media only screen and (max-width: 599px) {
    .day-selector-wrapper {
        .day-txt {padding: 5px 0 1px 0 !important;}
    }
}

@media only screen and (max-width: 359px) {
    .day-selector-wrapper {
        max-width: 280px !important;

        .day-wrap {
            width: 30px !important;
            height: 30px !important;
            margin: 3px 2px !important;

            .day-num {font-size: 16px !important;}

            .day-txt {
                padding-top: 3px !important;
                font-size: 7px !important;
            }
        }
    }
}

// white-wrap style
.create-schedule-wrapper,
.auto-hire-section,
.main-screen,
.schedule-summary,
.find-jobs-wrapper,
.workers-side-wrapper.my-jobs-wrapper,
.workers-side-wrapper .profile.verification,
.unlock-job-wrapper,
.time-pay-wrapper,
.how-works-wrapper {

    .white-wrap {
        background: white;
        margin: 1.25rem 1.25rem 0.45rem;
        padding: 1px 0;
        .border-radius(4px);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
    }
}

// report to person styles
.report-to-container header h1 {line-height: 2.8rem;}

.report-to {

    .white-wrap {
        background: white;
        margin: 1.25rem 1.25rem 0.45rem;
        padding: 1.25rem;
        .border-radius(4px);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 700;
        color: @gray-blue-57p;
        display: inline-block;
        letter-spacing: -0.08rem;
        margin: 0 0 1rem;
    }

    .person-report {
        .clearfix();

        img {
            width: auto;
            height: 5rem;
            margin-right: 0.75rem;
        }

        .select {background: transparent url("img/ui-arrow-line-down-blue.svg") no-repeat right 1.5rem center / 2rem;}

        .btn-add-new-person {
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 1.5rem;
            float: right;
            color: @blue-dark;
            margin: 1.25rem 0 0;
        }
    }
}

.add-new-person {

    .white-wrap {
        background: white;
        margin: 1.25rem 1.25rem 0.45rem;
        padding: 1.25rem;
        .border-radius(4px);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
    }

    .form-add-new-person {
        input {
            margin: 1rem 0;
        }
    }
}

// two part standart styles
.two-part-standart {
    margin: 1.25rem 1.25rem 0.45rem;
    padding: 0.025rem 0;

    &.opened {
        .top-part {
            .border-radius-bottom(0);
        }
    }

    .top-part {
        display: block;
        background-color: @blue-main;
        padding: 1.875rem 1.25rem;
        .border-radius-top(4px);
        .border-radius-bottom(4px);

        .single-day {
            display: inline-block;
        }

        h2 {
            font-family: @font-tertiary;
            font-size: 1.75rem;
            color: white;
            .clearfix();

            a {
                display: block;
                float: right;
                .clearfix();
            }

            img {
                float: right;
                width: 1.5rem;
            }
        }

        .weekday {
            font-family: @font-secondary;
            font-weight: 700;
            font-size: 1.25rem;
            text-transform: uppercase;
        }

        .expanded {
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }
    }

    .bottom-part {
        background-color: white;
        .border-radius-bottom(4px);
        .clearfix();

        &.has-shadow {
            -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
            -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        }

        .outer-wrap {.clearfix();}

        .select-wrap {
            text-align: center;
            padding: 3.75rem 0;
        }

        .workers-wrap {
            border-top: 1px solid @gray-blue-57p;
            padding: 2rem 0.625rem;
            text-align: center;
            @media screen and (max-width: 759px) {
                max-width: 100%;
            }
            @media screen and (max-width: 639px) {

            }

            .workers-wrap-img {
                display: inline-block;
                width: 4.25rem;
                min-height: 4.25rem;
                margin: 0.375rem 0.25rem;
                vertical-align: top;

                @media screen and (max-width: 639px) {
                    width: 3.75rem;
                    min-height: 3.75rem;
                }

                &.empty-worker {

                    .img-substitute {
                        background: url("../css/img/icon-question-mark.svg") center center no-repeat;
                        background-size: 1.25rem;
                        background-color: #c8cacc;
                        .border-radius(50%);
                        width: 4.25rem;
                        min-height: 4.25rem;

                        @media screen and (max-width: 639px) {
                            width: 3.75rem;
                            min-height: 3.75rem;
                        }
                    }

                    //optional - to look good
                    .btn-remove {
                        margin-top: 2.125rem;

                         @media screen and (max-width: 639px) {
                            margin-top: 2rem;
                        }
                    }
                }

                .worker-name {
                    font-weight: 700;
                    font-size: 1rem;
                    display: block;
                    margin: 0.5rem 0;
                    color: @color-text;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .btn-remove {
                    height: 2.5rem;
                    display: block;
                    background: url("../css/img/icon-remove-worker-circled.svg") center center no-repeat;
                    @media screen and (max-width: @size-tablet) {
                        background-size: 70% 70%;
                    }
                }

                img {
                    width: 100%;
                    height: auto;
                    .border-radius(50%);
                }
            }            
        }

        .third {width: 33.33333%;}

        .half {
            width: 50%;

            .custom-dropdown {
                padding-left: 20vw;

                @media only screen and (min-width: 850px) {
                    padding-left: 10rem;
                }
            }
        }

        .third,
        .half {
            margin: 1.25rem 0;
            float: left;
            box-sizing: border-box;
            border-right: 0.0625rem solid @gray-blue-80p;
            text-align: center;
            cursor: pointer;
            user-select: none;
            position: relative;
            &:last-child {
                border-right: none;
            }
            &.inactive {
                cursor: default;

                .choice {color: @gray-blue-57p;}
            }
        }

        h3 {
            margin: 1rem 0 0;
            font-size: 1.4rem;
            font-weight: 700;
            letter-spacing: -0.08rem;

            .star {color: @blue-main;}
        }

        .txt {
            margin: 0.5rem 0 0 20%;
            width: 3.125rem;
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 0.875rem;
            text-transform: uppercase;
            color: @blue-dark;

            & + .custom-dropdown {
                padding-top: 2rem !important;
            }
        }

        .inner-wrap {
            padding: 1rem 0;

            img {
                vertical-align: middle;
                width: 3.125rem;
                display: block;
                margin: 0 0 0 20%;
            }
        }
    }

    .custom-dropdown-style {
        font-family: @font-primary;
        font-weight: 700;
        font-size: 1.375rem;
        color: @blue-dark;
        display: inline-block;
        border: none;
        border-bottom: 3px solid @blue-dark;
        background: none;
        height: 3rem;
        padding: 0 1.375rem;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        .border-radius-bottom(0);

        .placeholder {display: none;}
    }

    .custom-dropdown, .choice {
        font-family: @font-tertiary;
        font-size: 2rem;
        color: @blue-dark;
        display: inline-block;
        vertical-align: middle;
        border: none;
        background: none;
        position: absolute;
        top: 1.625rem;
        left: 0;
        padding: 2.5rem 0 0 16vw;
        @media only screen and (min-width: 800px) {
            padding: 2.5rem 0 0 8.25rem;
        }
        @media only screen and (max-width: @size-tablet) {
            padding: 2.5rem 0 0 16vw;
        }
    }

    .custom-dropdown {
        width: 100%;
        height: 100%;
        top: 0;

        .placeholder {display: none;}
    }
}

// survey part
.survey {
    .clearfix();

    .radio-wrap {
        margin: 2.5rem;
        position: relative;

        input[type=radio], input[type=checkbox] {display: none;}

        input:checked + label {
            &:before {
                background-color: @blue-dark;
            }
        }

        label {
            display: inline-block;
            min-height: 2.125rem;
            padding: 0.3125rem 0 0.3125rem 4rem;
            width: ~"calc(100% - 4rem)";
            font-family: @font-tertiary;
            font-size: 1.75rem;
            color: @color-text;
            line-height: 2.125rem;
            position: relative;

            &:before {
                background: white url("img/ui-checkmark-white.svg") no-repeat center center;
                background-size: 1.625rem auto;
                width: 2.5rem;
                height: 2.5rem;
                display: inline-block;
                vertical-align: text-bottom;
                content: "";
                border: 2px solid @blue-dark;
                .border-radius(50%);
                .transition-variant(background-color, .3s, ease);
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        input[type=radio]:disabled,
        input[type=checkbox]:disabled {
            & + label {
                color: @gray-blue-80p;
                cursor: default;
            }
            & + label:before {border-color: @gray-blue-80p !important;}
        }

        &.circle {
            label:before {
                background-clip: content-box;
                background-image: none;
                width: 1.5rem;
                height: 1.5rem;
                padding: 0.5rem;
            }
        }

        &.radio-centered {
            label:before {
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }

        .special-input {
            position: absolute;
            top: -0.5rem;
            left: 0;
            margin-left: 4rem;
            padding: 0.75rem 1rem;
            max-width: 70%;
            display: inline-block;
            font-family: @font-tertiary;
            font-size: 1.625rem;
            color: @gray-blue-57p;
            outline: none;
            border: 1px solid @gray-blue-80p;
            .border-radius(4px);
        }

        &.has-border {
            padding: 2.375rem 0.5rem;
            margin: 0 1.1875rem;
            border-bottom: 2px solid @gray-blue-95p;

            &:last-of-type {
                border-bottom: none;
            }
        }

        &.has-link {
            label {
                width: auto;
                width: ~"calc(100% - 14.5rem)";
            }

            .right-link {
                font-family: @font-tertiary;
                font-size: 1.5rem;
                font-weight: 700;
                color: @blue-dark;
                line-height: 2.75rem;
                letter-spacing: 0.04rem;
                position: absolute;
                right: 0.5rem;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }
    }

    .btn-line {
        margin: 3.5rem auto;
        width: 4.375rem;
        padding: .75rem 3.75rem;
        display: block;
        text-align: center;
        font-family: @font-tertiary;
        font-weight: 700;
        font-size: 1.375rem;
        .border-radius(2rem);
        .transition-variant(all, .3s, ease);

        &:hover {
            background-color: @blue-dark;
            color: #fff;
        }
    }

    &.centered {
        display: table;
        margin: 0 auto;

        .radio-wrap {
            display: table;

            .special-input {
                max-width: initial;
            }
        }
    }
}

// job icons & colors
.find-workers-wrapper,
.create-job-wrapper,
.unlock-job-wrapper {
    .job-tile {
        display: block;
        background-color: white;
        background-repeat: no-repeat;
        margin: 0 1.5% 1.1875rem 1.5%;
        float: left;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        position: relative;
        .border-radius(4px);

        h2 {
            padding-top: 0.5rem;
            font-family: @font-secondary;
            font-size: 2.125em;
            font-weight: 300;
            line-height: 2.1875rem;
            letter-spacing: -0.04rem;
        }

        h3 {
            padding-top: 0.5rem;
            font-family: @font-secondary;
            font-size: 1.625rem;
            font-weight: 300;
            line-height: 1.8rem;
            letter-spacing: -0.01rem;
        }

        .job-icon {
            height: 11.875rem;
            background-position: center center;
            background-repeat: no-repeat;

            img {
                width: 100%;
                height: 100%;
                -webkit-transform: scale(0.7);
                transform: scale(0.7);
            }
        }

        .available-num {
            padding-top: 0.625rem;
            font-size: 1.375em;
            font-weight: 700;
            line-height: 1.18em;
            letter-spacing: -0.04rem;
            text-transform: uppercase;
        }        

        .tile-mark {
            width: 0.625rem;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            .border-radius-right(4px);
        }

        &.job-red {
            h2, h3 {color: @red-main;}
            .tile-mark {background-color: @red-main;}

            &.selected {
                background-color: @red-main;
                h2 {color: white;}
            }
        }

        &.job-green {
            h2, h3 {color: @green-main;}
            .tile-mark {background-color: @green-main;}

            &.selected {
                background-color: @green-main;
                h2 {color: white;}
            }
        }

        &.job-blue {
            h2, h3 {color: @blue-main;}
            .tile-mark {background-color: @blue-main;}

            &.selected {
                background-color: @blue-main;
                h2 {color: white;}
            }
        }

        &.job-yellow {
            h2, h3 {color: @yellow-main;}
            .tile-mark {background-color: @yellow-main;}

            &.selected {
                background-color: @yellow-main;
                h2 {color: white;}
            }
        }

        // job icons
        // &.job-forklift-operator {
            // .job-icon {
            //     background-image: url("img/jobs-forklift-operator.svg");
            //     background-size: 9.375rem auto;
            // }
        //     &.selected .job-icon {background-image: url("img/jobs-forklift-operator-white.svg");}
        // }

        // &.job-carpenters {
            // .job-icon {
            //     background-image: url("img/jobs-carpenters.svg");
            //     background-size: 8.75rem auto;            
            // }
        //     &.selected .job-icon {background-image: url("img/jobs-carpenters-white.svg");}
        // }

        // &.job-office-clerical {
            // .job-icon {
            //     background-image: url("img/jobs-office-clerical.svg");
            //     background-size: 8.3125rem auto;
            // }
        //     &.selected .job-icon {background-image: url("img/jobs-office-clerical-white.svg");}
        // }

        // &.job-housekeeping {
        //     .job-icon {
        //         background-image: url("img/jobs-housekeeping.svg");
        //         background-size: 8.75rem auto;
        //     }
        //     &.selected .job-icon {background-image: url("img/jobs-housekeeping-white.svg");}
        // }

        // new on demand jobs icons
        // &.job-housekeeping {
        //     .job-icon {
        //         background-image: url("img/jobs-housekeeping-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-waste-and-recycling {
        //     .job-icon {
        //         background-image: url("img/jobs-waste-and-recycling-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-firewatch {
        //     .job-icon {
        //         background-image: url("img/jobs-firewatch-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-flagging {
        //     .job-icon {
        //         background-image: url("img/jobs-flagging-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-loading-and-unloading {
        //     .job-icon {
        //         background-image: url("img/jobs-loading-and-unloading-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-dining-service {
        //     .job-icon {
        //         background-image: url("img/jobs-dining-service-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-warehouse-work {
        //     .job-icon {
        //         background-image: url("img/jobs-warehouse-work-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-kitchen-assistance {
        //     .job-icon {
        //         background-image: url("img/jobs-kitchen-assistance-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-farm-work {
        //     .job-icon {
        //         background-image: url("img/jobs-farm-work-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-janitorial {
        //     .job-icon {
        //         background-image: url("img/jobs-janitorial-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-yardwork {
        //     .job-icon {
        //         background-image: url("img/jobs-yardwork-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-cashier {
        //     .job-icon {
        //         background-image: url("img/jobs-cashier-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-sign-holding {
        //     .job-icon {
        //         background-image: url("img/jobs-sign-holding-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-general-cleanup {
        //     .job-icon {
        //         background-image: url("img/jobs-general-cleanup-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-food-production {
        //     .job-icon {
        //         background-image: url("img/jobs-food-production-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }

        // &.job-demolition {
        //     .job-icon {
        //         background-image: url("img/jobs-demolition-blue.svg");
        //         background-size: 8.75rem auto;
        //     }
        // }
    }

    .view-tiles {
        .job-tile {
            width: 47%;
            height: 18.375rem;
            text-align: center;

            &.multiline {
                h2 {
                    font-size: 2rem;
                    margin-top: -0.625rem;
                }
                .job-icon {height: 10.625rem;}
            }
        }
        .tile-mark {display: none;}
    }

    .view-rows {
        .job-tile {
            width: 94%;
            height: 6.1875rem;
            padding-left: 3%;
            text-align: left;
            margin-bottom: 0.625em;

            h2 {margin-top: 0.3125rem;}
        }
        .job-icon {display: none;}
    }
}

.padding-bottom {padding-bottom: 8.875rem !important;}

.padding-top {padding-top: 7.5rem !important;}
.padding-top-double {padding-top: 14rem !important;}

footer {
    margin-top: 1rem;
    .clearfix();

    .btn-third {
        display: inline-block;
        width: 33.33333%;
    }

    .dispute-icon,
    .approve-icon {
        width: 2.5rem;
        margin-right: 1rem;
    }

    .dispute-icon {
        -webkit-transform: translateY(0.45rem);
        transform: translateY(0.45rem);
    }

    .approve-icon {
        -webkit-transform: translateY(0.15rem);
        transform: translateY(0.15rem);
    }
}

// blur inside container
.blured-elements {
    > div, > p, > h1, > h2, > h3, > h4, > span, > a, > button {
        -webkit-filter: blur(0.375rem);
        -moz-filter: blur(0.375rem);
        filter: blur(0.375rem);
        opacity: 0.2;
    }
}

// legend styles for availability
.availability-legend {
    height: 4.75rem;
    font-size: 1.375rem;
    font-weight: 700;
    color: @gray-blue-57p;
    line-height: 4.75rem;
    letter-spacing: -0.09rem;
    margin: 0 1.1875rem;

    .green-line {
        background-color: @green-main;
        height: 0.1875rem;
        width: 1.375rem;
        margin: 2.25rem 0.5rem 0 0;
        float: left;
    }
}