.how-works-wrapper {
    .white-wrap {
        min-height: ~"calc(100vh - 7rem)";
        margin-bottom: 0;
        .border-radius-bottom(0);
    }

    .big-icon {
        height: 30rem;

        // Worker side
        &.how-icon-signup {
            background: transparent url("img/how-signup.svg") no-repeat center center;
            background-size: auto 15.4375rem;
            margin-right: -3rem;
        }

        &.how-icon-profile {
            background: transparent url("img/how-profile.svg") no-repeat center center;
            background-size: auto 16.8125rem;
        }

        &.how-icon-find {
            background: transparent url("img/how-find.svg") no-repeat center center;
            background-size: auto 17.9375rem;
        }

        &.how-icon-do {
            background: transparent url("img/how-do.svg") no-repeat center center;
            background-size: auto 19.3125rem;
        }

        &.how-icon-paid {
            background: transparent url("img/how-paid.svg") no-repeat center center;
            background-size: auto 18.0625rem;
        }

        // Customer side
        &.how-icon-create-acc {
            background: transparent url("img/how-create-acc.svg") no-repeat center center;
            background-size: auto 18.125rem;
            margin-right: -3rem;
        }

        &.how-icon-on-demand {
            background: transparent url("img/how-on-demand.svg") no-repeat center center;
            background-size: auto 17.75rem;
        }

        &.how-icon-project-staffing {
            background: transparent url("img/how-project-staffing.svg") no-repeat center center;
            background-size: auto 18.75rem;
        }

        &.how-icon-find-team {
            background: transparent url("img/how-find-team.svg") no-repeat center center;
            background-size: auto 16.125rem;
        }

        &.how-icon-approve {
            background: transparent url("img/how-approve.svg") no-repeat center center;
            background-size: auto 16.75rem;
        }
    }

    h2 {
        padding-top: 4.75rem;
        font-family: @font-secondary;
        font-size: 2.625rem;
        font-weight: 300;
        letter-spacing: -0.02rem;
        text-align: center;
    }

    ul {
        padding: 2.625rem 2.1875rem;
        font-family: @font-secondary;
        font-size: 1.875rem;
        font-weight: 300;
        line-height: 2.25rem;
        letter-spacing: -0.02rem;
        color: @gray-blue-57p;

        li {
            padding-bottom: 0.25rem;
        }

        li.has-dot {
            padding-left: 1.5rem;
            position: relative;

            &:before {
                content: "";
                background-color: @gray-blue-57p;
                display: block;
                width: 0.6875rem;
                height: 0.6875rem;
                position: absolute;
                left: 0;
                top: 0.8125rem;
                .border-radius(50%);
            }
        }
    }
    .owl-carousel {
        .owl-controls {
            width: 100%;
            position: absolute;
            top: 30rem;

            .owl-dots {
                transform: translateY(0);
                -webkit-transform: translateY(0);
            }

            .owl-dot {
                &.active span {
                    background-color: @gray-blue-57p;
                    border-color: @gray-blue-57p;
                }

                span {
                    background-color: @gray-blue-80p;
                    border-color: @gray-blue-80p;
                    margin: 0 1rem;
                }
            }
        }
    }
}