.landing-picture {
    background: transparent url("img/landing-bg.jpg") no-repeat center bottom;
    background-size: 100% auto;
    height: 16.5625rem;
    padding-top: 4.6875rem;
    color: white;

    h2 {
        padding: 1.875rem 15% 0 15%;
        font-family: @font-secondary;
        font-size: 2.125em;
        font-weight: 300;
        line-height: 1.47em;
        text-align: center;
    }

    img {
        display: block;
        height: 4.25rem;
        margin: 0 auto;
    }
}

.landing-category {
    height: 14.25rem;
    padding: 3.875rem 0 0 52%;
    border-bottom: 1px solid @gray-blue-80p;
    position: relative;
    display: block;

    &.cat-hire {
        background: transparent url("img/icon-hire.svg") no-repeat 12% center;  
        background-size: 11.375rem auto;

        .cat-link {
            background: transparent url("img/ui-arrow-full-right-blue.svg") no-repeat right 1.75rem;  
            background-size: 0.625rem auto;
        }
    }

    &.cat-jobs {
        background: transparent url("img/icon-jobs.svg") no-repeat 12% center; 
        background-size: 11.375rem auto;

        .cat-link {
            background: transparent url("img/ui-arrow-full-right-red.svg") no-repeat right 1.75rem;  
            background-size: 0.625rem auto;
        }
    }   

    .cat-link {
        padding-right: 1.375rem;
        font-family: @font-tertiary;
        font-size: 3em;
        font-weight: 300;
        line-height: 1.67em;
        margin-top: 10%;
    }

    .cat-description {
        font-size: 1.375em;
        font-weight: 700;
        color: @gray-blue-57p;
        line-height: 1.63em;
        text-transform: uppercase;
    }
}
