html {
    height: 100%;
    font-size: 55.56%;
}

@media (min-width: @size-tablet) {
    html {font-size: 100%;}
}

body {
    min-height: 100%;
	font-family: @font-primary;
	color: @color-text;
    position: relative;

    &.overlayed {overflow-y: hidden;}

    &.overlayed-examples {
        overflow-y: hidden;

        footer {display: none;}
    }
}

a {
    color: @color-text;
    text-decoration: none;
    cursor: pointer;
}

b {
    font-weight: 700;
}

header {
    background-color: white;
    min-height: 5.5625rem;
    text-align: center;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
    position: relative;
    z-index: 100;
    .clearfix();

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    &.transparent {
        background-color: transparent;
    }

    &.no-shadow {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    div, a {text-align: left;}
    
    h1 {
        display: inline-block;
        font-family: @font-secondary;
        font-size: 2.5em;
        font-weight: 300;
        line-height: 5.5625rem;

        &.double-icon-left {margin-left: -5rem !important;}

        &.multirow {
            max-width: 90%;
            line-height: normal;
            padding: 1rem 0;
        }
    }

    .limited-size {
        max-width: 70%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }

    .top-divider {
        border-top: 2px solid @gray-blue-95p;
    }

    .goodjob-logo {
        display: inline-block;
        line-height: 5.5625rem;

        img {
            vertical-align: middle;
            height: 3.375rem;
        }
    }

    .btn-back {
        background: transparent url("img/ui-arrow-line-left-blue.svg") no-repeat left center;
        background-size: 1.25rem auto;
        display: block;
        width: 2.25rem;
        height: 5.5625rem;
        float: left;
    }

    .btn-menu {
        display: inline-block;
        background: transparent url("img/ui-menu.svg") no-repeat left center;
        background-size: 2.8125rem auto;
        width: 2.8125rem;
        height: 5.5625rem;
        float: left;
    }

    .btn-menu-circles {
        display: inline-block;
        background: transparent url("img/ui-menu-circles.svg") no-repeat right center;
        background-size: 3.5rem auto;
        width: 3.625rem;
        height: 5.5625rem;
    }

    .btn-view-rows {
        background: transparent url("img/ui-view-rows.svg") no-repeat right center;
        background-size: 2.4375rem auto;
        width: 2.5rem;
        height: 5.5625rem;
        float: right;
    }

    .btn-view-tiles {
        background: transparent url("img/ui-view-tiles.svg") no-repeat right center;
        background-size: 2.375rem auto;
        width: 2.5rem;
        height: 5.5625rem;
        float: right;
    }

    .btn-search {
        background: transparent url("img/ui-search-blue.svg") no-repeat right center;
        background-size: 2.5rem auto;
        width: 2.5rem;
        height: 5.5625rem;
        float: right;
    }

    .btn-filter {
        display: inline-block;
        background: transparent url("img/ui-filter.svg") no-repeat right center;
        background-size: 2.375rem auto;
        width: 2.5rem;
        height: 5.5625rem;
        float: right;
        position: relative;

        .filter-applied {
            display: none;
            width: 1.125rem;
            height: 1.125rem;
            background: @green-main url("img/ui-checkmark-thick-white.svg") no-repeat center center;
            background-size: 0.625rem auto;
            border: 0.125rem solid white;
            position: absolute;
            top: 1.125rem;
            right: -0.5625rem;
            .border-radius(50%);
        }

        &.applied {
            .filter-applied {display: block;}
        }
    }

    .btn-cancel {
        display: inline-block;        
        background: transparent url("img/ui-close-blue.svg") no-repeat left center;
        background-size: 1.75rem auto;
        width: 2rem;
        height: 5.5625rem;

        &.no-bg {
            background: transparent;
            width: auto;
            margin-right: -1rem;
        }
    }

    .btn-delete {
        display: inline-block;        
        background: transparent url("img/icon-delete-blue.svg") no-repeat right center;
        background-size: 2.625rem auto;
        width: 2.75rem;
        height: 5.5625rem;
    }

    .btn-edit {
        display: inline-block;
        background: transparent url("img/icon-edit-blue.svg") no-repeat right center;
        background-size: 2.5626rem auto;
        width: 2.75rem;
        height: 5.5625rem;
    }

    .btn-map {
        display: inline-block;
        margin-right: .5rem;
        background: transparent url("img/ui-map-blue.svg") no-repeat left center;
        background-size: 2.375rem auto;
        width: 2.5rem;
        height: 5.5625rem;
        float: right;
    }

    .btn-settings {
        display: inline-block;
        margin-right: .5rem;
        background: transparent url(img/icon-cog-blue.svg) no-repeat left center;
        background-size: 2.5rem auto;
        width: 2.5rem;
        height: 5.5625rem;
        float: right;
    }

    .btn-txt {
        display: block;
        height: 5.5625rem;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        font-weight: 700;
        color: @blue-dark;
        letter-spacing: 0.04rem;
        line-height: 5.5625rem;
    }

    .steps-wrapper {
        height: 6rem;
        text-align: center;
        position: relative;
    }

    .steps-line {
        background-color: @gray-blue-95p;
        width: 50%;
        height: 2px;
        position: absolute;
        top: 1.375rem;
        z-index: -1;

        &.left {left: 0;}
        &.right {right: 0;}
    }

    .step-container {
        display: inline-block;
        width: 33%;
        text-align: center;

        &.first {
            text-align: left;
            float: left;
        }

        &.last {
            text-align: right;
            float: right;
        }

        .step-icon {
            display: inline-block;
            background-color: white;
            width: 2.5rem;
            height: 2.5rem;
            font-family: @font-secondary;
            font-size: 1.75rem;
            color: @gray-blue-80p;
            line-height: 2.75rem;
            text-align: center;
            margin-bottom: 0.375rem;
            border: 0.125rem solid @gray-blue-80p;
            .border-radius(50%);
        }

        .step-txt {            
            font-size: 1.5rem;
            font-weight: 700;
            color: @gray-blue-80p;
            letter-spacing: -0.08rem;
            text-align: inherit;

            &.smaller {font-size: 1.2rem;}
        }

        &.current {
            .step-icon {
                background-color: @blue-main;
                width: 2.75rem;
                height: 2.75rem;
                line-height: 3.125rem;
                color: white;
                border: 0.1875rem solid white;
                margin-top: -0.1875rem;
                margin-bottom: 0.1875rem;
                -webkit-box-shadow: 0 0 0 0.125rem @blue-main;
                -moz-box-shadow: 0 0 0 0.125rem @blue-main;
                box-shadow: 0 0 0 0.125rem @blue-main;
            }

            .step-txt {color: @blue-main;}
        }

        &.done {
            .step-icon {
                background-color: @blue-main;
                color: white;
                border-color: @blue-main;
            }

            .step-txt {color: @blue-main;}
        }

        &.done + .steps-line {background-color: @blue-main;}
    }

    .period-wrap {
        margin: 0 0 1.5rem;
        text-align: center;
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 1.25rem;
        color: @gray-blue-57p;
    }
}

@media (min-width: @size-tablet) {
    header {
        .step-container {
            .step-icon {line-height: 2.5rem;}

            &.current {
                .step-icon {line-height: 2.75rem;}
            }
        }
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.header-fixed {
    padding-top: 11.375rem;
}

.padding-hor-2 {
    padding-left: 2.375rem;
    padding-right: 2.375rem;
}

.padding-hor-1 {
    padding-left: 1.1875rem;
    padding-right: 1.1875rem;
}

.padding-hor-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.padding-all-1 {
    padding: 1.1875rem;
}

.padding-all-0 {
    padding: 0 !important;
}
