.main-screen {

	&.unverified {

		.white-wrap {
			text-align: center;
			min-height: ~"calc(100vh - 8rem)";
		}

		h1, p {
			font-family: @font-secondary;
			font-weight: 300;
		}

		h1 {
			margin: 5rem 0 3.5rem;
			font-size: 3rem;
		}

		p {
			padding: 4rem 0 2.375rem 0;
			font-size: 2.125rem;
            line-height: 1.2em;
		}

		.btn-big {
            min-width: 23.25rem;
            margin: 1rem 0;
		}
	}

	.home-slider {
		padding: 1px 0;
		background: url(../images/workers-side-home.jpg) no-repeat;
		background-size: cover;
		background-position: center;
		color: #fff;
		text-align: center;
	}

	.current-location {
		max-width: 80%;
		margin: 5rem auto 1.875rem;
		font-family: @font-tertiary;
		font-weight: 300;
		font-size: 3rem;
	}

	.jobs-available {
		max-width: 80%;
		margin: 0 auto;
		font-weight: 700;
		font-size: 1.875rem;
		color: #fff;

		img {
			width: 1rem;
			vertical-align: middle;
		}
	}

	.btn-wrap {
		margin: 2.25rem auto 3.125rem;
	}

	.btn-big {
		display: inline-block;
		margin: 0 0.625rem;
		font-weight: 700;
		font-size: 2rem;
		padding-left: 3rem;
		padding-right: 3rem;

		@media only screen and (max-width: 370px) {
			// margin-top: 2rem;
			// font-size: 1.65rem;
		}

		img {
			margin-right: 1rem;
			vertical-align: middle;
			width: 2.875rem;
		}
	}

	.slide {
		position: relative;
		display: block;

		.cover {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			padding-top: 18%;
			text-align: center;
		}

		h2, p {color: #fff;}

		h2 {
			margin-bottom: 1rem;
			font-family: @font-tertiary;
			font-weight: 300;
			font-size: 3rem;
		}

		p {
			font-weight: 700;
			font-size: 1.875rem;
		}
	}

    .full-link, .small-link {
    	position: relative;
    	display: block;
		margin: 0 1.25rem;
    }

    .num {
    	position: absolute;
		right: 0;
		display: inline-block;
		color: @blue-dark;
		border: 2px solid @blue-dark;
		text-align: center;
		box-sizing: border-box;
		.border-radius(50%);
    }

	.full-link {
		padding: 2.25rem 0 2.25rem 4rem;
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 2.25rem;
		letter-spacing: -0.1rem;
		border-bottom: 2px solid @gray-blue-95p;
		.clearfix();

		&.btn-my-jobs {
			background: transparent url("img/icon-calendar-blue.svg") no-repeat left center;
			background-size: 2.875rem auto;
		}

		&.btn-notifications {
			background: transparent url("img/icon-bell.svg") no-repeat left center;
			background-size: 2.875rem auto;
		}

		&.btn-calendar {
			background: transparent url("img/icon-calendar-blue.svg") no-repeat left center;
			background-size: 2.875rem auto;
		}

		&.btn-applicants {
			background: transparent url("img/icon-person-circled-plus-blue.svg") no-repeat left center;
			background-size: 3.875rem auto;
			border-bottom: none;

			.num {
				color: @gray-blue-95p;
				border-color: @gray-blue-95p;
			}
		}

		.txt-big {
			display: block;
		}

		.txt-small {
			padding-top: 0.5rem;
			display: block;
			font-family: @font-tertiary;
			font-weight: 400;
			font-size: 1.25rem;
			letter-spacing: normal;

			+ .num {top: 2rem;}
		}

		.num {
			top: 1.5rem;
			width: 4rem;
			height: 4rem;
			font-size: 2.625rem;
			line-height: 3.9rem;
		}
	}

	.small-link {
		margin: 0 1.25rem 1.25rem;
    	font-family: @font-tertiary;
    	font-weight: 400;
    	font-size: 1.25rem;
    	line-height: 2.8rem;
    	color: @blue-dark;

    	.num {
    		font-weight: 400;
    		font-size: 1.875rem;
    		width: 2.8rem;
    		height: 2.8rem;
    		line-height: 2.6rem;
    		right: 0.5625rem;
    	}
    }

    .num-wrap {
    	position: absolute;
    	top: 1.5rem;
		right: 0;
		display: inline-block;
		color: @blue-dark;
		border: 2px solid @blue-dark;
		text-align: center;
		box-sizing: border-box;
		.border-radius(50%);
		// top: 1.5rem;
		width: 4rem;
		height: 4rem;
		font-size: 2.625rem;
		line-height: 3.9rem;
		background-color: @blue-dark;

		&.no-val {
			background-color: #fff;
			border: 0.125rem solid @blue-dark;

			&:before {
				content: "?";
				display: block;
			}

			.num-inner, .name-inner {
				display: none;
			}
		}

		&.lone-number .num-inner {
			top: 0.5rem;
		}

		&.additional {
			right: 5rem;
			border-color: @green-main;
			background-color: @green-main;
		}

		.num-inner, .name-inner, .name-outer {
			position: absolute;
			left: 50%;
			transform: translatex(-50%);
            -webkit-transform: translatex(-50%);
			line-height: normal;
			color: #fff;
		}

		.num-inner {
			top: 0;
			font-family: @font-tertiary;
			font-weight: 700;
			font-size: 2.125rem;
		}

		.name-inner {
			bottom: 0.125rem;
			font-family: @font-secondary;
			font-weight: 700;
			font-size: 1rem;
			letter-spacing: normal;
		}

		.name-outer {
			position: absolute;
			bottom: -1.5rem;
			color: @color-text;
			font-family: @font-secondary;
			font-weight: 300;
			font-size: 1rem;
			letter-spacing: normal;
		}
	}

	.prelaunch-screen {
		text-align: center;
		padding: 0 2rem;

		.img-wrap {
			margin: 1rem 0 0;
		}

		img {width: 200px;}

		h1, .txt {
			font-family: @font-tertiary;
			font-weight: 700;
			font-size: 25px;
		}

		h1 {
			margin-bottom: 1rem;
			line-height: 30px;
			color: @blue-main;
		}

		.txt {
			margin: 2.5rem 0;
			color: #07255b;
		}

		.txt-small {
			font-size: 16px;
			font-family: @font-secondary;
			font-weight: 300;
			color: @gray-blue-57p;
		}

		.input-wrap {
			margin: 0.5rem 0 1.5rem 0;
		}

		input {
			width: 300px;
			font-size: 16px;
			text-align: center;
			padding: 1rem 2rem;
			border: 2px solid @gray-blue-80p;
			.border-radius(4px);
			box-sizing: border-box;

			@media screen and (max-width: 400px) {
				width: 100%;
			}
		}

		button {
			font-family: @font-tertiary;
			font-weight: 300;
			font-size: 22px;
			color: #fff;
			background-color: @blue-main;
			border: none;
			padding: 1rem 3rem;
			.border-radius(4rem);
		}

		.before-submit,
		.after-submit {padding: 1px;}

		.before-submit.hidden {display: none;}

		.after-submit {
			display: none;
			&.visible {display: block;}
		}
	}
}

.workers-side-wrapper.main-screen {

	.full-link {

		&.btn-availability {
			background: transparent url("img/icon-availability.svg") no-repeat left center;
			background-size: 2.875rem auto;
		}

		&.btn-offers {
			background: transparent url("img/icon-star.svg") no-repeat left center;
			background-size: 2.875rem auto;	
		}

		&.btn-next-job {
			background-position: right;
			position: relative;

			&:before {
				content: "!";
				display: block;
				box-sizing: border-box;
				width: 2.875rem;
				height: 2.875rem;
				line-height: 2.5rem;
				color: @red-main;
				border: 0.1875rem solid @red-main;
				position: absolute;
				left: 0rem;
				top: 2.5rem;
				text-align: center;
				vertical-align: middle;
				.border-radius(50%);
			}
		}
	}

	.full-link {

		.txt-small + .num-wrap {
			top: 2rem;
		}
	}
}