.my-jobs-wrapper header {

    .buttons-top {
        text-align: center;
        font-size: 0;
    }

    .btn-myjobs {
        width: 33.33%;
        height: 3.375rem;
        font-size: 1.5em;
        font-weight: 700;
        line-height: 3.175rem;
        letter-spacing: -0.08rem;
        text-transform: uppercase;
        margin: 1.3125rem -0.125rem 1.3125rem 0;
        background-color: #fff;
        border: 2px solid @blue-dark;
        color: @blue-dark;
        box-sizing: border-box;
        text-align: center;
        // float: left;
        padding: 0;
        &:first-child {
            font-size: 1.5rem;
            .border-radius-left(8px);
        }
        &:last-child {
            font-size: 1.5rem;
            .border-radius-right(8px);
        }

        span {
            display: inline-block;
            background-color: @blue-dark;
            width: 1.5rem;
            height: 1.5rem;
            font-size: 1.2rem;
            line-height: 1.5rem;
            color: white;
            letter-spacing: 0.06rem;
            -webkit-transform: translateY(-0.125rem);
            transform: translateY(-0.125rem);
            .border-radius(50%);
        }

        @media only screen and (min-width: @size-tablet) and (max-width: 639px) {
            font-size: 1rem;

            span {
                width: 1rem;
                height: 1rem;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }

        @media only screen and (max-width: @size-tablet) {
            font-size: 1.25rem;
        }

        &.active {
            background-color: @blue-dark;
            color: #fff;
            span {
                background-color: white;
                color: @blue-dark;
            }
        }
    }

    .contact-wrap {
        border-top: 2px solid @gray-blue-80p;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        font-family: @font-tertiary;

        .btn-line {
            margin: 0.5rem 0;
            padding: .75rem 2.75rem;
            display: inline-block;
            text-align: center;
            font-family: @font-tertiary;
            font-size: 1.375rem;
            .border-radius(2rem);
            border-color: @blue-main;
            color: @blue-main;
        }
    }
}

.my-jobs-wrapper {
    min-height: 100vh;

    .job-tile {
        background-color: white;
        width: 97%;
        margin: 1.1875rem 1.5% 0 1.5%;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        position: relative;
        .border-radius(4px);
        .clearfix();

        &.category-blue {border-left: 0.375rem solid @blue-main;}
        &.category-yellow {border-left: 0.375rem solid @yellow-main;}
        &.category-green {border-left: 0.375rem solid @green-main;}
        &.category-red {border-left: 0.375rem solid @red-main;}
    }

    .toggle-inactive {
        padding: 1.1875rem 1.75rem 0 1.75rem;

        > span {
            font-family: @font-tertiary;
            font-size: 1.875rem;
            line-height: 3.875rem;
            letter-spacing: -0.02rem;
        }

        .toggle-btn + label {
            float: right;
        }
    }

    .links-wrapper {
        .link-schedules {
            background: transparent url("img/icon-calendar-blue.svg") no-repeat left 1rem;
            background-size: 2.9375rem auto;
            padding-left: 3.625rem;
            font-size: 1.5rem;
            line-height: 5.5rem;
            letter-spacing: -0.08rem;
            float: left;
        }

        .link-details {
            font-size: 1.5em;
            letter-spacing: -0.08rem;

            span {
                display: inline-block;
                width: 1.125rem;
                height: 1.125rem;
                font-size: 1.125rem;
                font-weight: 700;
                color: @blue-dark;
                line-height: 1.125rem;
                letter-spacing: 0.06rem;
                text-align: center;
                margin: 0.0625rem 0.5rem 0 0;
                border: 1px solid @blue-dark;
                float: left;
                .border-radius(50%);
            }
        }

        .link-clone {
            background: transparent url("img/icon-clone.svg") no-repeat left center;
            background-size: 1.25rem auto;
            padding-left: 1.875rem;
            font-size: 1.5rem;
            letter-spacing: -0.08rem;
            float: right;
        }
    }

    h2 {
        font-family: @font-secondary;
        font-size: 2.25em;
        font-weight: 300;
        letter-spacing: -0.02rem;
    }

    .schedules-wrapper {
        height: 6.625rem;
        text-align: center;
        margin-top: 0.875rem;
        border-top: 2px solid @gray-blue-95p;
        position: relative;

        .schedules-title {
            display: inline-block;
            background-color: white;
            padding: 0 0.875rem;
            font-family: @font-secondary;
            font-size: 1.25rem;
            color: @gray-blue-57p;
            line-height: 1.25rem;
            letter-spacing: -0.01rem;
            position: absolute;
            top: -0.75rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        .btn-week {
            width: 15.25rem;
            padding-right: 1.75rem;
            margin-top: 1rem;
            position: relative;

            .checked {
                background: white url("img/ui-checkmark-blue.svg") no-repeat center center;
                background-size: 1rem auto;
                width: 1.5625rem;
                height: 1.5625rem;
                border: 2px solid @blue-dark;
                position: absolute;
                top: 1.375rem;
                left: 0.75rem;
                .border-radius(50%);
            }
        }

        .add-week {
            display: inline-block;
            height: 4.5rem;
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 1.5rem;
            color: @gray-blue-57p;
            line-height: 4.75rem;
            text-align: right;
            margin-top: 1rem;

            span {
                display: inline-block;
                padding-top: 3.875rem;
                background: transparent url("img/ui-circle-plus-blue.svg") no-repeat center 0.875rem;
                background-size: 2.5625rem auto;
                width: 2.875rem;
                height: 0.625rem;
                font-size: 0.875rem;
                line-height: 0.625rem;
                text-align: center;
                vertical-align: top;
                margin-right: 0.375rem;
            }
        }
    }

    .btn-decision {
        min-width: 9.5rem;
        height: 3.125rem;
        font-size: 1.5em;
        letter-spacing: -0.08rem;
        margin: 1.125rem 0 0 0.875rem;
        .border-radius(1.6rem);
    }

    section {padding: 0 0.59375rem;}

    section.jobs-active {
        .job-tile {
            padding: 1.1875rem 1.1875rem 0 1.1875rem;
        }

        h2 {margin-top: -0.25rem;}

        .job-address {
            padding: 0.625rem 0 1.625rem 0;
            font-family: @font-tertiary;
            font-size: 1.5rem;
        }
    }

    section.jobs-billrate {
        padding-top: 0.5625rem;

        .job-tile {
            padding: 1.1875rem 1.1875rem 0.625rem 1.1875rem;
            margin-top: 0.5625rem;
        }

        h2 {padding: 0.25rem 0;}

        .job-address {
            font-family: @font-tertiary;
            font-size: 1.25rem;
        }

        .job-created {
            padding: 1.125rem 0;
            font-family: @font-secondary;
            font-size: 0.75rem;
            font-weight: 700;
            color: @gray-blue-57p;
            letter-spacing: 0.02rem;
            text-transform: uppercase;
        }

        .links-wrapper {padding-bottom: 1rem;}
    }

    .buttons-wrapper {
        padding: 1.1875rem 0 1rem 0;
        text-align: right;
        border-top: 2px solid @gray-blue-95p;
        .clearfix();
    }

    .rate-value-wrapper {
        padding-left: 0.5rem;
        text-align: left;
        float: left;

        .rate-value-icon,
        .rate-value-num {
            font-family: @font-secondary;
            font-weight: 300;
            letter-spacing: -0.08rem;
        }

        .rate-value-icon {font-size: 3.75rem;}
        .rate-value-num {font-size: 2.625rem;}

        .rate-value-txt {
            padding-top: 0.25rem;
            font-family: @font-tertiary;
            font-size: 1.125rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .rate-value-rejected {
            padding-top: 0.5rem;
            font-family: @font-secondary;
            font-size: 0.75rem;
            font-weight: 700;
            color: @gray-blue-57p;
            letter-spacing: 0.02rem;
            text-transform: uppercase;
        }
    }

    // approve and reject hovers
    .hover-approved,
    .hover-rejected {
        display: none;
        width: 100%;
        padding-top: 3.125rem;
        font-size: 2.375rem;
        font-weight: 700;
        color: @gray-blue-57p;
        letter-spacing: -0.06rem;
        text-align: center;
        -webkit-filter: none !important;
        -moz-filter: none !important;
        filter: none !important;
        opacity: 1 !important;
        position: absolute;
        top: 6.5rem;
        left: 0;
    }

    .hover-approved {
        background: transparent url("img/ui-checkmark-green.svg") no-repeat center top;
        background-size: 2.5rem auto;
    }

    .hover-rejected {
        background: transparent url("img/icon-reject.svg") no-repeat center top;
        background-size: 2.375rem auto;
    }

    // negotitation message
    .job-negotiation-msg {
        display: none;
        .clearfix();

        textarea {
            width: 93%;
            padding: 1.75rem 3.5%;
            font-family: @font-secondary;
            font-size: 1.875em;
            font-weight: 300;
            color: @gray-blue-57p;
            line-height: 2.5rem;
            letter-spacing: -0.02rem;
            border-top: 2px solid @gray-blue-95p;
            border-bottom: 2px solid @gray-blue-95p;
            border-left: none;
            border-right: none;
            outline: none;
            resize: none;
            .placeholder(@gray-blue-95p);
        }

        .btn-msg-cancel,
        .btn-msg-send {
            padding: 1rem 0 0.625rem 0;
            font-family: @font-tertiary;
            font-size: 1.5rem;
            font-weight: 700;
            color: @blue-dark;
            letter-spacing: 0.04rem;
            text-transform: uppercase;
        }

        .btn-msg-cancel {float: left;}
        .btn-msg-send {float: right;}
    }

    // new version
    .week-btns {
        padding: 0.6875rem 0;
        text-align: center;
    }

    .week-section {
        padding: 0;

        &.js-next-week {display: none;}
    }

    .job-box {
        background-color: white;
        margin: 0 1.1875rem 1.1875rem 1.1875rem;
        box-sizing: border-box;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        position: relative;
        .border-radius(4px);
        .clearfix();
        
        .day-selector-wrapper {padding: 0.8125rem 0 1.9375rem 0;}
        .day-selector-wrapper.additional {
            padding: 1.1875rem 0 0.8125rem 0;
            border-bottom: 2px solid @gray-blue-95p;
        }
    }

    .job-info {
        margin: 0 1.1875rem;
        border-bottom: 2px solid @gray-blue-95p;

        .job-link {
            display: inline-block;
            background: transparent url("img/ui-arrow-thin-right-blue.svg") no-repeat right center;
            background-size: auto 1.875rem;
            padding: 0.6875rem 1.625rem 0.6875rem 0;
            font-family: @font-secondary;
            font-size: 2.25rem;
            font-weight: 300;
            color: @blue-dark;
            line-height: 1.2em;
            letter-spacing: -0.04rem;
        }

        .job-address {
            padding: 0.25rem 0 1.125rem 0;
            font-family: @font-tertiary;
            font-size: 1.25rem;
            letter-spacing: 0.02rem;
        }

        .job-time {
            padding: 0.375rem 0 1rem 0;
            font-family: @font-secondary;
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: -0.05rem;
            text-align: center;

            .gray-txt {color: @gray-blue-80p;}
        }
    }

    .job-btns {
        height: 7rem;
        margin: 0 1.1875rem;

        .demand-icon,
        .staffing-icon  {
            display: inline-block;
            font-family: @font-secondary;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 0.875rem;
            letter-spacing: -0.02rem;
            text-align: center;
            text-transform: uppercase;
        }

        .demand-icon {
            background: transparent url("img/icon-bell-rings.svg") no-repeat center 1.5rem;
            background-size: auto 2.9375rem;
            padding-top: 5rem;
            color: @blue-main;
        }

        .staffing-icon {
            background: transparent url("img/icon-calendar-checkmark.svg") no-repeat center 1rem;
            background-size: 3.1875rem auto;
            padding-top: 4.5rem;
            color: @green-main;
        }

        .autohire-link,
        .offers-link {
            font-family: @font-tertiary;
            font-size: 1.5rem;
            font-weight: 700;
            color: @blue-dark;
            line-height: 7rem;
            float: right;
        }

        .autohire-link {
            background: transparent url("img/icon-bolt-blue.svg") no-repeat left center;
            background-size: auto 2.375rem;
            padding-left: 2.375rem;
        }

        .offers-link {
            background: transparent url("img/icon-mail.svg") no-repeat left center;
            background-size: 2.875rem auto;
            padding-left: 3.5rem;
        }
    }

    .day-selector-divider {
        border-bottom: 2px solid @gray-blue-57p;
        color: @gray-blue-80p;
        margin: 0 1.1875rem;
        position: relative;

        span {
            display: inline-block;
            background: white;
            padding: 0 0.875rem;
            font-family: @font-secondary;
            font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: -0.01rem;
            white-space: nowrap;
            position: absolute;
            top: -0.75rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }

        &.needed {color: @red-main;}
    }

    .no-jobs {
        width: auto;
        min-height: ~"calc(100vh - 13.75rem)";
        margin: 0 1.1875rem;
        text-align: center;

        p {
            font-family: @font-secondary;
            font-size: 1.75rem;
            font-weight: 300;
            line-height: 2.1875rem;

            &.bigger {
                padding: 7rem 0;
                font-size: 2.25rem;
            }
        }

        .btn-big {
            display: inline-block;
            padding: 0 3.75rem;
            font-size: 2.375rem;
            margin: 2rem 0;
        }
    }

    .filter-jobs-popup {
        top: 6.125rem;

        .modal-arrow-top {right: 1rem;}
        .modal-radio + label:before {display: none;}

        .modal-radio + label:after {
            content: "";
            width: 7.25rem;
            height: 5.375rem;
            position: absolute;
            left: 0;
            top: 0;
        }

        .item-demand:after {
            background: transparent url("img/icon-bell-rings.svg") no-repeat center center;
            background-size: 2.9375rem auto;
        }

        .item-staffing:after {
            background: transparent url("img/icon-calendar-checkmark.svg") no-repeat center center;
            background-size: 3.1875rem auto;
        }

        .item-all:after {
            background: transparent url("img/icon-list-view-gray.svg") no-repeat center center;
            background-size: 3rem auto;
        }

        .item-past:after {
            background: transparent url("img/icon-past-view-gray.svg") no-repeat center center;
            background-size: 3.0625rem auto;
        }
    }

    &.on-demand-wrapper {

        .two-part-standart .location {margin-bottom: 1rem;}

        .two-part-standart .bottom-part {

            .job-status {
                margin-left: 0;
                margin-right: 0;

                h3 {
                    margin-left: 1.25rem;
                    margin-right: 1.25rem;
                }

                .workers-wrap {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
            }
        }
    }
    
    .header-inner-wrap {
        // left margin is temporary fix for centering content
        margin: -1rem 0 1rem 2rem;
        padding: 0 1.625rem;
        text-align: center;

        p {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.625rem;
        }
    }
    
    .details-link {
        background: transparent;

        img {
            -webkit-transform: translateY(0.25rem);
            transform: translateY(0.25rem);
            width: 1rem;
        }
    }

    .two-part-standart {

        h2 .single-day {font-weight: 700;}

        .starting-time {
            padding-right: 2rem;
            font-weight: 700;
            font-size: 1.5rem;
        }

        .top-part {
            .border-radius-bottom(0);

            .location {
                font-family: @font-secondary;
                font-weight: 300;
                font-size: 1.25rem;
                color: #fff;
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .bottom-part {
            -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
            -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
            .border-radius-top(0);

            .workers-wrap {
                border-top: none;
                .clearfix();
            }

            .workers-wrap-img {
                padding: 0 0.25rem;
                margin-left: 0;
                margin-right: 0;
                box-sizing: border-box;
                width: 20%;
                float: left;
                text-align: center;

                .profile-pic {
                    display: block;
                    margin: 0 auto;
                    width: 5.75rem;
                    height: 5.75rem;
                    line-height: 5.75rem;
                    background-color: @gray-blue-95p;
                    font-size: 2.625rem;
                    color: @gray-blue-80p;

                    @media only screen and (max-width: 340px) {
                        width: 4.5rem;
                        height: 4.5rem;
                        line-height: 4.5rem;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                &.empty-worker {
                    .img-substitute {
                        display: block;
                        margin: 0 auto;
                        width: 5.75rem;
                        height: 5.75rem;

                        @media only screen and (max-width: 340px) {
                            width: 4.5rem;
                            height: 4.5rem;
                        }
                    }
                }

                .worker-name {
                    color: @blue-dark;
                    display: inline-block;
                    width: auto;
                    margin-top: 0.8rem;
                    max-width: 80%;
                    padding-right: 0.75rem;
                    background: url("img/ui-arrow-line-right-blue.svg") bottom right / 0.5rem no-repeat;
                }

                &.empty-worker .btn-remove {
                    background: url("img/icon-remove-worker.svg") center center / 1rem no-repeat;
                    margin-top: 0.125rem;
                }
            }

            .block-editable {
                position: relative;
                margin: 0 1.25rem;
                padding: 1rem 0;
                border-bottom: 1px solid @gray-blue-80p;

                &:last-of-type {border-bottom: none;}

                &.hidden {display: none;}

                .btn-edit {
                    position: absolute;
                    top: 2rem;
                    right: 1.25rem;

                    img {width: 2.5625rem;}
                }

                h3 {
                    max-width: 80%;
                    margin: 1rem 0;
                    font-size: 1.875rem;
                }

                .txt-custom {
                    padding: 0.5rem 1rem;
                    font-family: @font-secondary;
                    font-weight: 300;
                    font-size: 1.75rem;

                    .lighter {
                        color: @gray-blue-57p;
                    }
                }

                .job-requirements-title {
                    background-repeat: no-repeat;
                    padding: 0.625rem 0 0.625rem 4.125rem;
                    font-family: @font-tertiary;
                    font-size: 1.875rem;
                    line-height: 1.2em;
                    margin-top: 1rem;

                    &.first {margin-top: 1.625rem;}

                    &.icon-protection {
                        background-image: url("img/requirements-attention-black.svg");
                        background-size: auto 3rem;
                        background-position: 0.3125rem center;
                    }

                    &.icon-duties {
                        background-image: url("img/requirements-duties.svg");
                        background-size: auto 3rem;
                        background-position: 0.25rem center;
                    }

                    &.icon-site {
                        background-image: url("img/requirements-site.svg");
                        background-size: auto 3rem;
                        background-position: 0.125rem center;
                    }

                    &.icon-lifting {
                        background-image: url("img/requirements-lifting.svg");
                        background-size: auto 1.75rem;
                        background-position: left center;
                    }

                    &.icon-certifications {
                        background-image: url("img/requirements-certifications.svg");
                        background-size: auto 3rem;
                        background-position: 0.375rem center;
                    }

                    &.icon-bg-checks {
                        background-image: url("img/requirements-bg-checks.svg");
                        background-size: auto 2.3125rem;
                        background-position: left center;
                    }

                    &.icon-experience {
                        background-image: url("img/requirements-experience.svg");
                        background-size: auto 3.5rem;
                        background-position: left center;
                    }
                }

                .job-requirements-txt {
                    padding: 1.125rem 1.1875rem 1.75rem 1.1875rem;
                    font-family: @font-secondary;
                    font-size: 1.75rem;
                    font-weight: 300;
                    color: @gray-blue-57p;
                    line-height: 2.25rem;
                    letter-spacing: -0.04rem;
                }
            }
        }

        .clarification {
            margin: 1.5rem 1.25rem 1.25rem;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.25rem;
            text-align: center;
        }
    }
}


// workers side - my jobs styles

.workers-side-wrapper.my-jobs-wrapper {

    section {padding: 0 0 1rem;}

    .clarification {
        margin-top: 1.25rem;
        padding: 0 1.25rem;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        letter-spacing: -.08rem;
        color: @gray-blue-57p;
    }

    .white-wrap {width: auto !important;}

    .top-part {
        padding: 1.25rem 1rem 0;
        margin-bottom: 1.25rem;
        border-bottom: 1px solid @gray-blue-80p;

        h2 {
            padding-bottom: 1.25rem;
            font-size: 1.875rem;
            letter-spacing: -0.06rem;
        }
    }

    .single-day-wrap {
        margin: 1.25rem 0;
        padding: 0 1rem;
        .clearfix();

        .day-part,
        .job-part {box-sizing: border-box;}

        .day-part {
            width: 20%;
            float: left;
            text-align: center;
            padding: 1.25rem 0;
        }

        .day-wrap {
            width: 4.375rem;
            height: 4.375rem;
            margin: 0 auto;
            .border-radius(50%);
        }

        .job-part {
            width: 80%;
            float: right;
        }

        .job-wrap {
            display: block;
            padding: 1.25rem;
            border: 1px solid;
            border-left: 6px solid;
            .border-radius(5px);
            border-color: transparent;

            &.purple {border-color: #d500f9;}
            &.dark-purple {border-color: #7c4dff;}
            &.light-blue {border-color: #00e5ff;}
            &.light-green {border-color: #1de9b6;}
            &.yellow {border-color: #c6ff00;}
            &.red {border-color: #ff4081;}
            &.orange {border-color: #ff6d00;}
        }

        .day-txt {
            padding: 0.625rem 0 0;
            font-family: @font-secondary;
            font-weight: 700;
            font-size: 1rem;
            color: @color-text;
        }

        .day-num {
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 2.125rem;
            color: @gray-blue-80p;
        }

        &.active:not(.has-job) {

            .day-wrap {
                background-color: @gray-blue-80p;
                color: #fff;

                .day-txt,
                .day-num {color: #fff;}
            }
        }

        &.has-job {

            .day-num {
                position: relative;

                &:after {
                    position: absolute;
                    bottom: -2px;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    content: "";
                    width: 1.25rem;
                    height: 2px;
                    background-color: @green-main;
                }
            }
        }

        h2 {
            max-width: 90%;
            width: 90%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: @blue-dark;
            font-size: 1.625rem;
            .clearfix();
        }

        h2 + img {
            width: 0.75rem;
            -webkit-transform: translateY(0.1875rem);
            transform: translateY(0.1875rem);
            float: right;
        }

        .start-time {
            font-family: @font-tertiary;
            font-size: 1.25rem;
            color: @gray-blue-80p;
            margin: 0.375rem 0 1rem;
        }

        .job-address {
            font-family: @font-tertiary;
            font-size: 1.25rem;
        }

        .no-job-wrap {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.625rem;
            color: @gray-blue-80p;
            display: block;
            text-align: center;
            padding: 2.5rem 0 1.25rem;
            border-bottom: 2px dotted @blue-dark;   
        }
    }

    .time-wrapper {
        padding: 1rem 0 3rem;

        .text-line {
            font-family: @font-secondary;
            font-weight: 700;
            font-size: 0.75rem;
            text-transform: uppercase;
            position: relative;

            &:before {
                background: @gray-blue-95p;
                height: 1px;
                width: 85%;
                content: "";
                position: absolute;
                top: 0.3125rem;
                right: 0;
            }
        }

        .time {
            margin-top: 0.25rem;
            font-family: @font-tertiary;
            font-size: 1.125rem;
            position: absolute;
            right: 1rem;
            min-width: 3.75rem;
            text-align: center;

            &:before {
                background-color: @gray-blue-80p;
                height: 0.5rem;
                width: 0.5rem;
                content: "";
                position: absolute;
                top: -1rem;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                border: 2px solid #fff;
                .border-radius(50%);
            }
        }
    }

    .day-selector-wrapper {

        &.additional {
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .text-line {
            font-family: @font-secondary;
            font-weight: 700;
            font-size: 0.75rem;
            text-transform: uppercase;
            text-align: left;
            max-width: 35rem;
            margin: 0 auto;
            position: relative;

            @media only screen and (min-width: @size-tablet) and (max-width: 639px) {
                max-width: 32rem;
            }

            &:before {
                background-color: @gray-blue-95p;
                height: 1px;
                width: 85%;
                content: "";
                position: absolute;
                top: 0.3125rem;
                right: 0;
            }
        }

        .day-wrap:nth-child(2) {
            .time {
                &:before {content: none;}
            }
        }

        .time {
            font-family: @font-tertiary;
            font-size: 1.125rem;
            position: relative;

            &:before {
                background-color: @gray-blue-80p;
                height: 0.5rem;
                width: 0.5rem;
                .border-radius(50%);
                content: "";
                position: absolute;
                top: -1.25rem;
                border: 4px solid #fff;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
            }

            &.no-dot {
                &:before {content: none;}
            }
        }
    }

    .calendar,
    .offers {
        display: none;

        &.active {display: block;}

        .no-content-cta {display: none;}

        &.no-content {

            .no-content-cta {
                display: block;

                .txt {
                    max-width: 80%;
                    margin: 5rem auto;
                    font-family: @font-secondary;
                    font-weight: 300;
                    font-size: 2.625rem;
                    text-align: center;
                }

                .btn-wrap {
                    margin: 5rem 0;
                }

                .btn-big {
                    max-width: 80%;
                    margin: 1rem auto;
                    font-family: @font-tertiary;
                    font-weight: 700;
                    font-size: 2.375rem;

                    @media only screen and (max-width: 330px) {
                        max-width: 95%;
                    }
                }
            }
        }
    }

    .calendar.no-content {

        .current-week,
        .next-week {display: none;}
    }

    .offers.no-content {

        .clarification,
        .job-tile {display: none;}
    }

    .btn-wrap {text-align: center;}

    .btn-cancel-job,
    .btn-call-agent,
    .btn-contact-us,
    .btn-apply-job,
    .btn-withdraw {
        .border-radius(4rem);
        min-width: 11.75rem;
        font-size: 1.5rem;
        text-align: center;
        letter-spacing: -0.14rem;
        display: inline-block;
        line-height: 3.125rem;
        box-sizing: border-box;
        margin: 0 0.5rem;
    }

    .btn-cancel-job,
    .btn-apply-job,
    .btn-contact-us {width: 20%;}

    .btn-call-agent,
    .btn-withdraw {width: 50%;}

    .report-to-person {

        h2,
        .name,
        .phone-num {
            font-family: @font-tertiary;
            font-size: 1.25rem;
        }

        h2, .name {display: inline-block;}

        h2 {width: auto;}

        .phone-num {
            margin: 0.5rem 0 1rem;
            display: block;
            color: @blue-dark;
        }
    }

    .job-tile {
        .customer-name, 
        .job-address {
            font-family: @font-tertiary;
            font-weight: 300;
            font-size: 1.25rem;
            max-width: 100%;
        }
    }

    .bottom {
        position: relative;
    }

    .auto-hire-wrap {
        display: inline-block !important;
        position: absolute;
    }

    .offer-expire {
        display: inline-block;
        font-family: @font-tertiary;
        font-size: 1.25rem;
        margin-left: 40%;

        .txt {
            display: block;
            margin: 2rem 1rem .4rem 0;
        }

        .expire-time {
            display: inline-block;
            font-weight: 700;
            font-size: 1.5rem;
            color: @gray-blue-57p;
        }
    }
}

.workers-side-wrapper.my-jobs-wrapper.job-details-wrapper {

    .white-wrap {padding-top: 2.5rem !important;}    
 }