.password-recovery {
	background-color: #fff;

	.logo {
		margin: 0 auto 10rem;
		display: block;
	}

	.inner-part {
		text-align: center;
		padding: 0 2rem;

		&.success {

			.success-img {
				margin: 6.1rem 0 10rem;
				width: 14.125rem;
			}

			p {
				margin: 1rem auto .5rem;
				// letter-spacing: -0.15rem;
			}

			a {
				width: 90%;
				margin: 3.4375rem auto 0;
				font-size: 2.375rem;
			}
		}

		&.sent-instructions {

			p {
				font-size: 2.875rem;
			}
		}

		h1 {
			font-family: @font-secondary;
			font-weight: 300;
			font-size: 3rem;
			letter-spacing: -0.12rem;
		}

		.key-image {
			margin: 3.125rem 0 4.375rem;
			width: 14.125rem;
		}

		.paper-plane {
			width: 8.125rem;
			margin-bottom: 2rem;
		}

		p {
			font-family: @font-secondary;
			font-weight: 300;
			font-size: 2rem;
			max-width: 80%;
			margin: 0 auto;
			letter-spacing: -0.1rem;
		}

		.separator {
			margin: 1.875rem 0;
			display: inline-block;
			position: relative;
			width: 20%;

			img {width: 1.375rem;}

			&:after, &:before {
				border-top: 2px solid @gray-blue-80p;
				width: 30%;
				content: " ";
				position: absolute;
				top: 50%;
			}

			&:after {left: 0;}
			&:before {right: 0;}
		}

		input {
			font-size: 1.75rem;
			border: 2px solid #eceff1;
			color: @color-text;
			padding: 1rem 1rem;
			.border-radius(10px);
		}
	}

	.password-input-form {

		input {

			&:first-child {
				.border-radius-bottom(0);
				border-bottom: none;
			}

			&:last-of-type {.border-radius-top(0);}
		}

		button {
			width: 90%;
			margin: 3.4375rem auto 0;
			font-size: 2.375rem;
		}
	}
}