.workers-side-wrapper > .profile {
	background: url(img/bg-profile.png) top/40rem no-repeat, linear-gradient(to bottom, #01afef, #3ec3ff);
	padding: 2.5rem 0;

	.top-part {
		text-align: center;
		padding: 0 1.25rem;
	}

	.profile-pic {
        background-color: @gray-blue-80p;
		margin: 0 auto;
		width: 9.25rem;
		height: 9.25rem;
        font-size: 2rem;
        color: @gray-blue-57p;
        line-height: 6.25rem;
        border: 2px solid #fff;
        box-shadow: rgba(64, 196, 255, .4) 0 0 3.125rem 1.25rem;
		box-sizing: border-box;

        &.customer {
            display: block;
            width: 7.625rem;
		    height: 7.625rem;
            font-size: 2.5rem;
            line-height: 7.6rem;
        }
	}

	.name, .clarification {
		color: #fff;
	}

	.name {
		margin: 1rem 0;
		font-family: @font-secondary;
		font-size: 2.5rem;

        &.customer {
            font-size: 2.25rem;
            font-weight: 300;
            line-height: 2.5rem;
            padding-bottom: 5rem;

            span {font-size: 1.875rem;}
        }
	}

	.clarification {
		margin: 2.5rem auto 5rem;
		font-family: @font-tertiary;
		font-size: 1.5rem;
		line-height: 1.75rem;
	}

    .work-details {
        padding: 1rem;
        font-family: @font-tertiary;
        font-weight: 700;
        font-size: 1.35rem;
        color: #fff;
    }

    .hours-worked {
        line-height: 2.375rem;
    }

    .rate {
        .clearfix();

        img {
            width: 2.25rem;
            height: auto;
            vertical-align: text-bottom;
        }

        .rate-up-wrap {
            float: left;

            img {
                -webkit-transform: translateY(5px);
                transform: translateY(5px);

                @media screen and (max-width: @size-tablet) {
                    -webkit-transform: none;
                    transform: none;
                }
            }
        }

        .rate-down-wrap {
            padding-left: 1rem;
            float: right;

            img {
                -webkit-transform: translateY(15px);
                transform: translateY(15px);

                @media screen and (max-width: @size-tablet) {
                    -webkit-transform: translateY(5px);
                    transform: translateY(5px);
                }
            }
        }
    }

    .btn-reward-wrap {
        margin: 0 auto 2rem;
        width: 60%;
        text-align: center;

        @media screen and (max-width: 800px) {
            width: 80%;
        }

        @media screen and (max-width: 360px) {
            width: 100%;
        }

        .btn-reward {
            .clearfix();
            width: 100%;
            display: inline-block;
            color: #fff;

            .img-wrap {
                width: 35%;
                display: inline-block;
                float: left;
                text-align: right;

                img {
                    width: 6.875rem;
                    height: 6.875rem;

                    @media screen and (max-width: 360px) {
                        width: 5rem;
                        height: 5rem;
                    }
                }
            }

            .text-wrap {
                max-width: 60%;
                padding: 1.75rem 1rem 0;
                display: inline-block;
                float: left;
                text-align: left;
                box-sizing: border-box;

                @media screen and (max-width: 360px) {
                    padding-top: 1rem;
                }
            }

            .icon-wrap {
                padding-top: 3rem;
                float: left;

                @media screen and (max-width: 360px) {
                    padding-top: 2.25rem;
                }

                img {
                    width: 0.75rem;
                }
            }

            .member-type {
                font-family: @font-primary;
                font-weight: 700;
                font-size: 1.875rem;
                letter-spacing: -0.15rem;
            }

            .points-earned {
                font-family: @font-primary;
                font-weight: 700;
                font-size: 1.5rem;
                letter-spacing: -0.1rem;
            }
        }
    }

	.full-link {
		position: relative;
		padding: 3.125rem 1.25rem;
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 2.25rem;

		&:before {
			display: block;
			position: absolute;
			left: 1.625rem;
			top: 50%;
			transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
			width: 2rem;
			height: 95%;
			content: "";
		}

        &.custom {
            padding-top: 1.875rem;
            padding-bottom: 2.5rem;
            background: #fff;

            &.editable {
                &:before {
                    content: "";
                    background: url(img/icon-edit-blue.svg) center center no-repeat;
                    background-size: 2.5rem;
                    width: 3rem;
                    top: 1.5rem;
                    -webkit-transform: none;
                    transform: none;
                    right: 1.625rem;
                    height: 3rem;
                    left: auto;
                    z-index: 2;
                }
            }

            a.txt-big {
                position: relative;
                z-index: 3;
            }

            .txt-big {
                .clearfix();
                padding-left: 0;
                padding-right: 4rem;

                img {
                    float: left;
                    width: 2rem;

                    &.big {
                        width: 2.5rem;
                    }
                }

                span:not(.num) {
                    float: left;
                    max-width: 80%;
                    display: inline-block;
                    padding-left: 0.75rem;
                    line-height: 3rem;
                }
            }

            .day-selector-wrapper {
                max-width: 38rem;

                &:nth-child(3) {
                    margin-top: 1.5rem;
                }

                @media screen and (max-width: 690px) {

                    .day-wrap {
                        width: 3.75rem;
                        height: 3.75rem;
                    }
                }

                @media only screen and (min-width: @size-tablet) and (max-width: 639px) {
                    .day-wrap {
                        width: 57px !important;
                        height: 57px !important;
                        margin: 5px 3px !important;

                        .day-num {font-size: 1.5rem !important;}
                        .day-txt {font-size: 0.875rem !important;}
                    }
                }

                @media screen and (max-width: 340px) {

                    max-width: 270px !important;

                    .day-wrap {
                        width: 25px !important;
                        height: 25px !important;

                        .day-num {font-size: 13px !important;}
                    }
                }

                @media screen and (max-width: 300px) {

                    max-width: 230px !important;

                    .day-wrap {
                        width: 20px !important;
                        height: 20px !important;

                        .day-txt {padding-top: 1px !important;}
                        .day-num {font-size: 10px !important;}
                    }
                }
            }

            .expandable {
                position: relative;
                padding-bottom: 3rem;
                font-family: @font-secondary;
                font-weight: 300;
                font-size: 1.75rem;
                line-height: 2.25rem;
                color: @gray-blue-57p;
                transition: height .5s ease;

                &.closed .btn-expand {

                    .more {
                        display: inline-block;
                    }

                    .less {
                        display: none;
                    }
                }

                &.opened .btn-expand {

                    &:after {
                        -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

                    .less {
                        display: inline-block;
                    }

                    .more {
                        display: none;
                    }
                }

                .js-expand-part {
                    display: none;
                }

                .btn-expand {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: #fff;
                    font-family: @font-tertiary;
                    font-weight: 700;
                    font-size: 1.375rem;
                    color: @blue-dark;
                    text-transform: uppercase;
                    padding-right: 3rem;
                    // background: url(img/ui-arrow-thin-down-blue.svg) no-repeat right center;
                    background-size: 1.75rem;
                    cursor: pointer;

                    span {
                        display: inline-block;
                        line-height: 2.25rem;
                        vertical-align: middle;
                    }

                    .less {
                        display: none;
                    }

                    &:after {
                        content: "";
                        display: inline-block;
                        vertical-align: middle;
                        width: 2.25rem;
                        height: 2.25rem;
                        background: url(img/ui-arrow-thin-down-blue.svg) no-repeat center center;
                        background-size: 1.75rem;
                        transition: transform .4s ease;
                    }
                }

                .job-row {
                    .clearfix();
                    padding-top: 1rem;
                }

                .job-name {
                    float: left;
                }

                .job-hours {
                    float: right;
                }
            }

            .radio-custom {
                .clearfix();
                width: 100%;
                box-sizing: border-box;

                input {display: none;}

                &.has-2 {

                    .container {
                        width: 50%;
                        float: left;
                        text-align: center;
                    }
                }

                &.has-4 {

                    .container {
                        width: 25%;
                        float: left;
                        text-align: center;
                        box-sizing: border-box;
                    }
                }

                label {
                    cursor: pointer;
                }

                input:checked + label {

                    .img-cont {
                        border-color: @blue-main;

                        &.car {
                            background-image: url(img/icon-car-thin-blue.svg);
                            background-size: 4rem;
                        }

                        &.carpool {
                            background-image: url(img/icon-bus-thin-blue.svg);
                            background-size: 6rem;
                        }

                        &.morning {
                            background-image: url(img/icon-period-morning-blue.svg);
                            background-size: 4.125rem;
                        }

                        &.afternoon {
                            background-image: url(img/icon-period-afternoon-blue.svg);
                            background-size: 4.125rem;
                        }

                        &.evening {
                            background-image: url(img/icon-period-evening-blue.svg);
                            background-size: 4.125rem;
                        }

                        &.night {
                            background-image: url(img/icon-period-night-blue.svg);
                            background-size: 4.125rem;
                        }
                    }
                }

                .img-cont {
                    position: relative;
                    margin: 1rem auto;
                    width: 7.725rem;
                    height: 7.725rem;
                    border: 2px solid @gray-blue-80p;
                    background-position: center center;
                    background-repeat: no-repeat;
                    // transition: background-image .3s ease, border .3s ease;
                    .border-radius(50%);

                    @media screen and (max-width: 380px) {
                        width: 6.25rem;
                        height: 6.25rem;
                    }

                    &.car {
                        background-image: url(img/icon-car-thin-gray.svg);
                        background-size: 4rem;
                    }

                    &.carpool {
                        background-image: url(img/icon-bus-thin-gray.svg);
                        background-size: 6rem;
                    }

                    &.morning {
                        background-image: url(img/icon-period-morning-gray.svg);
                        background-size: 4.125rem;
                    }

                    &.afternoon {
                        background-image: url(img/icon-period-afternoon-gray.svg);
                        background-size: 4.125rem;
                    }

                    &.evening {
                        background-image: url(img/icon-period-evening-gray.svg);
                        background-size: 4.125rem;
                    }

                    &.night {
                        background-image: url(img/icon-period-night-gray.svg);
                        background-size: 4.125rem;
                    }
                }

                .text-wrap {
                    font-family: @font-secondary;
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    text-transform: uppercase;
                }
            }
        }

		&.btn-about:before {
			background: url(img/icon-profile.svg) center center no-repeat;
			background-size: 2rem;
		}

		&.btn-availability:before {
			left: 1.125rem;
			width: 3rem;
			background: url(img/icon-availability.svg) center center no-repeat;
			background-size: 3rem;
		}

        &.btn-preferences:before {
            left: 1.125rem;
            width: 3rem;
            background: url(img/icon-work-preferences.svg) center center no-repeat;
            background-size: 3rem;
        }

		&.btn-unlock:before {
            left: 1.125rem;
            width: 3rem;
			background: url(img/icon-unlock-blue.svg) center center no-repeat;
			background-size: 2.5rem;
		}

        &.btn-info:before {
            width: 3rem;
            left: 1rem;
			background: url(img/icon-info-blue-circled.svg) center center no-repeat;
			background-size: 3rem auto;
		}

        &.btn-users:before {
            width: 3.5rem;
            left: 0.8rem;
			background: url(img/icon-users.svg) center center no-repeat;
			background-size: 3.5rem auto;
		}

		.txt-big, 
        .txt-small {
			display: block;
			padding: 0 3.875rem;
		}

		.txt-small {font-size: 1.25rem;}

        .txt-additional {
            display: block;
            padding-top: 1rem;
            font-size: 1.75rem;
            color: @gray-blue-57p;
            letter-spacing: -0.08rem;
            line-height: 2.25rem;
        }
	}

	.full-link .txt {
		// position: absolute;
		display: inline-block;
		font-size: 1.25rem;
	}

    .btn-sign-out {
        width: 70%;
        margin: 0 auto;
        background-color: #fff;
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 2rem;
    }
}

// Not verified
.workers-side-wrapper > .profile.unverified {
    background: transparent url(img/bg-profile.svg) no-repeat center top;
    background-size: 34.75rem;
	padding: 0 0 1.5rem 0;
    text-align: center;

    .profile-pic {
        background-color: @gray-blue-80p;
        width: 6rem;
        height: 6rem;
        font-size: 2rem;
        color: @gray-blue-57p;
        line-height: 6rem;
        margin: 2.375rem auto 0 auto;
        border: none;
        box-shadow: none;
    }

	.profile-name {
        padding: 1rem 0 2.125rem 0;
        font-family: @font-secondary;
        font-size: 1.5rem;
	}

    .text-box {
        display: block;
        background-color: white;
        width: 73.5%;
        padding: 1.625rem 0;
        border: 0.1875rem solid @blue-main;
        margin: 0 auto;
        .border-radius(1.25rem);

        .warning {
            padding-bottom: 0.5rem;
            font-family: @font-secondary;
            font-size: 1.75rem;
            color: @red-main;
            letter-spacing: -0.04rem;
        }

        .info {
            padding: 0 10%;
            font-family: @font-tertiary;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.875rem;
            letter-spacing: 0.02rem;
        }

        &.unlock {
            background: white url(img/ui-arrow-thin-right-blue.svg) no-repeat right 1.5rem center;
            background-size: auto 1.875rem;
            padding: 2.625rem 0;
            text-align: left;
            line-height: 1.75rem;

            > img {
                width: 3rem;
                padding: 0 1rem 0 1.5rem;
                float: left;
            }

            .title {
                font-family: @font-secondary;
                font-size: 1.75rem;
                letter-spacing: -0.02rem;
            }

            .small {
                font-family: @font-tertiary;
                font-size: 1.25rem;
                letter-spacing: 0.02rem;
            }
        }
    }

    .steps-wrapper {
        padding-bottom: 3rem;

        .step-line {
            background-color: @blue-main;
            width: 0.1875rem;
            height: 5rem;
            margin: 0 auto;
        }

        .step-link {
            background-color: white;
            display: block;
            width: 4.375rem;
            height: 4.375rem;
            margin: 0 auto;
            border: 0.1875rem solid @blue-main;
            .border-radius(50%);
            position: relative;

            &.step-fitness {
                background: white url(img/icon-fitness.svg) no-repeat 0.5rem center;
                background-size: auto 2.8125rem;
            }

            &.step-personality {
                background: white url(img/icon-personality.svg) no-repeat center center;
                background-size: auto 2.9375rem;
            }

            &.step-empl-ver {
                background: white url(img/icon-find.svg) no-repeat center center;
                background-size: 3rem auto;
            }

            &.step-email {
                background: white url(img/icon-contact.svg) no-repeat center center;
                background-size: 2.875rem auto;
            }

            &.completed {
                background: @blue-main url(img/ui-checkmark-white.svg) no-repeat center center !important;
                background-size: 1.5625rem auto !important;
            }
        }

        .step-txt {
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 1.875rem;
            letter-spacing: -0.02rem;
            white-space: nowrap;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            &.left {
                right: 0;
                padding-right: 5.75rem;
                text-align: right;
            }

            &.right {
                left: 0;
                padding-left: 5.75rem;
                text-align: left;
            }
        }
    }
}

// verification screens
.workers-side-wrapper > .profile.verification {
    background: transparent;
    padding-top: 1rem;

    &.email {
        padding-bottom: 0;  

        .white-wrap {
            min-height: ~"calc(100vh - 12.5rem)";
            margin-bottom: 0;
            .border-radius-bottom(0);
        }

        &.web,
        &.verified {
            text-align: center;

            img {
                width: 14.1875rem;
                margin: 8% 0;
            }
        }

        &.web {

            .btn-big img {
                width: 2rem;
                margin: 0;
            }
        }

        &.verified {

            .white-wrap {
                min-height: ~"calc(100vh - 12rem)";
                margin-bottom: 0;
                .border-radius-bottom(0);
            }

            .txt {
                margin: 0 auto;
                font-size: 2.265rem;

                .email-wrap {margin: 3rem 0 0;}
            }

            .btn-big img {
                width: 2rem;
                margin: 0;
            }
        }

        .white-wrap {
            padding-top: 4rem;
            text-align: center;
        }

        .email-wrap {
            display: block;
            margin: 4% 0;
            font-size: 2rem;
        }

        .txt {margin: 1rem auto;}

        .separator {
            margin: 1.875rem 0;
            display: inline-block;
            position: relative;
            width: 20%;

            img {width: 1.375rem;}

            &:after, &:before {
                border-top: 2px solid @gray-blue-80p;
                width: 30%;
                content: " ";
                position: absolute;
                top: 50%;
            }

            &:after {left: 0;}
            &:before {right: 0;}
        }
    }

    .name, .txt {color: @color-text;}

    .txt {
        max-width: 80%;
        margin: auto;
        text-align: center;
        letter-spacing: -0.05rem;
        line-height: 3rem;
    }

    .txt, .name {
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 2rem;
    }

    .btn-big {
        width: 80%;
        margin: 4% auto;
        font-size: 2.375rem;
    }
}

// unlock jobs screen
.unlock-job-wrapper {

    .created .img-wrap {
        text-align: center;
        padding: 2rem 0;

        img {width: 14rem;}
    }

    .unlock-slider {

        .slide {
            position: relative;
        }

        .img-caption {
            padding: 1.5rem 0;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(141, 143, 146, 0.8);
            font-family: @font-tertiary;
            font-size: 2rem;
            color: #fff;
            text-align: center;
        }

        .owl-carousel .owl-dots {
            transform: translateY(-7rem);
            -webkit-transform: translateY(-7rem);
        }
    }

    ul.unlock-top-txt {
        max-width: 80%;
        margin: 0 auto;
        text-align: left;
        li {padding: 0.25rem 0;}
    }

    .unlock-top-txt {
        padding: 1.875rem 2.25rem 2.2rem 2.25rem;
        font-family: @font-secondary;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        letter-spacing: -0.01rem;
        text-align: center;
    }

    .unlock-position-txt {
        padding: 1.875rem 2.25rem 0;
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 1.75rem;
        text-align: center;
    }

    .unlock-step-txt {
        padding: 1.875rem 2.25rem 0;
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 2.25rem;
        line-height: 2.5rem;
        text-align: center;

        .bigger {
            font-size: 2.625rem;
            line-height: 2.625rem;
            display: inline-block;
            padding-bottom: 1.5rem;
        }

        .unlock-date {
            font-size: 1.875rem;
            display: inline-block;
            padding-top: 0.75rem;
            color: @gray-blue-57p;
        }
    }

    .label {
        font-family: @font-primary;
        font-weight: 700;
        font-size: 1.875rem;
        padding: 3.25rem 2.25rem 0;
        color: @gray-blue-57p;

        & + .survey-wrap {
            margin-top: 1rem;
            padding-left: 1rem;
        }
    }

    .clarification-bottom {
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 1.25rem;
        text-align: center;
        padding: 2rem 2rem 0;
    }

    .btn-wrap {
        padding-top: 2rem;

        a {
            font-size: 2.375rem;
            max-width: 90%;
            margin: 2rem auto;

            @media screen and (max-width: 315px) {
                font-size: 2rem;
            }
        }
    }

    .survey-wrap {
        max-width: 80%;
        margin: 2.5rem auto 0;
        text-align: left;

        &.single-select {

            input:checked + label:before {background: @blue-dark;}

            label:before {
                background: transparent;
            }
        }

        &.multi-select {

            input:checked + label:before {
                background: @blue-dark url("img/ui-checkmark-white.svg") no-repeat center center;
                background-size: 1.625rem auto;
                border: 0.5rem solid @blue-dark;
            }

            input:disabled + label {
                color: @gray-blue-80p;
            }

            input:disabled + label:before {
                box-shadow: 0px 0px 0px 2px @gray-blue-80p;
            }

            input:disabled:checked + label:before {
                background-color: @gray-blue-80p;
                border: 0.5rem solid @gray-blue-80p;
                box-shadow: 0px 0px 0px 2px @gray-blue-80p;
            }
        }

        .choice-wrap {

            input {display: none;}

            label {
                font-family: @font-tertiary;
                font-size: 1.75rem;
                line-height: 2rem;
                padding: 1.5rem 0 1.5rem 3.75rem;
                display: inline-block;
                position: relative;

                &:before {
                    position: absolute;
                    left: 0;
                    top: 1rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: text-bottom;
                    content: "";
                    box-shadow: 0px 0px 0px 2px @blue-dark;
                    border: 0.5rem solid #fff;
                    .border-radius(50%);
                    transition: background-color .3s ease, border .3s ease;
                }
            }
        }
    }

    .tiles-wrapper {
        .clearfix();
    }

    .unlock-time {
        background: transparent url(img/icon-clock-half-black.svg) no-repeat left top;
        background-size: 2.25rem auto;
        padding: 0.25rem 1.1875rem 0 2.875rem;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        line-height: 1rem;
        text-align: left;
        margin-top: 0.75rem;
        float: right;

        span {
            font-size: 0.75rem;
            font-weight: 700;
            letter-spacing: 0.08rem;
        }
    }

    .status-icon {
        width: 2.75rem;
        height: 2.75rem;
        position: absolute;
        top: 0.5625rem;
        left: 0.5625rem;
        .border-radius(50%);
    }

    .job-unlocked {
        .unlock-time {display: none;}
        .status-icon {
            background: transparent url(img/ui-checkmark-green.svg) no-repeat center center;
            background-size: 1.75rem auto;
        }
    }

    .job-unlocked-failed {

        .unlock-time {
            background: transparent;
            text-transform: uppercase;
        }

        .status-icon {
            background: transparent url(img/icon-remove-worker.svg) no-repeat center center;
            background-size: 1.75rem auto;
        }
    }

    .job-locked {
        .status-icon {
            background: @blue-dark url(img/icon-lock-white.svg) no-repeat center center;
            background-size: 1.25rem auto;
        }
    }

    &.unverified {
        .status-icon {display: none;}
        .unlock-time {display: none;}
        footer {display: none;}
    }
}

// My Profile - About me & subpages
.workers-profile-subpages-wrapper {
    .white-tile {
        background-color: white;
        padding: 0 1.1875rem;
        min-height: ~"calc(100vh - 5.5625rem - 1.1875rem)";
        //                (100vh - header - margin)
        margin: 1.1875rem 1.1875rem 0 1.1875rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius-top(4px);

        &.small {
            min-height: 0;
        }
    }

    .membership {
        padding-bottom: 1rem;
        text-align: center;

        &.pts-calc {

            .txt {
                padding: 1.5rem 0;
                border-bottom: 2px solid @gray-blue-80p;

                &:last-child {border-bottom: none;}

                &.balance {
                    position: relative;
                    font-weight: 700;
                    background-color: @gray-blue-95p;

                    p {
                        position: relative;
                        z-index: 3;
                    }

                    &:before, &:after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        width: 10%;
                        background-color: @gray-blue-95p;
                        z-index: 1;
                    }

                    &:before {
                        left: -1.1875rem;
                    }

                    &:after {
                        right: -1.1875rem;
                    }
                }

                .asterix {
                    color: @red-main;
                }
            }
        }

        .txt {
            padding: 2rem 0 0;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 2.25rem;
            letter-spacing: -0.04rem;
            line-height: 3rem;

            @media screen and (max-width: 330px) {
                font-size: 1.75rem;
            }

            &.small {
                font-size: 1.75rem;
            }

            &.gray {color: @gray-blue-57p;}

            &.v2 {
                font-family: @font-tertiary;
                font-weight: 400;
            }

            .float-left {display: inline-block;}

            .additional {
                // display: inline-block;
                font-family: @font-tertiary;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1rem;
                // transform: translateY(-20px);
            }
        }

        .gray-block {
            margin: 2rem 0 0;
            padding: 1rem 0;
            background-color: @gray-blue-80p;

            .blue {color: @blue-dark;}

            .txt {
                padding: 1rem;

                &:last-of-type {padding-top: 0;}
            }
        }

        .separator {
            margin: 4rem 0 2rem;
            border-bottom: 2px solid @gray-blue-80p;
        }

        .detail-part {
            padding: 3.5rem 0 1rem;

            &.wallet {

                img {
                    width: 6.5rem;
                    transform: translateX(0.5rem);
                }
            }

            img {
                width: 10.625rem;
            }

            .txt-member {
                padding: 1rem 0;
                font-family: @font-tertiary;
                font-weight: 700;
                font-size: 1.875rem;

                &.red {color: @red-main;}
                &.green {color: @green-main;}
                &.yellow {color: @yellow-main;}
                &.purple {color: #aa00ff;}
            }

            .points {padding-right: 5rem;}
            .hr-work {padding-right: 1.5rem;}

            .txt {
                padding-top: 0rem;
                margin: 0 auto;
                max-width: 27rem;
                font-family: @font-tertiary;
                font-weight: 400;
                font-size: 1.75rem;
                letter-spacing: -0.02rem;
                line-height: normal;
                text-align: left;

                &.centered {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    text-align: center;
                }

                &.bold {font-weight: 700;}
            }
        }

        .btn-wrap.empty-top {
            margin-top: 3rem;
            padding: 1rem 0;
        }

        .link-blue {
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }

    .wide-links-wrap {
        li {
            min-height: 8.625rem;
            border-bottom: 2px solid @gray-blue-95p;
            position: relative;

            &.icon-settings {
                background: transparent url(img/icon-cog.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.icon-transport {
                background: transparent url(img/icon-car.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.icon-language {
                background: transparent url(img/icon-language.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.icon-safety {
                background: transparent url(img/icon-safety.svg) no-repeat left center;
                background-size: 2.625rem auto;
            }

            &.icon-mail {
                background: transparent url(img/icon-mail.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.icon-phone {
                background: transparent url(img/icon-mobile-blue.svg) no-repeat 0.25rem center;
                background-size: 2rem auto;
            }

            &.icon-home {
                background: transparent url(img/ui-home-blue.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.icon-pass {
                background: transparent url(img/icon-key.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.icon-notification {
                background: transparent url(img/icon-bell.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.icon-association {
                background: transparent url(img/icon-association.svg) no-repeat left center;
                background-size: 3rem auto;
            }

            &.disabled {
                .wide-link {
                    background-image: none;
                    color: @gray-blue-80p;
                }

                &.icon-mail {
                    background-image: url(img/icon-mail-gray.svg);
                }
            }

            &.no-bottom-border {border-bottom: none;}
            &.smaller-height {min-height: 6rem;}

            .info-title {
                padding: 2.125rem 0 1rem 0;
                font-size: 1.875rem;
                font-weight: 700;
                letter-spacing: -0.08rem;
            }

            .info-txt {
                padding: 0 0 1.75rem 1rem;
                font-family: @font-secondary;
                font-size: 1.75rem;
                font-weight: 300;
                color: @gray-blue-57p;
                line-height: 2.375rem;
                letter-spacing: -0.05rem;
            }
        }

        .wide-link {
            display: block;
            width: 100%;
            background: transparent url(img/ui-arrow-line-right-blue.svg) no-repeat right center;
            background-size: 1.125rem auto;
            padding: 1.5rem 2.5rem 1.5rem 4.375rem;
            font-family: @font-secondary;
            font-size: 2.25rem;
            font-weight: 300;
            line-height: 2.5rem;
            letter-spacing: -0.02rem;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);

            &.link-profile {
                padding: 1.1875rem 2.5rem 1.1875rem 0;
                line-height: 2.25rem;
                position: relative;
                -webkit-transform: none;
                transform: none;
                .clearfix();

                .profile-pic {
                    background-color: @gray-blue-95p;
                    width: 7.5rem;
                    height: 7.5rem;
                    font-size: 3rem;
                    font-weight: 400;
                    color: @gray-blue-80p;
                    line-height: 7.5rem;
                    margin-right: 1.1875rem;
                    float: left;
                }

                p {
                    padding-top: 1.5rem;

                    &.just-name {padding-top: 2.5rem;}

                    span:not(.name) {
                        font-size: 1.5rem;
                        font-weight: 400;
                        color: @gray-blue-80p;
                    }
                }
            }

            &.link-mail {
                padding-right: 0;
                font-size: 2rem;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .label {
                font-weight: 700;
                font-size: 1.25rem;
                color: @gray-blue-57p;
                text-transform: uppercase;
                display: block;
            }
        }
    }

    .link-switch-account-wrap {
        padding: 1px;
    }

    .link-switch-account {
        display: block;
        width: 20.5rem;
        height: 2.875rem;
        font-size: 1.5rem;
        line-height: 2.875rem;
        letter-spacing: -0.1rem;
        text-align: center;
        margin: 1.625rem auto 1.625rem auto;
        .border-radius(1.5rem);
    }

    .tile-full-height {
        min-height: ~"calc(100vh - 5.5625rem - 1.1875rem)";
        //                (100vh - header - margin)
        margin-bottom: 0;
        .border-radius-bottom(0);
    }

    .email-notifications-note {
        padding: 1.75rem 1.1875rem;
        border-top: none !important;

        p {
            background-color: #f6f7f8;
            padding: 1rem 0 1.75rem 16%;
            font-family: @font-secondary;
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 2rem;
            letter-spacing: -0.02rem;
            -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
            .border-radius(4px);

            span {
                font-size: 1.75rem;
                line-height: 3rem;
            }
        }
    }

    h2 {
        padding-top: 2rem;
        font-family: @font-secondary;
        font-size: 2.625rem;
        font-weight: 300;
        text-align: center;
        line-height: 2.875rem;
        letter-spacing: -0.04rem;
    }

    .languages-wrapper {
        width: 66%;
        padding-top: 4.25rem;
        margin: 0 auto;
        .clearfix();

        p {
            padding-bottom: 0.75rem;
            font-family: @font-tertiary;
            font-size: 1.5rem;
            letter-spacing: 0.04rem;
        }
    }

    .language-radio-button {
        display: none;

        & + label {
            display: block;
            width: 100%;
            font-size: 1.5rem;
            font-weight: 700;
            color: @blue-dark;
            line-height: 2.875rem;
            letter-spacing: -0.07rem;
            text-align: center;
            margin-bottom: 0.5rem;
            border: 0.125rem solid @blue-dark;
            .border-radius(1.625rem);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
        }

        &:checked + label {
            background-color: @blue-dark;
            color: white;
        }
    }

    .language-checkbox {
        display: none;

        & + label {
            display: block;
            width: 48%;
            font-size: 1.5rem;
            font-weight: 700;
            color: @blue-dark;
            line-height: 2.875rem;
            letter-spacing: -0.07rem;
            text-align: center;
            margin: 0 1% 0.5rem 1%;
            border: 0.125rem solid @blue-dark;
            .border-radius(1.625rem);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            cursor: pointer;
            float: left;
        }

        &:checked + label {
            background-color: @blue-dark;
            color: white;
        }
    }

    .certifications-txt {
        padding: 1.25rem 1.1875rem 4.5rem 1.1875rem;
        font-family: @font-secondary;
        font-size: 1.875rem;
        font-weight: 300;
        line-height: 2.375rem;
        letter-spacing: -0.02rem;
        border-bottom: 1px solid @gray-blue-80p;

        &.no-border-bottom {
            border-bottom: none;
            padding-bottom: 0;
        }

        span {font-size: 1.625rem;}
    }

    .certifications-num {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        color: @gray-blue-57p;
        letter-spacing: -0.1rem;
        text-align: center;
        margin-top: -0.25rem;
    }

    .top-logo {
        height: 6.75rem;
        text-align: center;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid @gray-blue-95p;

        img {
            height: 3rem;
            margin-top: 1.75rem;
        }
    }

    .password-label {
        padding: 4.25rem 0 0.5rem 0;
        font-family: @font-secondary;
        font-size: 1.5rem;
        font-weight: 300;
        letter-spacing: -0.01rem;
    }

    .password-input-wrap {position: relative;}

    .password-input {
        height: 5.375rem;
        font-size: 1.75rem;
        border: 2px solid @gray-blue-95p;
        .border-radius(0.625rem);
    }

    .btn-show-pass {
        background: transparent url("img/ui-eye-2.svg") no-repeat right center;
        background-size: 3rem auto;
        width: 3.125rem;
        height: 5.375rem;
        position: absolute;
        top: 2px;
        right: 1rem;

        &.shown {
            background-image: url("img/ui-eye-crossed-2.svg");
        }
    }

    .transportation-title {padding: 1.375rem 0 0.5rem 0;}

    .transportation-tile {
        background-color: white;
        height: 18.375rem;
        font-size: 2.375rem;
        font-weight: 700;
        letter-spacing: -0.06rem;
        text-align: center;
        margin: 1.1875rem 1.1875rem 0 1.1875rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius(4px);

        &.icon-bus {
            background: white url("img/icon-bus-thin-blue.svg") no-repeat center 3.75rem;
            background-size: auto 6.375rem;

            &.active {background-image: url("img/icon-bus-thin-white.svg");}
        }

        &.icon-car {
            background: white url("img/icon-car-thin-blue.svg") no-repeat center 3.75rem;
            background-size: auto 6.375rem;

            &.active {background-image: url("img/icon-car-thin-white.svg");}
        }

        &.active {
            background-color: @blue-dark;
            color: white;
        }

        p {padding-top: 12rem;}
    }

    .introduce-yourself {
        min-height: ~"calc(100vh - 16.875rem)";

        .img-upload-wrap {
            display: inline-block;
            margin-top: 1.1875rem;
            width: 34%;
            float: left;

            @media only screen and (max-width: 340px) {
                width: 45%;
            }

            #img-upload-input {display: none;}

            #img-preview.deleted {opacity: 0;}

            #img-preview {.transition-variant(opacity, .3s, ease);}

            .imgPreviewed .img-wrap {border: 2px solid transparent;}

            .img-wrap {
                cursor: pointer;
                box-sizing: border-box;
                width: 10.625rem;
                height: 10.625rem;
                border: 0.125rem solid @blue-dark;
                .border-radius(50%);
                overflow: hidden;
                display: flex;
                justify-content: center;
                background: url(img/icon-personality-blue.svg) center center/3.0625rem no-repeat;
            }

            img {
                width: 100%;
                .border-radius(50%);
            }

            .img-upload-label {
                display: inline-block;
                cursor: pointer;

                .txt-small {
                    margin-top: 1rem;
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    font-family: @font-tertiary;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: @blue-dark;
                }
            }
        }

        .name {
            width: 60%;
            text-align: left;
            display: inline-block;
            float: left;
            padding-top: 5.3125rem;
            margin-left: 1rem;
            vertical-align: top;

            @media only screen and (max-width: 340px) {
                width: 49%;
            }
        }

        .txt {
            margin-top: 5.25rem;
            font-family: @font-tertiary;
            font-size: 1.5rem;
        }

        .row {
            margin-left: -1.1875rem;
            margin-right: -1.1875rem;
        }

        textarea {
            width: 100%;
            margin-top: 2rem;
            padding: 1rem 1rem;
            box-sizing: border-box;
            border: none;
            border-top: 1px solid @gray-blue-95p;
            border-bottom: 1px solid @gray-blue-95p;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.875rem;
            resize: none;
            height: 17.5rem;
            .placeholder(@gray-blue-80p);

            &:focus, &:active {
                outline: none;
            }
        }

        .clarification {
            font-family: @font-secondary;
            font-size: 1.5rem;
            float: right;
            color: @gray-blue-80p;
        }
    }

    // same elements for fitness and personality survey
    .fitness-survey, .personality-survey {

        &.completed {
            min-height: ~"calc(100vh - 8.875rem)";
            padding-bottom: 2rem;
        }

        .img-wrap {
            padding: 4.75rem 0;
            text-align: center;

            img {width: 15rem;}
        }

        .btn-big {
            width: 80%;
            margin: 4rem auto 2rem;
            font-size: 2rem;

            img {width: 1.8rem;}
        }
    }
    .survey-choice {
        box-sizing: border-box;
        .clearfix();

        input[type=radio] {display: none;}

        input[type=radio]:checked + label {

            &.fitness-label-1:before {background:@blue-main url(img/icon-answer-1-selected.svg) center center/3.625rem no-repeat;}

            &.fitness-label-2:before {background:@blue-main url(img/icon-answer-2-selected.svg) center center/3.625rem no-repeat;}

            &.fitness-label-3:before {background:@blue-main url(img/icon-answer-3-selected.svg) center center/3.625rem no-repeat;}

            &.fitness-label-4:before {background:@blue-main url(img/icon-answer-4-selected.svg) center center/3.625rem no-repeat;}

            &.fitness-label-5:before {background:@blue-main url(img/icon-answer-5-selected.svg) center center/3.625rem no-repeat;}
        }

        .fitness-label-1:before {background: url(img/icon-answer-1.svg) center center/3.625rem no-repeat;}

        .fitness-label-2:before {background: url(img/icon-answer-2.svg) center center/3.625rem no-repeat;}

        .fitness-label-3:before {background: url(img/icon-answer-3.svg) center center/3.625rem no-repeat;}

        .fitness-label-4:before {background: url(img/icon-answer-4.svg) center center/3.625rem no-repeat;}

        .fitness-label-5:before {background: url(img/icon-answer-5.svg) center center/3.625rem no-repeat;}

        label {
            cursor: pointer;
            display: inline-block;
            float: left;
            width: 20%;
            height: 5rem;
            box-sizing: border-box;
            text-align: center;
            position: relative;
            text-align: center;
            z-index: 2;

            &:before {
                position: absolute;
                content: "";
                width: 5.5rem;
                height: 5.5rem;
                top: -0.5rem;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                background-color: transparent;
                .border-radius(50%);
                .transition-variant(background, .3s, ease);
            }
        }
    }

    .txt-wrap {
        padding-top: 3rem;
        text-align: center;
        position: relative;
        letter-spacing: -0.12rem;

        span {
            display: inline-block;
            font-weight: 700;
            font-size: 1.5rem;

            @media only screen and (max-width: 300px) {font-size: 1.2rem;}

            &:first-of-type {
                position: absolute;
                left: 0;
                bottom: 0;
                padding-left: 1rem;
                text-align: left;
            }

            &:last-of-type {
                position: absolute;
                right: 0;
                bottom: 0;
                padding-right: 1rem;
                text-align: right;
            }
        }
    }

    //fitness survey pages
    .fitness-survey {
        min-height: ~"calc(100vh - 19.375rem )";

        &.page-start {

            .txt-bottom {
                margin-top: 6rem;
            }
        }

        &.question1 .img-wrap-inner {

            img {width: 5.875rem;}

            span {
                margin-top: 0.5rem;
                display: block;
            }
        }

        &.question2,
        &.question4 {
            .img-wrap-inner {
                padding: 4.5rem 0 0 0;

                img {width: 5.875rem;}

                span {
                    margin-top: 0.5rem;
                    display: block;
                }
            }
            .btn-wrap {
                text-align: center;
                margin: 4.5rem 0 0 0;
            }

        }

        &.question3 .img-wrap-inner {

            img {width: 3rem;}

            span {
                padding-left: 1rem;
                display: inline-block;
                text-align: left;
                -webkit-transform: translateY(-1rem);
                transform: translateY(-1rem);
            }
        }

        &.question4 .img-wrap-inner img {width: 3rem !important;}

        &.question5 .img-wrap-inner {

            img {width: 5.625rem;}

            span {
                margin-top: 0.5rem;
                display: block;
            }
        }

        &.question6 .img-wrap-inner {

            img {width: 7.25rem;}

            span {
                margin-top: 0.5rem;
                display: block;
            }
        }

        .img-wrap-inner {
            text-align: center;
            padding: 4.75rem 0;

            span {
                font-family: @font-secondary;
                font-size: 1.625rem;
            }
        }

        .txt,
        .txt-small,
        .txt-bottom {
            padding-right: 1rem;
            padding-left: 1rem;
            font-family: @font-secondary;
            font-weight: 300;
            text-align: center;
        }

        .txt {
            padding-top: 2rem;
            padding-bottom: 0.75rem;
            font-size: 2.375rem;
            letter-spacing: -0.04rem;
        }

        .txt-small {
            font-size: 1.75rem;
            line-height: 2.125rem;
            letter-spacing: -0.03rem;
        }

        .txt-bottom {font-size: 1.5rem;}

        .btn-wrap {
            text-align: center;
            margin: 4.75rem 0 0 0;
        }

        .btn-example {
            display: inline-block;
            padding: 0 0.5rem 0.5rem;
            border-bottom: 2px solid @blue-dark;
            text-transform: uppercase;
            color: @blue-dark;
            font-weight: 700;
            font-size: 1.375rem;
            letter-spacing: -0.07rem;
        }

        .ui-slider {
            min-height: 2.75rem;
            margin: 9.5rem 0 0 0;
            position: relative;
        }

        .slider-jquery {
            &.ui-slider-input {
                display: block;
                width: 100%;
                height: initial;
                font-size: 4.75rem;
                color: @blue-main;
                line-height: 1em;
                text-align: center;
                margin-top: -9.125rem;
            }

            & + .ui-slider-track {
                padding: 0;
                margin: 0 1.3125rem !important;

                &:before {
                    width: 1px;
                    font-family: @font-secondary;
                    font-size: 1.625rem;
                    font-weight: 400;
                    margin: 0 auto;
                    position: absolute;
                    top: -7.5rem;
                    left: 0;
                    right: 0;
                }

                .ui-slider-handle {
                    width: 2.625rem;
                    height: 2.625rem;
                    margin: -1.3125rem 0 0 -1.3125rem;
                    z-index: 3;
                }
            }

            &.q2 + .ui-slider-track:before {
                content: 'lb';
                padding-left: 6.5rem;
            }

            &.q4 + .ui-slider-track:before {
                content: 'Hours';
                padding-left: 3.875rem;
            }
        }

        .slider-wrapper {
            .dots-wrapper {
                width: ~"calc(100% - 2.625rem)";
                left: 1.375rem;

                .line-dot {
                    width: 9.09%;

                    &.last {width: 0;}
                }
            }

            .slide-value-min,
            .slide-value-max {
                font-family: @font-tertiary;
                font-size: 1.75rem;
                letter-spacing: -0.05rem;
                position: absolute;
                top: -2.5rem;
            }

            .slide-value-min {left: 0;}
            .slide-value-max {right: 0;}
        }

        & + footer {margin-top: 0;}
    }

    // personality survey pages
    .personality-survey {
        min-height: ~"calc(100vh - 18.5rem)";

        &.page-start {

            .txt-bottom {margin-top: 6rem;}
        }

        .txt, .txt-top, .txt-bottom {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 2.375rem;
            text-align: center;
            letter-spacing: -0.1rem;
            line-height: 3rem;
        }

        .txt-top {padding: 2.5rem 2.5rem 5vh;}

        .txt-bottom {font-size: 1.5rem;}

        .radio-line-form {

            .radio-wrap {
                margin: 0 2.5rem 2.5rem;
                position: relative;
            }

            input[type=radio] {display: none;}

            input:checked + label {
                &:before {
                    background-color: @blue-main;
                }
            }

            label {
                display: inline-block;
                width: 100%;
                font-family: @font-tertiary;
                font-size: 1.75rem;
                color: @color-text;

                &:before {
                    background: white url("img/ui-checkmark-white.svg") no-repeat center center;
                    background-size: 1.625rem auto;
                    width: 2.5rem;
                    height: 2.5rem;
                    display: inline-block;
                    margin: 0 1.875rem 0 0;
                    vertical-align: text-bottom;
                    content: "";
                    border: 0.125rem solid @blue-main;
                    .border-radius(50%);
                    .transition-variant(background-color, .3s, ease);
                }
            }
        }

        .one-of-two {
            box-sizing: border-box;
            .clearfix();

            input[type=radio] {display: none;}

            input:checked + label:before {
                background-color: @blue-main;
                background-image: url(img/ui-checkmark-white.svg);
                
            }

            label {
                line-height: 4rem;
                display: inline-block;
                width: 50%;
                box-sizing: border-box;
                float: left;
                text-align: center;
                position: relative;
                font-family: @font-tertiary;
                font-size: 1.75rem;
                cursor: pointer;

                &:before {
                    display: inline-block;
                    content: "";
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                    vertical-align: text-bottom;
                    border: 0.125rem solid @blue-main;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 1.375rem;
                    .border-radius(50%);
                    .transition-variant(background, .3s, ease);
                }
            }
        }

        .survey-choice {

            input[type="radio"]:checked + label {

                &:before {
                    background: @blue-main url(img/ui-checkmark-white.svg) center center/1.375rem no-repeat;
                }
            }

            label {
                background-image: none;

                &:before {
                    width: 2.5rem;
                    height: 2.5rem;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
                    border: 0.125rem solid @blue-main;
                    .transition-variant(background-color, .3s, ease);
                }

                &:after {content: normal;}
            }
        }

        & + footer {margin-top: 0;}
    }

    // paperwork pages
    .paperwork {
        text-align: center;

        &.page1 {

            .btn-big {
                margin-bottom: 2rem;
            }
        }

        &.page2 {

            .white-tile {
                min-height: ~"calc(100vh - 25rem)";
                padding-top: 6rem;
                padding-bottom: 6rem;
            }
        }

        &.page3.found {

            .white-tile {
                min-height: ~"calc(100vh - 10.75rem)";
                padding-top: 2rem;
                padding-bottom: 2rem;
            }

            img {
                padding: 2rem 0;
                width: 14.25rem;
            }

            .btn-big {
                font-size: 2rem;
                margin: 4rem auto;

                img {
                    width: 1.8rem;
                    padding: 0;
                }
            }
        }

        &.page3.not-found {

            .white-tile {
                min-height: ~"calc(100vh - 7rem)";
            }
        }

        .txt {
            padding: 2.25rem 0;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 2.25rem;
        }

        .txt-small {
            padding: 1rem 0 2.25rem;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.75rem;
        }

        .btn-big {
            width: 80%;
            margin: 0 auto;
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 2.375rem;
        }

        .link-blue {
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 1.5rem;
        }

        .code-num, .birthday-form {
            text-align: center;
            padding-top: 3.5rem;
            padding-bottom: 5rem;
        }

        .input-code-num {
            height: 4.6rem;
            width: 6.125rem;
            padding: 0;
            font-family: @font-secondary;
            font-size: 3.75rem;
            font-weight: 300;
            text-align: center;
            margin: 0 0.4375rem;
            border: none;
            border-bottom: 0.1875rem solid @blue-dark;
            outline: none;
            .placeholder(@gray-blue-80p);
            .border-radius(0);
        }

        .birthday-form select {
            margin: 0 0.4375rem;
            border: none;
            border-bottom: 0.1875rem solid @blue-dark;
            .border-radius(0);
            background: #fff;
            outline: none;
            font-size: 1.375rem;
            font-weight: 700;
            color: @color-text;
            text-transform: uppercase;
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            z-index: 1;


            &#birthday-month {
                width: 13.125rem;
                text-indent: 32%;
            }

            &#birthday-day {
                width: 6.125rem;
                text-indent: 27%;
            }

            &#birthday-year {
                width: 6.125rem;
                text-indent: 21%;
            }

            .placeholder {
                display: none;
            }
        }

        .two-part-standart {

            .top-part {
                padding: 0.875rem 1.25rem;
                font-family: @font-tertiary;
                font-weight: 700;
                font-size: 1.75rem;
                color: #fff;

                p:last-child {margin-top: 1rem;}

                .distance {
                    font-weight: 400;
                    font-size: 1.25rem;

                    img {
                        width: 1.2rem;
                        margin-right: 0.5rem;
                    }
                }
            }

            .bottom-part {
                padding: 0.875rem 1.25rem;
                font-family: @font-tertiary;
                font-size: 1.75rem;
                text-align: center;

                .time, .location {text-align: left;}

                .date img {
                    width: 2.375rem;
                    margin: 0 0.7rem 0 0.5rem;
                    -webkit-transform: translateY(0.5rem);
                    transform: translateY(0.5rem);
                }

                .location {
                    margin-top: 1.5rem;

                    img {
                        width: 1.5rem;
                        margin: 0 1rem;
                        -webkit-transform: translateY(0.3rem);
                        transform: translateY(0.3rem);
                    }
                }

                hr {
                    margin-top: 1.5rem;
                    border-color: @gray-blue-95p;
                }

                .btn-rsvp {
                    display: inline-block;
                    margin: 1px 0;
                    padding: 0.25rem 3rem;
                    font-size: 1.5rem;
                    color: @blue-dark;
                    border: 2px solid @blue-dark;
                    .border-radius(2rem);
                }
            }
        }
    }

    // Certifications page
    .filter-list.certifications {
        li {
            padding: 0.875rem 0 0.875rem 4.625rem;
            border: none;

            &.section-title {
                padding: 0;

                span {padding: 3.3125rem 0 1.25rem 1.1875rem;}
            }
        }

        .custom-radio {
            & + label:before {border-color: @blue-dark;}
        }
    }
}

// Add phone number
.workers-profile-subpages-wrapper.add-phone {
    h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .subpage-dots-wrapper {
        padding-top: 1.75rem;
        
        .subpage-dot {border-color: @gray-blue-57p;}
    }

    .note-big {
        padding: 2.25rem 8% 0 8%;
        font-family: @font-secondary;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        line-height: 2.5rem;
        letter-spacing: -0.01rem;

        img {
            height: 4rem;
            width: auto;
            padding-top: 1rem;
        }
    }

    form {
        padding-left: 0;
        padding-right: 0;

        &.phone-num {
            padding-top: 6.5rem;
            padding-bottom: 0;
        }

        &.code-num {
            text-align: center;
            padding-top: 4.5rem;
            padding-bottom: 2.125rem;
        }

        .input-signup {
            width: 80% !important;
            float: right;
        }

        .input-code-num {
            height: 4.6rem;
            width: 6.125rem;
            padding: 0;
            font-family: @font-secondary;
            font-size: 3.75rem;
            font-weight: 300;
            text-align: center;
            margin: 0 0.4375rem;
            border: none;
            border-bottom: 0.1875rem solid @blue-dark;
            outline: none;
            .placeholder(@gray-blue-80p);
            .border-radius(0);
        }
    }

    .select-country {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center 0.5625rem;
        width: 4.375rem;
        height: 5.5rem;
        float: left;
        position: relative;

        &.flagName-usa, .flagName-usa {
            background-image: url("img/flag-usa.svg");
            background-size: 4.1875rem auto;
        }

        &.flagName-can, .flagName-can {
            background-image: url("img/flag-canada.svg");
            background-size: 4.1875rem auto;
        }

        &.flagName-bul, .flagName-bul {
            background-image: url("img/flag-bul.svg");
            background-size: 4.1875rem auto;
        }

        .arrow-down {
            width: 100%;
            height: 1.625rem;
            background: transparent url("img/ui-arrow-line-down-blue.svg") no-repeat top center;
            background-size: 2rem auto;
            margin-top: 3.75rem;
        }

        .select-country-popup {
            display: none;
            width: 100%;
            padding: 1rem 10% 0 10%;
            -webkit-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
            background-color: #fff;
            position: absolute;
            top: 5.5rem;
            left: -10%;
            z-index: 2;
            .border-radius(0.625rem);

            .btn-flag {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 3.1875rem auto;
                width: 4.375rem;
                height: 2.1875rem;
                margin-bottom: 1rem;
            }
        }
    }

    .bottom-note {
        padding-top: 8rem;
        font-family: @font-secondary;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.875rem;
        letter-spacing: -0.02rem;
        text-align: center;
    }

    .link-resend {
        display: block;
        font-size: 1.375rem;
        font-weight: 700;
        letter-spacing: -0.07rem;
        text-align: center;
        margin: 0 20%;
    }
}

// Customer side - Account Info
.workers-profile-subpages-wrapper > .profile.customer-account-info {
    .choice-txt,
    .choice-devider,
    .enter-num-title,
    .enter-num-input,
    .enter-num-subtitle,
    .enter-num-note,
    .paperwork-title,
    .paperwork-subtitle,
    .paperwork-note,
    .success-title,
    .success-subtitle,
    .success-note {
        font-family: @font-secondary;
        font-weight: 300;
        letter-spacing: -0.04rem;
        text-align: center;
    }

    .choice-txt {
        padding: 6.25rem 1.1875rem 2.375rem 1.1875rem;
        font-size: 2.25rem;
        line-height: 2.875rem;

        &.pending {
            padding-top: 4.625rem;
            padding-bottom: 1.375rem;

            span {
                display: inline-block;
                padding-top: 1rem;
                font-size: 2.125rem;
                color: @gray-blue-57p;
            }
        }
    }

    .choice-link {
        display: block;
        width: 50%;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        text-align: center;
        margin: 0 auto;
    }

    .choice-devider {
        border-top: 2px solid @gray-blue-95p;
        margin-top: 7.625rem;

        span {
            display: inline-block;
            background-color: white;
            padding: 0 1rem;
            font-size: 2.25rem;
            line-height: 2.25rem;
            margin-top: -1.125rem;
        }
    }

    .enter-num-title {
        padding: 4rem 0 4.375rem 0;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .enter-num-input {
        height: 4.6rem;
        width: 60%;
        padding: 0;
        font-size: 3.75rem;
        margin: 0 20%;
        border: none;
        border-bottom: 0.1875rem solid @blue-dark;
        outline: none;
        .placeholder(@gray-blue-80p);
        .border-radius(0);
    }

    .enter-num-subtitle {
        padding: 9.375rem 0 2.875rem 0;
        font-size: 1.875rem;
        line-height: 2.375rem;
    }

    .enter-num-note {
        padding-bottom: 1.25rem;
        font-size: 1.5rem;
    }

    .enter-num-contact {
        display: block;
        width: 11.875rem;
        height: 3.125rem;
        font-size: 1.5rem;
        letter-spacing: -0.07rem;
        margin: 0 auto;
        .border-radius(1.7rem);

        &.bottom-space {margin-bottom: 3rem;}
    }

    .paperwork-title {
        padding: 2.625rem 0 1.875rem 0;
        font-size: 2.625rem;
    }

    .paperwork-subtitle {
        padding-bottom: 1.75rem;
        font-size: 2.25rem;
        line-height: 2.875rem;
    }

    .paperwork-steps {
        padding: 0 5% 1.25rem 5%;
        font-family: @font-secondary;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        letter-spacing: -0.04rem;

        span {
            display: inline-block;
            padding: 0 0.375rem 0.5rem 0;
            float: left;
        }
    }

    .paperwork-email {
        display: block;
        width: 30rem;
        font-size: 2.375rem;
        margin: 1rem auto 4.375rem auto;
    }

    .paperwork-note {
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    .img-wrap {
        padding: 1px;
    }

    .success-img {
        width: 14.1875rem;
        display: block;
        margin: 4.625rem auto 3.125rem auto;
    }

    .success-title {
        font-size: 2.625rem;
        line-height: 2.875rem;
    }

    .success-subtitle {
        font-size: 2.225rem;
        line-height: 2.875rem;
    }

    .success-note {
        padding: 4.625rem 0 1rem 0;
        font-size: 1.75rem;
        line-height: 2.375rem;
    }

    .success-workers {
        display: block;
        width: 30rem;
        font-size: 2.375rem;
        margin: 1rem auto 4.375rem auto;
    }

    .manage-acc-tile {
        background-color: white;
        padding: 0 1.1875rem;
        margin: 1.1875rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius-top(4px);
    }

    .manage-acc-title {
        padding-top: 1.5rem;
        font-size: 1.875rem;
        font-weight: 700;
        letter-spacing: -0.08rem;
    }

    .manage-acc-txt {
        padding: 0.875rem 0 1rem 1rem;
        font-family: @font-secondary;
        font-size: 1.75rem;
        font-weight: 300;
        line-height: 2.5rem;
        letter-spacing: -0.04rem;

        .date {float: right;}
    }

    .manage-acc-btns {
        padding-bottom: 1.75rem;
        text-align: center;
        margin-bottom: 0.375rem;
        border-bottom: 2px solid @gray-blue-95p;

        &:last-of-type {
            margin-bottom: 0;
            border-bottom: none;
        }

        button {
            padding: 0 3rem;
            height: 3.125rem;
            font-size: 1.5rem;
            letter-spacing: -0.07rem;
            margin: 0 0.875rem;
            .border-radius(1.6rem);
        }
    }

    .about-me-wrap {
        padding-top: 1.75rem;

        .profile-pic {
            background-color: @gray-blue-95p;
            width: 10.625rem;
            height: 10.625rem;
            font-size: 4rem;
            color: @gray-blue-80p;
            line-height: 10.625rem;
            margin: 0 auto;
        }

        .links-wrap {
            padding-bottom: 1.75rem;
            text-align: center;

            a {
                display: inline-block;
                padding: 0.5rem 1.5rem;
                font-family: @font-tertiary;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        .input-name {
            width: 48%;
            height: 5.5rem;
            padding: 0 3%;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.75em;
            color: black;
            letter-spacing: -0.01rem;
            margin-left: 1%;
            margin-right: 1%;
            border: 2px solid @gray-blue-95p;
            outline: none;
            box-sizing: border-box;
            float: left;
            .border-radius(0.625rem);
        }

        .btn-save {
            width: 100%;
            font-size: 2.375rem;
            margin-top: 11rem;
        }
    }
}