.schedule-summary {

    header {

        h1 {
            margin: 1.2rem 0;
            line-height: normal;
            max-width: 80%;

            .schedule-name {
                display: block;
                font-size: 1.25rem;
            }
        }

        .txt {
            max-width: 80%;
            margin: 1.5rem auto;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 2.25rem;
            line-height: 3rem;
        }

        .workers-wrap-img {
            display: inline-block;
            margin: 1.5rem 0.25rem 2.5rem;
            vertical-align: top;

            .worker-name {
                font-weight: 700;
                font-size: 1rem;
                color: @color-text;
            }

            .profile-pic {
                display: inline-block;
                // margin: 0 auto;
                width: 4.25rem;
                height: 4.25rem;
                line-height: 4.25rem;
                background-color: @gray-blue-95p;
                font-size: 2.625rem;
                color: @gray-blue-80p;
                vertical-align: middle;
                .border-radius(50%);

                @media screen and (min-width: 639px) {
                    width: 3.75rem;
                    height: 3.75rem;
                    line-height: 3.75rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        hr {border: 1px solid @gray-blue-80p;}

        .day-selector-wrapper {margin-bottom: .5rem;}
    }

	.schedule-tile {
        background-color: white;
        padding: 1.1875rem 3% 1px;
        margin: 1.25rem 1.5% 0 1.5%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius-top(4px);

        .top-part {
            .clearfix();
            margin: 0 0 1.5rem;

            .schedule-num {
            	display: inline-block;
            	font-family: @font-secondary;
            	font-weight: 300;
            	font-size: 1.5rem;
            	color: @color-text;
            	padding: 0.5rem 0;
            }

            .btn-edit-schedule {
            	float: right;
            	font-family: @font-tertiary;
            	font-weight: 700;
            	font-size: 1.375rem;
            	color: @blue-dark;
            	width: 11.875rem;
            	text-align: center;
            	padding: 0.5rem 0;
            	border: 0.125rem solid @blue-dark;
            	.border-radius(2rem);
            }
        }

        .day-selector-wrapper {margin: 1rem auto;}

        .schedule-text-separator {color: @color-text !important;}
    }

    .btn-wrap {
        margin: 0 1.5%;
    	.clearfix();

    	.btn-half-inner {
    		display: block;
    		width: 50%;
    		float: left;
    		box-sizing: border-box;
    		border-right: 2px solid #009fd6;
    		padding: 1.25rem 0;
    		text-align: center;
    		font-family: @font-tertiary;
    		font-weight: 700;
    		font-size: 1.5rem;
    		color: #c4ecff;
            height: 9.4375rem;
            .border-radius-bottom(4px);

            @media screen and (max-width: @size-tablet) {
                height: 13rem;
            }
            .transition-variant(all, .3s, ease);

    		&:last-child {
    			border-right: none;
    			border-left: 2px solid #15bef9;
    		}

    		img {
    			display: block;
    			margin: 0 auto 1.25rem;
                .transition-variant(margin, .3s, ease);
    		}

            .small-txt {
                &:after {
                    .transition-variant(all, .3s, ease);
                }
                &.off:after {content: "OFF";}
                &.on:after {content: "ON";}
            }

            .txt {
                display: block;
                font-size: 1rem;
                color: white;
                text-transform: uppercase;
                margin: .25rem 0 0;
                display: none;
            }

            &.auto-hire-on {
                padding: 1.25rem 0 0.75rem;
                background-color: #009acf;

                img {margin: 0 auto 0.5rem;}

                .txt {display: block;}
            }
    	}
    }

    .full-link {
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
    }

    // survey page styles
    .survey {

        .btn-line {display: block;}
    }

    .btn-line {
        min-width: 4.375rem;
        padding: .75rem 3.75rem;
        display: inline-block;
        text-align: center;
        font-family: @font-tertiary;
        font-size: 1.375rem;
        .border-radius(2rem);
        .transition-variant(all, .3s, ease);

        &:hover {
            background-color: @blue-dark;
            color: #fff;
        }
    }

    // accept applicants page
    .worker-list {padding-bottom: 0 !important;}

    .applicants-part {

        .worker-tile {padding-bottom: 0 !important;}

        &.select-workers .select-btn {display: block !important;}

        &.accept-applicants .btn-wrap {padding-bottom: 1rem;}

        .inner-fix {
            margin-left: -6px;
            margin-right: -6px;
        }

        .select-wrapper {
            display: block !important;
            text-align: center;
            position: relative;
            .clearfix();

            label {
                position: absolute;
                left: 3%;
                color: @color-text;
            }

            span {
                display: inline-block;
                font-family: @font-primary;
                font-weight: 700;
                font-size: 1.5rem;
                color: @gray-blue-57p;
                line-height: 2.75rem;
            }
        }

        .date-applied {
            font-family: @font-secondary;
            font-weight: 700;
            font-size: 0.75rem;
            color: @gray-blue-57p;
            text-transform: uppercase;
        }

        .available-dates {
            margin: .5rem 0 0.5rem;
            padding: 1rem 0 0;
            border-top: 2px solid @gray-blue-80p;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .links-wrapper, .rate, .stat-wrapper {display: block !important;}

        .links-wrapper {
            text-align: center;
            .clearfix();

            .save-btn {float: left;}
        }

        .match-cont {display: inline-block !important;}

        .btn-wrap {
            text-align: center;
            border-top: 2px solid @gray-blue-80p;
            margin: 0 0;
        }

        .btn-line {
            display: inline-block;
            margin: 1rem 1rem 0;
        }
    }
    
    .worker-tile {

        .more-btn {
            background: transparent url("img/ui-arrow-thin-right-blue.svg") no-repeat right center;
            background-size: 1rem auto;
            display: block;
            height: 5rem;
            padding-right: 1.625rem;
            font-family: @font-tertiary;
            font-size: 1.375em;
            font-weight: 700;
            color: @blue-dark;
            text-transform: uppercase;
            line-height: 5rem;
            float: right;
        }
    }

    // my hires page
    .my-hires {
        text-align: center;

        .white-wrap {margin-top: 0;}

        .day-selector-wrapper {
            margin-top: 1.5rem;
        }

        hr {
            margin: 1rem 2rem;
            border-top: none;
            border-color: @gray-blue-80p;
        }

        .my-hires-inner {
            max-width: 70%;
            margin: 0 auto;
            .clearfix();
        }

        .workers-wrap-img {
            display: inline-block;
            margin: 1rem 0 2rem;
            vertical-align: top;
            width: 50%;
            max-width: 50%;
            box-sizing: border-box;
            float: left;

            a {display: block;}

            .worker-name {
                display: block;
                font-weight: 700;
                font-size: 1rem;
                color: @color-text;
            }

            img {
                width: 4.25rem;
                height: auto;
                vertical-align: middle;
                .border-radius(50%);

                @media screen and (min-width: 639px) {
                    width: 3.75rem;
                }
            }
        }
    }

    .worker-profile {

        .worker-tile {padding-bottom: 1.1875rem !important;}

        .last-24hr{display: block !important;}
    }
}