.search-area-wrapper {
    min-height: 100vh;

    header {
        .search-wrapper {margin: 0.375rem 0 2.125rem 0;}
    }

    .map-wrapper {
        height: 28.25rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
    }

    .map-details {
        background-color: white;
        padding-bottom: 2rem;
        margin: -2.75rem 1.1875rem 0 1.1875rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        position: relative;
        z-index: 10;
        .border-radius-top(0.25rem);

        h2 {
            padding: 4.75rem 0 2.5rem 0;
            font-family: @font-secondary;
            font-size: 2.5rem;
            font-weight: 300;
            text-align: center;
        }
    }

    .area-name {
        background: @blue-main url("img/ui-arrow-line-right-white.svg") no-repeat right 1.1875rem center;
        background-size: 1.25rem auto;
        display: block;
        height: 5.625rem;
        padding: 0 1.1875rem;
        font-family: @font-tertiary;
        font-size: 1.75em;
        font-weight: 700;
        color: white;
        line-height: 5.625rem;
        .border-radius-top(0.25rem);
    }

    .radius-values {
        padding: 0 1.1875rem;
        position: relative;
        .clearfix();

        .bg-line {
            height: 0.8125rem;
            border-bottom: 3px dashed @gray-blue-95p;
        }
    }

    .radius-link {
        width: 18%;
        font-size: 1.75em;
        text-align: center;
        float: left;

        &.first {
            text-align: left;
        }

        &.middle {
            margin: 0 5%;
        }

        &.last {
            text-align: right;
            float: right;
        }

        &.active {
            .radius-dot {background-color: @blue-dark;}
            span {
                font-weight: 700;
                color: @blue-dark;
            }
        }

        span {
            display: block;
            letter-spacing: -0.06rem;
        }
    }

    .radius-dot {
        display: inline-block;
        background-color: @gray-blue-95p;
        width: 1.6875rem;
        height: 1.6875rem;
        .border-radius(50%);
    }

    // Change search area page
    .current-loc {
        display: block;
        background: transparent url("img/ui-location.svg") no-repeat left 1.5rem;
        background-size: 1.5rem auto;
        padding: 1.25rem 0 0 2.625rem;
        font-family: @font-tertiary;
        font-size: 1.75em;
        line-height: 3rem;
        letter-spacing: 0.02rem;
        margin: 0 2.375rem;

        &.home-loc {
            background: transparent url("img/ui-home-blue.svg") no-repeat left 1.125rem;
            background-size: 2.875rem auto;
            padding-left: 4rem;
        }

        &.hidden {display: none;}
    }

    .search-results {
        background-color: white;
        min-height: ~"calc(100vh - 11.1875rem - 1.1875rem - 2rem - 4.25rem)";
        //            (100vh - header - margin - padding - current location)
        padding-bottom: 2rem;
        font-family: @font-tertiary;
        font-size: 1.75em;
        margin: 1.1875rem 1.1875rem 0 1.1875rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.33);
        .border-radius-top(0.25rem);

        h2 {
            padding: 0 1.1875rem;
            font-size: 1.5rem;
            line-height: 3.5625rem;
            border-bottom: 1px solid @gray-blue-80p;
        }

        ul {
            li {border-bottom: 1px solid @gray-blue-80p;}

            a {
                display: block;
                padding: 1.6875rem 1.1875rem;
                line-height: 1.2em;
            }
        }

        &.location-icons ul a {
            background: transparent url("img/ui-location.svg") no-repeat 1.1875rem center;
            background-size: 1.5625rem auto;
            padding-left: 3.875rem;
        }
    }

    .current-loc.hidden + .search-results,
    .no-current-loc {
        min-height: ~"calc(100vh - 11.1875rem - 1.1875rem - 2rem)";
        //            (100vh - header - margin - padding)

    }
}

@media (max-width: @size-tablet) {
    .search-area-wrapper {
        .radius-values {
            .bg-line {border-width: 2px;}
        }
    }
}