.select-jobSchedule-wrapper {
    .urgent-txt {
        padding-top: 4.75rem;
        font-size: 2.125em;
        font-weight: bold;
        color: @gray-blue-57p;
        line-height: 3rem;
        letter-spacing: -0.06rem;
        text-align: center;
    }

    .urgent-form {
        padding-bottom: 10rem;
        text-align: center;

        ul {
            display: table;
            padding: 1.75rem 0;
            margin: 0 auto;
        }

        li {
            display: table;
            padding: 0.625rem 0;
        }
    }

    .urgent-date-note {
        padding-top: 1.125rem;
        font-family: @font-secondary;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: -0.02rem;
    }

    .js-setDeadline-hrs {display: none;}
}