.signin-bg {
    &:before {
        content: "";
        background: transparent url("img/login-bg.jpg") no-repeat center top;
        background-size: cover;
        display: block;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -1;
    }
}

.signin-pages {
    position: relative;

    .logo-header {
        min-height: 6.75rem;
        text-align: center;
        margin: 0 2.375rem;
        border-bottom: 2px solid @gray-blue-95p;
    }

    img.logo {
        display: inline-block;
        width: auto;
        height: 3.25rem;
        padding-top: 1.6875rem;
        margin-right: -1.875rem;

        &.workers-side {
            margin-right: 0;
            margin-left: -3rem;
        }
    }

    .link-close {
        display: block;
        background: transparent url("img/ui-close-blue.svg") no-repeat right center;
        background-size: 1.75rem auto;
        width: 1.875rem;
        height: 6.75rem;
        float: right;
    }

    .link-menu {
        display: inline-block;
        background: transparent url("img/ui-menu.svg") no-repeat left center;
        background-size: 2.8125rem auto;
        width: 3rem;
        height: 6.75rem;
        float: left;
    }

    h1 {
        font-family: @font-secondary;
        font-weight: 300;
        letter-spacing: -0.04rem;
    }

    .subpage-dots-wrapper {
        .subpage-dot {
            border-color: @gray-blue-95p;

            &.done {border-color: @gray-blue-57p;}
        }
    }

    .input-placeholder {position: relative;}

    form {
        // padding: 1.625rem 2.375rem 0 2.375rem;
        padding: 26px 38px 0 38px;
        .clearfix();

        @media screen and (max-width: @size-tablet) {
            padding: 14px 21px 0 21px;
        }

        .input-signup {
            height: 5.5rem;
            padding: 0 3%;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.75em;
            color: black;
            letter-spacing: -0.04rem;
            margin-left: 1.25%;
            margin-right: 1.25%;
            border: 2px solid @gray-blue-95p;
            outline: none;
            box-sizing: border-box;
            .placeholder(@gray-blue-80p);

            &:focus {
                background-color: @gray-blue-95p;
            }
        }

        .input-single {
            margin-bottom: 0.625rem;
            .border-radius(0.625rem);
        }

        .input-half {
            width: 47.5%;
            float: left;
        }

        .input-full {
            width: 97.5%;
        }

        .input-multi-first {
            border-bottom: none;
            .border-radius-top(0.625rem);
        }

        .input-multi-last {
            margin-bottom: 0.625rem;
            .border-radius-bottom(0.625rem);
        }

        .input-arrow-link {
            display: block;
            background: transparent url("img/ui-arrow-line-right-blue.svg") no-repeat right 1.625rem center;
            background-size: auto 1.875rem;
            width: 100%;
            height: 5.25rem;
            position: absolute;
            top: 2px;
            right: 0;
        }

        .btn-create {
            width: 97.5%;
            font-size: 1.75em;
            margin: 1.75rem auto 0 auto;
        }

        .btn-signin {
            width: 97.5%;
            font-size: 2.375em;
            margin: 1.25rem auto 0 auto;
        }
    }

    .agreement-note, .disclaimer-note {
        padding: 0 3.75rem;
        font-family: @font-secondary;
        font-size: 1.25rem;
        font-weight: 300;
        line-height: 1.875rem;
        letter-spacing: -0.02rem;
        text-align: center;
    }

    .agreement-note {color: @gray-blue-57p;}
    .disclaimer-note {padding-top: 2rem;}
}

.pick-account-wrapper {
    h1 {
        padding: 3.125rem 0 0 0;
        font-size: 3em;
        text-align: center;
    }

    .subpage-dots-wrapper {padding-top: 1.75rem;}
    
    .acc-choice-wrapper {
        padding-top: 3.375rem;
        text-align: center;
        .clearfix();

        span {
            display: inline-block;
            font-size: 1.875em;
            font-weight: 700;
            letter-spacing: -0.09rem;
            padding-top: 4.625rem;
        }
    }

    .acc-btn-wrapper {
        width: 11.375rem;
        font-family: @font-tertiary;
        font-size: 1.875em;
        font-weight: 700;
        line-height: 1.2em;
        letter-spacing: 0.02rem;

        &.btn-personal {
            margin-left: 7%;
            float: left;

            button {
                background: transparent url("img/icon-acc-personal-black.svg") no-repeat center 42%;
                background-size: 3.75rem auto;
            }
        }

        &.btn-business {
            margin-right: 7%;
            float: right;

            button {
                background: transparent url("img/icon-acc-business-black.svg") no-repeat center 42%;
                background-size: 7.25rem auto;
            }
        }

        &.active {
            color: @blue-dark;

            &.btn-personal button {background-image: url("img/icon-acc-personal-blue.svg");}
            &.btn-business button {background-image: url("img/icon-acc-business-blue.svg");}
            button {border-color: @blue-dark;}
        }

        button {
            width: 10.875rem;
            height: 10.875rem;
            border: 3px solid @color-text;
            margin-bottom: 0.6875rem;
            outline: none;
            .border-radius(50%);
        }
    }

    .acc-choice-txt {
        display: none;
        padding-top: 3.125rem;
        font-family: @font-secondary;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        letter-spacing: -0.02rem;
        color: @blue-dark;
        text-align: center;

        &.active {display: block;}
    }
}

@media (max-width: @size-tablet) {
    .pick-account-wrapper {
        .acc-btn-wrapper {
            button {border-width: 2px;}
        }
    }
}

.signup-wrapper {
    h1 {
        height: 4rem;
        font-size: 3rem;
        text-align: center;
        margin-top: 2.5rem;

        img {
            width: auto;
            height: 3rem;
            margin-bottom: -0.25rem;
        }
    }

    .subpage-dots-wrapper {padding-top: 0.5rem;}

    .have-acc {
        padding: 0.875rem 0 2rem 0;
        font-size: 1.375em;
        font-weight: 700;
        letter-spacing: -0.07rem;
        text-align: center;
    }
}

.signup-modal {
    h1 {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.signin-wrapper {
    h1 {
        padding-top: 2.875rem;
        font-size: 3em;
        text-align: center;
    }

    form {
        position: relative;

        .btn-signin {margin-top: 2.375rem;}
    }

    .btn-show-pass {
        background: transparent url("img/ui-eye-2.svg") no-repeat right center;
        background-size: 3rem auto;
        width: 3.125rem;
        height: 5.25rem;
        position: absolute;
        top: 7.25rem;
        right: 4.125rem;

        &.shown {
            background-image: url("img/ui-eye-crossed-2.svg");
        }
    }

    .forgot-pass {
        padding: 0.375rem 0 0 1%;
        font-size: 1.375em;
        font-weight: 700;
        letter-spacing: -0.07rem;
        color: @blue-dark;
    }

    .divider-newgj {
        width: calc(~"100% - 4.75rem");
        margin: 2.5rem auto;
        font-family: @font-secondary;
        font-size: 1.5em;
        font-weight: 300;
        letter-spacing: -0.01rem;
        text-align: center;
        position: relative;

        & > div {
            width: calc(~"50% - 6.25rem");
            background-color: @gray-blue-95p;
            height: 2px;
            position: absolute;
            top: 0.75rem;
        }

        & > div:first-child {left:0;}
        & > div:last-child {right:0;}            
    }

    .btn-create {
        width: calc(~"98% - 4.75rem");
        margin: 0 auto 3.25rem auto;
        font-size: 2.375em;
    }
}

.phone-add-wrapper {
    h1 {
        padding: 2rem 13% 0 13%;
        font-size: 3rem;
        text-align: center;
    }

    .subpage-dots-wrapper {padding-top: 1.75rem;}

    .note-big {
        padding: 2.25rem 8% 0 8%;
        font-family: @font-secondary;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        line-height: 2.5rem;
        letter-spacing: -0.01rem;

        img {
            height: 4rem;
            width: auto;
            padding-top: 1rem;
        }
    }

    form {
        &.phone-num {
            padding-top: 2.625rem;
            padding-bottom: 5rem;
        }

        &.code-num {
            text-align: center;
            padding-top: 4.5rem;
            padding-bottom: 2.125rem;
        }

        .input-signup {
            width: 80% !important;
            float: right;
        }

        .input-code-num {
            height: 4.6rem;
            width: 6.125rem;
            padding: 0;
            font-family: @font-secondary;
            font-size: 3.75rem;
            font-weight: 300;
            text-align: center;
            margin: 0 0.4375rem;
            border: none;
            border-bottom: 0.1875rem solid @blue-dark;
            outline: none;
            .placeholder(@gray-blue-80p);
            .border-radius(0);
        }
    }

    .select-country {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center 0.5625rem;
        width: 4.375rem;
        height: 5.5rem;
        float: left;
        position: relative;

        &.flagName-usa, .flagName-usa {
            background-image: url("img/flag-usa.svg");
            background-size: 4.1875rem auto;
        }

        &.flagName-can, .flagName-can {
            background-image: url("img/flag-canada.svg");
            background-size: 4.1875rem auto;
        }

        &.flagName-bul, .flagName-bul {
            background-image: url("img/flag-bul.svg");
            background-size: 4.1875rem auto;
        }

        .arrow-down {
            width: 100%;
            height: 1.625rem;
            background: transparent url("img/ui-arrow-line-down-blue.svg") no-repeat top center;
            background-size: 2rem auto;
            margin-top: 3.75rem;
        }

        .select-country-popup {
            display: none;
            width: 100%;
            padding: 1rem 10% 0 10%;
            -webkit-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
            -moz-box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
            box-shadow: 0px 0px 1rem 0px rgba(0,0,0,0.2);
            background-color: #fff;
            position: absolute;
            top: 5.5rem;
            left: -10%;
            z-index: 2;
            .border-radius(0.625rem);

            .btn-flag {
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 3.1875rem auto;
                width: 4.375rem;
                height: 2.1875rem;
                margin-bottom: 1rem;
            }
        }
    }

    .link-resend {
        display: block;
        font-size: 1.375rem;
        font-weight: 700;
        letter-spacing: -0.07rem;
        text-align: center;
        margin: 0 auto;
    }
}

.signup-modal-verified {
    .img-icon {width: 14.125rem;}
}

.login-menu-header {
    background-color: rgba(0,30,39,0.4);
    height: 9.375rem;
    text-align: center;

    .logo-menu {
        display: inline-block;
        width: 20.875rem;
        height: auto;
        padding-top: 2.875rem;
    }

    .link-menu-home,
    .link-menu-close {
        display: block;
        width: 3.5rem;
        height: 9.375rem;
    }

    .link-menu-home {
        background: transparent url("img/ui-home-simple-white.svg") no-repeat center left;
        background-size: 3.1875rem auto;
        float: left;
    }

    .link-menu-close {
        background: transparent url("img/ui-close-white.svg") no-repeat center right;
        background-size: 1.75rem auto;
        float: right;
    }
}

.login-menu-footer {
    background-color: rgba(0,30,39,0.4);
    width: 100%;
    height: 9.375rem;
    text-align: center;
    position: absolute;
    bottom: 0;
}

@media screen and (max-height: 510px) {
    .login-menu-footer {
        position: relative;
    }
}

@media screen and (max-height: 923px) and (min-width: @size-tablet) {
    .login-menu-footer {
        position: relative;
    }
}

.login-menu {
    padding-left: 24%;

    a, button {
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 3.75rem auto;
        display: inline-block;
        padding-left: 5.5rem;
        font-family: @font-tertiary;
        font-size: 1.625em;
        font-weight: 700;
        line-height: 6.125rem;
        letter-spacing: 0.04rem;
        color: white;
        text-transform: uppercase;

        &.lmenu_find-workers {background-image: url("img/menu-find-white.svg");}
        &.lmenu_how-works {background-image: url("img/menu-help-white.svg");}
        &.lmenu_contact {background-image: url("img/menu-contact-white.svg");}
        &.lmenu_jobs {background-image: url("img/menu-jobs-white.svg");}
        &.lmenu_schedule {background-image: url("img/menu-schedule-white.svg");}
        &.lmenu_profiles {background-image: url("img/menu-pin-white.svg");}
        &.lmenu_browse {background-image: url("img/menu-browse-white.svg");}
        &.lmenu_account {background-image: url("img/menu-cog-white.svg");}
        &.lmenu_time {background-image: url("img/menu-clock-white.svg");}
        &.lmenu_pay {background-image: url("img/menu-card-white.svg");}
        &.lmenu_positions {background-image: url("img/menu-job-positions.svg");}
    }
}

.login-modal {
    .contact-title {padding-bottom: 1.75rem;}

    .link-contact {
        display: block;
        width: 17rem;
        font-family: @font-tertiary;
        font-size: 1.75rem;
        line-height: 4.25rem;
        letter-spacing: 0.02rem;
        text-align: center;
        margin: 0 auto;
        .border-radius(2.25rem);
    }

    .contact-info {
        font-family: @font-tertiary;
        font-size: 1.25rem;
        font-weight: 400;
        color: @gray-blue-57p;
        letter-spacing: 0.02rem;
        text-align: center;
    }
}

.loggedout-wrapper {
    color: white;

    .login-menu {
        padding-top: 6.75rem;
        padding-bottom: 7rem;
    }

    .loggedout-btns {
        text-align: center;

        .link-btn {
            display: inline-block;
            width: 14.25rem;
            font-size: 2.375em;
            margin: 0 0.5rem;
        }
    }
    
    .login-note {
        padding-top: 1rem;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: -0.02rem;
        text-align: center;
    }
    
    .contact-agent {
        width: 30rem;
        font-size: 2.375rem;
        margin: 0 auto;
    }
}

.loggedin-wrapper {
    min-height: 100%;
    color: white;

    .login-menu {
        padding-top: 4.125rem;
        padding-bottom: 4.125rem;
    }

    .contact-agent {
        width: 30rem;
        font-size: 2.375rem;
        margin: 0 auto 2rem;
    }

    .my-agent {
        display: inline-block;
        margin-top: 2rem;
        text-align: left;
        .clearfix();

        .profile-pic {
            background-color: @gray-blue-57p;
            width: 5.5rem;
            height: 5.5rem;
            font-size: 2.125rem;
            line-height: 5.5rem;
            color: @gray-blue-80p;
            margin-right: 1.75rem;
            float: left;
        }

        .agent-txt {
            display: inline-block;
            padding-top: 0.8125rem;
            font-family: @font-secondary;
            font-size: 2rem;
            font-weight: 300;
            color: white;
            line-height: 2rem;
            letter-spacing: -0.02rem;
            white-space: nowrap;
            float: right;

            span {
                font-family: @font-primary;
                font-size: 1.375rem;
                font-weight: 700;
                letter-spacing: -0.04rem;
            }
        }
    }
}

.session-expired-wrapper {
    h1 {
        padding: 2rem 0 0.75rem 0;
        font-size: 2.875rem;
        text-align: center;
    }

    .note-big {
        font-family: @font-secondary;
        font-size: 2.125rem;
        font-weight: 300;
        text-align: center;
        line-height: 3rem;
        letter-spacing: -0.02rem;
    }

    .btn-expired-signin {
        display: table;
        padding: 0 4.25rem;
        font-family: @font-tertiary;
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 4.25rem;
        letter-spacing: 0.02rem;
        text-align: center;
        text-transform: uppercase;
        margin: 2rem auto;
        .border-radius(2.375rem);
    }

    .expired-img {
        display: table;
        width: 100%;
        min-height: ~"calc(100vh - 30rem)";

        > div {
            display: table-cell;
            vertical-align: bottom;
        }

        img {
            width: 100%;
            height: auto;
            vertical-align: bottom;
        }
    }
}

// side menu version
.signin-sidemenu {
    background-attachment: initial;
    background-size: cover;
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: -200vw;
    right: 0;
    z-index: 1000;

    .container {
        height: 100vh;
        overflow-y: scroll;
    }

    @media screen and (max-width: 320px) {
        .logo-menu {
            width: 16rem;
            padding-top: 3.25rem;
        }
    }
}

// Terms and Conditions
.terms-wrapper {
    header {
        h1.multiline {
            padding: 1rem 0;
            line-height: 1.2em;
        }

        .with-multiline {height: 8rem;}
    }

    h2 {
        padding: 3.375rem 2.375rem 2.25rem 2.375rem;
        font-family: @font-tertiary;
        font-size: 2.5rem;
        line-height: 1.2em;
        letter-spacing: -0.02rem;
        text-align: center;

        &:first-of-type {padding-top: 2.5rem;}
    }

    h3 {
        padding: 0.75rem 2.375rem 0.5rem 2.375rem;
        font-family: @font-secondary;
        font-size: 2.3125rem;
        font-weight: 300;
        line-height: 1.2em;
        letter-spacing: -0.04rem;

        &.top-space {padding-top: 2.25rem;}
    }

    p {
        padding: 0 2.375rem 1.5rem 2.375rem;
        font-family: @font-secondary;
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.5rem;
        letter-spacing: -0.04rem;
    }

    b {font-weight: 400;}
}
