.time-pay-wrapper {

    .white-wrap {
        box-sizing: border-box;
        padding: 1rem;
    }

    .js-next-week {display: none;}

    .week-btns {
        padding: 1.1875rem 0;
        text-align: center;
    }

    h2 {
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 2.375rem;
        text-align: center;
    }

    .info-wrap {
        text-align: center;
        max-width: 80%;
        margin: 3rem auto 4rem;
        font-family: @font-tertiary;
        font-size: 1.75rem;
        text-align: left;

        img {
            width: 1.75rem;
            height: auto;
        }

        .info-inner {
            margin: 1.25rem 0;
        }
    }

    .btn-sheet-wrap {
        margin: 2rem 0 4rem;
        text-align: center;
    }

    .btn-sheet {
        display: inline-block;
        box-sizing: border-box;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        .border-radius(4rem);
    }

    .info-txt {
        margin: 1rem 0;
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 1.5rem;
        text-align: center;
    }

    .info-rejected {
        text-align: left;
        color: @gray-blue-57p;
        margin: 0 0 1rem 3.5rem;
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 1.625rem;
    }

    .empty-txt {
        padding: 4rem 1rem 6rem;
        font-weight: 700;
        font-size: 2.125rem;
        line-height: 2.5rem;
        color: @gray-blue-80p;
        text-align: center;
    }

    .btn-history-wrap {
        margin-bottom: 3rem;
        text-align: center;
    }

    .btn-history {
        display: inline-block;
        padding: 1rem;
        font-size: 1.375rem;
        font-weight: 700;
        letter-spacing: -0.07rem;
        text-transform: uppercase;
        border-bottom: 2px solid @blue-dark;
        margin-top: 3rem;
    }

    .choose-job-wrap.white-wrap {
        min-height: ~'calc(100vh - 8.5rem)';

        .job-name {
            padding-bottom: 1rem;
            text-align: left;
            font-family: @font-tertiary;
            font-weight: 400;
            font-size: 1.75rem;
        }

        .job-address {
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.5rem;
            color: @gray-blue-57p;
        }        
    }

    .select-job-wrap .clarification {
        padding-top: 1rem;
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        color: @gray-blue-57p;
    }

    .select-job-wrap .white-wrap {

        a {
            margin: 0.5rem 0 1.5rem;
            display: block;
            background: url(img/ui-arrow-line-right-blue.svg) no-repeat;
            background-size: 1.25rem;
            background-position: 100% 85%;
            border-bottom: 2px solid @gray-blue-95p;

            &:last-child {
                border-bottom: none;
                margin-bottom: 0
            }

            .job-name {
                padding-bottom: 1rem;
                text-align: left;
                font-family: @font-tertiary;
                font-weight: 400;
                font-size: 1.75rem;
            }

            .job-address {
                padding-bottom: 1.5rem;
                font-family: @font-secondary;
                font-weight: 300;
                font-size: 1.5rem;
                color: @gray-blue-57p;
            }

            .overview {
                padding-bottom: 1.5rem;
            }

            .small-part {
                display: inline-block;
                font-family: @font-tertiary;
                font-weight: 400;
                font-size: 1.75rem;
                padding-right: 1.75rem;

                span, img {vertical-align: middle;}

                img {
                    width: 2.25rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }

    .survey-wrap {
        max-width: 90%;
        margin: 2.5rem auto 0;

        &.multi-select {

            .choice-wrap {
                input:checked + label:before {
                    background: @blue-dark url("img/ui-checkmark-white.svg") no-repeat center center;
                    background-size: 1.625rem auto;
                    border: 0.5rem solid @blue-dark;
                }
            }
        }

        .choice-wrap {

            &.approved {
                label:before {content: none;}

                .worker-hours {
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -1.5rem;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        width: 1.5rem;
                        height: 1.5rem;
                        background: url(img/ui-checkmark-green.svg) no-repeat center center;
                        background-size: 1.5rem;
                    }
                }
            }

            &.rejected {
                label:before {content: none;}

                .worker-hours {
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: -1.5rem;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        width: 1.5rem;
                        height: 1.5rem;
                        background: url(img/icon-reject.svg) no-repeat center center;
                        background-size: 1.5rem;
                    }
                }
            }

            input:checked + label:before {background: @blue-dark;}

            label:before {
                background: transparent;
            }

            input {display: none;}

            label {
                font-family: @font-tertiary;
                font-size: 1.75rem;
                line-height: 2rem;
                padding: 1.5rem 0 1.5rem 3.75rem;
                display: inline-block;
                position: relative;

                &:before {
                    position: absolute;
                    left: 0;
                    top: 1rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: text-bottom;
                    content: "";
                    box-shadow: 0px 0px 0px 2px @blue-dark;
                    border: 0.5rem solid #fff;
                    .border-radius(50%);
                    transition: background-color .3s ease, border .3s ease;
                }

                .job-name {
                    display: block;
                    padding-bottom: 0.5rem;
                }

                .job-address {
                    font-family: @font-secondary;
                    font-weight: 300;
                    font-size: 1.5rem;
                    line-height: 1.75rem;
                    display: block;
                }
            }
        }
    }
}

.timesheet-wrapper {

    .white-wrap.special {
        padding: 1rem 0 2rem 0;

        .day-selector-wrapper {

            .marked {
                .day-txt, .day-num {color: white;}
            }

            .hours-to-approve {
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -1.5rem;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    width: 1rem;
                    height: 1rem;
                    background-color: @blue-main;
                    .border-radius(50%);
                }
            }
        }
    }

    .job-info-wrap {

        .job-name,
        .job-address {text-align: left;}

        .job-address {
            padding-top: 0.75rem;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.5rem;
        }

        .btn-sheet-wrap {
            text-align: center;
            padding-top: 2rem;
            margin-bottom: 1rem;
            border-top: 2px solid @gray-blue-95p;
        }
    }

    .select-workers-wrap {

        .survey-wrap {margin-top: 0;}

        .select-all-wrap {
            font-weight: 700;
            font-size: 1.5rem;
            border-bottom: 2px solid @gray-blue-95p;
            margin-bottom: 1rem;

            input {display: none;}

            input:checked + label:before {
                background: @blue-dark url("img/ui-checkmark-white.svg") no-repeat center center;
                background-size: 1.625rem auto;
                border: 0.5rem solid @blue-dark;
            }

            label {
                display: inline-block;
                line-height: 2rem;
                padding: 1.5rem 3.75rem 1.5rem 0;
                position: relative;

                &:before {
                    position: absolute;
                    right: 0;
                    top: 1rem;
                    width: 2.5rem;
                    height: 2.5rem;
                    box-sizing: border-box;
                    display: inline-block;
                    vertical-align: text-bottom;
                    content: "";
                    box-shadow: 0px 0px 0px 2px @blue-dark;
                    border: 0.5rem solid #fff;
                    .border-radius(50%);
                    transition: background-color .3s ease, border .3s ease;
                }
            }
        }

        .choice-wrap label {
            display: block;
            .clearfix();
        }

        .worker-name {
            display: block;
            width: 50%;
            float: left;
            box-sizing: border-box;
        }
        .worker-hours {
            display: inline-block;
            min-width: 10rem;
            float: right;
            box-sizing: border-box;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.5rem;

            @media screen and (max-width: 340px) {
                width: 45%;
                min-width: 0;
            }
        }
    }

    .worker-info-wrap {
        padding: 2rem;
        .clearfix();

        .worker-name {
            font-family: @font-tertiary;
            font-size: 1.75rem;
            display: block;
            width: 60%;
            float: left;
            box-sizing: border-box;
        }

        .worker-hours {
            display: inline-block;
            min-width: 10rem;
            padding-left: 1rem;
            float: right;
            box-sizing: border-box;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.5rem;

            @media screen and (max-width: 340px) {
                width: 40%;
                min-width: 0;
            }
        }
    }

    .top-part h2 {
        text-align: left;
        font-weight: 700;

        .details-link {
            float: right;
            font-family: @font-tertiary;
            font-weight: 700;
            font-size: 1.375rem;
            text-transform: uppercase;
            padding-top: 0.25rem;

            img {
                width: 1rem;
                padding-left: 1rem;
                -webkit-transform: translateY(-0.25rem);
                transform: translateY(-0.25rem);
            }
        }
    }

    .type-wrapper {
        padding: 0rem 2rem 2.5rem;

        textarea {
            width: 100%;
            box-sizing: border-box;
            padding: 1rem;
            display: inline-block;
            min-height: 8rem;
            font-family: @font-secondary;
            font-weight: 300;
            font-size: 1.625rem;
            color: @gray-blue-80p;
            .border-radius(4px);
            resize: vertical;
        }
    }

    .history-week {
        min-height: ~'calc(100vh - 8rem)';

        .day-selector-wrapper {
            padding-bottom: 1.5rem;
            border-bottom: 2px solid @gray-blue-80p;
        }

        .initial {
            padding-top: 4rem;
            font-weight: 700;
            font-size: 2.5rem;
            text-align: center;
        }

        .info-wrap {
            max-width: 100%;
            padding: 0 2rem;

            .info-txt {
                text-align: left;
                color: @gray-blue-57p;
                font-size: 1.625rem;
                margin-left: 1rem;
            }

            .worker-info-wrap {
                padding: 0;
                margin: 2.5rem 0 0;
            }

            .worker-hours {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    right: -1.5rem;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }

            .approved .worker-hours:after {
                background: url(img/ui-checkmark-green.svg) no-repeat center center;
                background-size: contain;
            }

            .rejected .worker-hours:after {
                background: url(img/icon-reject.svg) no-repeat center center;
                background-size: contain;
            }

            .pending .worker-hours:after {
                background: url(img/icon-pending.svg) no-repeat center center;
                background-size: contain;
            }
        }

        .info-wrap {display: none;}
    }
}

.workers-timePay-wrapper {
    .time-tile {
        background-color: white;
        text-align: center;
        margin: 1.1875rem;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15);
        .border-radius(4px);

        &.time-pay {
            background: white url("img/big-icon-clock.svg") no-repeat center 4.125rem;
            background-size: auto 10rem;
            padding: 18.25rem 0 7rem 0;
        }
    }

    .log-time-btn {
        display: inline-block;
        width: 25rem;
        font-size: 2.375rem;
        margin-bottom: 2.75rem;
    }

    .log-time {
        .log-time-btn {
            margin-top: 6.5rem;
            margin-bottom: 0;
        }
    }

    .time-pay-txt {
        padding-bottom: 0.75rem;
        font-family: @font-secondary;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.75rem;
        letter-spacing: -0.02rem;
    }

    .work-history-link {
        display: inline-block;
        padding: 1rem;
        font-size: 1.375rem;
        font-weight: 700;
        letter-spacing: -0.07rem;
        text-transform: uppercase;
        border-bottom: 2px solid @blue-dark;
        margin-top: 3rem;
    }

    .day-selector-wrapper {
        padding: 1.25rem 0;

        .selected {
            background-color: @blue-dark;

            .day-txt, .day-num {color: white;}
        }

        .no-time {
            position: relative;

            &:after {
                content: "";
                background-color: @blue-main;
                width: 1rem;
                height: 1rem;
                margin: 0 auto;
                position: absolute;
                bottom: -1.375rem;
                left: 0;
                right: 0;
                .border-radius(50%);
            }
        }

        & + .separator {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 4rem;
            border-bottom: 2px solid @gray-blue-95p;

            & + .worked-for-name {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                font-family: @font-primary;
                font-weight: 700;
                font-size: 2.5rem;
            }
        }
    }

    .worked-for-title {
        padding: 2.875rem 0 0.75rem 0;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        color: @gray-blue-57p;
        letter-spacing: -0.02rem;
        margin: 0 1.1875rem;
        border-top: 2px solid @gray-blue-95p;
    }

    .worked-for-name {
        font-family: @font-secondary;
        font-size: 2.375rem;
        font-weight: 300;
        letter-spacing: -0.04rem;
    }

    .log-time-note {
        padding: 2.125rem 0 3.25rem 0;
        font-family: @font-secondary;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.875rem;
        letter-spacing: -0.02rem;

        img {
            width: 1.75rem;
            height: 1.75rem;
            vertical-align: top;
        }
    }

    .log-time-value {
        padding-top: 0.5rem;
        font-family: @font-secondary;
        font-size: 3.75rem;
        font-weight: 300;
        letter-spacing: -0.08rem;

        span {font-size: 2.375rem;}
    }

    .select-time {
        background-color: white;
        height: 4.375rem;
        width: 8.625rem;
        padding: 0.5rem 1rem;
        font-family: @font-secondary;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: -0.08rem;
        text-align: center;
        margin: 0;
        border: none;
        border-bottom: 0.1875rem solid @blue-dark;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        vertical-align: top;
        .border-radius(0);

        &:required:invalid {
            padding-left: 3rem;
            font-family: @font-primary;
            font-size: 1.375rem;
            font-weight: 700;
            color: @blue-dark;
        }
    }

    .select-time-dots {
        font-family: @font-secondary;
        font-size: 3.75rem;
        font-weight: 300;
    }

    .log-time-input-note {
        background: white url("img/icon-pencil.svg") no-repeat 1rem center;
        background-size: auto 1.75rem;
        width: calc(~"100% - 2.375rem");
        height: 5.5rem;
        padding: 0 1rem 0 3.375rem;
        font-family: @font-secondary;
        font-weight: 300;
        font-size: 1.75em;
        color: black;
        letter-spacing: -0.04rem;
        margin: 5rem 1.1875rem 0 1.1875rem;
        border: 2px solid @gray-blue-95p;
        outline: none;
        box-sizing: border-box;
        .placeholder(@gray-blue-80p);
        .border-radius(0.625rem);

        &:focus {
            background-color: @gray-blue-95p;
        }
    }

    .head-toggle-period {
        width: 6.25rem;
        font-family: @font-tertiary;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 5.5625rem;
        text-align: right;
        float: right;

        & + h1 {margin-right: -3rem;}
    }

    .top-divider {
        text-align: center;
    }

    .head-contact-txt {
        font-family: @font-tertiary;
        font-size: 1.25rem;
        line-height: 5.5rem;
        letter-spacing: 0.02rem;
    }

    .head-contact-btn {
        padding: 0 0.75rem;
        font-size: 1.5rem;
        line-height: 2.875rem;
        letter-spacing: -0.08rem;
        margin-left: 1rem;
        .border-radius(1.625rem);
    }

    section {
        display: none;

        &.active {display: block;}

        .time-tile {padding-bottom: 2.375rem;}
    }

    .period-info {
        height: 5.5rem;
        padding: 0 1.1875rem;
        font-family: @font-tertiary;
        font-size: 1.875rem;
        line-height: 5.5rem;
        letter-spacing: -0.02rem;
        text-align: left;
        border-bottom: 1px solid @gray-blue-80p;
    }

    .history-note-wrap {
        min-height: 8.625rem;
        padding-top: 4rem;
        .clearfix();
        text-align: left;
        margin: 0 1.1875rem;
        border-bottom: 2px dotted @blue-main;
        position: relative;
        box-sizing: border-box;

        .day-selector-wrapper {
            width: 25%;
            // padding: 3.75rem 0 0 0;
            padding: 0;
            float: left;
            box-sizing: border-box;
            // position: absolute;
            // left: -9rem;
            // top: 0;
        }

        .data-wrap {
            width: 75%;
            float: left;
            padding-top: 1.5rem;
            box-sizing: border-box;
            // position: absolute;
            // bottom: 0;
            // left: 0;
        }

        .time-value {
            height: 2rem;
            padding-bottom: 0.875rem;
            font-family: @font-secondary;
            font-size: 1.875rem;
            font-weight: 300;
            line-height: 2rem;
            letter-spacing: -0.04rem;

            span.float-right {
                font-size: 1.5rem;
            }

            img {
                width: 1.8125rem;
                height: 1.8125rem;
                vertical-align: top;
            }
        }

        .note-txt {
            padding-bottom: 0.75rem;
            font-family: @font-secondary;
            font-size: 1.375rem;
            font-weight: 300;
            color: @gray-blue-57p;
            line-height: 1.5625rem;
            letter-spacing: -0.02rem;

            .black {color: @color-text;}
        }
    }

    .rejected-wrap {
        cursor: pointer;
        .time-value + .note-txt {
            position: relative;
            &:after {
                // margin-left: 0.5rem;
                content: " ";
                width: 2.15rem;
                height: 1.15rem;
                vertical-align: middle;
                background: url(img/ui-arrow-thin-down-blue.svg) no-repeat center center;
                background-size: 1.15rem;
                display: inline-block;
                .transition-variant(transform, .3s, ease);
            }
        }

        &.opened {
            .time-value + .note-txt:after {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
    }

    .details-part {
        display: none;
    }
}

// POC for Swipe
// to delete this after testing

.workers-timePay-wrapper.poc {
    .poc-main-wrapper {
        height: 2rem;
        padding: 3rem 0;
        overflow: hidden;
        position: relative;

        .poc-left-mask,
        .poc-right-mask {
            height: 2rem;
            width: 5rem;
            position: absolute;
            top: 3rem;
            z-index: 5;
        }

        .poc-left-mask {
            background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            left: 0;
        }

        .poc-right-mask {
            background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            right: 0;
        }
    }

    .poc-btn-wrapper {
        width: 84rem;
        height: 2rem;
        position: absolute;
        top: 3rem;
        left: 0;
        z-index: 3;

        button {
            width: 3rem;
            height: 2rem;
            font-size: 1.5rem;
            font-weight: 700;
            float: left;

            &.active {
                background-color: @blue-dark;
                color: white;
                .border-radius(1rem);
            }
        }
    }
}
