// Colors
@color-text: #000000;

@blue-main: #00aeef;
@blue-dark: #007aff;

@red-main: #f8576e;
@green-main: #18d28e;
@yellow-main: #fac800;

@orange-main: #ff9500;
@orange-light: #ffd79e;

@gray-blue-57p: #8d8f92;  // text
@gray-blue-80p: #c8cacc;  // divider
@gray-blue-95p: #eceff1;  // background

// Typography
@font-primary: 'Quicksand', sans-serif;
@font-secondary: 'Nunito', sans-serif;
@font-tertiary: 'Comfortaa', cursive;

// Media Queries
@size-tablet: 600px;
@ratio: 1.8;
