.workers-side-wrapper.find-jobs-wrapper {

	.sort-popup {
		top: 11.125rem;

		.modal-arrow-top {right: 1rem;}
	}

	header  {
		h1 {
			max-width: 60%;
			line-height: normal;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}

		.btn-wrap {
			margin-bottom: 1rem;
			padding-top: 1rem;
			border-top: 2px solid @gray-blue-95p;
		}

		&.locked {
			background-image: url("img/icon-lock-bg-blue.png");
			background-repeat: no-repeat;
			background-position: 100% 0;
			background-size: 4.1875rem;
		}
	}

	.search-area {
        display: block;
        background: transparent url("img/ui-search-area.svg") no-repeat left center;
        background-size: 2.5rem auto;
        height: 5.5rem;
        padding-left: 3.4375rem;
        font-family: @font-tertiary;
        font-size: 1.5em;
        line-height: 3.66em;
        letter-spacing: 0.04rem;
        float: left;

        span {
        	display: inline-block;
        	overflow: hidden;
        }

        .address {
        	max-width: 12rem;
        	white-space: nowrap;
        	overflow: hidden;
        	text-overflow: ellipsis;
        }
    }

    .btn-sort {
        height: 5.5rem;
        font-family: @font-tertiary;
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.04rem;
        color: @blue-dark;
        float: right;
    }

    .btn-wrap {

		.btn-shortlist,
		.btn-apply {
			display: inline-block;
			line-height: 3.125rem;
		}

		.btn-shortlist {
			font-family: @font-secondary;
			font-weight: 700;
			font-size: 0.75rem;
			text-transform: uppercase;
			color: @blue-dark;
			border: 0.125rem solid transparent;
			padding-left: 2.5rem;
			background: transparent url("img/icon-heart.svg") no-repeat left center;
			background-size: 1.875rem;
			transition: background .3s ease;

			span {
				opacity: 0;
				transition: opacity .3s ease;
			}

			&.shortlisted {
				background: transparent url("img/icon-heart-full.svg") no-repeat left center;
				background-size: 1.875rem;

				span {opacity: 1;}
			}
		}

		.btn-apply {
			.border-radius(4rem);
			min-width: 11.75rem;
			font-size: 1.5rem;
			text-align: center;
			letter-spacing: -0.14rem;
		}
	}

	.no-jobs {
		min-height: ~"calc(100vh - 14.5rem)";
		text-align: center;
		font-family: @font-secondary;
        font-weight: 300;

        p {
            padding: 2.375rem 1.5rem;
            font-size: 2.125rem;
            line-height: 1.2em;

            &:first-of-type {padding-top: 5rem;}
        }

		img {
            padding: 4rem 0 1rem 0;
            width: 14.3125rem;
        }

        .btn-big {
            display: inline-block;
            min-width: 23.75rem;
            margin: 1rem 0;
            font-weight: 700;
            font-size: 2rem;
            padding-left: 3rem;
            padding-right: 3rem;
        }
	}

    // Job expired
    .job-expired-img {
        display: block;
        height: 8.5rem;
        padding-right: 3rem;
        margin: 1.75rem auto 0 auto;
    }

    .job-expired-txt,
    .job-expired-highlight,
    .job-expired-notes {
        font-family: @font-tertiary;
        line-height: 1.2em;
    }


    .job-expired-txt {
        padding: 1.125rem 2rem 3rem 2rem;
        font-size: 1.5rem;
        text-align: center;
    }

    .job-expired-highlight {
        padding: 2rem;
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
    }

    .job-expired-notes {
        width: 60%;
        font-size: 1.5rem;
        margin: 0 auto;

        li {
            padding: 0 0 2rem 1.375rem;
            position: relative;

            &:before {
                content: "";
                display: block;
                background-color: #212121;
                width: 0.5rem;
                height: 0.5rem;
                position: absolute;
                left: 0;
                top: 0.5625rem;
                .border-radius(50%);
            }
        }
    }
}

.workers-side-wrapper .job-tile {

	position: relative;
	z-index: 2;
	padding: 1.25rem 1rem 1rem !important;

	&.locked {
		background-image: url("img/icon-lock-bg-blue-left.png");
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 4.1875rem;
	}

	.btn-details {
		color: @blue-dark;
	}

	h2 {
		margin: 0 0 1rem;
		width: 70%;
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 2.25rem;
		letter-spacing: -.1rem;
		display: inline-block;

		img {
			width: 1rem;
			vertical-align: middle;
			margin: 0 0.5rem;
		}
	}

	.pay-per-hour {
		float: right;
		width: 30%;
		font-family: @font-secondary;
		font-size: 1.875rem;
		letter-spacing: -0.1rem;
		text-align: right;

		.num {
			font-weight: 300;
			font-size: 2.625rem;
			letter-spacing: -0.3rem;
		}
	}

	.location {
		padding: 0 0 1rem 0;
		margin: 0 0 1rem 0;
	}

	.job-address {
		max-width: 60%;
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 1.5rem;
		line-height: 1.8rem;
	}

	.job-distance {
		font-family: @font-tertiary;
		font-size: 1.25rem;

		img {
			vertical-align: text-bottom;
			margin: 0 0.5rem 0 0;
			width: 1.625rem;
		}
	}

	.schedule-text-separator {
		margin: 1rem 0;
		&:before,
		&:after {
			width: 25%;
			border-color: @gray-blue-80p;

			@media only screen and (max-width: 330px) {
				width: 15%;
			}
		}
	}

	.stat-wrapper {
		// width: 23%;
		text-align: right;
		float: left;

		.match-cont {
			width: 6.875rem;
			height: 6.875rem;
			text-align: center;
			border: 3px solid @gray-blue-95p;
			position: relative;
			.border-radius(50%);
		}

		.match-num {
			padding-top: 1.25rem;
			font-family: @font-tertiary;
			font-size: 1.875rem;
			font-weight: 700;
			letter-spacing: -0.05rem;
			color: @blue-main;

			span {
				font-size: 2.875rem;
				margin-right: 0.25rem;
			}
		}

		.match-txt {
			padding-top: 0.375rem;
			font-family: @font-secondary;
			font-weight: 700;
			letter-spacing: -0.02rem;
			text-transform: uppercase;
		}

		.match-slice {
			width: ~"calc(6.875rem + 6px)";
			height: ~"calc(6.875rem + 6px)";
			clip: rect(0,7.5rem,7.5rem,3.75rem);
			position: absolute;
			top: -3px;
			left: -3px;

			&.above-half {
				clip: rect(auto, auto, auto, auto);

				.match-pie.fill-half {display: block;}
			}
		}

		.match-pie {
			border: 3px solid @blue-main;
			position: absolute;
			width: 6.875rem;
			height: 6.875rem;
			clip: rect(0,3.75rem,7.5rem,0);
			.border-radius(50%);

			&.fill-half {
				display: none;
				-ms-transform: rotate(180deg) !important;
				-webkit-transform: rotate(180deg) !important;
				transform: rotate(180deg) !important;
			}
		}
	}

	.applicants-needed {
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 1.5rem;
		display: block;
	}

	.details-wrap {
		margin: 2rem 0 1rem;
		position: relative;
		text-align: center;
		font-family: @font-secondary;
		font-weight: 300;
		font-size: 1.5rem;

		span {letter-spacing: -0.07rem;}

		.left-part {
			position: absolute;
			left: 0;
			bottom: 0.75rem;
		}

		.right-part {
			position: absolute;
			right: 0;
			bottom: 0;

			span {display: block;}
		}

		.center-part {

			span {display: block;}
		}

		.txt-small {
			font-weight: 700;
			font-size: 0.75rem;
			text-transform: uppercase;
		}
	}

	.hire-wrap {
		// font-family: @font-tertiary;
		// font-size: 1.25rem;
		// display: block;

		.txt {
			display: block;
			margin: 1rem 0 0;
			font-family: @font-secondary;
			font-weight: 700;
			font-size: 0.75rem;
			color: @blue-main;
			text-transform: uppercase;
		}

		.img-wrap {
			margin-top: 1.5rem;
			width: 6rem;
			text-align: center;
		}

		img {
			vertical-align: top;
			width: 3rem;
		}

		&.project-staffing-hire span {color: @green-main;}

		&.signed-hidden {display: none;}

		// .auto-hire-percent {
		// 	display: inline-block;
		// 	font-weight: 700;
		// 	font-size: 1.5rem;
		// 	color: @gray-blue-57p;
		// 	margin: 0 0 0 1.5rem;
		// }
	}

	.bottom {
		margin: 1rem 0;
		padding-bottom: 1rem;
		border-bottom: 2px solid @gray-blue-95p;
		.clearfix();
	}
}

.workers-side-wrapper.not-signed-wrap .job-tile {

    .btn-details {
		color: inherit;

        h2 img {display: none;}
	}

	.btn-wrap {

		.btn-apply {margin-top: 0.5rem;}
	}

	.signed-hidden {
		display: inline-block;

		.img-wrap {margin-top: 0.2rem;}
	}
}

.workers-side-wrapper.job-details-wrapper {

	.location,
	.bottom {border-bottom: none;}

	.schedule-text-separator {
		font-family: @font-secondary;
		font-weight: 400;
		font-size: 1.875rem;
		color: @color-text;
		margin: 1rem 0;

		&:after, &:before {
			width: 31%;
			border-color: @gray-blue-95p;

			@media screen and (max-width: 659px) {
				width: 25%;
			}

			@media screen and (max-width: 359px) {
				width: 20%;
			}
		}
	}

	.search-part #gmap {
		z-index: 1;
		margin-top: -2.5rem;
		margin-bottom: -3.125rem;
		height: 28.25rem;
	}

    .job-requirements-title {
        background-repeat: no-repeat;
        padding: 0.625rem 0 0.625rem 4.125rem;
        font-family: @font-tertiary;
        font-size: 1.875rem;
        line-height: 1.2em;
        margin-top: 1rem;

        &.first {margin-top: 1.625rem;}

        &.icon-attention {
            background-image: url("img/requirements-attention.svg");
            background-size: auto 3rem;
            background-position: 0.3125rem center;
        }

        &.icon-duties {
            background-image: url("img/requirements-duties.svg");
            background-size: auto 3rem;
            background-position: 0.25rem center;
        }

        &.icon-site {
            background-image: url("img/requirements-site.svg");
            background-size: auto 3rem;
            background-position: 0.125rem center;
        }

        &.icon-lifting {
            background-image: url("img/requirements-lifting.svg");
            background-size: auto 1.75rem;
            background-position: left center;
        }

        &.icon-certifications {
            background-image: url("img/requirements-certifications.svg");
            background-size: auto 3rem;
            background-position: 0.375rem center;
        }

        &.icon-bg-checks {
            background-image: url("img/requirements-bg-checks.svg");
            background-size: auto 2.3125rem;
            background-position: left center;
        }

        &.icon-experience {
            background-image: url("img/requirements-experience.svg");
            background-size: auto 3.5rem;
            background-position: left center;
        }
    }

    .job-requirements-txt {
        padding: 1.125rem 1.1875rem 1.75rem 1.1875rem;
        font-family: @font-secondary;
        font-size: 1.75rem;
        font-weight: 300;
        color: @gray-blue-57p;
        line-height: 2.25rem;
        letter-spacing: -0.04rem;
        border-bottom: 2px solid @gray-blue-95p;

        &:last-child {border-bottom: none;}
    }
}