<div *ngIf='isUserAuthenticated && !router.isActive("/landing", true)'>
  <app-assetpopups></app-assetpopups>
  <div class="container-fluid with-sidebar with-top-bar">
      <app-home></app-home>
      <router-outlet></router-outlet>
  </div>
</div>

<div *ngIf='!isUserAuthenticated || router.isActive("/landing", true)'>
    <app-landing></app-landing>
</div>
