<div class="sidebar">
    <div class="top-option">
        <a href="/home">
            <span class="left-part">
                <span class="img-wrap">
                    <img src="/assets/img/logo-clientsite.png" alt="">
                </span>
            </span>
        </a>
    </div>
    <nav class="navigation">
        <ul>
            <li [class]="isLinkActive('/home')">
                <span class="tooltip-sidebar">
                    Home
                </span>
                <a href="/">
                    <span class="left-part">
                        <span class="icon icon-home"></span>
                    </span>
                    <span class="right-part">
                        Home
                    </span>
                </a>
            </li>
            <li [class]="isLinkActive('/distribution')">
                <span class="tooltip-sidebar">
                    Distribution Center
                </span>
                <a href="/distribution">
                    <span class="left-part">
                        <span class="icon icon-distribution-center"></span>
                    </span>
                    <span class="right-part">
                        Distribution Center
                    </span>
                </a>
            </li>
            <li>
                <span class="tooltip-sidebar">
                    Fullfillment Service
                </span>
                <a href="#">
                    <span class="left-part">
                        <span class="icon icon-fulfillment"></span>
                    </span>
                    <span class="right-part">
                        Fullfillment Service
                    </span>
                </a>
            </li>
            <li>
                <span class="tooltip-sidebar">
                    Order
                </span>
                <a href="#">
                    <span class="left-part">
                        <span class="icon icon-order"></span>
                    </span>
                    <span class="right-part">
                        Order
                    </span>
                </a>
            </li>
            <li>
                <span class="tooltip-sidebar">
                    Inventory
                </span>
                <a href="#">
                    <span class="left-part">
                        <span class="icon icon-inventory"></span>
                    </span>
                    <span class="right-part">
                        Inventory
                    </span>
                </a>
            </li>
            <li [class]="isLinkActive('/reports')">
                <span class="tooltip-sidebar">
                    Reports
                </span>
                <a href="/reports">
                    <span class="left-part">
                        <span class="icon icon-reports"></span>
                    </span>
                    <span class="right-part">
                        Reports
                    </span>
                </a>
            </li>
            <li [class]="isLinkActive('/portalassets')">
                <span class="tooltip-sidebar">
                    Assets
                </span>
                <a href="/portalassets">
                    <span class="left-part">
                        <span class="icon icon-assets"></span>
                    </span>
                    <span class="right-part">
                        Assets
                    </span>
                </a>
            </li>
            <li class="bottom-option">
                <span class="tooltip-sidebar">
                    Expand Menu
                </span>
                <span class="tooltip-sidebar tooltip-expanded">
                    Collapse Menu
                </span>
                <a class="js-sidebar-control" (click)="openCloseSidebarControl()">
                    <span class="left-part">
                        <span class="icon icon-arrow-right-circled"></span>
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="top-bar">
        <h2 class="top-bar-page-title">Global Logistics &amp; Distribution</h2>    
        <ul class="top-bar-right-controls">
            <li>
                <a href="#" title="Notifications">
                    <span class="icon-bell"></span>
                </a>
            </li>
            <li class="top-bar-inner-menu-wrapper">
                <a href="" title="Grid Menu" class="js-top-bar-inner-menu-handle">
                    <span class="icon-grid"></span>
                </a>
                <div class="top-bar-inner-menu grid-menu">
                    <div class="row">
                        <div class="half">
                            <a href="#" title="Global Logistics &amp; Distribution">
                                <span class="icon-wrap">
                                    <img src="/assets/img/icons/icon-global-logistics.svg" alt="">
                                </span>
                                <span class="txt-wrap">Global Logistics &amp; Distribution</span>
                            </a>
                        </div>
                        <div class="half">
                            <a href="#" title="Brokerage">
                                <span class="icon-wrap">
                                    <img src="/assets/img/icons/icon-brokerage.svg" alt="">
                                </span>
                                <span class="txt-wrap">Brokerage</span>
                            </a>
                        </div>
                        <div class="half">
                            <a href="#" title="Freight">
                                <span class="icon-wrap">
                                    <img src="/assets/img/icons/icon-freight.svg" alt="">
                                </span>
                                <span class="txt-wrap">Freight</span>
                            </a>
                        </div>
                        <div class="half">
                            <a href="#" title="Mail Innovations">
                                <span class="icon-wrap">
                                    <img src="/assets/img/icons/icon-mail-innovation.svg" alt="">
                                </span>
                                <span class="txt-wrap">Mail Innovations</span>
                            </a>
                        </div>
                        <div class="half">
                            <a href="#" title="UPS Capital">
                                <span class="icon-wrap">
                                    <img src="/assets/img/icons/icon-ups-capital.svg" alt="">
                                </span>
                                <span class="txt-wrap">UPS Capital</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="top-bar-inner-menu-wrapper">
                <a href="#" title="Profile" class="js-top-bar-inner-menu-handle">
                    <span class="profile-wrap">
                        <span class="profile-image">
                            <img src="/assets/img/avatar-demo.png" alt="Avatar Image">
                        </span>
                    </span>
                </a>
                <div class="top-bar-inner-menu profile-menu">
                    <div class="person">
                        <div class="img-wrap">
                            <img src="/assets/img/avatar-demo.png" alt="Avatar Image">
                        </div>
                        <div class="details-wrap">
                            <span class="person-name">{{basicUserData.FirstName}} {{basicUserData.LastName}}</span>
                            <span class="person-mail">{{basicUserData.Email}}</span>
                        </div>
                    </div>
                    <div class="profile-actions">
                        <a>My Profile</a>
                        <a (click)="signOut()">Sign Out</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>