﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UPS ClientSite Admin portal</title>
</head>
<body>
    UPS ClientSite Admin portal
</body>
</html>
