<div style="clear:both;">
  <button type="button" (click)="createNewUserPopup()">Create new user</button>
</div>
<h2>
  Registered users
</h2>
<mat-table [dataSource] = 'users' class="make-scrollable">
    <ng-container matColumnDef="firstName">
        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.FirstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.LastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.Email}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userRole">
          <mat-header-cell *matHeaderCellDef> User Role </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.UserRole}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsToDisplay" [ngClass]='mat-header-row'></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="selectRow(row)"
      [ngClass]="{'highlight': selectedUserId == row.MembershipId}"></mat-row>  
</mat-table>

<div style="clear:both; padding-top: 20px;">
  <table>
    <tr>
      <td>
          <button type="button" (click)="deleteUser()" style="display:none;">Disable</button>
      </td>
      <td style="padding-left: 20px;">
          <button type="button" (click)="editUser()" style="display:none;">Edit</button>
      </td>
    </tr>
  </table>
  </div>
