.tblRegUser {
    border-collapse:collapse;
    border: 1px solid black;
}

.highlight{
    background: white;
  }

.mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
}

.make-scrollable {
    height: 500px;
    overflow-y: scroll;
}