<section class="homepage">

    <div class="page-header">
        <div class="page-title">
            <h1>Home</h1>
        </div>
    </div>

    <div class="page-container-inner">

        <div class="page-subtitle">
            <h2>
                <span class="txt">Favorites</span>
            </h2>
        </div>

        <div class="container-big-wrapper">
            <div class="row">
                <div class="third">
                    <div class="box-white pin-target">
                        <div class="box-top-bar with-pin">
                            <h3 class="box-title-inner">
                                <span class="icon">
                                    <span class="icon-distribution-center"></span>
                                </span>
                                <span class="txt">Ontime Order Line Fulfillment KPI</span>
                            </h3>
                            <a href="#" title="Add to favorites" class="btn-add-to-favorites pinned">
                                <span class="icon">
                                    <img src="/assets/img/icons/icon-pin.png" alt="">
                                </span>
                                <span class="unpin">
                                    <span class="icon">
                                        <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                                    </span>
                                    <span class="txt">Unpin</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-inner">
                            <div class="homepage-graph-container1">
                                <canvas class="homepage-graph-canvas bar-chart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="third">
                    <div class="box-white pin-target">
                        <div class="box-top-bar with-pin">
                            <h3 class="box-title-inner">
                                <span class="icon">
                                    <span class="icon-fulfillment"></span>
                                </span>
                                <span class="txt">Dock-to-stock Net Performance KPI</span>
                            </h3>
                            <a href="#" title="Add to favorites" class="btn-add-to-favorites pinned">
                                <span class="icon">
                                    <img src="/assets/img/icons/icon-pin.png" alt="">
                                </span>
                                <span class="unpin">
                                    <span class="icon">
                                        <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                                    </span>
                                    <span class="txt">Unpin</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-inner">
                            <div class="homepage-graph-container2">
                                <canvas class="homepage-graph-canvas bar-chart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="third">
                    <div class="box-white pin-target">
                        <div class="box-top-bar with-pin">
                            <h3 class="box-title-inner">
                                <span class="icon">
                                    <span class="icon-order"></span>
                                </span>
                                <span class="txt">Orders Cycle Count</span>
                            </h3>
                            <a href="#" title="Add to favorites" class="btn-add-to-favorites pinned">
                                <span class="icon">
                                    <img src="/assets/img/icons/icon-pin.png" alt="">
                                </span>
                                <span class="unpin">
                                    <span class="icon">
                                        <img src="/assets/img/icons/icon-pin-unpin.png" alt="">
                                    </span>
                                    <span class="txt">Unpin</span>
                                </span>
                            </a>
                        </div>
                        <div class="box-inner">
                            <div class="homepage-graph-container3">
                                <canvas class="homepage-graph-canvas bar-chart3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-subtitle">
            <h2>
                <span class="txt">Alerts</span>
            </h2>
        </div>

        <div class="container-big-wrapper">
            <div class="row">
                <div class="third">
                    <div class="box-white">
                        <div class="box-top-bar">
                            <h4 class="box-title-inner-small">
                                <span class="icon">
                                    <span class="icon-bell"></span>
                                </span>
                                <span class="txt">Scorecard Lousville 04/06/2018 has been updated</span>
                            </h4>
                            <p class="extra-info">sum of all the order incresed by 30%</p>
                        </div>
                        <div class="box-inner">
                            <div class="bar-summary">
                                <span class="img-wrap">
                                    <img src="/assets/img/bar-summary.png" alt="">
                                </span>
                                <span class="txt-wrap">
                                    <h5>Inventory</h5>
                                    <p>Increased by 30%</p>
                                </span>
                            </div>
                        </div>
                        <div class="box-bottom-bar">
                            <span class="left-part">
                                <span class="icon">
                                    <span class="icon-fulfillment"></span>
                                </span>
                            </span>
                            <span class="right-part">
                                <a href="#" class="action-link">Take Action</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="third">
                    <div class="box-white">
                        <div class="box-top-bar">
                            <h4 class="box-title-inner-small">
                                <span class="icon">
                                    <span class="icon-bell"></span>
                                </span>
                                <span class="txt">Open Orders Report 04/06/2018 has been updated</span>
                            </h4>
                            <p class="extra-info">sum of all the order incresed by 30%</p>
                        </div>
                        <div class="box-inner">
                            <div class="bar-summary">
                                <span class="img-wrap">
                                    <img src="/assets/img/bar-summary.png" alt="">
                                </span>
                                <span class="txt-wrap">
                                    <h5>Inventory</h5>
                                    <p>Increased by 30%</p>
                                </span>
                            </div>
                        </div>
                        <div class="box-bottom-bar">
                            <span class="left-part">
                                <span class="icon">
                                    <span class="icon-fulfillment"></span>
                                </span>
                            </span>
                            <span class="right-part">
                                <a href="#" class="action-link">Take Action</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="third">
                    <div class="box-white">
                        <div class="box-top-bar">
                            <h4 class="box-title-inner-small">
                                <span class="icon">
                                    <span class="icon-bell"></span>
                                </span>
                                <span class="txt">Reconciliation Report 04/06/2018 has been updated</span>
                            </h4>
                            <p class="extra-info">sum of all the order incresed by 30%</p>
                        </div>
                        <div class="box-inner">
                            <div class="bar-summary">
                                <span class="img-wrap">
                                    <img src="/assets/img/bar-summary.png" alt="">
                                </span>
                                <span class="txt-wrap">
                                    <h5>Inventory</h5>
                                    <p>Increased by 30%</p>
                                </span>
                            </div>
                        </div>
                        <div class="box-bottom-bar">
                            <span class="left-part">
                                <span class="icon">
                                    <span class="icon-fulfillment"></span>
                                </span>
                            </span>
                            <span class="right-part">
                                <a href="#" class="action-link">Take Action</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-subtitle">
            <h2>
                <span class="txt">Support</span>
            </h2>
        </div>

        <div class="container-big-wrapper">
            <div class="row">
                <div class="third">
                    <div class="box-white box-support">
                        <div class="box-inner">
                            <div class="icon-wrap">
                                <img src="/assets/img/icons/icon-handshake.png" alt="">
                            </div>
                            <div class="txt-wrap">
                                <h4>Support center help</h4>
                                <a href="tel:000-000-1232">000-000-1232</a>
                                <h4>Philips support center</h4>
                                <a href="mailto:email@domain.com">email@domain.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>