/*   Media Queries File   */

/* __________________________________________________________

- BASE
- MAIN

__________________________________________________________ */



/* BASE
__________________________________________________________ */
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) { 

}
@media (max-width: 360px) { 

}


/* MAIN
__________________________________________________________ */
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
	#wrapper {
		width: 100%;
		padding-top: 70px;
	}
	#wrapper.active {
		padding-right: 0;
		padding-left: 0;
	}
	
}
@media (max-width: 360px) { 

}

