/*   Main CSS File   */

/* __________________________________________________________

- BASE
- MAIN
	-CENTER
	-LEFT
	-RIGHT
- QUOTE CALCULATOR

__________________________________________________________ */



/* BASE
__________________________________________________________ */
* {
	margin: 0;
	padding: 0;
	right: 0;
}
::selection {

}
html {

}
body {
	font-family: 'Open Sans', sans-serif;
	background: #fcfcfc;
}
p,h1,h2,h3,h4,span {
	font-family: 'Open Sans', sans-serif;
}
p {
	color: #889da8;
	font-size: 13px;
}
	p span {
		font-size: 18px;
		color: #212121;
	}
h1 {

}
h2 {
	color: #212121;
	font-size: 22px;
	font-weight: 400;
	padding: 20px 0px 20px 0px;
}
h3 {

}
h4 {

}

.btn-primary {
	font-size: 13px;
	border-width: 600px;
	padding: 10px 15px;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px solid #03a9f4;
	border-radius: 50px;
	background: none;
	color: #03a9f4;
	float: left;
	outline: none;
}
	.btn-primary:hover {
		color: #fff;
		background-color: #03a9f4;
		border-color: #03a9f4;
	}
.btn-primary.btn-label {
	margin-top: 25px;
}


.form-control:focus {
    border-color: #03a9f4;
    border: 1px solid #03a9f4;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.hr	{
	width: 100%;
	height: 1px;
	background: #e9edf2;
	margin: 30px 0px;
}

.form-group {
	width: 100%;
}
input[type=text] {
	padding: 15px 15px;
	border: 1px solid #e9edf2;
	background: #fff;
	font-size: 13px;
	font-weight: normal;
	color: #889da8;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 50px;
	height: 40px;
}
.content-block {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(14, 41, 68, 0.18);
	box-shadow: 0px 1px 1px rgba(14, 41, 68, 0.18);
	padding: 30px;
	margin-top: 20px;
}


/* MAIN
__________________________________________________________ */

div.profile-avatar {
	float: left;
	border-radius: 80px;
	margin: 0px 20px 20px 0px;
	overflow: hidden;
	display: block;
	width: 80px;
	height: 80px;
	background: #e9edf2 url(../img/not-avatar.png) center center no-repeat;
}
	img.profile-avatar {
		width: 100%;
	}
p.profile-name {
	font-size: 22px;
	color: #212121;
}
p.profile-city,
p.profile-phone,
p.profile-email {
	float: left;
	clear: both;
}
p span.tick {
	display: block;
	width: 14px;
	height: 11px;
	background: url(../img/image-sprite.png) -109px 0 no-repeat;
	float: right;
	margin: 3px 0px 0px 15px;
}

/* rating */
.rating {
	float: right;
}
p.rating {
	font-weight: 400;
	font-size: 18px;
	padding-left: 30px;
	position: relative;
	float: left;
}
	p.rating:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 3px;
		width: 21px;
		height: 18px;
		background-image: url(../img/image-sprite.png);
	}
	p.rating.likes {
		color: #7cb342;
		padding-right: 30px;
	}
		p.rating.likes:after {
			background-position: -67px 0;
		}
	p.rating.dislikes {
		color: #ff8a80;
	}
		p.rating.dislikes:after {
			background-position: -88px 0;
		}
/* member */
div.member {
	margin-top: 20px;
}
p.member {
	padding-left: 25px;
	position: relative;
	float: left;
	margin-top: 20px;
	margin-right: 40px;
}
	p.member:after {
		display: block;
		content: '';
		position: absolute;
		left: 0;
		top: 0px;
		width: 14px;
		height: 22px;
		background-image: url(../img/image-sprite.png);
	}
		p.member.golden:after {
			background-position: -123px 0;
		}
		p.member.platinum:after {
			background-position: -137px 0;
		}
		p.member.silver:after {
			background-position: -151px 0;
		}
		p.member.bronze:after {
			background-position: -165px 0;
		}

/* tabs */
.nav-tabs>li {
	width: 25%;
	text-align: center;
	color: #03a9f4;
}
.nav-tabs>li>a {
	font-size: 14px;
	color: #212121;
}
.nav-tabs {
    border-bottom: 1px solid #e9edf2;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #03a9f4;
    cursor: default;
    background-color: none;
    border: none;
    border-bottom: 2px solid #03a9f4;
}
.nav-tabs>li>a:hover {
	background-color: #e9edf2;

}
.tab-content {
	padding: 30px 0px;
}

/* profile-data-2 */
.profile-data-2 p span{
	color: #889da8;
	font-size: 13px;
	font-weight: 600;
}
p.profile-firstname,
p.profile-promaryphone,
p.profile-transportation,
p.profile-homeaddress,
p.profile-lastname,
p.profile-homephone,
p.profile-languages {
	float: left;
	clear: both;
}
p span.editpen {
	display: block;
	width: 14px;
	height: 14px;
	background: url(../img/image-sprite.png) -53px 0 no-repeat;
	float: left;
	margin: 3px 15px 0px 0px;
	cursor: pointer;
}
	p span.editpen:hover {
		background: url(../img/image-sprite.png) -53px -14px no-repeat;
	}

/* referral-source */
.select.referral-source {
	margin: 30px 0px;
}
.select.referral-source label {
	font-size: 13px;
	color: #889da8;
	font-weight: normal;
}

/* shift-preferences */
div.shift-preferences p {
	float: left;
}
span.shift-preferences {
	position: relative;
	color: #889da8;
	font-size: 13px;
	padding-left: 32px;
	margin-left: 30px;
	float: left;
	font-weight: 600;
}
span.shift-preferences.active {
	color: #212121;
}
	span.shift-preferences:before {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		background-image: url(../img/image-sprite.png);
	}
		span.shift-preferences.morning:before {
			width: 20px;
			height: 20px;
			background-position: -210px 0;
		}
			span.shift-preferences.morning.active:before {
				background-position: -210px -20px;
			}
		span.shift-preferences.afternoon:before {
			width: 18px;
			height: 20px;
			background-position: -230px 0;
		}
			span.shift-preferences.afternoon.active:before {
				background-position: -230px -20px;
			}
		span.shift-preferences.evening:before {
			width: 20px;
			height: 19px;
			background-position: -248px 0;
		}
			span.shift-preferences.evening.active:before {
				background-position: -248px -19px;
			}
		span.shift-preferences.night:before {
			width: 20px;
			height: 19px;
			background-position: -268px 0;
		}
			span.shift-preferences.night.active:before {
				background-position: -268px -19px;
			}

/* availability and calendar*/
.availability h4 {
	font-weight: 400;
	color: #212121;
	font-size: 16px;
	margin-bottom: 20px;
}
.day-selector-wrapper {
    width: 100%;
    max-width: 36rem;
    text-align: center;
    float: left;
}

    .day-selector-wrapper .day-wrap {
        display: inline-block;
        width: 4.25rem;
        height: 4.25rem;
        margin: .375rem .25rem;
        cursor: pointer;
        text-align: center;
        border-radius: 50%;
        transition: background-color .3s ease;
    }

        .day-selector-wrapper .day-wrap .day-txt {
            padding: .625rem 0 .0625rem 0;
            font-family: 'Nunito',sans-serif;
            font-size: 1rem;
            font-weight: 700;
            text-transform: uppercase;
        }

        .day-selector-wrapper .day-wrap .day-num {
            font-family: 'Comfortaa',cursive;
            font-size: 13px;
            font-weight: 700;
            color: #007aff;
        }

        .day-selector-wrapper .day-wrap.marked {
            background-color: #007aff;
        }

            .day-selector-wrapper .day-wrap.marked .day-num, .day-selector-wrapper .day-wrap.marked .day-txt {
                color: #fff;
            }

        .day-selector-wrapper .day-wrap.inactive .day-num {
            color: #c8cacc;
        }

        .day-selector-wrapper .day-wrap.inactive.marked {
            background-color: #c8cacc;
        }

            .day-selector-wrapper .day-wrap.inactive.marked .day-txt, .day-selector-wrapper .day-wrap.inactive.marked .day-num {
                color: #fff;
            }

        .day-selector-wrapper .day-wrap.have-job .day-num {
            position: relative;
        }

            .day-selector-wrapper .day-wrap.have-job .day-num:after {
                content: " ";
                background-color: #18d28e;
                height: .1875rem;
                width: 1.375rem;
                margin: 0 auto;
                position: absolute;
                bottom: -0.1875rem;
                left: 0;
                right: 0;
            }









/* labels */
.labels h4 {
	font-weight: 400;
	color: #212121;
	font-size: 16px;
	margin-bottom: 20px;
}
.labels span.pofile-label {
	font-size: 13px;
	color: #889da8;
	border: 1px solid #e9edf2;
	border-radius: 50px;
	padding: 10px 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}


/* unlocked-jobs */
.unlocked-jobs {
	margin: 5px 0px 15px;
}
.unlocked-jobs h3 {
	font-size: 18px;
	color: #212121;
	font-weight: normal;
	margin-bottom: 20px;
}
span.unlocked-job {
	position: relative;
	font-size: 13px;
	color: #03a9f4;
	border: 1px solid #03a9f4;
	border-radius: 50px;
	padding: 10px 50px 10px 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
	span.unlocked-job:after {
		content: '';
		position: absolute;
		display: block;
		width: 13px;
		height: 12px;
		background: url(../img/image-sprite.png) -301px 0 no-repeat;
		top: 13px;
		right: 18px;
	}

/* certifications */
.certifications h3 {
	font-size: 18px;
	color: #212121;
	font-weight: normal;
	margin-bottom: 20px;
}
span.certifications {
	position: relative;
	font-size: 13px;
	color: #212121;
	border: 1px solid #e9edf2;
	border-radius: 50px;
	padding: 10px 20px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
	text-transform: uppercase;
}
/* Agent Notes */
.panel-title {
	font-weight: normal;	
	font-size: 18px;
	color: #212121;
	border-top: 1px solid #e9edf2;
	border-bottom: 1px solid #e9edf2;
	padding: 30px 0px;
	position: relative;
}
	.panel-title a {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
	}
		.panel-title a:after {
			position: absolute;
			content: '';
			display: block;
			top: 5px;
			right: 10px;
			width: 12px;
			height: 9px;
			background: url(../img/image-sprite.png) -288px 0 no-repeat;
		}
			.panel-title a.collapsed:after {
				background: url(../img/image-sprite.png) -288px -9px no-repeat;
			}
.panel-default {
	border: 0;
	margin-top: 30px;
}
.panel-default>.panel-heading {
	background: none;
	padding: 0;
	border: 0;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
	padding: 0;
	border: 0;
	padding: 20px 0px;
}
.agent-item {
	margin-bottom: 30px;
}
.panel-body .agent-avatar {
	float: left;
	margin: 0px 25px 25px 0px;
	display: block;
	border-radius: 50px;
	overflow: hidden;
	width: 36px;
	height: 36px;
	background: #e9edf2 url(../img/not-avatar.png) center center no-repeat;
}
	.panel-body .agent-avatar img {
		width: 100%;
	}
.panel-body p.agent-text {
	font-size: 14px;
	line-height: 22px;
	color: #212121;
}
.panel-body p.agent-sign {
	font-size: 12px;
	color: #889da8;
	font-weight: normal;
}
	.panel-body p.agent-sign span {
		font-size: 12px;
		color: #889da8;
		font-weight: bold;
	}


/* LEFT
__________________________________________________________ */
.left-bar {
	border-right: 1px solid #e9edf2;
}
/* search */
div.search-block {
	padding: 25px 0px;
}
.form-group.search {
	position: relative;
}
	.form-group.search:after {
		position: absolute;
		content: '';
		display: block;
		top: 13px;
		left: 15px;
		width: 14px;
		height: 14px;
		background: url(../img/image-sprite.png) -313px 0 no-repeat;
	}
	.form-group.search input {
		padding-left: 40px;
	}
.search-btn {
	width: 100%;
}
.link-with-ico {
	font-size: 14px;
	color: #889da8;
	padding-left: 25px;
	position: relative;
	margin-right: 20px;
	float: left;
	margin-top: 15px;
}
	.link-with-ico:after {
		position: absolute;
		content: '';
		left: 0;
		display: block;
		background-image: url(../img/image-sprite.png);
	}
	.link-with-ico.filter-link:after {
		top: 13px;
		width: 18px;
		height: 21px;
		background-position: 0 0;
		top: 0px;
	}
	.link-with-ico.sort-link:after {
		top: 13px;
		width: 20px;
		height: 18px;
		top: 0px;
		background-position: -18px 0;
	}

/* candidates */
.candidates h3 {
	color: #212121;
	font-weight: normal;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.candidate-item {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(14, 41, 68, 0.18);
	box-shadow: 0px 1px 1px rgba(14, 41, 68, 0.18);
	padding: 25px;
	margin-top: 10px;
	border-bottom: 2px solid #fff;
}
.candidate-item:hover {
	-webkit-box-shadow: 0px 1px 2px rgba(14, 41, 68, 0.4);
	box-shadow: 0px 1px 2px rgba(14, 41, 68, 0.4);
	border-bottom: 2px solid #03a9f4;
}
	.candidate-item div.condidat-avatar {
		float: left;
		background: #e9edf2 url(../img/not-avatar.png) center center no-repeat;
		display: block;
		width: 36px;
		height: 36px;
		overflow: hidden;
		border-radius: 100px;
	}
		.candidate-item div.condidat-avatar img {
			width: 100%;
		}
	.candidate-item .candidate-name {
		font-size: 14px;
		color: #212121;
		font-weight: bold;
		padding-left: 58px;
	}
	.candidate-item .status {
		color: #889da8;
		font-size: 12px;
		padding-left: 75px;
		position: relative;
	}
		.candidate-item .status:before {
			content: '';
			position: absolute;
			width: 6px;
			height: 6px;
			background: #889da8;
			border-radius: 6px;
			left: 60px;
			top: 5px;
		}
		.candidate-item .status.active:before {
			background: #7cb342;
		}

	.candidate-item .city {
		color: #889da8;
		font-size: 12px;
		padding-left: 82px;
		position: relative;
	}
		.candidate-item .city:before {
			content: '';
			position: absolute;
			width: 14px;
			height: 15px;
			left: 60px;
			top: 0px;
			background: url(../img/image-sprite.png) -39px 0 no-repeat;
		}



/* verified */
.candidate-item p.verified {
	margin-left: 57px;
}
.profile-data p.verified {
	margin-top: 20px;
}
p.verified {
    font-size: 13px;
    position: relative;
    padding-left: 20px;
}
p.verified:before {
	content: '';
	position: absolute;
	color: '';
	background-image: url(../img/image-sprite.png);
	left: 0;
	display: block;
}
	p.verified.true {
		color: #7cb342;
	}	
		p.verified.true:before {
			top: 3px;
			width: 13px;
			height: 11px;
			background-position: -109px 0;
		}

	p.verified.false {
		color: #b0bec5
	}
		p.verified.false:before {
			top: 3px;
			width: 13px;
			height: 12px;
			background-position: -109px -11px;
		}



/* RIGHT
__________________________________________________________ */
 /* Toggle Styles */
 
/* .row{
    margin-left:0px;
    margin-right:0px;
} */

#wrapper {
    padding-right: 50px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-right: -200px;
    right: 50px;
    width: 200px;
    background: #ffffff;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
   	-webkit-box-shadow: 0px 0px 10px rgba(14,41,68,0.12);
   	box-shadow: 0px 0px 10px rgba(14,41,68,0.12);
}

.sidebar-nav {
    display: block;
    float: left;
    width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-right: 200px;
}
#wrapper.active #sidebar-wrapper {
    right: 200px;
}

#page-content-wrapper {
  width: 100%;
}

/* #sidebar_menu li a, .sidebar-nav li a {
    color: #212121;
    display: block;
    float: left;
    text-decoration: none;
    width: 200px;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
} */

li.menu-toggle a{
	
}
a.menu-toggle {
	font-size: 16px;
	text-decoration: none;
	color: #212121;
	padding-left: 30px;
	margin-left: 19px;
	position: relative;
}
	a.menu-toggle:before {
		position: absolute;
		content: '';
		display: block;
		left: 0;
		top: 6px;
		width: 14px;
		height: 10px;
		background: url(../img/image-sprite.png) -389px 0px;
	}

a.navlink {
	font-size: 13px;
	color: #889da8;
	padding-left: 33px;
	margin-left: 17px;
	position: relative;
	font-weight: bold;
}
ul.sidebar-nav li {
	display: block;
    background: none;
    float: left;
    padding: 20px 0px;
    width: 200px;
}
ul.sidebar-nav li.active {
	background: #ebf8fe;
	border-right: 3px solid #03a9f4;
}
ul.sidebar-nav li.active a {
	color: #03a9f4;
}
a.navlink.active {

}
	a.navlink:before {
		position: relative;
		content: '';
		display: block;
		left: 0;
		background-image: url(../img/image-sprite.png);
	}
		a.navlink.home-link:before {
			position: absolute;
			width: 16px;
			height: 13px;
			background-position: -327px 0;
		}
			li.active a.navlink.home-link:before {
				background-position: -327px -13px;
			}
		a.navlink.dashboard-link:before {
			position: absolute;
			width: 14px;
			height: 14px;
			background-position: -341px 0;
		}
			li.active a.navlink.dashboard-link:before {
				background-position: -341px -14px;
			}
		a.navlink.candidates-link:before {
			position: absolute;
			width: 16px;
			height: 12px;
			background-position: -357px 0;
		}
			li.active a.navlink.candidates-link:before {
				background-position: -357px -12px;
			}
		a.navlink.admin-link:before {
			position: absolute;
			width: 16px;
			height: 16px;
			background-position: -373px 0;
		}
			li.active a.navlink.admin-link:before {
				background-position: -373px -16px;
			}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}


.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

/* .sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
} */

#main_icon
{
   float:right;
   padding-right: 65px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 65px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    }
    
}






/* QUOTE CALCULATOR
__________________________________________________________ */
section.quote-calculator {
	margin-top: 50px;
}
.quote-calculator-block {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(14, 41, 68, 0.18);
	box-shadow: 0px 1px 1px rgba(14, 41, 68, 0.18);
	padding: 10px 40px 40px 40px;
}
.total {
	padding: 0px 0px 10px 0px;
}

form label {
	color: #889da8;
	font-size: 13px;
	font-weight: 400;
	width: 100%;
	clear: both;
}
.text input[type=text],
.select select {
	clear: both;
	height: 40px;

}
select {

}
.select2-container {
	width: 100%;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #e9edf2;
	border-radius: 20px;
	height: 40px;
	outline: none;

}
	.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
		border-radius: 20px 20px 0px 0px;
	}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding: 6px 15px;
	font-size: 13px;
	font-weight: 600;
	color: #889da8;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #03a9f4 transparent transparent transparent;
	margin: 5px 10px 0px -15px;
}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border-color: transparent transparent #03a9f4 transparent;
		border-width: 0 4px 5px 4px;
	}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #e9edf2;
	color: #212121;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background-color: #03a9f4;
	color: #fff;
}
.select2-dropdown {
	border: 1px solid #e9edf2;
}


