.browsehappy {
    margin: 0.2em 0;
    padding: 0.2em 0;

    color: #000;
    background: #ccc;
}

#logo {
    float: left;
    @media @max-md {
        float: none;

        .cb; // center block
        .tc; // center text
    }
}

body {
    .clear();
}

.container-fluid.with-sidebar {
    width: ~'calc(100% - 90px)';
    margin-left: 0;
    padding: 0;
    float: right;
}

//datalists
.datalist {
    display: none;
    opacity: 0;
    visibility: hidden;
}

//modals
.modal-bg-wrapper {
    display: none;
    background-color: rgba(45, 50, 51, 0.66);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;

    &.opened {
        display: block;
    }
}

.modal-standart {
    background-color: @white;
    padding: 2.5rem 3.5rem;
    width: 49rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0rem 2rem 4rem 0.5rem fade(@black, 24%);

    a {
        cursor: pointer;
    }

    .close-btn-wrap {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        z-index: 5;

        a {
            cursor: pointer;
            color: @gray-light;
            transition: color .3s ease;

            &:hover {
                color: @gray;
            }
        }
    }
}

.modal-confirmation {
    width: 40rem;
    text-align: center;

    .icon-wrap {

        .icon-deleteconfirmation {
            font-size: 4rem;
            color: @red;
        }
    }

    p {
        font-size: 1.8rem;
        line-height: 2.6rem;
        color: fade(@color-txt, 88%);

        .narrow {
            display: inline-block;
            margin-bottom: 0.5rem;
            letter-spacing: -0.05rem;
        }

        .small {
            display: inline-block;
            margin-top: 0.5rem;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }

    .btn-wrap {
        margin: 3.5rem 0 1rem;

        .btn-cancel {
            margin-right: 3rem;

            &.alone {
                margin-right: 0;
            }
        }
    }
}

.modal-form {
    width: 35.5rem;
    padding: 3.5rem 6rem;

    h2 {
        margin: 0 0 1rem;
        font-size: 2.2rem;
        font-weight: 400;
    }

    .placeholder {
        display: inline-block;
        width: 100%;
        margin: 2rem 0 0rem;
    }

    input {
        width: 100%;
        margin: 1.5rem 0 0.5rem;
        padding: 0.5rem 0.5rem;
        border: 1px solid @gray-light;
        border-radius: 5px;
    }

    .role-wrap {
        margin-top: 2rem;
        .clear();

        .txt {
            display: inline-block;
        }

        .custom-dropdown {
            float: right;

            .select2.select2-container.select2-container--default {
                width: 17rem !important;
            }
        }
    }

    .btn-wrap {
        margin-top: 3rem;
    }
}

.modal-upload-image {

    .heading {
        margin: 0;
        position: absolute;
        top: 1rem;
        left: 1.5rem;
        font-size: 1.8rem;
    }

    .icon-wrap {
        margin: 3rem 0 2rem;
        font-size: 6rem;
        color: @gray-light;
        text-align: center;
    }

    .progress-bar-wrap {
        position: relative;
    }

    .progress-percent {
        display: inline-block;
        position: absolute;
        top: 0;
        right: -0.5rem;
        font-size: 1.2rem;
        line-height: 1.09rem;
        color: @gray-light;
    }

    .progress-bar {
        width: 35.5rem;
        height: 1.1rem;
        position: relative;
        margin: 0 auto;
        font-size: 0.8rem;
        border: 1px solid @gray-light;
        border-radius: 4px;
        text-align: center;

        .progress-bar-fill {
            display: inline-block;
            min-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: @gray-light;
            border-radius: 4px;
            z-index: -1;

            &.finished {
                backround: @blue-dark;
            }
        }

        .num {
            line-height: 0.4rem;
            color: @white;
        }
    }

    .btn-wrap {
        margin-top: 2rem;
        text-align: center;
    }

    .btn-browse {
        display: inline-block;
        width: 13.5rem;
        padding: 0.8rem 1rem;
        font-size: 1.3rem;
        color: @white;
        background: @green-btn;
        border-radius: 4px;
        transition: background .3s ease;

        &:hover {
            background: darken(@green-btn, 10%);
        }
    }

    .txt {
        font-size: 1.4rem;
        font-weight: 700;
    }
}

.modal-milestone-details {
    display: inline-block;
    position: absolute;
    padding: 2.5rem 2rem 1rem;
    width: 30rem;
    opacity: 0;
    visibility: hidden;
    font-size: 1.3rem;
    border: 1px solid @gray-light;
    border-radius: 1rem;
    background: @white;
    box-shadow: 0.15rem 0.15rem 0.5rem 0.1rem fade(@color-txt, 24%);
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 29;

    &:before {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        -webkit-transform: translate(-50%, 100%) rotate(45deg);
        transform: translate(-50%, 100%) rotate(45deg);
        content: '';
        width: 1.75rem;
        height: 1.75rem;
        background: @white;
        box-shadow: 0.35rem 0.25rem 0.5rem 0.05rem fade(@color-txt, 34%);
        // z-index: 2;
    }

    &.shown {
        opacity: 1;
        visibility: visible;
    }

    .close-btn-wrap {
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 1.4rem;
        cursor: pointer;

        a {
            color: @gray;
            transition: color .3s ease;

            &:hover {
                color: @gray-txt;
            }
        }
    }

    .awards {
        margin-top: 1rem;
        padding-top: 1rem;
        font-size: 1.4rem;
        border-top: 1px solid @gray-light;

        .icon-star,
        .icon-starfilled {
            display: inline-block;
            margin-right: 0.3rem;
            font-size: 1.5rem;
        }

        .icon-star {
            color: @gray-light;
        }

        .icon-starfilled {
            color: @yellow;
        }
    }
}

.modal-voting {
    display: inline-block;
    position: absolute;
    padding: 2rem 2rem 1rem;
    width: 14rem;
    height: 19rem;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    border: 1px solid @gray-light;
    border-radius: 1rem;
    background: @white;
    box-shadow: 0.15rem 0.15rem 0.5rem 0.1rem fade(@color-txt, 44%);
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 29;

    &.shown {
        opacity: 1;
        visibility: visible;
    }

    &:before {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        -webkit-transform: translate(-50%, 100%) rotate(45deg);
        transform: translate(-50%, 100%) rotate(45deg);
        content: '';
        width: 1.75rem;
        height: 1.75rem;
        background: @white;
        box-shadow: 0.35rem 0.25rem 0.5rem 0.05rem fade(@color-txt, 40%);
        // z-index: 2;
    }

    .link-vote {
        display: inline-block;
        width: 100%;

        input {
            display: none;

            &:checked + label {
                color: @white;
                background: @blue-dark;
            }
        }

        label {
            display: inline-block;
            margin: 0.5rem 0;
            padding: 0.35rem 0;
            width: 100%;
            font-size: 1.5rem;
            color: @blue;
            background: @white;
            border: 1px solid @blue-dark;
            border-radius: 2rem;
            cursor: pointer;
            transition: color .3s ease, background .3s ease;

            &:hover {
                color: @white;
                background: @blue-dark;
            }
        }
    }

    .link-remove-votes {
        // display: inline-block;
        display: none;
        margin-top: 1rem;
        font-size: 1.2rem;
        color: @blue;
        transition: color .3s ease;

        &:hover {
            color: @blue-dark;
        }
    }
}

//form elements
.input-txt-default {
    height: 3.2rem;
    padding: 0 1rem;
    border: 1px solid @gray-light;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
}

.custom-dropdown {
    display: inline-block;
    width: 12rem;

    &.big {
        width: 17rem;
    }

    &.bigger {
        width: 26rem;
    }

    &:focus {
        outline: none;
    }

    &.with-awesomplete {

        .input-field {
            padding: 0.4rem 1rem;
            border: 1px solid @blue;
            border-radius: 2rem;
            color: @blue;

            &::-webkit-input-placeholder{
                color: @blue;
            }

            &:-moz-placeholder{
                color: @blue;/* For Firefox 18- */
            }

            &::-moz-placeholder{
                color: @blue;/* For Firefox 19+ */
            }

            &:-ms-input-placeholder{
                color: @blue;
            }
        }

        ul {
            max-height: 200px;
            overflow-y: auto;
            font-size: 1.4rem;
            line-height: 2rem;
        }
    }

    select {
        padding: 0.5rem 1rem;
        width: 100%;
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        color: @blue;
        border: 1px solid @blue;
        border-radius: 1.5rem;
        background-color: @white;

        &:focus {
            outline: none;
        }
    }

    .select2 {
        font-size: 1.3rem;
        font-weight: 700;
        letter-spacing: 0.04rem;
        color: @blue;

        &:focus {
            outline: none;
        }

        .select2-selection {
            padding: 0 0.5rem;
            letter-spacing: 0.04rem;
            border: 1px solid @blue;
            border-radius: 1.5rem;

            &:focus {
                outline: none;
            }
        }
    }
}

.avatar-small-wrap {
    display: inline-block;
    position: relative;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    overflow: hidden;

    .img-placeholder {
        display: inline-block;
        width: 4.2rem;
        height: 4.2rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        border: 1px solid @gray;
        overflow: hidden;

        .initials {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }

    img {
        width: 4.2rem;
        height: 4.2rem;
        position: relative;
        border-radius: 50%;
        z-index: 3;
    }
}

.no-posts {

    .cont-small {
        width: 53rem;
        margin: 4rem auto 0;
        color: @gray-light;
        text-align: center;

        @media screen and (max-width: 600px) {
            width: 100%;
        }
    }

    p {
        font-size: 1.8rem;

        &.txt-small {
            font-size: 1.4rem;
        }
    }

    .row {
        margin-top: 3rem;
    }

    .third {
        margin: 2rem 0;

        .icon-wrap {
            display: inline-block;
            width: 100%;
            font-size: 7rem;

            span {
                display: inline-block;
            }

            .icon-idea {
                height: 12.3rem;
                margin-top: -2rem;
                font-size: 9rem;
            }
        }

        .txt {
            display: inline-block;
            width: 100%;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
}

//buttons
.btn-post-new {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: @white;
    background: @blue;
    border-radius: 2rem;
    transition: background .3s ease;
    box-shadow: 1px 1px 4px 2px fade(@gray-light, 40%);

    &:hover {
        color: @white;
        background: @blue-dark
    }

    .txt {
        display: inline-block;
        vertical-align: middle;
    }

    .icon-postnew {
        display: inline-block;
        vertical-align: middle;
        font-size: 1.75rem;
        margin-left: 0.75rem;
    }
}

.btn-close {
    font-size: 1.5rem;
    color: @gray;

    &:hover {
        color: @gray;
    }
}

.btn-round {
    display: inline-block;
    min-width: 11rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: @white;
    background: @blue;
    border-radius: 2rem;
    outline: none;
    border: none;
    transition: background .3s ease;

    &:hover {
        background: @blue-dark;
        color: @white;
    }
}

.btn-cancel {
    display: inline-block;
    min-width: 11rem;
    cursor: pointer;
}

.btn-more-posts {
    margin: 2rem 0;
    padding: 0.75rem 2.25rem;
    cursor: pointer;
}