.feed {
	// padding: 2rem;
	position: relative;
}

.feed-list {
	min-height: ~'calc(100vh - 9rem)';
	padding: 6.5rem 2rem 2rem;
	background: #f8f8f8;

	.row {
		margin-left: -1rem;
		margin-right: -1rem;

		.third {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	.type {
		display: inline-block;
		margin: 1rem 0 0;
		padding-top: 1rem;
		width: 100%;
		height: 34rem;
		border: 1px solid #eeeeee;
		border-radius: 1.5rem;
		position: relative;
		overflow: hidden;
		background: @white;
		transition: box-shadow .3s ease;
		will-change: transform;

		&:hover {
			box-shadow: 2px 2px 2px 2px fade(@gray-light, 40%);
		}

		&.idea {

			.icon-wrap {
				margin: -0.4rem 0 0.3rem;
				font-size: 4.2rem;
			}

			&:before {
				background: @orange;
			}
		}

		&.question:before {
			background: @pink;
		}

		&.success:before {
			background: @green;
		}

		&:before {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			display: block;
			content: '';
			height: 0.6rem;
		}

		.content {
			text-align: center;
			color: @gray-light;
		}

		.icon-wrap {
			display: inline-block;
			margin: 0.5rem 0;
			font-size: 3.5rem;
		}

		.type-inner {
			display: block;
			// margin-top: 2rem;
			font-size: 1.2rem;
			text-transform: uppercase;
			color: @gray-light;

			.rank {
				display: inline-block;
				margin-left: 1rem;
				padding: 0.1rem 1rem;
				color: @white;
				background-color: @gray;
			}
		}

		.title {
			margin: 1rem 0;
			padding: 1rem 3rem;
			height: 12.2rem;
			// overflow: hidden;
			// font-family: @font-primary;
			font-size: 2.4rem;
			font-weight: 400;
			font-style: italic;
			color: fade(@color-txt, 88%);
		}

		.line {
			display: inline-block;
			width: 60%;
			margin: 0 auto 1.5rem;
			border-bottom: 1px solid #eeeeee;
		}

		.bottom-options {
			.clear();

			.date,
			.person,
			.votes,
			.likes {
				width: 33.333333%;
				float: left;
				font-size: 1.2rem;
				color: @gray;
				text-transform: uppercase;
			}

			.date,
			.votes,
			.likes {
				margin-top: 5.1rem;
			}

			.votes,
			.likes {

				span {
					display: inline-block;
					vertical-align: middle;
				}

				.small-wrap {
					position: relative;
					padding-left: 2rem;
				}

				.icon-vote,
				.icon-voted,
				.icon-like,
				.icon-liked {
					margin-right: 0.25rem;
					font-size: 1.5rem;
					color: @blue-dark;
				}

				.icon-vote {
					-webkit-transform: translateY(-0.1rem);
					transform: translateY(-0.1rem);
				}
			}

			.votes {
				position: relative;
				// padding-left: 3rem;

				.icon-vote,
				.icon-voted {
					position: absolute;
					left: 0rem;
					transition: opacity .3s ease, visibility .3s ease;
				}

				.icon-voted {
					opacity: 0;
					visibility: hidden;
				}

				&.voted {

					.icon-vote {
						opacity: 0;
						visibility: hidden;
					}

					.icon-voted {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			.likes {
				position: relative;

				.icon-like,
				.icon-liked {
					position: absolute;
					left: 0rem;
					transition: opacity .3s ease, visibility .3s ease;
				}

				.icon-liked {
					opacity: 0;
					visibility: hidden;
				}

				&.liked {

					.icon-like {
						opacity: 0;
						visibility: hidden;
					}

					.icon-liked {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			.person {

				.name {
					display: inline-block;
					padding-top: .5rem;
					width: 100%;
				}
			}
		}
	}
}

.new-post,
.edit-story {
	padding: 0 2rem 5rem;

	p {
		margin-top: 4rem;
	}

	input[type=text],
	textarea {
		display: inline-block;
		padding: 0.6rem 1rem;
		width: 53rem;
		border: 1px solid @gray-light;
		border-radius: 5px;

		&::-webkit-input-placeholder{
            color: @gray-light;
        }

        &:-moz-placeholder{
            color: @gray-light;/* For Firefox 18- */
        }

        &::-moz-placeholder{
            color: @gray-light;/* For Firefox 19+ */
        }

        &:-ms-input-placeholder{
            color: @gray-light;
        }
	}

	textarea {
		height: 15rem;
		resize: none;

		&:focus {
			outline: none;
		}
	}

	.bottom-wrap {
		width: 53rem;
		margin-top: 3rem;
		.clear();

		.file-wrap {
			float: left;
		}

		.email-wrap {
			float: right;

			.custom-dropdown {
				margin-left: 1rem;
			}
		}

		.input-wrap {

			input[type=file] {
				display: none;
			}

			label {
				display: inline-block;
				margin: 0.5rem 0;
				color: @blue;
				cursor: pointer;
				transition: color .3s ease;

				&:hover {
					color: @blue-dark;
				}

				&.with-image {
					margin: 0.5rem 0 1rem;

					.before-upload {
						display: none;
					}

					.after-upload {
						display: inline-block;
					}
				}

				.after-upload {
					display: none;

					.img-wrap {
						display: inline-block;
						margin: 0 0 0.5rem;
						width: 100%;

						img {
							width: 6rem;
							height: 5rem;
						}
					}

					.icon-close,
					.txt {
						font-size: 1.2rem;
					}
				}
			}
		}

		.email-wrap {

			p {
				margin: 0;
				display: inline-block;
			}
		}
	}

	button[type=submit] {
		margin: 5rem 0 1rem;
	}
}

.new-post {

	.post-type-wrapper {
		margin: 0 -2rem;
		.clear();

		.label-wrap {
			float: left;
			padding: 0 2rem;
		}

		input {
			display: none;

			&#post-idea:checked + label {
				background: @orange;
			}

			&#post-question:checked + label {
				background: @pink;
			}

			&#post-success:checked + label {
				background: @green;
			}

			&:checked + label {
				color: @white;
			}
		}

		label {
			display: inline-block;
			width: 26rem;
			height: 13.5rem;
			border: 1px solid @gray-light;
			border-radius: 5px;
			color: @gray-light;
			text-align: center;
			cursor: pointer;
			transition: background .3s ease, color .3s ease;

			.icon-wrap,
			.txt {
				display: inline-block;
				width: 100%;
			}

			.icon-wrap {
				font-size: 7rem;
			}

			.txt {
				font-size: 1.2rem;
				text-transform: uppercase;
			}
		}
	}
}

.edit-story {

	.head-txt {
		margin: 5rem 0 2rem;
		font-size: 1.8rem;
		font-weight: 400;
		text-transform: uppercase;
		color: @gray-light;

		& + p {
			margin-top: 2rem;
		}
	}
}

.full-story {
	padding: 0 2rem;

	.top {
		margin: 4rem 0 2rem;
		position: relative;
		width: 70rem;

		@media @max-md {
			width: 100%;
		}

		.title {
			display: inline-block;
			margin: 0;
			width: 50rem;
			font-size: 2.4rem;
			font-weight: 400;
			font-style: italic;
			line-height: 3.6rem;
			color: fade(@color-txt, 88%);

			@media @max-sm {
				width: 100%;
				margin-bottom: 3rem;
			}
		}

		.btn-edit {
			position: absolute;
			top: 0;
			right: 0;
			transition: color .3s ease;

			@media @max-sm {
				position: relative;
				top: auto;
				right: auto;
			}

			.icon-edit {
				font-size: 2.5rem;
			}

			.txt {
				font-size: 1.2rem;
			}
		}

		.btn-delete {
			position: absolute;
			top: 0;
			right: -10rem;
			transition: color .3s ease;
			cursor: pointer;

			@media @max-md {
				right: 0;
				top: 4rem;
			}

			@media @max-sm {
				position: relative;
				top: auto;
				right: auto;
				margin-left: 5rem;
			}

			.icon-delete {
				font-size: 2.5rem;
			}

			.txt {
				font-size: 1.2rem;
			}
		}

		.details {
			position: relative;
			margin: 3rem 0;
			padding: 0 8rem 2rem 0;
			font-size: 1.2rem;
			text-transform: uppercase;
			color: @gray;
			border-bottom: 1px solid @separator;

			.person {
				display: inline-block;
			}

			.avatar-small-wrap {
				margin-right: 1rem;
				-webkit-transform: translateY(1rem);
				transform: translateY(1rem);
			}

			.date {
				position: absolute;
				right: 0;
				bottom: 2rem;
			}

			.votes,
			.likes {
				// padding-left: 4rem;
				cursor: pointer;

				.small-wrap {
					position: relative;
					padding-left: 2rem;
				}

				span {
					display: inline-block;
					vertical-align: middle;
				}

				.icon-vote,
				.icon-voted,
				.icon-like,
				.icon-liked {
					margin-right: 0.25rem;
					font-size: 1.5rem;
					color: @blue-dark;
				}

				.icon-vote {
					-webkit-transform: translateY(-0.1rem);
					transform: translateY(-0.1rem);
				}
			}

			.votes {
				position: relative;
				// padding-left: 3rem;

				.icon-vote,
				.icon-voted {
					position: absolute;
					left: 0rem;
					transition: opacity .3s ease, visibility .3s ease;
				}

				.icon-voted {
					opacity: 0;
					visibility: hidden;
				}

				&.voted {

					.icon-vote {
						opacity: 0;
						visibility: hidden;
					}

					.icon-voted {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			.likes {
				position: relative;

				.icon-like,
				.icon-liked {
					position: absolute;
					left: 0rem;
					transition: opacity .3s ease, visibility .3s ease;
				}

				.icon-liked {
					opacity: 0;
					visibility: hidden;
				}

				&.liked {

					.icon-like {
						opacity: 0;
						visibility: hidden;
					}

					.icon-liked {
						opacity: 1;
						visibility: visible;
					}
				}
			}

			.rank {
				margin-left: 1rem;
				padding: 0.1rem 1rem;
				color: @white;
				background: @gray;
			}
		}
	}

	.content {
		margin: 5rem 0;
		width: 54rem;

		@media @max-md {
			width: 100%;
		}

		p {
			font-size: 1.6rem;
			color: fade(@color-txt, 88%);
		}

		img {
			display: block;
			margin: 2rem 0;
			max-width: 100%;
		}
	}
}