@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?62416808');
  src: url('fonts/fontello.eot?62416808#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff2?62416808') format('woff2'),
       url('fonts/fontello.woff?62416808') format('woff'),
       url('fonts/fontello.ttf?62416808') format('truetype'),
       url('fonts/fontello.svg?62416808#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62416808#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  // width: 1em;
  // margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  // line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  // margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-assets:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-dashboard:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-feed:before { content: '\e804'; } /* '' */
.icon-idea:before { content: '\e805'; } /* '' */
.icon-like:before { content: '\e806'; } /* '' */
.icon-liked:before { content: '\e807'; } /* '' */
.icon-milestones:before { content: '\e808'; } /* '' */
.icon-postnew:before { content: '\e809'; } /* '' */
.icon-question:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-settings:before { content: '\e80c'; } /* '' */
.icon-sortarrow:before { content: '\e80d'; } /* '' */
.icon-successstory:before { content: '\e80e'; } /* '' */
.icon-vote:before { content: '\e80f'; } /* '' */
.icon-voted:before { content: '\e810'; } /* '' */
.icon-deleteconfirmation:before { content: '\e811'; } /* '' */
.icon-delete-search-criteria:before { content: '\e812'; } /* '' */
.icon-delete:before { content: '\e813'; } /* '' */
.icon-ideathick:before { content: '\e814'; } /* '' */
.icon-graph:before { content: '\e815'; } /* '' */
.icon-key:before { content: '\e816'; } /* '' */
.icon-upload-photo:before { content: '\e818'; } /* '' */
.icon-check:before { content: '\e819'; } /* '' */
.icon-milestonesarrowleft:before { content: '\e81a'; } /* '' */
.icon-milestonesarrowright:before { content: '\e81b'; } /* '' */
.icon-replacephoto:before { content: '\e81c'; } /* '' */
.icon-star:before { content: '\e81d'; } /* '' */
.icon-starfilled:before { content: '\e81e'; } /* '' */
.icon-right-small:before { content: '\e84a'; } /* '' */