.header {
	position: relative;
	height: 9rem;
	padding: 3.3rem 2rem 2.7rem;
	background: #fbfafa;
	border-bottom: 1px solid #eeeeee;

	&:before {
		display: inline-block;
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: -9rem;
		width: 9rem;
		height: 9rem;
		background: #fbfafa;
		border-bottom: 1px solid #eeeeee;
		z-index: -1;
	}

	h1 {
		display: inline-block;
		margin: 0;
		font-size: 1.8rem;
		font-weight: 400;
		color: @gray;
		text-transform: uppercase;
	}

	.small-txt {
		position: relative;
		margin: 0.5rem 0 0;
		font-size: 1.4rem;
		color: @gray-light;

		&.post-category {
			text-transform: uppercase;
		}

		.post-icon {
			position: relative;
			display: inline-block;
			min-height: 1px;
			width: 5.5rem;
			font-size: 0;
			color: @gray-light;
			-webkit-transform: translateY(-1rem);
			transform: translateY(-1rem);

			[class*=icon] {
				position: absolute;
				top: 50%;
				left: 0;
				font-size: 4rem;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);

				&.icon-idea {
					font-size: 4.75rem;
				}
			}
		}
	}

	.btn-close {
		position: absolute;
		top: 50%;
		right: 2rem;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.tips {
		margin: 0 2rem 0 5rem;
		margin-left: 5rem;
		font-size: 1.3rem;
		color: @blue;

		.tip {
			margin-left: 1rem;

			&:hover {
				color: @blue-dark;
			}
		}

		input[type=checkbox] {
			display: none;

			&:checked + label .color-node:before {
				-webkit-transform: scale(1);
				transform: scale(1);
			}
		}

		label {
			display: inline-block;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			
		}

		.color-node {
			position: relative;
			display: inline-block;
			margin: 0 0.3rem;
			width: 1.5rem;
			height: 1.5rem;
			border: 1px solid;
			border-radius: 0.3rem;
			vertical-align: middle;
			overflow: hidden;
			transition: background .3s ease;

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				top: -.3rem;
				right: -.3rem;
				bottom: -.3rem;
				left: -.3rem;
				border-radius: 50%;
				-webkit-transform: scale(0);
				transform: scale(0);
				-webkit-transition: transform .3s ease;
				transition: transform .3s ease;
			}

			&.orange {
				border-color: @orange;

				&:before {
					background: @orange;
				}
			}

			&.pink {
				border-color: @pink;

				&:before {
					background: @pink;
				}
			}

			&.green {
				border-color: @green;

				&:before {
					background: @green;
				}
			}
		}

		.name {
			display: inline-block;
			vertical-align: middle;
		}
	}

	.custom-dropdown {
		margin: 0 0 0 1rem;
	}

	.search-wrap {
		display: inline-block;
		float: right;

		.input-wrap {
			display: inline-block;
			position: relative;

			.btn-search-clear {
				display: inline-block;
				width: 1.75rem;
				height: 1.75rem;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 1.7rem;
				color: @white;
				background: @gray-light;
				border-radius: 50%;
				cursor: pointer;
				transition: background .3s ease;

				span {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}

				&:hover {
					background: @red;
				}
			}
		}

		input,
		button {
			display: inline-block;
			vertical-align: middle;
		}

		input {
			width: 19rem;
			padding: 0 0 0.5rem;
			font-size: 1.3rem;
			letter-spacing: 0.1rem;
			color: @gray-light;
			border: none;
			border-bottom: 1px solid @gray-light;
			background: rgba(255, 255, 255, 0);

			&::-webkit-input-placeholder{
                color: @gray-light;
            }

            &:-moz-placeholder{
                color: @gray-light;/* For Firefox 18- */
            }

            &::-moz-placeholder{
                color: @gray-light;/* For Firefox 19+ */
            }

            &:-ms-input-placeholder{
                color: @gray-light;
            }
		}

		button {
			border: none;
			outline: none;
			font-size: 2.25rem;
			color: @blue;
			background: rgba(255, 255, 255, 0);
			transition: color .3s ease;

			&:hover {
				color: @blue-dark;
			}
		}
	}
}

.btn-post-new {
	position: fixed;
	top: 11rem;
	right: 2rem;
	z-index: 12;
}