.login-wrapper {
    background: @gray-bg;
	height: 60vh;
    min-height: 50rem;
    border-bottom: 1px solid @separator;
    position: relative;

    // forgot password page
    &.forgot-pass {
        height: 100vh;
        min-height: 34rem;
        border: none;

        .login-container {
            width: 35rem;
            padding: 0;
            top: 40%;
            left: 50%;
            right: initial;
            bottom: initial;
            -webkit-transform: translate(-50%, -40%);
            -ms-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);

            .login-form {
                padding: 2.5rem 5rem 1.5rem 5rem;
                margin-top: 0;

                h2 {margin-bottom: 2.8rem;}
                .btn-round {margin-top: 0.4rem;}
            }

            .login-input {margin-bottom: 2.4rem;}

            .txt-saved {
                font-size: 1.8rem;
                color: @gray-txt;
                text-align: center;
                margin: 0 0 6rem 0;
            }

            .link-goto {
                display: block;
                width: 14rem;
                margin: 0 auto;
            }
        }
    }
}

.login-container {
    width: 94rem;
    padding: 0 0 3.7rem 25rem;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    & > .half {width: 50% !important}

    .mob-img {
        position: absolute;
        left: 0;
        bottom: -8rem;
    }

    h1 {
        font-size: 3.6rem;
        font-weight: 400;
        margin: 0 0 3.4rem 0;
    }

    .fact-item {
        padding-bottom: 1.3rem;

        .icon-wrap {
            display: inline-block;
            .square(7.8rem);
            line-height: 7.4rem;
            text-align: center;
            border: 2px solid @color-txt;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; 
        }

        .icon-dashboard {font-size: 2.8rem;}
        .icon-ideathick {font-size: 4.8rem;}
        .icon-graph {font-size: 3.4rem;}

        p {
            display: inline-block;
            font-size: 1.8rem;
            line-height: 7.8rem;
            margin: 0 0 0 1rem;
            vertical-align: top;
        }
    }

    .login-form {
        background-color: white;
        padding: 1.8rem 4.5rem 2.2rem 4.5rem;
        margin-top: 4.5rem;
        border: 1px solid @gray-light;
        -webkit-border-radius: 2.2rem;
        -moz-border-radius: 2.2rem;
        border-radius: 2.2rem; 

        h2 {
            font-size: 2.4rem;
            font-weight: 400;
            color: @gray-txt;
            margin: 0 0 3.2rem 0;
        }

        .btn-round {
            display: block;
            min-width: 14rem;
            margin-bottom: 1.3rem;
        }

        a {
            display: inline-block;
            cursor: pointer;
        }

        .label-txt {
            display: inline-block;
            padding-bottom: 1.5rem;
            color: @gray-txt;
        }
    }

    .login-input {
        width: 100%;
        margin-bottom: 3rem;
    }
}

.login-modal-pass {
    padding: 4.9rem 6rem 2.6rem 6rem;
    color: @gray-txt;

    h2 {
        font-size: 2.4rem;
        font-weight: 400;
        margin: 0;
    }

    .login-input {width: 230px;}

    p {margin: 0;}

    .info-txt {padding: 2.8rem 0 1.8rem 0;}

    .alert-txt {padding: 0.9rem 0 2.2rem 0;}

    .btn-round {min-width: 14rem;}
}

.login-modal-thx {
    padding: 4rem 6rem 4rem 6rem;
    color: @gray-txt;
    text-align: center;

    h3 {
        padding-bottom: 1.8rem;
        font-size: 1.8rem;
        font-weight: 400;
        margin: 0;
    }

    .icon-key {
        font-size: 3.7rem;
        color: @gray-light;
    }

    .info-txt {
        padding: 1.2rem 0 4.2rem 0;
        margin: 0;
    }

    a {
        display: inline-block;
        cursor: pointer;
    }
}