.milestones-inner {
	min-height: ~'calc(100vh - 9rem)';
	padding: 3rem 2rem 2rem;
	background: #f8f8f8;

	.top-part {
		.clear();

		.clarification {
			margin: 0;
			float: left;
			font-size: 1.8rem;
			color: @gray-light;
		}

		.summary {
			width: 26rem;
			height: 12.75rem;
			padding: 1rem 1.5rem;
			float: right;
			background: @white;
			border: 1px solid @gray-light;
			border-radius: 4px;

			h3 {
				margin: 0;
				font-size: 1.2rem;
			}

			.stage-small-wrap {
				margin: 1.5rem -1px 1rem;
				margin-left: -1px;
				margin-right: -1px;
				.clear();

				.stage-small {
					width: 20%;
					padding: 0 1px;
					display: inline-block;
					position: relative;
					float: left;
					font-size: 1.2rem;
					color: @gray-light;
					text-transform: uppercase;
					text-align: center;

					&.yellow:before {
						background: @yellow;
					}

					&.green:before {
						background: @green;
					}

					&.orange:before {
						background: @orange;
					}

					&.purple:before {
						background: @purple;
					}

					&.pink:before {
						background: @pink;
					}

					&:before {
						width: 100%;
						height: 2px;
						display: inline-block;
						content: '';
					}

					&.current:after {
						content: '';
					}

					&:after {
						display: inline-block;
						position: absolute;
						top: 0;
						left: 50%;
						border-top: 6px solid @gray-light;
						border-left: 6px solid rgba(255, 255, 255, 0);
						border-right: 6px solid rgba(255, 255, 255, 0);
						border-bottom: none;
						transform: translateX(-50%);
					}
				}
			}

			p {
				margin: 0;
				font-size: 1.2rem;
				text-transform: uppercase;
				color: @gray-light;

				&.milestones {
					float: left;
				}

				&.points {
					float: right;
				}
			}
		}
	}

	.bottom-part {
		.clear();
		margin-top: 6rem;
	}

	.swiper-container {
		width: 100%;
		padding: 0 10rem;
		margin: 0 auto;

		.swiper-button-prev,
		.swiper-button-next {
			font-size: 3.8rem;
			background: none;
			color: @links;
			transition: color .3s ease, opacity .3s ease;

			&:hover {
				color: @links-hover;
			}
		}

		&:before {
			content: '';
			display: inline-block;
			width: 10rem;
			height: 100%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			background: linear-gradient(to right, #f8f8f8, #f8f8f8, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
			z-index: 5;
		}

		&:after {
			content: '';
			display: inline-block;
			width: 10rem;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(to left, #f8f8f8, #f8f8f8, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
			z-index: 5;
		}

		.swiper-slide {

			&:first-child {

				.milestone-small:before {
					width: 50%;
					left: auto;
					right: 0;
				}
			}

			&:last-child {

				.milestone-small:before {
					width: 50%;
					left: 0;
					right: auto;
				}
			}
		}

		.swiper-button-prev {
			top: 11rem;
			left: 1rem;
		}

		.swiper-button-next {
			top: 11rem;
			right: 1rem;
		}
	}

	.milestone-small {
		display: inline-block;
		width: 100%;
		position: relative;
		// float: left;
		text-align: center;

		&.yellow {

			&:before {
				background: @yellow;
				// box-shadow: inset 0 2px 0 0 darken(@yellow, 20%);
			}

			.checkbox-wrap label {
				border-color: @yellow;

				&:before {
					background: @yellow;
				}
			}
		}

		&.green {

			&:before {
				background: @green;
				// box-shadow: inset 0 2px 0 0 darken(@green, 20%);
			}

			.checkbox-wrap label {
				border-color: @green;

				&:before {
					background: @green;
				}
			}
		}

		&.orange {

			&:before {
				background: @orange;
				// box-shadow: inset 0 2px 0 0 darken(@orange, 20%);
			}

			.checkbox-wrap label {
				border-color: @orange;

				&:before {
					background: @orange;
				}
			}
		}

		&.purple {

			&:before {
				background: @purple;
				// box-shadow: inset 0 2px 0 0 darken(@purple, 20%);
			}

			.checkbox-wrap label {
				border-color: @purple;

				&:before {
					background: @purple;
				}
			}
		}

		&.pink {

			&:before {
				background: @pink;
				// box-shadow: inset 0 2px 0 0 darken(@pink, 20%);
			}

			.checkbox-wrap label {
				border-color: @pink;

				&:before {
					background: @pink;
				}
			}
		}

		&:before {
			content: '';
			display: inline-block;
			width: 100%;
			height: 1rem;
			position: absolute;
			top: 10.95rem;
			left: 0;
			right: 0;
		}

		.title {
			margin: 0;
			height: 4.2rem;
			overflow-y: hidden;
			font-size: 1.5rem;
			font-weight: 400;
			cursor: pointer;
			color: @blue;
			transition: color .3s ease;

			&:hover {
				color: @blue-dark;
			}
		}

		.date-wrap {
			font-size: 1.2rem;

			&.due-date {
				color: @gray-light;
			}

			&.completed-date {
				color: @green-dark;
				opacity: 1;
				visibility: visible;
				transition: opacity .3s ease, visibility .3s;

				&.unfilled {
					opacity: 0;
					visibility: hidden;
				}
			}

			.icon-right-small {
				display: inline-block;
				margin-right: 0.3rem;
				width: 1.1rem;
				font-size: 1.4rem;
			}

			.icon-check {
				display: inline-block;
				margin-right: 0.3rem;
				width: 1.1rem;
				font-size: 0.8rem;
			}
		}

		.checkbox-wrap {
			margin: 2rem 0 2rem;

			input[type=checkbox] {
				display: none;
			}

			input:checked + label {

				&:before {
					transform: scale(1);
				}

				.icon-check {
					opacity: 1;
					visibility: visible;
				}
			}

			label {
				width: 3.3rem;
				height: 3.3rem;
				display: inline-block;
				position: relative;
				color: @white;
				background: @white;
				border: 3px solid;
				border-radius: 50%;
				cursor: pointer;
				user-select: none;
				transition: background .3s ease;
				z-index: 1;

				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					top: -.3rem;
					right: -.3rem;
					bottom: -.3rem;
					left: -.3rem;
					border-radius: 50%;
					-webkit-transform: scale(0);
					transform: scale(0);
					-webkit-transition: transform .3s ease;
					transition: transform .3s ease;
					z-index: -1;
				}

				.icon-check {
					display: inline-block;
					padding-top: 0.4rem;
					font-size: 1.2rem;
					opacity: 0;
					visibility: hidden;
					transition: opacity .3s ease, visibility .3s ease;
				}
			}
		}

		.file-wrap {

			input[type=file] {
				display: none;
			}

			label {
				display: inline-block;
				margin: 0.5rem 0;
				color: @blue;

				&.with-image {
					margin: 0.5rem 0 1rem;

					.before-upload {
						display: none;
					}

					.after-upload {
						display: inline-block;
					}
				}

				.before-upload,
				.btn-replace,
				.btn-delete {
					cursor: pointer;
					transition: color .3s ease;

					&:hover {
						color: @blue-dark;
					}
				}

				.after-upload {
					display: none;

					.btn-wrap {
						display: inline-block;
						width: 100%;
					}

					.btn-replace,
					.btn-delete {
						display: inline-block;
					}

					.btn-replace {
						margin-right: 2rem;
						cursor: pointer;
					}

					.btn-delete {
						margin-left: 1rem;
						cursor: pointer;
					}

					.img-wrap {
						display: inline-block;
						margin: 0.8rem 0 0.5rem;
						width: 15rem;
						height: 11rem;

						img {
							max-width: 100%;
							max-height: 100%;
						}
					}

					.icon-close,
					.txt {
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}