.profile-wrapper {

    .header {
		position: relative;
		height: 9rem;
		padding: 3.3rem 2rem 2.7rem;
		background: #fbfafa;
		border-bottom: 1px solid #eeeeee;

		&:before {
			display: inline-block;
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: -9rem;
			width: 9rem;
			height: 9rem;
			background: #fbfafa;
			border-bottom: 1px solid #eeeeee;
			z-index: -1;
		}

		h1 {
			display: inline-block;
			margin: 0;
			font-size: 1.8rem;
			font-weight: 400;
			color: @gray;
			text-transform: uppercase;
		}

		.profile-logout,
        .profile-info {
            font-size: 1.6rem;
            line-height: 2.8rem;
            float: right;
		}

        .profile-logout {
            display: block;
            cursor: pointer;
        }

        .profile-info {
            color: @gray-txt;
            margin: 0;

            span {
                color: @gray-light;
                margin-right: 0.6rem;
            }
        }

        .profile-dash {
            background-color: @gray-light;
            width: 1px;
            height: 1.4rem;
            margin: 0.8rem 3rem 0 3rem;
            float: right;
        }
	}

    .profile {
        background-color: @gray-bg;
        padding: 4rem 2rem 2rem;
        // border-bottom: 1px solid #eeeeee;

        .avatar-small-wrap {
            width: 10rem;
            height: 10rem;

            .img-placeholder {
                background-color: @gray-light;
                width: 10rem;
                height: 10rem;
                border: none;

                .initials {
                    font-size: 3rem;
                    color: white;
                }
            }

            img {
                width: 10rem;
                height: 10rem;
            }
        }

        .input-txt-default {
            width: ~'calc(100% - 9.5rem)';

            &[disabled] {
                background-color: transparent;
                border-color: transparent;
                padding-left: 0;
            }
        }
    }

    .row {
        // margin-left: 0;
        // margin-right: 0;
    }

    .avatar-links {
        width: 10rem;
        padding: 0.8rem 0 7rem 0;

        .link-delete {
            color: @red;
            float: left;
            cursor: pointer;
        }

        .link-replace {
            color: @green;
            float: right;
            cursor: pointer;
        }
    }

    .change-pass {cursor: pointer;}

    .input-wrap {padding-bottom: 2rem;}

    .profile-label-sm,
    .profile-label-lg {
        display: inline-block;
        color: @gray-txt;
    }

    .profile-label-sm {width: 9rem}
    .profile-label-lg {width: 13rem}

    .branches-wrap {
        padding-left: 7rem;
        height: 24rem;

        @media @max-md {
            padding-left: 1.5rem;
        }

        .btn-save-wrap {
            position: absolute;
            left: 20.5rem;
            bottom: 0;

            @media @max-md {
                position: relative;
                left: auto;
                bottom: auto;
                padding-left: 9rem;
            }

            .btn-round {
                min-width: 17rem;
            }
        }
    }

    .upload-img-wrapper {
        padding: 3rem;
        text-align: center;
        border: 2px dashed @gray-light;
        border-radius: 2rem;
        margin-top: 2rem;
        position: relative;

        p {
            padding: 1.8rem 0 2.8rem 0;
            color: @gray-txt;
            margin: 0;

            b {margin: 0 1rem 0 0.5rem;}
        }

        .btn-round {
            background-color: @green;
            min-width: 16rem;
        }

        .btn-close {
            background-color: transparent;
            padding: 0;
            border: none;
            position: absolute;
            right: 2rem;
            top: 2rem;
        }
    }

    .admins {
        padding: 1px 2rem 4rem;
        background: #f7f7f7;

        .invite-colleague {

            .btn-wrap {
                padding-left: 5%;
            }

            .btn-round {
                margin: 6rem 0 0 13rem;
                min-width: 17rem;
                cursor: pointer;

                @media @max-md {
                    margin-left: 0;
                }
            }
        }

        .separator {
            background-color: @gray-light;
            height: 1px;
            margin: 3rem 0;
        }

        .site-admin-wrap {
            margin: 2rem 0;
        }

        .avatar-small-wrap {
            width: 6rem;
            height: 6rem;
            margin-top: 0.8rem;
            vertical-align: top;

            .img-placeholder {
                background-color: @gray-light;
                width: 6rem;
                height: 6rem;
                border: none;

                .initials {
                    font-size: 2rem;
                    color: white;
                }
            }

            img {
                width: 6rem;
                height: 6rem;
            }
        }

        .admin-info {
            display: inline-block;
            padding: 0 0 0 3rem;
            line-height: 2rem;
            margin: 0;

            span {
                display: inline-block;
                margin-top: 1.25rem;
                margin-right: 4rem;
                min-width: 5rem;
                padding-right: 0.7rem;
            }
        }

        .email-wrap {

            a {
                display: inline-block;
                margin-left: 5rem;
            }
        }
    }
}