.sidebar {
	width: 9rem;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: @white;
	box-shadow: 2px 0px 2px 2px fade(@black, 5%);

    &.just-logo {
        bottom: initial;
        box-shadow: none;
        z-index: 1;
    }

	.top-option {
		display: block;
		position: relative;
		height: 9rem;
		width: 100%;
		background: #2a3143;

		a {
			border-bottom: none;

			&:before {
				content: none;
			}
		}

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}

	.navigation {
		display: block;
	}

	.active {

		a {

			&:before {
				left: 0;
			}

			.icon-wrap,
			.txt {
				color: @blue-dark;
			}
		}
	}

	a {
		position: relative;
		display: inline-block;
		width: 100%;
		min-height: 9rem;
		border-bottom: 1px solid @separator;
		transition: border .2s ease;

		&:hover {

			&:before {
				left: 0;
			}

			.icon-wrap,
			.txt {
				color: @blue-dark;
			}
		}

		&:before {
			display: block;
			position: absolute;
			top: 0;
			bottom: -1px;
			left: -.7rem;
			content: '';
			width: .7rem;
			background-color: @blue-dark;
			transition: left .3s ease;
		}

		.icon-wrap,
		.txt {
			display: inline-block;
			width: 100%;
			text-align: center;
			transition: color .3s ease;
		}

		.icon-wrap {
			margin-top: 2rem;
			font-size: 3rem;
			color: @gray-light;

			.icon-dashboard {
				font-size: 2.15rem;
			}
		}

		.txt {
			font-size: 1rem;
			text-transform: uppercase;
			color: @gray-light;
		}
	}
}