// =================
// Common Properties
// =================

// Misc
@speed:       200ms;       // Transition duration
@transition:   cubic-bezier(0.55,0,0.1,1); // Animation Style. Default is Material's curve.

// Colors
@text-color: @color-txt;  //** Global text color
@links: #77b4e2;
@links-hover: #539ed5;

@input-glow-color: #bada55;
@placeholder-color: @gray; //** Color for placeholder=""

@body-bg:   @white;     //** Background color for `<body>`
@hr-border: #e6e6e6;    //** Color for <hr> elements

@gray-txt:   #535353;
@gray:       #959595;
@gray-light: #c2c2c2;
@gray-bg:    #f7f7f7;

@color-txt: #2c2c2c;

@white: #ffffff;
@black: #000000;

@separator: #efefef;

@blue: #77b4e2;
@blue-dark: #399de9;
@orange: #ff9a23;
@pink: #f26d7d;
@green: #82ca9c;
@green-dark: #47d726;
@green-btn: #54bb60;
@red: #f54646;
@yellow: #ffbe23;
@purple: #8781bd;

@selection-text:         @text-color;      // Color of selected text
@selection-background:   @body-bg;  // Background of selected text

// Fonts
@import "https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i";
@import "https://fonts.googleapis.com/css?family=Quicksand:400,700";

@font-size-base:          14px;
@font-family-sans-serif:  'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-primary:            'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-secondary:          'Quicksand', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, 'Times New Roman', Times, serif;
@font-family-monospace:   Menlo, Monaco, Consolas, 'Courier New', monospace;
@font-family-base:        @font-family-sans-serif;
