<div style="text-align:center;">
  <mat-dialog-content>
    <div style="clear:both;">
      <img src="/assets/img/gif-load.gif" alt="Loading">
    </div>
    <div style="clear:both; padding-top: 10px;">
      <span>{{message}}</span>
    </div>
    <div style="clear:both; padding-top: 10px;">
      <button type="button" (click)="closeModalMessagePopup">Close</button>
    </div>
  </mat-dialog-content>
</div>
