﻿<div style="padding-left:20px;">
    <table>
        <tr>
            <td colspan="2" align="center">{{translation.LOGIN}}</td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.USERNAME}}:</td>
            <td style="padding-top:10px;padding-left:20px;">
                <input type="text" ng-model="user.Email" style="width:98%;" required />
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.PASSWORD}}:</td>
            <td style="padding-top:10px;padding-left:20px;">
                <input type="password" ng-model="user.Password" style="width:98%;" required />
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="padding-top:10px;">
                <button type="button" ng-click="login()">{{translation.LOGIN}}</button>
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td>{{translation.NEWUSER}}</td>
            <td style="padding-left:20px;">
                <button type="button" ng-click="register()">{{translation.REGISTER}}</button>
            </td>
        </tr>
    </table>
</div>