﻿<div style="padding-left:20px;">
    <table>
        <tr>
            <td colspan="2" align="center">{{translation.NEWACCOUNT}}</td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.USERNAME}}:</td>
            <td style="padding-top:10px;padding-left:20px;">
                <input type="text" ng-model="user.Email" style="width:98%;" required ng-trim="true" />
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.PASSWORD}}:</td>
            <td style="padding-top:10px;padding-left:20px;">
                <input type="password" ng-model="user.Password" style="width:98%;" required />
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">{{translation.CONFIRMPASSWORD}}:</td>
            <td style="padding-top:10px;padding-left:20px;">
                <input type="password" ng-model="user.ConfirmPassword" style="width:98%;" required />
            </td>
        </tr>
        <tr>
            <td align="left" style="padding-top:10px;">
                <button type="button" ng-click="createAccount()">{{translation.CREATEACCOUNT}}</button>
            </td>
            <td align="right" style="padding-top:10px;">
                <button type="button" ng-click="cancel()">{{translation.CANCEL}}</button>
            </td>
        </tr>
    </table>
</div>